extends ../blog-wrapper

block blog-news 
  
  p St. MORITZ, Switzerland — 
    a(href="http://storeco.in/", target="_blank") Storecoin
    |  creator 
    a(href="https://twitter.com/chrisamccoy?lang=en", target="_blank") Chris McCoy
    |  introduced the Storecoin blockchain to an international audience at the 
    a(href="https://www.crypto-finance-conference.com/en/#", target="_blank") Crypto Finance Conference
    |  2018 in St. Moritz.
    
  p McCoy joined nearly two dozen crypto fund managers and founders to explain the project and to describe opportunities to help fund Storecoin’s Treasury.

  p Storecoin is a new public blockchain powering free transactions using Dynamic Proof of Stake and governance that is inspired by the U.S. Constitution. Its dynamic economics are modeled after surge pricing used by ride-sharing companies like Uber.

  div.tweets
    div.tweet
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | Founder of 
          a(href='https://twitter.com/StorecoinTeam?ref_src=twsrc%5Etfw') @StorecoinTeam
          | , 
          a(href='https://twitter.com/chrisamccoy?ref_src=twsrc%5Etfw') @chrisamccoy
          | , pitching Storecoin, a dynamic proof of stake project at 
          a(href='https://twitter.com/hashtag/CFC18?src=hash&ref_src=twsrc%5Etfw') #CFC18
          |  🙌
          a(href='https://twitter.com/hashtag/CryptoFinance?src=hash&ref_src=twsrc%5Etfw') #CryptoFinance
          a(href='https://t.co/cuZYSLsoWl') pic.twitter.com/cuZYSLsoWl
        | — Crypto Finance Conf (@CryptoFinanceCo) 
        a(href='https://twitter.com/CryptoFinanceCo/status/954311251592732672?ref_src=twsrc%5Etfw') January 19, 2018

  p “The Crypto Finance Conference in St. Moritz, Switzerland was a special moment for us. We’ve been in very deep R&D these past few months, with feedback — outside of our team — coming only from a small group of advisors and friends. The opportunity to share our consensus algorithm, Dynamic Proof of Stake — and our vision for global payments infrastructure — and for it to be received it so well, meant a lot. We left the conference with new friends and a new set of believers in our protocol,” McCoy said.
  
  div.tweets
    div.tweet
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | Article on 
          a(href='https://twitter.com/hashtag/cfc18?src=hash&ref_src=twsrc%5Etfw') #cfc18
          a(href='https://t.co/u4MJIY4RLb') https://t.co/u4MJIY4RLb
          |  via 
          a(href='https://twitter.com/ReutersBiz?ref_src=twsrc%5Etfw') @ReutersBiz
        | — Chris McCoy (@chrisamccoy) 
        a(href='https://twitter.com/chrisamccoy/status/954361082537218050?ref_src=twsrc%5Etfw') January 19, 2018

  p “The amount of planning and work that has gone into Storecoin is amazing. Chris and his team have managed to implement a new governance model, based on the one from the United States that has been tested and updated for almost 250 years. Genius. Take existing models that have been updated and stress tested and re-use them,” said conference attendee Chris Wallwork. “The best part of Storecoin is what they are doing for transaction speeds, scalability and free transfers. It amazes me how many of the blockchain bottlenecks this group is working to solve.”

  p Organizer Daniel Gutenberg lauded the level of expertise found in the speakers who appeared.

  p “The line-up of the conference is second to none,” Gutenberg said. “I have not heard of any format bringing together so much knowledge in the cryptocurrency and Bitcoin world as the Crypto Finance Conference,” he told Fintech Finance.
