extends ../blog-wrapper

block blog-news 
  div.tweets
    div.tweet
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | 1/ The 64 Cities Across 39 Countries that 
          a(href='https://twitter.com/search?q=%24STORE&src=ctag&ref_src=twsrc%5Etfw') $STORE
          |  Community Members want to host 
          a(href='https://twitter.com/storecoin?ref_src=twsrc%5Etfw') @Storecoin
          |  Meet-ups
          br
          | - Alicante, Spain
          br
          | - Amersfoort, Netherlands
          br
          | - Amsterdam, Netherlands
          br
          | - Rotterdam, Netherlands
          br
          | - Astana, Kazakhstan
          br
          | - Baku, Azerbaijan
          br
          | - Bangalore, India
          br
          | - Beijing, China
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029135586987102208?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 2/ 
          br
          | - Boston, MA (USA)
          br
          | - Brussels, Belgium
          br
          | - Bucharest, Romania
          br
          | - Buenos Aires, Argentina
          br
          | - Busan, Korea
          br
          | - Cambridge, MA (USA)
          br
          | - Chicago, IL (USA)
          br
          | - Clearwater, FL (USA)
          br
          | - Copenhagen, Sweden
          br
          | - Dubai, United Arab Emirates
          br
          | - Dublin, Ireland
          br
          | - Edmonton, Canada
          br
          | - Hong Kong
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029135696009736194?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='in', dir='ltr')
          | 3/
          br
          | - Houston, TX (USA)
          br
          | - Irvine, CA (USA)
          br
          | - Islamabad, Pakistan
          br
          | - Istanbul, Turkey
          br
          | - Izmir, Turkey
          br
          | - Jakarta, Indonesia
          br
          | - Kyiv, Ukraine
          br
          | - Las Vegas, NV (USA)
          br
          | - London, UK
          br
          | - Malta
          br
          | - Manila, Philippines
          br
          | - Melbourne, Australia
          br
          | - Milan, Italy
          br
          | - Minsk, Belarus
          br
          | - Moscow, Russia
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029135790591238145?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='und', dir='ltr')
          | 4/ 
          br
          | - Mumbai, India
          br
          | - Nauru, Oceania
          br
          | - New Delhi, India
          br
          | - New York, NY (US)
          br
          | - North New Jersey, NH (USA)
          br
          | - Orlando, FL (USA)
          br
          | - Paris, France
          br
          | - Philadelphia, PA (USA)
          br
          | - Phoenix, AZ (USA)
          br
          | - Raleigh, NC (USA)
          br
          | - Riga, Latvia
          br
          | - Saint Petersburg, Russia
          br
          | - San Diego, CA (USA)
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029135970593988608?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='ro', dir='ltr')
          | 5/
          br
          | - San Francisco, CA (USA)
          br
          | - San Jose, CA (USA)
          br
          | - San Jose, Costa Rica
          br
          | - Shanghai, China
          br
          | - Sofia, Bulgaria
          br
          | - Split, Croatia
          br
          | - Stockholm, Sweden
          br
          | - Sydney, Austrailia
          br
          | - Taiwan
          br
          | - The Hague, Netherlands
          br
          | - Toronto, CA
          br
          | - Utrecht, Netherlands
          br
          | - Valencia, Spain
          br
          | - Vancouver, Canada
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029136127070883840?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 6/
          br
          | - Washington DC (USA)
          br
          | - Wiesbaden, Germany
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029136195932966912?ref_src=twsrc%5Etfw') August 13, 2018









        
            
