extends ../blog-wrapper

block blog-news 
  div.tweets
    div.tweet
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | 1/ The 40 Ways Our Community Has Learned about 
          a(href='https://twitter.com/storecoin?ref_src=twsrc%5Etfw') @Storecoin
          | :
          br
          | - 
          a(href='https://twitter.com/Curt_Shilling?ref_src=twsrc%5Etfw') @Curt_Shilling
          |  on Twitter
          br
          | - @Cyrptotherappy on Twitter
          br
          | - @JerominoMCrypto on Twitter
          br
          | - 
          a(href='https://twitter.com/M_Povolotski?ref_src=twsrc%5Etfw') @M_Povolotski
          |  on Twitter
          br
          | - 
          a(href='https://twitter.com/POMP?ref_src=twsrc%5Etfw') @Pomp
          |  on Twitter
          br
          | - 
          a(href='https://twitter.com/chrisamccoy?ref_src=twsrc%5Etfw') @chrisamccoy
          |  on Twitter
          br
          | - A Crypto Event In Stockholm, Sweden
          br
          | - A Footprint Investor
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029124478888857601?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 2/
          br
          | - A Friend DM'd me on Twitter
          br
          | - A Friend invited me on Telegram
          br
          | - A Friend Shared a Link
          br
          | - A Friend told me in person
          br
          | - A User told me in Discord
          br
          | - Added on Telegram
          br
          | - At 'To The Moon Bockchain Event'
          br
          | - Bitcoin Bravado Discord Group
          br
          | - 
          a(href='https://t.co/QiTdsJnWXu') https://t.co/QiTdsJnWXu
          |  article
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029124602507612160?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 3/ 
          br
          | - Chris McCoy by Email
          br
          | - Chris McCoy on Telegram
          br
          | - Coin Crunch Discord
          br
          | - Coin Crunch YouTube Review
          br
          | - Comment On Reddit
          br
          | - Cryptodiffer
          br
          | - Donna Capodelupo in Person
          br
          | - Found It In A "Blockchains Built From Scratch" Google Table: 
          a(href='https://t.co/6HROfdZiEv') https://t.co/6HROfdZiEv
          br
          | - Github
          br
          | - Google Search
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029124711194669056?ref_src=twsrc%5Etfw') August 13, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 4/ 
          br
          | - ICO Drops
          br
          | - Jff ICO Group on Telegram
          br
          | - Money Master Mind Group
          br
          | - Monoico Telegram Group
          br
          | - My Brother
          br
          | - My Dad
          br
          | - My Friends
          br
          | - Online Community Members
          br
          | - Open Token
          br
          | - My Partner
          br
          | - Private Crypto Group
          br
          | - Self Research About Storecoin
          br
          | - Social Media
          br
          | - Some Guy On Twitter
          br
          br
          | #💰
        | — Storecoin [$STORE] (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1029124780887138304?ref_src=twsrc%5Etfw') August 13, 2018













        
            
