extends ../blog-wrapper

block blog-news 

  p.italics By Storecoin Creator Chris McCoy
  
  p I started out with a plan to create a chat network for franchise and chain stores. It has grown into an ambitious project to create a fee-free, decentralized, high-throughput p2p payments infrastructure for the internet.

  p Here’s how it evolved:
  
  div.tweets
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | Back in 13/14, I was convinced BTC would be used as an in-app, censorship resistant, API-driven new currency.
          br
          br
          | I even tried to build a complex, API-based payment network for it. It didn't work. Finally, accepted Bitcoin's limitations as "p2p e-cash".
          br
          br
          | Then met Vitalik/Anthony/EF.
        | — Chris McCoy (@chrisamccoy) 
        a(href='https://twitter.com/chrisamccoy/status/1034125680521310208?ref_src=twsrc%5Etfw') August 27, 2018

  p Skeptical about how you could “print new money” on top of new, speculative money, I was a contrarian on the issue. Most of my SV “platform” friends loved it.

  p Instead of building on Ethereum, I took a bet and put some BTC into the pre-sale, then left the crypto space (out of frustration with Bitcoin). But I jumped back in when I realized zero-fee, in-app, API-based, and censorship-resistant payments still was a problem needing a solution.

  p At the time, was building a new company: headquarter-to-location chat for franchise and chain stores. I saw two things:

  ol
    li Stores hated the 2.5%-3.5% transaction fee from traditional payment rails
    li The 4% fee that locations pay HQ as part of the franchise agreement could be a smart contract (that’s 4% of every single transaction at the cash register)
  
  p I studied the Ethereum dApp ecosystem, but realized that “gas” was an economic primitive for gamified banks — not a world computer. Bitcoin was on its way to becoming joule-backed digital gold.

  p As I went deeper into research, it was clear “the smart contract wars” were about to start. I still didn’t buy into new money being created on top of new, speculative money. And there were no plausible zero-fee models for the merchant (or app developer).

  p After coming out of a 3-month research cave, I realized that inflationary rewards could incentivize a p2p consensus to not only validate transactions but to secure, govern, and scale them as well. Along the way, we spun out @storecoin as a new blockchain for franchise and chain stores.

  p But as our research evolved, my business partner Rag Bhagavatha and I realized that we were solving a much larger problem than zero-fee payments for the franchise and chain store vertical. We were building zero-fee, p2p, highly programmable payments infrastructure for the centralized internet (apps not dApps).

  p We’re making progress 24/7 with a team spread around the world. It’s still early but we’re shipping on the technology, security, community, treasury management, legal, and ecosystem fronts daily.





        
            
