extends ../blog-wrapper

block blog-news 

  p Matthew Ocko, one of the Silicon Valley’s most successful venture capitalists, is committing time and resources to 
    = ' '
    a(href="https://storeco.in/", target="_blank") Storecoin
    | , a zero-fee, high-throughput and decentralized cryptocurrency.

  p Creator 
    = ' '
    a(href="http://twitter.com/chrisamccoy", target="_blank") Chris McCoy
    |  said Ocko will advise Storecoin on emergent technologies such as AI and quantum computing as they intersect with the blockchain. Ocko also has invested in Storecoin.

  p “Storecoin is the only cryptocurrency I’ve seen that has the durable mechanisms and governance that one would expect of a mature global reserve fiat currency, while simultaneously addressing inflation concerns,” Ocko said.

  p Currently a co-managing partner of Data Collective in San Francisco, Ocko has a long and accomplished history of technology entrepreneurship and supporting innovators in the tech space, both in the U.S. and in China. He has advised scores of executives, technologists and government officials on venture capital and technology strategy.

  p Ocko is among the advisors to Blockchain Capital, a VC firm focused exclusively on the blockchain sector and crypto ecosystem.

  p “Cryptocurrency is an essential tool for disintermediating oppressive rentier financial systems and their captive, asleep-at-the-switch regulators in a variety of countries, and I want to see it succeed in general for that reason,” Ocko said. “But crypto that feels understandable to and usable by ordinary people relative to their experience with US dollars, with the perceived safety of US dollars, is really needed for the global middle class to truly support crypto. Storecoin has a shot at making this happen.”

  p Storecoin creator McCoy said he and Ocko have had a years-long conversation about the potential of blockchain-based payments in the web layer.

  p “He’s the perfect Silicon Valley VC to invest in -- and advise -- Storecoin,” McCoy said.




        
            
