extends ../blog-wrapper

block blog-news 
  p  A zero-fee, high throughput, and decentralized cryptocurrency with a Governance of checks and balances. 
  
  div.tweets
    div.tweet
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | 1/ Storecoin is a new public blockchain with high-throughput, true decentralization, and zero transaction fees. The project has eyes on taking on VISA with a faster, zero-fee, programmable, p2p payment system. If Ripple is taking on SWIFT, Storecoin is taking on ACH payments.
        | — Storecoin (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1003041028503371776?ref_src=twsrc%5Etfw') June 2, 2018
      
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 2/ Storecoin's native currency, STORE, uses a sustainable inflationary monetary policy to achieve zero-fee transaction fees for merchants, developers, and end users.
        | — Storecoin (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1003041136628387840?ref_src=twsrc%5Etfw') June 2, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 3/ Inflation is dynamically pegged to the number of tokens staked by dWorkers, who are in turn rewarded for contributing resources to the protocol's validation, governance, security, and scalability mechanisms.
        | — Storecoin (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1003041216215371776?ref_src=twsrc%5Etfw') June 2, 2018
        
    div.tweet
      blockquote.twitter-tweet(data-conversation='none', data-lang='en')
        p(lang='en', dir='ltr')
          | 4/ The rate of inflation grows proportionally to the growth of total value staked, reaching a hard cap at 51% of total supply staked: at this limit, annual token inflation flatlines at 4%.
        | — Storecoin (@storecoin) 
        a(href='https://twitter.com/storecoin/status/1003041293927436288?ref_src=twsrc%5Etfw') June 2, 2018
        
    div.tweet
     blockquote.twitter-tweet(data-conversation='none', data-lang='en')
       p(lang='en', dir='ltr')
         | 5/ 
         a(href='https://twitter.com/storecoin?ref_src=twsrc%5Etfw') @Storecoin
         |  strives to take the Web 3.0 ethos one step further, leveraging a unique on-chain governance model inspired by the U.S. Constitution's checks and balances system.
       | — Storecoin (@storecoin) 
       a(href='https://twitter.com/storecoin/status/1003041386571223042?ref_src=twsrc%5Etfw') June 2, 2018
       
    div.tweet
     blockquote.twitter-tweet(data-conversation='none', data-lang='en')
      p(lang='en', dir='ltr')
        | 6/ This additional layer of trust and enforceability provides Storecoin with the necessary security and censorship resistance required to attract Fortune 500 companies to its zero-fee, p2p, programmable payments platform.
      | — Storecoin (@storecoin) 
      a(href='https://twitter.com/storecoin/status/1003041454141435909?ref_src=twsrc%5Etfw') June 2, 2018
