extends ../blog-wrapper

block blog-news 
  p Storecoin, a new public blockchain with a governance similar to the checks and balances of the U.S. Constitution and dynamic economics similar to ride-sharing companies like Uber, has hired one of the nation’s leading intellectual property and patent lawyers to guide the company in the next step of its blockchain development.

  .hc-image
    img(src='/images/empty.png', data-src="/images/blog/blog-hires-rajiv-1.png", style="max-width:672px;")

  p.caption Rajiv P. Patel of Fenwick & West

  p 
    a(href="https://www.linkedin.com/in/rajivpatelis", target="_blank") Rajiv Patel
    | , a partner at 
    a(href="https://www.fenwick.com/Pages/about-us.aspx", target="_blank") Fenwick & West
    |  and the chair of its Patent Group, advises cutting-edge companies in all stages of development and execution, with special emphasis on patent strategy and protecting the company’s technology.

  p Patel has been recognized three years in a row by the Daily Journal as one of the top 100 intellectual property lawyers in California, ranking among the state’s top 25 patent prosecutors. Intellectual Asset Management since 2012 has consistently ranked him among the world’s leading patent practitioners in its IAM Patent 1000 Guide. Best Lawyers’ 2018 ranking names Patel among the best patent lawyers in the United States.

  p Creator Chris McCoy said the Storecoin team is proud and excited to enter into a professional relationship with Rajiv Patel.

  p “We feel incredibly lucky to have one of the country’s, if not the world’s, most successful patent lawyers looking out for our interests,” McCoy said. “We view patent protection in the public blockchain space as a unique form of governance, helping protect against unnecessary chain splits — or cash grabs by miners (validators). Patent protection will help our network of developers, validators, adopting companies, and token holders over the long term.”
      
  p.image-text 
    img(src='/images/empty.png', data-src="/images/fenwick-west-logo.png")
    span Fenwick & West, with offices in Mountain View and San Francisco, Seattle, New York City and Shanghai, provides comprehensive legal services to the world’s most innovative companies, especially in the areas of technology and life sciences.
