extends layout

block content
  div#admin-content
    div.content-wrapper
      .loading
        .sp.sp-wave
        .text Loading...
      div.orders-process
        div.steps.step-1
          h3.header Manage Orders
          div.sc-tabs
            div.tabs
              a.item.active(data-tab="pending-orders") Pending Orders
              a.item(data-tab="create-orders") Create Orders
              a.item(data-tab="submitted-orders") Submitted Orders
              
            div.tab-body.active(data-tab="pending-orders")
              div.sc-row
                button#generate-order(disabled="true", style="margin: 0px;") Generate
              div#orders-table
              
            div.tab-body(data-tab="create-orders")
              div#create-orders
                h3 Create Order
                form
                  label Email
                  input(type="email", name="email", placeholder="Email")
                  
                  label Name
                  input(type="text", name="name", placeholder="Name")
                  
                  label Address
                  input(type="text", name="address1", placeholder="Address")
                    
                  label Address Line 2
                  input(type="text", name="address2", placeholder="Address Line 2")
                  
                  label Country
                  select#country-select(name="country")
                  //- input(type="text", name="country", placeholder="Country")
                    
                  label State
                  select#state-select(style="display:none;")
                  input(type="text", name="state", placeholder="State")
                  
                  label City
                  input(type="text", name="city", placeholder="City")
                  
                  label Zipcode
                  input(type="text", name="zipcode", placeholder="Zipcode")
                  
                  label Product 1
                  select#product-select
                  input(type="text", name="item1", placeholder="Product 1", hidden)
                  
                  label Product 2
                  select#product-select-2
                  input(type="text", name="item2", placeholder="Product 2", hidden)
                  
                  label Quantity 1
                  input(type="number", name="quantity1", placeholder="Quantity")
                  
                  label Quantity 2
                  input(type="number", name="quantity2", placeholder="Quantity")
                  
                  button(type="submit") Submit
            
            div.tab-body(data-tab="submitted-orders")
              div#submitted-orders-list
                h2(style="margin-top: 1em;") No Orders Found
            
        div.steps.step-2
          h3.header 
            a.go-back(style='margin-right: 0.5em;')
              i.ion-arrow-left-c
            | Orders List
          div#orders-list
          button.proceed Proceed

        div.steps.step-3
          h3.header Orders Summary
          div#orders-summary
  
  script#orders-table-tpl(type="text/template")
    <% if (!_.isEmpty(orders)) { %>
      <table>
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Item 1</th>
            <th>Item 2</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(orders, function(order){ %>
            <tr data-id="<%= order.id %>">
              <td><input type="checkbox"></td>
              <td><i class="ion-plus-circled fold-reveal" data-fold="<%= order.id %>"></i></td>
              <td><%= order.name %></td>
              <td><%= order.email %></td>
              <td class="product"><%= (order.item1) ? order.item1.name +' x '+ order.quantity1 : 'N/A' %></td>
              <td class="product"><%= (order.item2) ? order.item2.name +' x '+ order.quantity2 : 'N/A' %></td>
            </tr>
            <tr class="fold" id="<%= order.id %>">
              <td colspan="7">
                <div class="fold-wrapper">
                  <div class="info">
                    <div class="head">Name</div>
                    <%= order.name %>
                  </div>
                  <div class="info">
                    <div class="head">Email</div>
                    <%= order.email %>
                  </div>
                  <div class="info">
                    <div class="head">Address</div><%= order.address %>, <%= order.city %>, <%= order.state %>, <%= order.country %>, <%= order.zipcode %>
                  </div>
                  <div class="info">
                    <div class="head">Address 2</div><%= order.address2 %>
                  </div>
                  <div class="info">
                    <div class="head">Product 1</div><%= (order.item1) ? order.item1.name +' x '+ order.quantity1 : 'N/A' %>
                  </div>
                  <div class="info">
                    <div class="head">Product 2</div><%= (order.item2) ? order.item2.name +' x '+ order.quantity2 : 'N/A' %>
                  </div>
                </div>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h2 style="margin-top: 1em;">No Orders Found</h2>
    <% } %>
  
  script#orders-summary-tpl(type="text/template")
    <% _.each(data, function(item){ %>
      <div class="item">
        <div class="sc-row">
          <div class="order-id">Order ID - <%= item.order_id %></div>
          <div class="order-status <%= item.success ? 'success' : 'failed' %>"><%= item.success ? 'Success' : 'Failed' %></div>
        </div>
        <div class="details">
          <div class="info">
            <div class="head">Name</div>
            <div class="value"><%= item.order_data.name %></div>
          </div>
          <div class="info">
            <div class="head">Product 1</div>
            <div class="value"><%= (item.order_data.item1) ? item.order_data.item1.name + ' x ' + item.order_data.quantity1 : 'N/A' %></div>
          </div>
          <div class="info">
            <div class="head">Product 2</div>
            <div class="value"><%= (item.order_data.item2) ? item.order_data.item2.name + ' x ' + item.order_data.quantity2 : 'N/A' %></div>
          </div>
          <div class="info">
            <div class="head">Email</div>
            <div class="value"><%= item.order_data.email %></div>
          </div>
          <div class="info">
            <div class="head">Address</div>
            <div class="value"><%= item.order_data.address %>, <%= item.order_data.city %>, <%= item.order_data.state %>, <%= item.order_data.country %>, <%= item.order_data.zipcode %></div>
          </div>
        </div>
      </div>
    <% }) %>

  script#orders-list-tpl(type="text/template")
    <table>
      <thead>
        <tr>
          <th style="text-align:center;">#</th>
          <th>Name</th>
          <th>Product 1</th>
          <th>Product 2</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(rows, function(row, i){ %>
          <tr data-id="<%= row.id %>">
            <th style="text-align:center;"><%= i + 1 %></th>
            <td><%= row.name %></td>
            <td><%= (row.item1) ? row.item1.name + ' x ' + row.quantity1 : '<span style="color: red;"><i class="ion-alert" style="margin-right:1em;"></i>No Product Found</span>' %></td>
            <td><%= (row.item2) ? row.item2.name + ' x ' + row.quantity2 : '<span style="color: red;"><i class="ion-alert" style="margin-right:1em;"></i>No Product Found</span>' %></td>
            <td><i class="ion-android-close"></i></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    
  script#submitted-orders-list-tpl(type="text/template")
    <table>
      <thead>
        <tr>
          <th style="text-align:center;">#</th>
          <th>Name</th>
          <th>Address</th>
          <th>Order ID</th>
          <th>Product 1</th>
          <th>Product 2</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(rows, function(row, i){ %>
          <tr data-id="<%= row.id %>">
            <th style="text-align:center;"><%= i + 1 %></th>
            <td><%= row.name %></td>
            <td><%= row.addres1+', '+row.city+', '+row.state+', '+row.country %></td>
            <td><%= row.order_id %></td>
            <td><%= (row.product1) ? row.product1.name+' x '+row.quantity1  : '-' %></td>
            <td><%= (row.product2) ? row.product2.name+' x '+row.quantity2  : '-' %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  script#product-select-tpl(type="text/template")
    <option value=""><%= select %></option>
    <% _.each(rows, function(row){ %>
      <option value="<%= row.id %>"><%= row.name %></option>
    <% }) %>
