extends ../layout

block content
  div#hc-content
    .hc-feature.over-rel.padding.inverted.career-banner
      .hc-chunk.hc-intro-text-wrapper(style="margin-top: 1em;")
        h2.hc-feature-title(style="font-size:3em;") Senior Blockchain Engineer - Storecoin
        div.link-container
          a.link-text(href="/protocoltest", target="_blank") Apply
          
    .hc-feature.over-rel.padding.career-description
      .hc-chunk.hc-intro-text-wrapper
        div.desc
          h5 Education: 
          p MS in Software or related engineering with 3+ years of full time working experience or BA/BS in Software or related engineering with 5+ years of experience.

          h5 Job summary: 
          p You are changing the status quo with public blockchains. Existing blockchains are inherently slow or centralized. Storecoin wants to change that with its BlockFin consensus protocol. With its innovative approach, BlockFin brings scalability and decentralization to public blockchains. You are responsible for architecting, implementing, deploying, and securing Storecoin blockchain powered by BlockFin.

          h5 Description:
          p Public blockchains are either highly scalable or decentralized, but rarely both. High throughput and decentralization are necessary for blockchains to be useful in solving practical use cases, such as decentralized payment processing, storage and computational services, etc. Storecoin invented a novel approach to solve the high throughput and decentralization dilemma with its BlockFin consensus protocol. As a senior protocol engineer, you are responsible for:
          
          div.list
            div.item 
              i.ion-checkmark
              span Designing the BlockFin consensus protocol primitives so they can be deployed securely in untrusted environments
            div.item 
              i.ion-checkmark
              span Implementing the protocol 
            div.item 
              i.ion-checkmark
              span Creating necessary testing infrastructure to verify the protocol behavior in a large peer-to-peer network
            div.item 
              i.ion-checkmark
              span Instrumenting catastrophic failure handlers, so any security breaches can be identified and serious damages prevented automatically
            div.item 
              i.ion-checkmark
              span Automatic deployment of software patches and enhancements over a large number of geographically distributed network nodes
            div.item 
              i.ion-checkmark
              span Securing the network.

          h5 Qualifications:
          div.list
            div.item 
              i.ion-checkmark
              span Strong desire to change the status quo.
            div.item 
              i.ion-checkmark
              span Experience in distributed secure computing, especially in a peer-to-peer setup.
            div.item 
              i.ion-checkmark
              span Some experience in cryptography in the area of public key management and signature schemes.
            div.item 
              i.ion-checkmark
              span Experience in secure coding practices and ability to audit the code in a large scale project.
            div.item 
              i.ion-checkmark
              span Experience in Javascript in Node.js environment and scaling with Node.js. Similar experience in Python/Go is fine too.
            div.item 
              i.ion-checkmark
              span Experience in automated testing and deployment.
              
          a.hc-button.orange(href="/protocoltest", target="_blank") Apply
