<hr>
<h2>Storecoin Development Guides</h2>
<p>These guides are designed to help you learn more about the technical aspects of integrating Storecoin into your application or service, from <a href="./get-started">the very basics</a> to more detailed topics like <a href="./channels.md">submitting transactions at a high rate with channels</a>.</p>
<p>If you are looking for detailed documentation on Storecoin’s HTTP API or client libraries for your favorite programming language, check out the <a href="../reference">API Reference</a> section.</p>
<p>Some guides are grouped together:</p>
<h2>Get Started</h2>
<p>The <a href="./get-started">Get Started guide</a> will introduce you to the basic technical aspects of Storecoin, starting with an introduction to the various parts of the Storecoin network, then moving on to address programmatically creating accounts and performing transactions.</p>
<h2>Concepts</h2>
<p>The Concepts section contains overviews and explanations of various objects, terms, and technologies used throughout the Storecoin ecosystem, from <a href="./concepts/accounts.md">accounts</a> to the details of the <a href="./concepts/scp.md">Storecoin Consensus Protocol</a> that underlies everything.</p>
<h2>SDKs</h2>
<p>Looking for more details on Storecoin’s client SDKs? You can find detailed documentation for each client SDK in the <a href="../reference">API Reference</a> section.</p>
<h2>Walkthroughs</h2>
<p>Need more help? Need to understand how to implement something? Use these design patterns and tutorials as a starting place!</p>
