extends ../layout

block more-head
    script(async, src='https://s3-eu-west-1.amazonaws.com/onfido-assets-production/web-sdk-releases/2.4.1/onfido.min.js')
    link(rel='stylesheet', href='https://s3-eu-west-1.amazonaws.com/onfido-assets-production/web-sdk-releases/2.4.1/style.css')
    script(type="text/javascript", src="https://www.google.com/recaptcha/api.js")

block content
  div#hc-content.kyc-page
    div.row
      div.column
        h4(style="margin-bottom:0;") Hello
          = ' '
          =user.first_name
          = '!'
      div.column
        div.status.orange
          | Status:
          = ' '
          span.value=user.status

    div.row
      div.column
        hr(style="margin: 0 auto 1em")

    div.row
      div.column
        div.kyc-onfido(data-id=user.id, data-applicant-id=user.applicant_id)
          div#onfido-mount(style="max-width:800px; margin:0 auto;")
