extends ../layout

block content
  div#hc-content.kyc-page
    div.row
      div.column
        h4(style="margin-bottom:0;") Hello
          = ' '
          =user.first_name
          = '!'
      div.column
        div.status.orange
          | Status:
          = ' '
          span.value NOT STARTED

    div.row
      div.column
        hr(style="margin: 0 auto 1em")

    div.row
      div.column
        div.kyc-onfido(data-id=user.applicant_id)
          div#onfido-mount(style="max-width:800px; margin:0 auto;")
