extends ../layout

block more-head
  script(async, src='https://s3-eu-west-1.amazonaws.com/onfido-assets-production/web-sdk-releases/2.4.1/onfido.min.js')

block content
  div#hc-content.kyc-page.logged
    div.row
      div.column
        h4 Hello
          = ' '
          =user.first_name
          = '!'
      div.column(style="text-align: right")
        a(href='/kyc/logout') LOGOUT

    div.row
      div.column
        div.kyc-onfido(data-id=user.applicant_id)
          div#onfido-mount(style="max-width:800px; margin:0 auto;")
