extends ../layout

block content
  div#hc-content.kyc-page
    div.row
      div.column
        h4 Hello
          = ' '
          =user.first_name
          = '!'
      //- div.column(style="text-align: right")
        //- a(href='/kyc/logout') LOGOUT

    div.row
      div.column
        hr

    div.row
      div.column
        div.kyc-onfido(data-id=user.applicant_id)
          div#onfido-mount(style="max-width:800px; margin:0 auto;")
