extends ../layout

block content
  div#hc-content.kyc-register
    div.row
      div.column
        h4(style="margin-top:1em;") KYC/AML Check for Storecoin
        p Please have the following information ready to complete the application (Driver's LIcense, Passport, or Government Issued Identity Card).
      div.column.register
        form.register(action="/kyc/register", method="POST", autocomplete="new-password")
          .loading
            .sp.sp-wave
            .text Loading...
          h5 Enter Your Information
          div.field
            input(type="text", placeholder="First Name", name="first_name", autocomplete="new-password")
          div.field
            input(type="text", placeholder="Last Name", name="last_name", autocomplete="new-password")
          div.field
            textarea(placeholder="Reason for KYC/AML", name="reason", maxlength="100", rows="1", cols="100", autocomplete="new-password")
          div.field
            input(type="email", placeholder="Email used for Storecoin communication", name="email", autocomplete="new-password")
          div.field(style="text-align: right;")
            a.underline Privacy Policy

          button.hc-button.orange(type="submit") Submit

        div.success
          h3 Thank you!
          h5 We’ve sent you an email with KYC process link.
          p Once you have clicked on the link to confirm the email on file is accurate, you will be redirected to a form to completed the identity verification process. This process only takes a few minutes.
