extends ../layout

block content
  div#hc-content.kyc-register
    div.row
      div.column
        h5 Registration for the Storecoin's
          br
          |  KYC/AML Process
        p Storecoin requires contributors to its fundraiser to complete this KYC/AML process in order to access their recommended allocations in its proposed genesis block.
        p After an account is registered, the contributor must complete an identity verification process. After a contributor’s identity is verified, that contributor will receive an activation code corresponding to a given public key hash. This activation code will be required in order to access the corresponding public key hash’s allocation in the genesis block.
        p
          b This KYC/AML process will be available post-launch. It does not need to be completed prior to the betanet launch.

        p Thank you,
          br
          | Storecoin
      div.column.register
        form.register(action="/kyc/register", method="POST")
          h5 Enter Your Information
          div.field
            input(type="text", placeholder="First Name", name="first_name")
          div.field
            input(type="text", placeholder="Last Name", name="last_name")
          div.field
            input(type="email", placeholder="Email", name="email")

          button.hc-button.orange(type="submit") Submit
        
        h5.success(style="text-align:center; display: none; text-align: center; margin: 0px; background-color: #dcecdc; padding: 1em; border-radius: 7px;") Thank you! We’ve sent you an email with KYC process link.
