body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
a {
  cursor:pointer;
  text-decoration: none;
}

p {
  margin: auto auto 0;
  line-height: 1.65;
}

h1, h2, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 0.3em;
    color: #5b6a72;
}

.button-primary.large-button {
  font-size: 1em;
  background: #73ba4a;
  border-color: #73ba4a;
}

.button-primary.large-button:hover {
  background: #5a9637;
  border-color:#5a9637;
}

.hc-big-link:hover {
  text-decoration: underline;
}

.hc-feature .hc-button-container {
  text-align:center; margin-top:3em;
}

.hc-feature .hc-feature-title {
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
  margin: 0 1em;
}

.hc-feature .hc-feature-title.inverted {
  color: #496539;
}

.hc-feature .triangle-space{
  width: auto;
  padding-top: 3em;
}

.hc-feature .hc-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.hc-feature.over-rel {
  position: relative;
  overflow: hidden;
}

.hc-feature.padding {
  padding: 10px;
}
/* #hc-nav-wrapper  */

#hc-nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
  height: 68px;
}

#hc-nav-wrapper.add-background {
  background-color: #d8eacd;
}

#hc-nav-wrapper .container {
  max-width:1140px;
  padding : 0.7em 0;
}

#hc-nav-wrapper .hc-branding{
  float: left;
  display: inline-block;
}

#hc-nav-wrapper .hc-title {
  background-image: url(../images/logo.png);
  background-position: 0px -1px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 92px;
  height: 86px;
  margin-right: 0.5em;
  text-transform: lowercase;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 0;
}

#hc-nav-wrapper .hc-number-dist {
  color: #5b6a72;
  font-size: 0.9em;
}

#hc-nav-wrapper .hc-number-dist a {
  text-decoration:underline;
  color:inherit;
  display: inline-block;
  margin: 1em 0em;
}

#hc-nav-wrapper .hc-navigation {
  float: right;
  display: inline-block;
  clear: none;
  width: auto;
  margin-top: 0.5em;
}

#hc-nav-wrapper > .menu-toggle{
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: none;
  border: none;
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 0;
  padding:0px;
}

#hc-nav-wrapper > .menu-toggle .is-active{
  background : #d9dbda;
}

#hc-nav-wrapper .hc-navigation a {
  line-height: 34px;
  padding: 0 21px;
  border: 1px solid transparent;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item {
  float: left;
  position: relative;
  margin:0px;
  border-radius: 4px;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item a {
  text-decoration: none;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item:hover {
  background: rgba(0,0,0,0.1);

}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item img {
  width: 40px;
  vertical-align: sub;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item a {
  color: #5b6a72;
  font-size: 18px;
  margin-bottom: 0.04693px;
}
/* #hc-nav-wrapper  */

/*--------------------------*/

/* #hc-intro  */
#hc-intro {
  /*
  background: linear-gradient(0deg, rgb(197, 224, 181), rgba(197, 224, 181, 0.68) 75%);
  */
  background: white;
}

#hc-intro .hc-intro-text-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-top: 8em;
  padding-bottom: 1em;
  text-align: center;
  color: #08b5e5;
}

#hc-intro .hc-intro-text-wrapper .hc-intro-large-lead {
  margin: 2em;
  font-size: 2.3em;
  font-weight: 300;
  color: #4c842b;
  line-height: 1.6;
}

#hc-intro .learn-more {
  font-size: 1.4em;
  color: #0091ff;
  font-weight: bold;
}

#hc-intro .hc-intro-text-wrapper .hc-intro-small-lead {
  margin-bottom: 1em;
  color: #4c842b;
  font-size: 1.4em;
}

#hc-map {
  background: #2a2a2a;
  text-align: center;
}

#hc-map img {
  width: 90%;
}

/* #hc-intro  */

/*--------------------------*/

/* #hc-timer  */
#hc-promo .wrapper {
  padding: 1em 0;
}

#hc-promo .container > .columns {
  text-align: center;
}

#hc-promo .desc {
  margin: 0.4em auto;
  font-size: 17px;
  text-align: center;
}

#hc-promo .features {
  max-width: 800px;
  display: flex;
  margin: 0 auto;
}

#hc-promo .features > div {
  flex-grow: 1;
  width: 33.33333333%;
}

#hc-promo .features .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 1.5px solid #d8eacd;
    background-color: #d8eacd;
    height: 170px;
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

#hc-promo .features .item h4 {
  font-size: 1.2em;
  color: #527141;
  margin: 0.5em;
}

#hc-promo .sales-terms ul {
  font-size: 1.1em;
}

@media only screen and (max-width: 700px) {
  #hc-promo .features {
    flex-direction: column;
  }

  #hc-promo .features > div {
    width: 100%;
    padding-bottom: 1em;
  }

  #hc-promo button {
    width: 100%;
    font-size: 1.3em;
    padding: 0.3em 0;
  }

  #hc-promo .promo-2 .title {
    margin-top: 1.4em;
  }

  #hc-promo .desc {
    font-size: 1.2em;
    margin: 0.8em 0;
  }
}

/*--------------------------*/
/* #hc-accom  */
#hc-accom {
  background: #C5E0B5;
  padding-top: 3em;
  padding-bottom: 6em;
}

#hc-accom .columns {
  text-align: center;
}

#hc-accom .columns img {
  width: 60%;
  height: auto;
  display: block;
  margin:0 auto;
}

#hc-accom .columns h6 {
  color: #415834;
  margin: 0.6em 0;
}

#hc-accom .hc-accom-lead {
  font-size: 20px;
  text-align: center;
  margin: 0 auto 3em;
}

@media only screen and (max-width: 700px) {
  #hc-accom .columns img {
    width: 150px;
  }

  #hc-accom .columns p {
    margin: 1em 0;
  }
}

/*--------------------------*/
/* #hc-why-token  */
#hc-why-token {
  background: #C5E0B5;
  padding-top: 4.5em;
  padding-bottom: 4em;
}

#hc-why-token .desc {
  font-size: 1.2em;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 1em;
}

#hc-why-token .points {
  margin-top: 1em;
  text-align: center;
}

#hc-why-token .points .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

#hc-why-token .points .icon img {
  height: 85px;
  width: 85px;
}

#hc-why-token .points h6 {
  color: #415834;
  margin: 0.6em 0;
}

#hc-why-token .points p {
  margin-bottom: 1em;
}

/*--------------------------*/
/* #hc-how-token  */
#hc-how-token {
  background: #C5E0B5;
  padding-top: 4.5em;
  padding-bottom: 4em;
}

#hc-how-token .desc {
  font-size: 1.2em;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 1em;
}

#hc-how-token .points {
  margin-top: 1em;
  text-align: center;
}

#hc-how-token .points .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

#hc-how-token .points .icon img {
  height: 85px;
  width: 85px;
}

#hc-how-token .points h6 {
  color: #415834;
  margin: 0.6em 0;
}

#hc-how-token .points p {
  margin-bottom: 1em;
}

/*--------------------------*/
/* #hc-team  */
#hc-team {
  padding-top: 3em;
  padding-bottom: 6em;
}

#hc-team .hc-team-lead {
  font-size: 20px;
  max-width: 40em;
  text-align: center;
  margin: 0 auto 2em;
}

#hc-team .members {
    margin-top: 1em;
    text-align: center;
}

#hc-team .team-member-name {
  margin-bottom: 5px;
}

#hc-team .team-member-image {
  border-radius: 50%;
    margin-bottom: 10px;
    width: 60%;
    height: 60%;
    max-width: 180px;
}

#hc-team .team-member-title {
    height: 40px;
    font-size: 12px;
    margin-bottom: 0;
}

#hc-team .founder-member-profile {
  margin-top: 20px;
  margin-right: 0;
  height: 25px;
  width: 25px;
}


/*--------------------------*/

/* #hc-press  */
#hc-press {
  margin-top: 2em;
  background: linear-gradient(0deg, rgba(197, 224, 181, 0.68), #fff 75%);
  padding-bottom: 36px;
}

#hc-press .form {
  width: 60%;
  margin-top: 1em;
}

#hc-press .form input[type="text"] {
  font-size: 1.6em;
  height: 2em;
}

#hc-press .form button {
  font-size: 1.6em;
  height: 2em;
  background: #87bb68;
  border: none;
  width: 100%;
}

/* #hc-press  */

/*--------------------------*/

/* #hc-footer  */
#hc-footer {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  background: rgba(197, 224, 181, 0.68);
}

#hc-footer .hc-footer-chunk {
  padding-left: 2em;
  padding-right: 2em;
  margin-left: -2em;
  margin-right: -2em;
}

#hc-footer .hc-footer-chunk section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

#hc-footer .hc-colored-border:before {
  margin-left: -2em;
  margin-right: -2em;
  display: block;
  content: '';
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMSIgdmlld0JveD0iMCAwIDEyOCAxIj48cGF0aCBmaWxsPSIjNDJBQUU2IiBkPSJNMCAwaDI0djFoLTI0eiIvPjxwYXRoIGZpbGw9IiNFRjdFNDgiIGQ9Ik0zMiAwaDI0djFoLTI0eiIvPjxwYXRoIGZpbGw9IiNGRkQxNDgiIGQ9Ik02NCAwaDI0djFoLTI0eiIvPjxwYXRoIGZpbGw9IiM1MEUzQzIiIGQ9Ik05NiAwaDI0djFoLTI0eiIvPjwvc3ZnPg==);
  height: 1px;
}

#hc-footer .footer-light {
  padding-top: 1.5em;
  display: block;
}

#hc-footer .columns h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #484545;
}

#hc-footer .columns ul {
  list-style: none;
}

#hc-footer .footer-bridgeBack {
    border-top: 1px solid #E0E6EA;
}

#hc-footer .footer-bridge {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: block;
}

#hc-footer .footer-bridge:after {
  content: "";
  display: table;
  clear: both;
}

#hc-footer .footer-bridge .footer-bridge-contentStart {
  float : left;
}

#hc-footer .footer-bridge-contentStart .footer-social-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

#hc-footer .footer-bridge-contentStart .footer-social-icon span {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-facebook {
  background-image: url("../images/facebook.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-facebook:hover {
  background-image: url("../images/facebook-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-twitter {
  background-image: url("../images/twitter.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-twitter:hover {
  background-image: url("../images/twitter-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-linkedin {
  background-image: url("../images/linkedin.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-linkedin:hover {
  background-image: url("../images/linkedin-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-github {
  background-image: url("../images/github.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-github:hover {
  background-image: url("../images/github-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-reddit {
  background-image: url("../images/reddit.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-reddit:hover {
  background-image: url("../images/reddit-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-slack {
  background-image: url("../images/slack.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-slack:hover {
  background-image: url("../images/slack-hover.png");
}

#hc-footer .footer-bridge .footer-bridge-contentEnd {
  color: #9b9b9b;
  float: right;
}

#hc-footer .footer-bridge .footer-bridge-contentEnd a {
  text-decoration: underline;
}

#hc-footer .footer-bridge .footer-bridge-contentEnd .footer-heart-alignment {
  vertical-align: bottom;
}

#hc-footer .footer-bridge .footer-bridge-contentEnd .graphic-inline-heart {
    background-image: url(../images/heart.svg);
    width: 20px;
    height: 22px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

#hc-footer .footer-white {
  padding-top: 16px;
  padding-top: 1rem;
}

#footer-navigation {
  display: inline-block;
  float: right;
  clear: both;
}

#footer-navigation:before {
  content: '';
  display: table;
}

#footer-navigation:before {
  clear:both;
}

#menu-footer-menu {
  margin: 0;
  clear: both;
  list-style: disc;
  margin-left: -1.5em;
}

#menu-footer-menu li {
  float: left;
  margin-left: 0;
  list-style-type: none;
  padding-left: 1.5em;
}

#menu-footer-menu li a {
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: underline;
}

#hc-footer .site-info p {
  font-size: 14px;
  color: #9b9b9b;
}

#hc-footer a {
  color: #467b28;
}
/* #hc-footer  */

@media only screen and (max-width: 1025px) {
  #hc-nav-wrapper {
    width:calc(100% - 4em);
  }

  #hc-nav-wrapper .menu-item {
    width:100%;
  }

  #hc-nav-wrapper .menu-item a{
    padding:0px;
  }

  #hc-nav-wrapper .hc-navigation .hc-menu-container{
    display: none;
    position: absolute;
    width: 110%;
    left: 0;
    background: #d8eacd;
    padding: 1em;
    margin-left: -2em;
    top: 60px;
    padding-top: 3em;
  }

  #hc-nav-wrapper .hc-title {
    position: relative;
    z-index: 1;
  }

  #hc-nav-wrapper .hc-number-dist{
    color: #4c842b0;
  }

  #hc-intro .hc-intro-text-wrapper .hc-intro-large-lead {
    margin: 0.5em 0.2em 1em;
    font-size: 1.5em;
  }

  #hc-intro .learn-more {
    font-size: 1.2em;
  }

  .hc-feature .hc-feature-title {
    font-size: 2em;
  }

  #hc-team .hc-button-container a {
    font-size: 0.7em;
  }

  #hc-press .article {
    margin-bottom: 1em;
  }

  #hc-footer .footer-light .columns {
    margin-bottom: 1em;
  }

  #footer-navigation {
    display: block;
    float: none;
    margin-bottom: 1em;
    clear: both;
    height:20px;
  }

  #hc-footer .site-info p {
    text-align: center;
  }

  #hc-nav-wrapper .hc-number-dist a {
    display:block;
    margin: 0px;
  }

  #hc-team .hc-team-world .graphic-wireframe-dotted-world {
    width: 100%;
    height: 200px;
  }
}
