body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
a {
  cursor:pointer;
  text-decoration: none;
}

p {
  margin: auto auto 0;
  line-height: 1.65;
}

h1, h2, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 0.3em;
    color: #5b6a72;
}

.button-primary.large-button {
  font-size: 1em;
  background: #73ba4a;
  border-color: #73ba4a;
}

.button-primary.large-button:hover {
  background: #5a9637;
  border-color:#5a9637;
}

.hc-big-link:hover {
  text-decoration: underline;
}

.hc-feature .hc-button-container {
  text-align:center; margin-top:3em;
}

.hc-feature .hc-feature-title {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 23px;
}

.hc-feature .hc-feature-title.inverted {
  color: #4c842b;
}

.hc-feature .triangle-space{
  width: auto;
  padding-top: 3em;
}

.hc-feature .hc-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.hc-feature.over-rel {
  position: relative;
  overflow: hidden;
}

.hc-feature.padding {
  padding-left: 32px;
  padding-right: 32px;
}
/* #hc-nav-wrapper  */

#hc-nav-wrapper {
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}

#hc-nav-wrapper.add-background {
  background-color: #d8eacd;
}

#hc-nav-wrapper .container {
  max-width:1140px;
  padding : 0.7em 0;
}

#hc-nav-wrapper .hc-branding{
  float: left;
  display: inline-block;
}

#hc-nav-wrapper .hc-title {
  background-image: url(../images/logo.png);
  background-position: 0px -1px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 78px;
  height: 60px;
  margin-right: 0.5em;
  text-transform: lowercase;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 0;
}

#hc-nav-wrapper .hc-number-dist {
  color: #5b6a72;
  font-size: 0.9em;
}

#hc-nav-wrapper .hc-number-dist a {
  text-decoration:underline;
  color:inherit;
  display: inline-block;
  margin: 1em 0em;
}

#hc-nav-wrapper .hc-navigation {
  float: right;
  display: inline-block;
  clear: none;
  width: auto;
  margin-top: 0.8em;
}

#hc-nav-wrapper > .menu-toggle{
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: none;
  border: none;
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 0;
  padding:0px;
}

#hc-nav-wrapper > .menu-toggle .is-active{
  background : #d9dbda;
}

#hc-nav-wrapper .hc-navigation a {
  line-height: 34px;
  padding: 0 21px;
  border: 1px solid transparent;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item {
  float: left;
  position: relative;
  margin:0px;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item img {
  width: 40px;
  vertical-align: sub;
}

#hc-nav-wrapper .hc-navigation .hc-menu-container .hc-menu .menu-item a {
  color: #5b6a72;
  font-size: 18px;
  margin-bottom: 0.04693px;
}
/* #hc-nav-wrapper  */

/*--------------------------*/

/* #hc-intro  */
#hc-intro {
  background: linear-gradient(0deg, rgb(197, 224, 181), rgba(197, 224, 181, 0.68) 75%);
  height: 612px;
}

#hc-intro .hc-intro-text-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  max-width: 62em;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
  color: #08b5e5;
}

#hc-intro .hc-intro-text-wrapper .hc-intro-large-lead {
  margin-bottom: 0em;
  font-size: 28px;
  color: inherit;
  font-weight: 300;
  color: #4c842b;
}

#hc-intro .hc-intro-text-wrapper .hc-intro-small-lead {
  margin-bottom: 2em;
  color: #4c842b;
}

/* #hc-intro  */

/*--------------------------*/

/* #hc-future  */
#hc-future .hc-future-text-wrapper {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

#hc-future .hc-future-tabs .tab-content {
  font-weight: 700;
  text-align: center;
}

#hc-future .hc-future-tabs .content-title {
  font-weight: 700;
  margin-bottom: 0.5em;
}

#hc-future .hc-future-tabs .content-body {
  max-width: 28em;
  margin: 0 auto;
  font-weight: 300;
}

#hc-future .hc-future-tabs .graphic {
  width: 80px;
  height: 76px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

#hc-future .hc-future-tabs  .graphic-into-cash {
  background-image: url(../images/into-cash.svg);
}

#hc-future .hc-future-tabs  .graphic-hand-catching-orbs {
  background-image: url(../images/hand-catching-orbs.svg);
}

#hc-future .hc-future-tabs .graphic-truck {
  background-image: url(../images/truck.svg);
}

#hc-future .hc-future-tabs .graphic-credit-card-with-phone {
  background-image: url(../images/credit-card-with-phone.svg);
}

#hc-future .hc-future-tabs .graphic-gear-and-window {
  background-image: url(../images/gear-and-window.svg);
}
/* #hc-future  */

/*--------------------------*/

/* #hc-customize  */
#hc-customize {
  background: #C5E0B5;
  background-size: 80px 80px;
  padding-top: 4.5em;
  padding-bottom: 4em;
}

#hc-customize .row {
  padding:2em 0px;
}

#hc-customize .columns {
  text-align: center;
}

#hc-customize .columns p {
  color:#4c842b;
}

#hc-customize .graphic-cash-to-matrix-cash {
  background-image: url(../images/cash-to-matrix-cash.png);
  width: 278px;
  height: 170px;
  background-size: 278px 170px;
  background-repeat: no-repeat;
  display: inline-block;
}

#hc-customize .graphic-circuit-key-files {
    background-image: url(../images/circuit-key-files.png);
    width: 177px;
    height: 158px;
    background-size: 177px 158px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 12px;
}
/* #hc-customize  */

/*--------------------------*/

/* #hc-mission  */
#hc-mission {
  padding-top: 3em;
  padding-bottom: 6em;
}

#hc-mission .hc-mission-lead {
  font-size: 24px;
  max-width: 30em;
  text-align: center;
  margin: 0 auto;
}

#hc-mission .hc-mission-world {
  max-width: 1003px;
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 0.5em 0;
}

#hc-mission .hc-mission-world .graphic-wireframe-dotted-world {
    background-image: url(../images/map.png);
    width: 1003px;
    height: 521px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
}
/* #hc-mission  */

/*--------------------------*/

/* #hc-press  */
#hc-press {
  background: linear-gradient(0deg, rgba(197, 224, 181, 0.68), #fff 75%);
  padding-bottom: 36px;
}

#hc-press .article {
  min-height: 288px;
  position: relative;
  padding: 2em;
  border: 1px solid #8da280;
  background: #fff;
  color: #717577;
  text-decoration: none;
  border-radius: 10px;
}

#hc-press .article:before {
    content: "\f347";
    position: absolute;
    top: 24px;
    left: 18px;
    font-size: 32px;
    font-family: "Ionicons";
}

#hc-press .article:hover {
  border:1px solid #000;
}

#hc-press .article p {
  margin-bottom: 3em;
  margin-left: 2em;
  line-height: 1.8;
  font-size: 0.95em;
}

#hc-press .article .article-link {
  position: absolute;
  bottom: 1.8em;
  color: #73ba4a;
}

#hc-press .press-logo {
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    display:inline-block;
    vertical-align: middle;
    display: block;
    background-position: center;
}

#hc-press .graphic-press-logo-wsj {
    background-image: url(../images/press-logo-wsj.png);
    background-repeat: no-repeat;
}

#hc-press .graphic-press-logo-wired {
    background-image: url(../images/press-logo-wired.png);
}

#hc-press .graphic-press-logo-quartz {
    background-image: url(../images/press-logo-quartz.png);
}
/* #hc-press  */

/*--------------------------*/

/* #hc-footer  */
#hc-footer {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  background: rgba(197, 224, 181, 0.68);
}

#hc-footer .hc-footer-chunk {
  padding-left: 2em;
  padding-right: 2em;
  margin-left: -2em;
  margin-right: -2em;
}

#hc-footer .hc-footer-chunk section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

#hc-footer .hc-colored-border:before {
  margin-left: -2em;
  margin-right: -2em;
  display: block;
  content: '';
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMSIgdmlld0JveD0iMCAwIDEyOCAxIj48cGF0aCBmaWxsPSIjNDJBQUU2IiBkPSJNMCAwaDI0djFoLTI0eiIvPjxwYXRoIGZpbGw9IiNFRjdFNDgiIGQ9Ik0zMiAwaDI0djFoLTI0eiIvPjxwYXRoIGZpbGw9IiNGRkQxNDgiIGQ9Ik02NCAwaDI0djFoLTI0eiIvPjxwYXRoIGZpbGw9IiM1MEUzQzIiIGQ9Ik05NiAwaDI0djFoLTI0eiIvPjwvc3ZnPg==);
  height: 1px;
}

#hc-footer .footer-light {
  padding-top: 1.5em;
  display: block;
}

#hc-footer .columns h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #484545;
}

#hc-footer .columns ul {
  list-style: none;
}

#hc-footer .footer-bridgeBack {
    border-top: 1px solid #E0E6EA;
}

#hc-footer .footer-bridge {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: block;
}

#hc-footer .footer-bridge:after {
  content: "";
  display: table;
  clear: both;
}

#hc-footer .footer-bridge .footer-bridge-contentStart {
  float : left;
}

#hc-footer .footer-bridge-contentStart .footer-social-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

#hc-footer .footer-bridge-contentStart .footer-social-icon span {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-facebook {
  background-image: url("../images/facebook.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-facebook:hover {
  background-image: url("../images/facebook-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-twitter {
  background-image: url("../images/twitter.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-twitter:hover {
  background-image: url("../images/twitter-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-linkedin {
  background-image: url("../images/linkedin.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-linkedin:hover {
  background-image: url("../images/linkedin-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-github {
  background-image: url("../images/github.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-github:hover {
  background-image: url("../images/github-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-reddit {
  background-image: url("../images/reddit.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-reddit:hover {
  background-image: url("../images/reddit-hover.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-slack {
  background-image: url("../images/slack.png");
}

#hc-footer .footer-bridge-contentStart .footer-social-icon .graphic-socialHover-slack:hover {
  background-image: url("../images/slack-hover.png");
}

#hc-footer .footer-bridge .footer-bridge-contentEnd {
  color: #9b9b9b;
  float: right;
}

#hc-footer .footer-bridge .footer-bridge-contentEnd a {
  text-decoration: underline;
}

#hc-footer .footer-bridge .footer-bridge-contentEnd .footer-heart-alignment {
  vertical-align: bottom;
}

#hc-footer .footer-bridge .footer-bridge-contentEnd .graphic-inline-heart {
    background-image: url(../images/heart.svg);
    width: 20px;
    height: 22px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

#hc-footer .footer-white {
  padding-top: 16px;
  padding-top: 1rem;
}

#footer-navigation {
  display: inline-block;
  float: right;
  clear: both;
}

#footer-navigation:before {
  content: '';
  display: table;
}

#footer-navigation:before {
  clear:both;
}

#menu-footer-menu {
  margin: 0;
  clear: both;
  list-style: disc;
}

#menu-footer-menu li {
  float: left;
  margin-left: 0;
  list-style-type: none;
  padding-left: 1.5em;
}

#menu-footer-menu li a {
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: underline;
}

#hc-footer .site-info p {
  font-size: 14px;
  color: #9b9b9b;
}

#hc-footer a {
  color: #467b28;
}
/* #hc-footer  */

@media only screen and (max-width: 1025px) {
  #hc-nav-wrapper {
    width:calc(100% - 4em);
  }

  #hc-nav-wrapper .menu-item {
    width:100%;
  }

  #hc-nav-wrapper .menu-item a{
    padding:0px;
  }

  #hc-nav-wrapper .hc-navigation .hc-menu-container{
    display: none;
  }

  #hc-nav-wrapper .hc-number-dist{
    color: #4c842b0;
  }

  #hc-future .tab-content {
    margin-top: 1em;
  }

  #hc-customize .columns {
    margin-bottom: 4em;
  }

  #hc-customize .hc-button-container{
    margin:0px;
  }

  #hc-mission .hc-button-container a {
    font-size: 0.7em;
  }

  #hc-press .article {
    margin-bottom: 1em;
  }

  #hc-footer .footer-light .columns {
    margin-bottom: 1em;
  }

  #footer-navigation {
    display: block;
    float: none;
    margin-bottom: 1em;
    clear: both;
    height:20px;
  }

  #hc-footer .site-info p {
    text-align: center;
  }

  #hc-nav-wrapper .hc-number-dist a {
    display:block;
    margin: 0px;
  }

  #hc-mission .hc-mission-world .graphic-wireframe-dotted-world {
    width: 100%;
    height: 200px;
  }
}
