@font-face {
 font-family: 'ProximaNova';
 font-style: normal;
 font-weight: normal;
 src: url('../../fonts/ProximaNova-Regular.otf') format('woff2');
 /*src: url('../../fonts/ProximaNova-Bold.otf') format('woff2');
 src: url('../../fonts/ProximaNova-Extrabold.otf') format('woff2');
 src: url('../../fonts/ProximaNova-RegularItalic.otf') format('woff2');*/
}

@font-face {
 font-family: 'ProximaNova';
 font-style: normal;
 font-weight: bold;
 src: url('../../fonts/ProximaNova-Semibold.otf') format('woff2');
}

html {
  height: 100%;
}

body {
  font-family: 'ProximaNova', sans-serif;
  position: relative;
  height: 100%;
  /*background-image: url(/images/wallet/wallet-background.png);
  background-repeat: no-repeat;
  background-position:520px 0px;
  background-size: auto;
  background-color: black;*/
}

.layout {
  /*max-width: 528px;*/
  height: 100%;
  background: white;
  position: relative;
  box-shadow: 5px 5px 10px 0 rgba(46, 61, 73, 0.35);
  overflow: hidden;
}

/*.layout.overflow {
  overflow: hidden;
}*/

.header {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.padding {
  padding: 20px;
}

i {
  margin: 0px;
}

div, p , a {
  color:#767676;
}

a {
  cursor : pointer;
}

section {
  padding: 25px;
  border-bottom : 1px solid #eaeaea;
}

section .header:not(:first-child) {
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #dedede;
}

select {
  border-color: #eaeaea;
  margin: 0px;
  border-radius: 0px;
}

/*select:focus {
  border-color: #56b26b;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
}*/

.green {
  color: #66bb6b;
}

.red {
  color: #ef5350;
}

.orange {
  color: #ed844e;
}

.black {
  color: black;
}

.blue {
  color: #3d92e4;
}

.bold {
  font-weight: bold;
  color: black;
}

.line-height-1 {
  line-height: 1;
}

.price {
  font-size: 40px;
  flex: auto;
  line-height: 0.65;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.price span {
  font-size: 25px;
}

.slider {
  border-radius: 8px;
  background: #e1e1e1;
  border-color: #ffffff !important;
  height: 10px;
}

.slider .ui-slider-handle {
  /*height: 15px;
  width: 15px;*/
  border-radius: 50%;
  margin-left: -0.4em;
  top: -0.4em;
  background: white;
  border: none;
  outline: none;
  box-shadow: 1px 1px 7px 0 rgba(46, 61, 73, 0.35);
}

.slider .ui-slider-range {
  background: #ed844d;
  border-color: #ed844d !important;
}

.wallet-button {
  padding: 12px 16px;
  background-color: #e0e0e0;
  /*position: absolute;
  bottom: 0px;
  left: 0px;*/
  width: 100%;
}

.wallet-button button {
  width: 100%;
  margin: 0px;
  background-color: #66bb6b;
  border-color: #66bb6b;
  text-transform: none;
  font-size: 0.9em;
  padding: 5px;
  height: auto;
}

.ui.dropdown {
  font-size: 14px;
}

.ui.dropdown .menu {
  max-height: none!important;
}


.ui.dropdown .item {
  font-size: 1em !important;
  color: #c7c7c7 !important;
}

.ui.dropdown i.dropdown.icon {
  display: flex;
  align-items: center;
  height: 100% !important;
}

.textarea-count {
  position: relative;
}

.textarea-count textarea {
  border : 1px solid #e1e1e2;
  border-radius: 0px;
  margin: 0px;
}

.textarea-count .count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #999;
}

#home-tab {
  /*overflow: scroll;*/
  height: 100%;
}

#home-tab .graph-feeds {
  overflow: scroll;
  height: calc(100% - 200px);
}

@media only screen and (max-width: 700px) {
  /*.layout {
    width: 100%;
    max-width: none;
  }*/
  section {
    padding: 15px 20px;
    border-bottom : 1px solid #eaeaea;
  }

  #home-tab .graph-feeds {
    height: calc(100% - 160px);
  }
}

/*---------------------------------------*/

#wallet-nav {
  background-color: #2a2a2a;
}

#wallet-nav .title-logo {
  color: white;
  display: flex;
  align-items: center;
  height: 55px;
}

#wallet-nav .title-logo .title {
  padding-left: 15px;
  flex: auto;
}

#wallet-nav .title-logo .title p {
  margin: 0px;
  line-height: 1.1;
  word-spacing: 2px;
}

#wallet-nav .title-logo .title .main.show,
#wallet-nav .title-logo .title .notification.show {
  display: block;
}

#wallet-nav .title-logo .title .notification p,
#wallet-nav .title-logo .title .main p:first-child {
  font-size: 17px;
  color: white;
}

#wallet-nav .title-logo .title .main p:last-child {
  font-size: 15px;
  color: #c8c8c8;
}

#wallet-nav .title-logo img.logo {
  width: 55px;
  height : 55px;
}

#wallet-nav .title-logo .back a,
#wallet-nav .title-logo .close a {
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  justify-content: center;
}

#wallet-nav .title-logo .notifications {
  background-color: none;
  color:white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 1em;
  justify-content: center;
  border-radius: 50%;
  margin-right: 0.7em;
  line-height: 1;
  border : 1px solid #ffdc00;
}

#wallet-nav .title-logo .notifications.new {
  background-color: #ffdc00;
  color: #2a2a2a;
}

#wallet-nav .title-logo .title .notification,
#wallet-nav .title-logo .title .main,
#wallet-nav .title-logo .title .main p:first-child,
#wallet-nav .title-logo .back:not(.desktop),
#wallet-nav .title-logo .notifications,
#wallet-nav .title-logo .logo {
  display: none;
}

@media only screen and (max-width: 700px) {
  #wallet-nav .title-logo .title .main p:first-child,
  #wallet-nav .title-logo .back:not(.desktop),
  #wallet-nav .title-logo .logo  {
    display: block;
  }

  #wallet-nav .title-logo .notifications {
    display: flex;
  }

  #wallet-nav .title-logo .back.desktop,
  #wallet-nav .title-logo .close {
    display: none;
  }

  /*#wallet-nav .title-logo {
    height: 55px;
  }*/
}

/*---------------------------------------*/

#wallet-value {
  background-color: #2a2a2a;
  display: flex;
  padding: 20px;
}

#wallet-value .links {
  flex: 0.5;
}

#wallet-value .value {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
}

#wallet-value .links a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0em 10px 10px;
}

#wallet-value .links a:first-child {
  padding-top: 0px;
}

#wallet-value .links a:last-child {
  padding-bottom: 0px;
}

#wallet-value .storecoin-val .number {
  color: #ffdc00;
  text-align: right;
  font-size: 40px;
  margin: 0px;
  line-height: 1;
  font-weight: bold;
}

#wallet-value .storecoin-val .unit {
  color: white;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3px;
  margin-bottom: 0px;
  line-height: 1;
}

#wallet-value .est-val {
  color: white;
  text-align: right;
  font-size: 0.9em;
  margin-top: 2em;
}

#wallet-value .storecoin-val .unit img {
  margin-right: 5px;
  width: 25px;
}

#wallet-value .storecoin-val .number span {
  font-size: 25px;
}

@media only screen and (max-width: 700px) {
  #wallet-value {
    padding: 15px 20px;
  }

  #wallet-value .links a {
    padding: 5px 0em 5px 5px;
  }

  #wallet-value .storecoin-val .unit {
    font-size: 12px;
  }

  #wallet-value .storecoin-val .unit img {
    width: 20px;
  }
}

/*---------------------------------------*/

#wallet-price-span {
  display: flex;
  justify-content: space-between;
}

#wallet-price-span p {
  margin: 0px;
  display: flex;
  align-items: center;
  min-width: 140px;
}

#wallet-price-span .ui.dropdown {
  width: 50%;
}
/*---------------------------------------*/

#wallet-graph .price-change {
  display: flex;
  align-items: baseline;
}

#wallet-graph .price-change .change {
  flex: auto;
  text-align: right;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#wallet-graph .price-change .change i {
  font-size: 20px;
  margin-right: 5px;
}

#wallet-graph .graph .line {
  fill: none;
  stroke : #66bb6b;
  stroke-width: 2px;
}

#wallet-graph .graph .area {
  fill: url(#area-gradient);
}

#wallet-graph .graph .domain {
  stroke : none;
}

#wallet-graph .graph .tick line {
  stroke : none;
}

#wallet-graph .graph .tick text {
  font-size: 12px;
}

/*---------------------------------------*/

.wallet-feed {
  display: flex;
  align-items: flex-start;
}

/*.wallet-feed .value {
  margin: 0px;
  display: flex;
  align-items: center;
  line-height: 2.5;
  font-size: 20px;
}*/

.wallet-feed .transaction {
  margin-top: 10px;
  margin-bottom : 10px;
}

.wallet-feed .transaction,
.wallet-feed .message {
  font-size: 0.9em;
  line-height: 1.5;
}

.wallet-feed .message {
  border-left: 5px solid #ffdc00;
  padding-left: 1em;
  margin-bottom: 10px;
}

.wallet-feed .image img {
  width: 100%;
}

.wallet-feed .image {
  width: 28px;
  margin-right : 20px;
  border-radius: 50%;
}

.wallet-feed .description {
  flex: auto;
}

.wallet-feed .description .name-val {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}

.wallet-feed .description p {
  margin: 0px;
}

.wallet-feed .description .name-val .name {
  color: black;
  font-weight: bold;
}

.wallet-feed .description .name-val .value {
  flex: auto;
  text-align: right;
  font-size: 22px;
  /*font-weight: bold;*/
}

.wallet-feed .description .name-val .status {
  font-size: 10px;
  padding: 3px;
  margin-left: 5px;
  background: #e0e0e0;
}

.wallet-feed .description .download-time {
  display: flex;
  align-items: center;
}

.wallet-feed .description .download-time .icon {
  width: 17px;
  align-items: center;
  font-size: 9px;
  display: flex;
  justify-content: center;
}

.wallet-feed .description .download-time .dot {
  display: flex;
  align-items: center;
  width: 15px;
  justify-content: center;
  font-size: 3px;
}

.wallet-feed .description .download-time .time {
  line-height: 1;
  color: rgba(0,0,0,.4);
  font-size: 12px;
}

/*---------------------------------------*/

#wallet-sub-nav {
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  /*position: absolute;
  top: 55px;*/
  width: 100%;
  background: white;
  display: flex;
}

/*#wallet-sub-nav.show {
  display: flex;
}*/

#wallet-sub-nav .price-logo {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px 0px 10px 20px;
}

#wallet-sub-nav .price-logo .logo {
  width: 35px;
}

#wallet-sub-nav .price-logo .price {
  font-size: 20px;
  padding-left: 0.5em;
}

#wallet-sub-nav .price-logo .price span {
  font-size: 15px;
}

#wallet-sub-nav .links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

#wallet-sub-nav .links .link {
  padding : 12px 18px;
}

#wallet-sub-nav .links .link.active {
  border-bottom: 3px solid #ffdc00;
  font-weight: bold;
  color: black;
}

@media only screen and (max-width: 700px) {
  #wallet-sub-nav .links .link {
    padding : 12px 14px;
  }
}

/*---------------------------------------*/

#wallet-amount,
#trade-amount {
  border: none;
  position: relative;
}

.amount-slider {
  /*position: relative;*/
  height: 100px;
}

.amount-slider .amounts {
  display: flex;
}

.amount-slider .amounts p {
  margin: 0px;
  flex: auto;
  font-size: 11px;
  margin-bottom : 3px;
}

.amount-slider .amounts p:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.amount-slider .amounts p:last-child img {
  width : 20px;
  margin-right: 3px;
}

.amount-slider .conversion {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  text-align: right;
}

.amount-slider .conversion p {
  margin: 0px;
  font-size: 0.9em;
  line-height: 1;
}

.amount-slider .conversion .storecoin-val {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.amount-slider .conversion .storecoin-val img {
  width: 20px;
  margin-right: 3px;
}

.amount-slider .conversion .exchange {
  width: 19px;
  margin: -3px 0;
}

#wallet-amount .repeat-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
}

#wallet-amount .repeat-check .repeat {
  display: flex;
  align-items: center;
  flex: 1;
}

#wallet-amount .repeat-check .repeat input {
  width: 20px;
}

#wallet-amount .repeat-check .repeat label {
  flex: auto;
}

#wallet-amount .repeat-check .repeat input, label {
  margin-bottom : 0px;
}

#wallet-amount .repeat-check .repeat-time {
  flex: 0.8;
}

/*---------------------------------------*/

/*#wallet-pay-method .ui.dropdown .bank-info {
  font-size: 0.8em;
}*/

#wallet-pay-method .ui.dropdown .bank-info .name {
  color: black;
  font-weight: bold;
}

/*---------------------------------------*/

.ui.modal {
  font-size: 1em;
  background: none;
  box-shadow: none;
}

.ui.modal section {
  padding: 10px;
}

.ui.modal .content {
  max-width: 400px;
  border-radius: 0px;
  padding: 0px !important;
  margin: 0 auto;
  padding: 5px !important;
  background: none;
}

.ui.modal .content .modal-header {
  padding: 15px 10px;
}

.ui.modal .content .modal-header {
  background-color: #3e3e3e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.modal .content .modal-content {
  padding: 0px 10px;
  background: white;
}

.ui.modal .content .modal-header .logo-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 17px;
  line-height: 1;
}

.ui.modal .content .modal-header .logo-title img {
  width: 22px;
  margin-right: 15px;
  margin-left: 8px;
  margin-top: -4px;
}

.ui.modal .content .modal-header .close-modal {
  color: #9f9f9f;
  width: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.confirm-transact.ui.modal .content .modal-content .buying-info {
  text-align: center;
}

.confirm-transact.ui.modal .content .modal-content .buying-info .buy-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0.3em 0px;
}

.confirm-transact.ui.modal .content .modal-content .buying-info .buy-amount img {
  width:45px;
  margin-right: 5px;
}

.confirm-transact.ui.modal .content .modal-content .buying-info .per-value {
  font-size: 0.7em;
}

.confirm-transact.ui.modal .content .modal-content .pay-info {
  display: flex;
  align-items: center;
}

.confirm-transact.ui.modal .content .modal-content .pay-info .icons img {
  width: 18px;
}

.confirm-transact.ui.modal .content .modal-content .pay-info .info {
  flex: auto;
  padding-left: 0.5em;
}

.confirm-transact.ui.modal .content .modal-content .pay-info .info .item-head {
  font-size: 0.7em;
}

.confirm-transact.ui.modal .content .modal-content .pay-info .info .item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm-transact.ui.modal .content .modal-content .pay-info .info .item-info a {
  color: #3d92e4;
  font-weight: 300;
  font-size: 0.8em;
}

.confirm-transact.ui.modal .content .modal-content .pay-info .info hr {
  border-top: 1px solid #eaeaea;
  margin: 0.5em 0;
}

.confirm-transact.ui.modal .content .modal-content .cost-info {
  border: none;
  padding: 10px 7px;
}

.confirm-transact.ui.modal .content .modal-content .cost-info .item {
  border: none;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}

.confirm-transact.ui.modal .content .modal-content .cost-info .item div {
  background: white;
}

.confirm-transact.ui.modal .content .modal-content .cost-info .item hr {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0px;
  border-top: 2px dotted rgba(118, 118, 118, 0.33);
  z-index: -1;
}

.confirm-transact.ui.modal .content .modal-content .confirmation {
  text-align: center;
  border: none;
  padding-top: 0px;
  padding-bottom: 25px;
}

.confirm-transact.ui.modal .content .modal-content .confirmation div:last-child {
  font-size: 0.8em;
  margin-top: 5px;
}

.confirm-transact.ui.modal .content .model-btn-grp {
  background: #f4f4f4;
  padding: 0.5em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-transact.ui.modal .content .model-btn-grp .divider {
  background-color: #bdbdbd;
  width: 1px;
  height: 40px;
}

.confirm-transact.ui.modal .content .model-btn-grp a {
  width: 49%;
  padding: 0.5em 0em;
  text-align: center;
}

/*---------------------------------------*/

.wallet-selection .ui.dropdown,
.wallet-selection .ui.dropdown .menu .item {
  padding: 1em 0.5em !important;
}

.wallet-selection .ui.dropdown .menu .item {
  background-color: #eaeaea;
  border-color: #eaeaea;
  color: black !important;
}

.wallet-selection .ui.dropdown .menu .item .ui.image {
  border-radius: 50%;
}

.wallet-selection .ui.dropdown .menu .item.selected {
  background-color: #fcda00;
  border-color: #fcda00;
}

.wallet-selection .ui.dropdown .menu {
  max-height: 20rem;
}

.wallet-selection .ui.dropdown i.dropdown.icon {
  visibility: hidden;
}

.wallet-selection .ui.dropdown img {
  border-radius: 50%;
}

.send-email {
  margin-top: 1em;
}

/*---------------------------------------*/

#wallet-tabs .tab {
  /*position: absolute;
  top: 114px;*/
  width: 100%;
  height: 100%;
  background: white;
  display: none;
}

#wallet-tabs .tab .content {
  overflow: scroll;
}

#wallet-tabs .tab.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#wallet-tabs .tab .button-container {
  z-index: 1;
  display: flex;
  flex: auto;
  align-items: flex-end;
}

/*---------------------------------------*/

#notification-window {
  /*position: absolute;
  top: 55px;*/
  width: 100%;
  height: calc(100% - 55px);
  background-color: white;
  display: none;
}

#notification-window.show {
  display: block;
}

#notification-window .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

#notification-window .options .ui.dropdown {
  width: 45%;
}

#notification-window .options .settings {
  font-size: 1.5em; width:30px; text-align:center;
}

#notification-window .notification-feeds .download-time img {
  width: 20px;
  opacity: 0.7;
}

/*---------------------------------------*/
#transaction-tab {
  display: none;
}

/*---------------------------------------*/

.gen-order .sell-buy {
  display: flex;
  align-items: center;
}

.gen-order .sell-buy .head {
  font-size: 13px;
}

.gen-order .sell-buy .btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  min-height: 95px;
}

/*.gen-order .sell-buy .btn:hover {
  border: 1px solid #c8bfbf;
}*/

.gen-order .sell-buy .btn img {
  width: 45px;
}

.gen-order .sell-buy .selling,
.gen-order .sell-buy .buying {
  flex: auto;
}

.gen-order .sell-buy .exchange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  margin-top: 15px;
}

.gen-order .sell-buy .exchange img {
  width: 20px;
}

.gen-order .sell-buy .btn .price {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: inherit;
}

.gen-order .sell-buy .btn .price span {
  font-size: inherit;
  line-height: 1;
}

.gen-order .sell-buy .btn .price span:last-child {
  font-weight: 100;
  color: rgba(0,0,0,.4);
  text-align: left;
  font-size: 0.8em;
  margin-top: 2px;
}

.gen-order .sell-buy .btn .price span:first-child {
  color: black;
}

@media only screen and (max-width: 700px) {
  .gen-order .sell-buy .btn .price {
    font-size: 15px;
  }

  .gen-order .sell-buy .btn {
    padding : 15px 0px;
    min-height: 75px;
  }

  .gen-order .sell-buy .btn img {
    width: 35px;
  }

  .gen-order .sell-buy .exchange {
    width:35px;
  }

  .gen-order .sell-buy .exchange img {
    width: 15px;
  }
}

/*---------------------------------------*/

.select-exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-exp .exp-picker {
  width: 48%;
  position: relative;
  height: 50px;
}

.select-exp .exp-picker input {
  position: absolute;
  margin: 0px;
  /*z-index: 2;*/
  background: none;
}

.select-exp .exp-picker .icon {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

/*---------------------------------------*/
#select-coin-modal .list {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  padding: 0 0 1em;
}

#select-coin-modal .list .item {
  display: flex;
  align-items: center;
  flex-flow: column;
  /*padding: 7px 0px;*/
  width: 50%;
  margin-top: 1em;
}

#select-coin-modal .list .item p {
  margin: 0.5em 0px;
}

#select-coin-modal .list .item img {
  width: 70px;
}

/*---------------------------------------*/
.iphone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 400px;
  margin: auto;
}

.iphone img {
  width: 100%;
}

.iphone iframe {
  position: absolute;
  height: calc(100% - 219px);
  width: calc(100% - 30px);
  top: 105px;
  left: 17px;
}

@media only screen and (max-width: 700px) {
  .iphone {
    height: 100%;
  }
  .iphone img {
    display: none;
  }
  .iphone iframe {
    position: static;
    width: 100%;
    height: 100%;
  }
}
