div.amount-slider
  div.amounts
    p.start 0.00001
    p.end 
      img(src="/images/wallet/black-storecoin.png")
      span 139.47001
  div.slider
  div.conversion
    p.storecoin-val.orange
      img(src="/images/wallet/orange-storecoin.png")
      span 33.83535
    img.exchange(src="/images/wallet/exchange-icon.png")
    p.dollar-val.green
      span $
      span 29.95
