extends layout-api

block content
  
  div.api-container
    section#api-header
      div.image
        img(src="/images/wallet/asana-logo.jpg")
      div.title
        div 
          b Asana
        div Project Management
    section#api-balance
      div.balance
        div Storecoin Balance:
        div.logo-amount
          img.logo(src="/images/wallet/storecoin-logo.png")
          div.amount.green 5.13434
      div.buy
        button.small Buy
    section#api-budget-app-slider.tab(data-tab="none")
      div.header Budget for your app
      include amount-slider
    section#api-bugget-api
      //- div.header Set budget for API calls
      div.header Set Paid API Calls
      div.api-list
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider
        div.api-item
          button.small.select-api SELECT API
          section.tab.no-padding(data-tab="none")
            include amount-slider

  div#select-api-modal.ui.small.modal
    div.content
      div.modal-header 
        div.logo-title Select API
        div.close-modal
          i.ion-android-close
      div.modal-content 
        section.list
          div.item 
            div.name TASKS
              i.ion-chevron-down
          div.item
            div.name PROJECTS
              i.ion-chevron-down
          div.item
            div.name CONVERATIONS
              i.ion-chevron-down
          div.item
            div.name ORGANIZATIONS & TERMS
              i.ion-chevron-down
          div.item
            div.name ORGANIZATIONS & TERMS
              i.ion-chevron-down
            
