section.api-percent-global-slider.tab(data-tab="none")
  div.header
    span Set a Developer royalty for 
    img(src="/images/wallet/storecoin-logo.png", alt="#💰")
    span  API's (%)
  div(style="font-size:0.7em; margin-bottom:0.5em;") Earn a % of each transaction
  include percent-slider
