section.api-percent-global-slider.tab(data-tab="none", class=disabled ? 'disabled' : '')
  div.header
    span Set a Developer royalty for all  
    img(src="/images/wallet/storecoin-logo.png", alt="#💰")
    span  payments (%)
  div(style="font-size:0.7em; margin-bottom:0.5em;") Earn a % of each transaction
  include percent-slider
