section.api-percent-global-slider.tab.pulse(data-tab="none", class=disabled ? 'disabled' : '')
  div.header
    span Royalty for $STORE payments 
    = ' '
    span.slide-value
    |  %
  div(style="font-size:0.7em; margin-bottom:0.5em;") Earn a cut of all $STORE transactions inside of your app. 
  include percent-slider
