extends layout-desktop

block content
  div.iphone(style="display:flex; align-items:center; justify-content:center; position: relative; max-width:400px; margin: auto;")
    img(src="/images/wallet/iphone.png", style="width:100%;")
    iframe(src="/wallet/wallet-app", style="position:absolute; height:calc(100% - 219px); width:calc(100% - 30px); top:105px; left:17px;", frameBorder="0")
