extends layout

block content
  
  div.loader
    div.loading-container
      .content.loading      
        div.sp.sp-wave
        div.text Loading...
      .content.complete
        div
          svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
            circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
            path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
        div.text Complete
        button.button.next(style="display:none;") Next
      .content.start
        div.text 
          p As the Developer, you can even earn a royalty for each API call taken. 
          p This is a new revenue stream.
        button.button.next-2 Next
      .content.end
        div.text 
          p There will never be fees when sending or receiving $STORE tokens. 
        button.button.get-started Get Started
        
  div#home-tab
    section#wallet-value
      div.wallet-container
        div.links.nav-links
          a.link(href="javascript:;", data-tab="buy") Buy
          a.link(href="javascript:;", data-tab="sell") Sell
          a.link(href="javascript:;", data-tab="trade") Trade
          a.link(href="javascript:;", data-tab="gift") Gift
        div.value
          div.storecoin-val 
            p.number 139
              span .47001
            p.unit
              img(src="/images/wallet/white-storecoin.png")
              | storecoin
          div.est-val Estimated Value:  
            span.green $183.68
      
    div.feeds-tab-items
      div.item.active(data-tab="#price") Price
      div.item(data-tab="#txns") Txns
      div.item(data-tab="#apps") Apps
          
    div#price.feeds-tab.active.graph-feeds    
      section#wallet-price-span
        p Storecoin Price
        select.ui.fluid.selection.dropdown
          option(value='daily') 1 Day
          option(value='weekly') 1 Week
          option(value='monthly') 1 Month
          option(value='yearly') 1 Year

      section#wallet-graph
        div.price-change
          div.price.green 
            span $
            | 35
            span .58
          div.change
            i.ion-android-arrow-up.green
            | $15.25 (74.03%)
        div.graph-container  
          div.graph
          div.loading
            div.sp.sp-wave
            div.text Loading...
      
      div.feeds
        section.wallet-feed
          img.image(src="/images/wallet/user-1.png")
          div.description
            div.name-val
              p.name Antone Johnson
              p.status RECEIVED
              p.value.green 1.35353
            div.download-time
              img.icon(src="/images/wallet/received-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/rag-kidiyoor.png")
          div.description
            div.name-val
              p.name Rag Kidiyoor
              p.status SPENT
              p.value.red 8.34316
            div.download-time
              img.icon(src="/images/wallet/spent-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/jay-pal.jpeg")
          div.description
            div.name-val
              p.name Jay Pal
              p.status RECEIVED
              p.value.green 2.79185
            div.download-time
              img.icon(src="/images/wallet/received-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/jason-varner.png")
          div.description
            div.name-val
              p.name Jason Varner
              p.status EARNED
              p.value.green 6.41732
            div.download-time
              img.icon(src="/images/wallet/earn-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/user-1.png")
          div.description
            div.name-val
              p.name Antone Johnson
              p.status SOLD
              p.value.red 1.58536
            div.download-time
              img.icon(src="/images/wallet/sell-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed.gift-feed
          img.image(src="/images/wallet/user-3.png")
          div.description
            div.name-val 
              p.name Chris McCoy
              p.status GIFTED
              p.value.green 0.83853
            div.transaction
              a.blue Christina Hayes
              |  gifted you storecoin:
            div.message Enjoyed that post on applied cryptography!
            div.download-time
              img.icon(src="/images/wallet/gift-icon.png")
              div.dot 
                i.ion-record
              p.time just now
      div.page-loading
        .content
          div.sp.sp-wave
          div.text Loading...
    
    div#txns.feeds-tab.graph-feeds
      div.feeds
        section.wallet-feed
          img.image(src="/images/wallet/user-1.png")
          div.description
            div.name-val
              p.name Antone Johnson
              p.status RECEIVED
              p.value.green 1.35353
            div.download-time
              img.icon(src="/images/wallet/received-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/rag-kidiyoor.png")
          div.description
            div.name-val
              p.name Rag Kidiyoor
              p.status SPENT
              p.value.red 8.34316
            div.download-time
              img.icon(src="/images/wallet/spent-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/jay-pal.jpeg")
          div.description
            div.name-val
              p.name Jay Pal
              p.status RECEIVED
              p.value.green 2.79185
            div.download-time
              img.icon(src="/images/wallet/received-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/jason-varner.png")
          div.description
            div.name-val
              p.name Jason Varner
              p.status EARNED
              p.value.green 6.41732
            div.download-time
              img.icon(src="/images/wallet/earn-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed
          img.image(src="/images/wallet/user-1.png")
          div.description
            div.name-val
              p.name Antone Johnson
              p.status SOLD
              p.value.red 1.58536
            div.download-time
              img.icon(src="/images/wallet/sell-icon.png")
              div.dot 
                i.ion-record
              p.time Today, 12:08 PM
        section.wallet-feed.gift-feed
          img.image(src="/images/wallet/user-3.png")
          div.description
            div.name-val 
              p.name Chris McCoy
              p.status GIFTED
              p.value.green 0.83853
            div.transaction
              a.blue Christina Hayes
              |  gifted you storecoin:
            div.message Enjoyed that post on applied cryptography!
            div.download-time
              img.icon(src="/images/wallet/gift-icon.png")
              div.dot 
                i.ion-record
              p.time just now
      div.page-loading
        .content
          div.sp.sp-wave
          div.text Loading...
        
    div#apps.feeds-tab
      section.item-app
        .image
          img(src='/images/wallet/calender-icon.png')
        .title
          div
            b Easy Schedule
          div.meta Project Management 
        div.button.small.icon.open-process(data-process="api-process", data-app="easy-schedule")
          i.ion-gear-a
          //- .right.menu
          //-   a.item.open-process(data-process="incentive-process", data-app="easy-schedule") Set Incentives
          //-   a.item.open-process(data-process="api-process", data-app="easy-schedule") Send API calls to Storecoin
      section.item-app
        .image
          img(src='/images/wallet/social-media-logo-v2.png')
        .title
          div
            b Smart Analytics
          div.meta Social Media Analytics 
        div.button.small.icon.open-process(data-process="api-process", data-app="smart-analytics")
          i.ion-gear-a    
          //- .right.menu
          //-   a.item.open-process(data-process="incentive-process", data-app="smart-analytics") Set Incentives
          //-   a.item.open-process(data-process="api-process", data-app="smart-analytics") Send API calls to Storecoin
            
  div#transaction-tab
    include sub-nav
    
    div#wallet-tabs
      div.tab(data-tab="buy")
        div.content
          section#wallet-pay-method
            div.header PAYMENT METHOD
            .ui.fluid.selection.dropdown
              input(type='hidden', name='user')
              i.dropdown.icon
              .default.text
                div.bank-info
                  div.name Wells Fargo - Bank
                  div.status Checking • ******2089
              .menu
                .item(data-value='Wells Fargo - Bank ******2089')
                  div.bank-info
                    div.name Wells Fargo - Bank
                    div.status Checking • ******3746
                .item(data-value='Colorado - Bank ******2089')
                  div.bank-info
                    div.name Colorado - Bank
                    div.status Checking • ******9827
                .item(data-value='California - Bank ******2089')
                  div.bank-info
                    div.name California - Bank
                    div.status Checking • ******5783

          section#wallet-amount
            div.header AMOUNT
            include amount-slider
            div.repeat-check
              div.repeat
                input#repeatField(type='checkbox')
                label.label-inline(for='repeatField') Repeat this buy
              div.repeat-time
                select.ui.fluid.selection.dropdown
                  option(value='') Weekly
                  option(value='2') Weekly
                  option(value='1') Monthly
                  option(value='0') Yearly

        div.button-container
          div.wallet-button.open-transaction
            button(data-modal="buy-modal") Buy storecoin
      
      div.tab(data-tab="sell")
        div.content
          section#wallet-pay-method
            div.header DEPOSIT TO
            .ui.fluid.selection.dropdown
              input(type='hidden', name='user')
              i.dropdown.icon
              .default.text
                div.bank-info
                  div.name Wells Fargo - Bank
                  div.status Checking • ******2089
              .menu
                .item(data-value='Wells Fargo - Bank ******2089')
                  div.bank-info
                    div.name Wells Fargo - Bank
                    div.status Checking • ******3746
                .item(data-value='Colorado - Bank ******2089')
                  div.bank-info
                    div.name Colorado - Bank
                    div.status Checking • ******9827
                .item(data-value='California - Bank ******2089')
                  div.bank-info
                    div.name California - Bank
                    div.status Checking • ******5783

          section#wallet-amount
            div.header AMOUNT
            include amount-slider
            div.repeat-check
              div.repeat
                input#repeatField(type='checkbox')
                label.label-inline(for='repeatField') Repeat this sell
              div.repeat-time
                select.ui.fluid.selection.dropdown
                  option(value='') Weekly
                  option(value='2') Weekly
                  option(value='1') Monthly
                  option(value='0') Yearly
                
        div.button-container
          div.wallet-button.open-transaction
            button(data-modal="sell-modal") Sell storecoin
            
      div.tab(data-tab="trade")
        div.content
          section.gen-order 
            div.header GENERATE AN ORDER
            div.sell-buy
              div.selling
                div.head Selling
                a.btn 
                  img(src="/images/wallet/storecoin-logo.png")
                  div.price
                    span
                      b Storecoin
                    span @ $35.58
              div.exchange
                img(src="/images/wallet/exchange-icon.png")
              div.buying
                div.head Buying
                a.btn 
                  img(src="/images/wallet/ethereum-logo.png")
                  div.price
                    span
                      b Ethereum
                    span @ $369.64  
          section#trade-amount(style="border-bottom: 1px solid #eaeaea;")
            div.amount-slider
              div.amounts
                p 0.00001
                p 
                  img(src="/images/wallet/black-storecoin.png")
                  span 139.47001
              div.slider
              div.conversion
                p.storecoin-val.orange
                  img(src="/images/wallet/orange-storecoin.png")
                  span 33.83535
                img.exchange(src="/images/wallet/exchange-icon.png")
                p.dollar-val.green
                  span ETH 
                  span 29.95
          section
            div.header EXPIRATION
            div.select-exp
              div#date-picker.exp-picker
                div.icon
                  i.ion-calendar
                input
              div#time-picker.exp-picker
                div.icon
                  i.ion-clock
                input
            div.header TAKER
            div.wallet-selection
              .ui.fluid.search.selection.dropdown
                input(type='hidden', name='user')
                i.dropdown.icon
                .default.text Add by searching names
                .menu
                  .item(data-value='Marion Diaz')
                    img.ui.mini.avatar.image(src='/images/wallet/user-1.png')
                    |       Marion Diaz
                  .item(data-value='Danny Fortune')
                    img.ui.mini.avatar.image(src='/images/wallet/user-2.png')
                    |       Danny Fortune
                  .item(data-value='Chris McCoy')
                    img.ui.mini.avatar.image(src='/images/wallet/user-3.png')
                    |       Chris McCoy
                  .item(data-value='Chanses Armstrong')
                    img.ui.mini.avatar.image(src='/images/wallet/user-4.png')
                    |       Chanses Armstrong
                  .item(data-value='Chirstina Hayes')
                    img.ui.mini.avatar.image(src='/images/wallet/user-5.png')
                    |       Chirstina Hayes
            div.header ORDER HASH
            input(value="0x5lkjadia4udas8ducx9909df8")
          
        div.button-container
          div.wallet-button.open-transaction
            button Trade storecoin
      
      div.tab(data-tab="gift")
        div.content
          section#wallet-amount(style="border-bottom: 1px solid #eaeaea;")
            include amount-slider
          
          section(style="border:none;")
            div.send-gift-to.wallet-selection
              div.header SEND A GIFT TO
              .ui.fluid.search.selection.dropdown
                input(type='hidden', name='user')
                i.dropdown.icon
                .default.text Add by searching names
                .menu
                  .item(data-value='Marion Diaz')
                    img.ui.mini.avatar.image(src='/images/wallet/user-1.png')
                    |       Marion Diaz
                  .item(data-value='Danny Fortune')
                    img.ui.mini.avatar.image(src='/images/wallet/user-2.png')
                    |       Danny Fortune
                  .item(data-value='Chris McCoy')
                    img.ui.mini.avatar.image(src='/images/wallet/user-3.png')
                    |       Chris McCoy
                  .item(data-value='Chanses Armstrong')
                    img.ui.mini.avatar.image(src='/images/wallet/user-4.png')
                    |       Chanses Armstrong
                  .item(data-value='Chirstina Hayes')
                    img.ui.mini.avatar.image(src='/images/wallet/user-5.png')
                    |       Chirstina Hayes
            div.send-email
              div.header.blue Send by email
              div.textarea-count
                textarea.gift-textarea(maxlength="250")
                div.count 
                  span 0
                  span /250 
        
        div.button-container
          div#gift-button.wallet-button
            button Gift Storecoin
    
  div#notification-window
    div.options
      select.ui.fluid.selection.dropdown
        option(value='') Sort
        option(value='1 month') A - Z
        option(value='6 months') Z - A
      a.blue(style="font-size: 0.8em;") Mark all as read
      a.blue.settings
        i.ion-ios-gear
    div.notification-feeds
      section.wallet-feed
        img.image(src="/images/wallet/printbot-icon.png")
        div.description
          div.name-val 
            div.name.bold Printbot
            div.status BOT
          div.transaction
            a.blue Christina Hayes
            |  gifted you
            span.black.storecoin-val  0.85858 
            span.black storecoin:
          div.message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          div.download-time
            img(src="/images/wallet/black-storecoin.png")
            div.dot 
              i.ion-record
            p.time Today, 12:08:PM
            div.dot
              i.ion-record
            p.time Crossfit
      
  //- processes
  
  div#api-process.process-window
    div.process-head
      div.header
        div.back
          i.ion-chevron-left 
        span Setup API Calls
      section.item-app
        .image
          img(src='/images/wallet/calender-icon.png')
        .title
          div
            b Easy Schedule
          div.meta Project Management 
                
    div.process-step.step-1.show
      div.process-back 
        i.ion-chevron-left 
      
      section.pulse
        div.head Choose the API Calls to be Incentivized
        div.check-list
          div.item
            div.name User / invite
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name User / signup
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name User / onboardingComplete
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name User / settings
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name Event / create
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name Event / edit
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name Event / invite
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name Event / inviteAccepted
            div.check 
              i.ion-checkmark-circled
          div.item
            div.name Event / archived
            div.check 
              i.ion-checkmark-circled
                
      include process-window-summary
                
      div.proceed.next.wallet-button(data-step="step-2")
        button Next
      div.proceed.open-process.wallet-button
        button Save
                
    div.process-step.step-2
      div.process-back.open-process(data-process="api-process", data-step="step-1") 
        i.ion-chevron-left        
      
      section
        div.head Name your API Calls
        form.api-form
          div.fields
            //- div.input-field
            //-   label User sign up
            //-   input(type="text", placeholder="Enter name here")
            //- div.input-field
            //-   label User successfully onboards
            //-   input(type="text", placeholder="Enter name here")
          input(type="submit", style="display:none;")
            
      include process-window-summary 
            
      div.proceed.publish.wallet-button(data-message="Beaming your APIs up to the Storecoin public blockchain...", data-success="<p>You can now automatically reward users $STORE tokens for taking key actions in your app.</p>", data-loaddelay="5000", data-successdelay="5000", data-key="api-publish")
        button Publish API Calls
      div.proceed.open-process.wallet-button
        button Save
              
  div#incentive-process.process-window
    div.process-head
      div.header
        div.back
          i.ion-chevron-left 
        span Set-up Incentives
      section.item-app
        .image
          img(src='/images/wallet/calender-icon.png')
        .title
          div
            b Easy Schedule
          div.meta Project Management 
        
    div.process-step.step-1.show
      div.process-back.open-process(data-process="api-process", data-step="step-2") 
        i.ion-chevron-left 
      
      include total-balance
          
      include total-budget
      
      include process-window-summary

      div.proceed.next.wallet-button(data-step="step-2")
        button Next
      div.proceed.open-process.wallet-button
        button Save
        
    
    div.process-step.step-2
      div.process-back.open-process(data-process="incentive-process", data-step="step-1") 
        i.ion-chevron-left 
      
      - var isPercentSlider = false
      include api-slider
      
      include process-window-summary
      
      div.proceed.next.wallet-button(data-step="step-3")
        button Next
      div.proceed.open-process.wallet-button
        button Save
    
    div.process-step.step-3  
      div.process-back.open-process(data-process="incentive-process", data-step="step-2") 
        i.ion-chevron-left         
      
      include global-percent-slider
      
      include process-window-summary
      
      div.proceed.next.wallet-button(data-step="step-4")
        button Next
      div.proceed.open-process.wallet-button
        button Save
    
    
    div.process-step.step-4
      div.process-back.open-process(data-process="incentive-process", data-step="step-3") 
        i.ion-chevron-left
           
      section.api-royalty
        //- div.header Set budget for API calls
        div.header Customize your Royalty for $STORE payments
        div.api-list
      
      - var disabled = true;    
      include global-percent-slider
      
      include process-window-summary
      
      div.proceed.publish.wallet-button(data-message="Publishing your incentivized API calls and your Developer royalties to the Storecoin public blockchain...", data-loaddelay="7000")
        button Finish 
      div.proceed.open-process.wallet-button
        button Save 
            
  div#summary-process.process-window
    div.process-head
      div.header 
        div.back
          i.ion-chevron-left
        span Easy Schedule
        
      section.item-app
        .image
          img(src='/images/wallet/calender-icon.png')
        .title
          div
            b Easy Schedule
          div.meta Project Management 
        
    div.process-step.step-1
      section.summary-item.api-selected
        div.stats 
          div.head APIs selected
          div.value 
            span.gained 1
            span.out-of /9
        div.edit
          div.button.small.icon.open-process(data-process="api-process")
            i.ion-edit
              
      section.summary-item.budget-allocated
        div.stats 
          div.head Budget Allocated
          div.value 
            div.sc-unit
              span $STORE
              //-img(src="/images/wallet/storecoin-logo.png")
            div.sc-val 0.0001
        div.edit
          div.button.small.icon.open-process(data-process="incentive-process")
            i.ion-edit
              
      section.summary-item.budget-spent
        div.stats 
          div.head Budget Spent
          div.value 
            div.sc-unit
              span $STORE
              //-img(src="/images/wallet/storecoin-logo.png")
            div.sc-val 0.015
        //- div.edit
        //-   div.button.small.icon
        //-     i.ion-edit
              
      section.summary-item.dev-royalty
        div.stats 
          div.head Developer Royalty
          div.value 0.0001%
        div.edit
          div.button.small.icon.open-process(data-process="incentive-process", data-step="step-3")
            i.ion-edit

      div.proceed.next.wallet-button(data-step="step-2")
        button Dashboard View 
        
    div.process-step.step-2
      include total-balance
      include total-budget
      include global-percent-slider
      - isPercentSlider = true
      include api-slider
      div.proceed.next.wallet-button(data-step="step-1")
        button Itemized View 
  
  div.confirm-transact.ui.small.modal(data-modal="buy-modal")
    div.content 
      div.modal-header 
        div.logo-title
          img(src="/images/wallet/footprint-logo.png")
          | Confirm Buy
        div.close-modal
          i.ion-android-close
      div.modal-content
        section.buying-info
          div.bold You are buying
          div.buy-amount
            img(src="/images/wallet/storecoin-logo.png")
            div.green.line-height-1.storecoin-val 0.0279
          div.per-value @ $35.85 per storecoin
        section.pay-info
          div.icons
            if (name == 'Buy')
              img(src="/images/wallet/payment-buy-icons.png")
            else 
              img(src="/images/wallet/payment-sell-icons.png")
          div.info
            div.item
              div.item-head Payment Method
              div.item-info.bold.bank-info Wells Fargo - Bank ******2089
            hr
            div.item
              div.item-head Available
              div.item-info.bold 
               | Saturday, 6/24/2017
               a(href="#") Why?
            hr
            div.item
              div.item-head Deposit to
              div.item-info.bold 
                | Storecoin
                a(href="#") Change            
        section.cost-info
          div.item 
            div Cost of Storecoin
            div.bold $1.00
            hr
          div.item 
            div Transaction Fee
            div.bold $0.30
            hr
          div.item 
            div Total
            div.bold $1.30
            hr
        section.confirmation
          div.bold Confirm Your Transaction
          div Review all the details and confirm your transaction below.
      div.model-btn-grp
        a.red.close-modal(href="#") Cancel
        div.divider
        a.green.confirm-button(href="#") Buy Storecoin
  
  div.confirm-transact.ui.small.modal(data-modal="sell-modal")
    div.content 
      div.modal-header 
        div.logo-title
          img(src="/images/wallet/footprint-logo.png")
          | Confirm Sell
        div.close-modal
          i.ion-android-close
      div.modal-content
        section.buying-info
          div.bold You are selling
          div.buy-amount
            img(src="/images/wallet/storecoin-logo.png")
            div.green.line-height-1.storecoin-val 0.0279
          div.per-value @ $35.85 per storecoin
        section.pay-info
          div.icons
            if (name == 'Buy')
              img(src="/images/wallet/payment-buy-icons.png")
            else 
              img(src="/images/wallet/payment-sell-icons.png")
          div.info
            div.item
              div.item-head Deposit to
              div.item-info.bold 
                | Storecoin  
            hr
            div.item
              div.item-head Available
              div.item-info.bold 
               | Saturday, 6/24/2017
               a(href="#") Why?
            hr
            div.item
              div.item-head Payment Method
              div.item-info.bold.bank-info Wells Fargo - Bank ******2089           
        section.cost-info
          div.item 
            div Proceeds From Sale
            div.bold $2.00
            hr
          div.item 
            div Transaction Fee
            div.bold $0.30
            hr
          div.item 
            div Total
            div.bold $1.70
            hr
        section.confirmation
          div.bold Confirm Your Transaction
          div Review all the details and confirm your transaction below.
      div.model-btn-grp
        a.red.close-modal(href="#") Cancel
        div.divider
        a.green.confirm-button(href="#") Sell Storecoin    
      
  div#select-coin-modal.ui.small.modal
    div.content
      div.modal-header 
        div.logo-title Select a Token to Trade for
        div.close-modal
          i.ion-android-close
      div.modal-content 
        section.list
          a.item(data-img="/images/wallet/ethereum-logo.png", data-name="Ethereum", data-key="eth")
            img(src="/images/wallet/ethereum-logo.png")
            p Ethereum
          a.item(data-img="/images/wallet/bitcoin-logo.png", data-name="Bitcoin", data-key="btc") 
            img(src="/images/wallet/bitcoin-logo.png")
            p Bitcoin
          a.item(data-img="/images/wallet/ripple-logo.png", data-name="Ripple", data-key="xrp")
            img(src="/images/wallet/ripple-logo.png")
            p Ripple
          a.item(data-img="/images/wallet/litecoin-logo.png", data-name="Litecoin", data-key="ltc")
            img(src="/images/wallet/litecoin-logo.png")
            p Litecoin
            
  div#api-confirm-modal.ui.small.modal
    div.content
      div.modal-header 
        div.logo-title Confirm
        div.close-modal
          i.ion-android-close
      div.modal-content
        section
          div.offer-text Based upon your budget $
            b
              span.budget-val 
            | , your royalty % of 
            b 
              span.royalty-val
            | , here's your offer:
        section
          table
            thead
              tr
                th 
                th Unit
                th Per Day
                th Total
            tbody
              tr
                td Revenue
                td 10
                td 90
                td 900
              tr
                td Royalty
                td 25
                td 20
                td 500
        section
          div.button-group
            a.close-modal Re-adjust
            button.button.accept I Accept
