extends layout-desktop

block content
  div.iphone
    img(src="/images/wallet/iphone.png")
    iframe(src="/wallet/wallet-app", frameBorder="0")
  div(style="display:flex; align-items:center; justify-content:center;")
    a(href="/api", target="_blank", style="color: white; padding: 1em; background: #50b46d; margin: 0 auto; cursor: pointer; text-decoration:none;") See Paid API Calls
