div.amount-slider
  div.amounts
    p.start 0.00001%
    p.end 99%
  div.slider
  div.conversion
    p.storecoin-val.orange
      span.value 33.83535
      span %
    img.exchange(src="/images/wallet/exchange-icon.png", style="display:none")
    p.dollar-val.green(style="display:none")
      span $
      span 29.95
