div.process-summary
  div.summary-head SUMMARY
  section.summary-item.api-selected
    div.stats 
      div.head APIs selected
      div.value 
        span.gained 0
        span.out-of /9
    div.edit
      div.button.small.icon.open-process(data-process="api-process")
        i.ion-edit
          
  section.summary-item.budget-allocated
    div.stats 
      div.head Budget Allocated
        b  $STORE
      div.value 
        div.sc-val 0.0001
    div.edit
      div.button.small.icon.open-process(data-process="incentive-process")
        i.ion-edit
          
  section.summary-item.dev-royalty
    div.stats 
      div.head Developer Royalty
      div.value 0.0001%
    div.edit
      div.button.small.icon.open-process(data-process="incentive-process", data-step="step-3")
        i.ion-edit
