nav#wallet-sub-nav
  div.price-logo
    img.logo(src="/images/wallet/storecoin-logo.png")
    div.price.green 
      span $
      | 35
      span .58
  div.links.nav-links
    a.link.active(data-tab="buy") Buy
    a.link(data-tab="sell") Sell
    a.link(data-tab="trade") Trade
    a.link(data-tab="gift") Gift
