section.total-balance
  div.balance
    div Storecoin Balance:
    div.logo-amount
      img.logo(src="/images/wallet/storecoin-logo.png")
      div.amount.green 139.470001
  div.buy
    button.button.small Buy
