section.api-budget-app-slider.tab(data-tab="none")
  //- div.header Total #💰 budget for incentivized API calls
  div.header Total 
    img.logo(src="/images/wallet/storecoin-logo.png")
    |  budget to incentivize API calls
  include amount-slider
