section.api-budget-app-slider.tab.pulse(data-tab="none")
  //- div.header Total #💰 budget for incentivized API calls
  div.header Total $STORE budget to incentivize your API calls
    span.slide-value
    img.logo(src="/images/wallet/storecoin-logo.png")
  include amount-slider
