section.api-budget-app-slider.tab(data-tab="none")
  //- div.header Total #💰 budget for incentivized API calls
  div.header Total budget for incentivized API calls
    img.logo(src="/images/wallet/storecoin-logo.png")
  include amount-slider
