#hc-promo.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title About our First ICO
    .sales-terms
      .row
        .four.columns.points
          div
            h5 About The First ICO
            ul
              li By Invite-only
              li The First ICO funds extensive R&D cycles
              li 30 Million storecoins will be sold
              li This represents 3% of Storecoin Tokens
              li $0.005 cost per storecoin Token
              li This values the Storecoin Network at $5 Million.
              li Minimum Token buy amount is $2,500 USD.
              li Tokens are issued by Storecoin, Inc. a Delaware C-Corp.
              li Read our First ICO Terms and Agreement 
                a(href="/terms", target="_blank") here
                
        .four.columns.points
          div
            h5 How the First ICO Works
            ul
              li We’ll accept Bitcoin, Ethereum, and/or USD in exchange for storecoins.
              li Before receiving payment information from StoreCoin, Inc., invited
                 | buyers will e-sign our Token Sale Terms and Agreement.
              li Tokens will be transferred six weeks after our Second Token Sale
                 | which is scheduled for Q417-Q118.
              li At first, Storecoin will issue ERC20 tokens
              li In the future, these ERC20 tokens may be be transferred into
                 | storecoin tokens issued from the Storecoin blockchain -- at no extra
                 | cost to the token buyer.
                 
        .four.columns.points
          div
            h5 Future ICOs
            ul
              li Over time, Storecoin will sell 33% of its tokens to the public (330 Million).
              li Storecoin will make additional tokens available only as Technology
                 | and Adoption milestones are achieved.
              li Future StoreCoin ICOs will be priced and sold using a Vickrey auction
                 | -- a similar auction-based method used by Google to sell ads.
              li Storecoin may offer up to 10 individual ICOs over the course of 10 years.
              li Token Owners will be the first to know about Future ICO buy opportunities.
