#hc-promo.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title About our First ICO
    .sales-terms
      .row
        .four.columns.points
          div
            h5 About The First Token Sale
            ul
              li By Invite-only
              li 50 Million storecoins will be sold
              li This represents 5% of Storecoin Tokens
              li $0.005 cost per storecoin Token
              li Network Value of Storecoin is $5 Million
              li Minimum Token buy is $2,500 USD
              li Token Sale cap is $250,000
              li Tokens are issued by Storecoin, Inc. a Delaware C-Corp
                
        .four.columns.points
          div
            h5 How It Works
            ul
              li We’ll accept Bitcoin, Ethereum, and/or USD in exchange for storecoins
              li Before receiving payment information from StoreCoin, Inc., invited buyers will e-sign the
                 | Storecoin Token Sale Terms and Agreement
              li Tokens will be transferred six weeks after our Second Token Sale which is scheduled for
                 | Q417-Q118
              li Storecoin will issue ERC20 tokens
              li In the future, these ERC20 tokens may be be transferred into storecoin tokens issued from the
                 | Storecoin blockchain or tokens from another blockchain such as EOS
                 
        .four.columns.points
          div
            h5 Future Token Sales
            ul
              li Over time, Storecoin will sell 33% of its tokens to the public (330 Million)
              li Storecoin may offer up to 10 individual Token Sales over the course of 10 years
              li Storecoin will make additional tokens available only as Technology and Adoption milestones
                 | are achieved
              li We believe in aligning our ability to execute milestones with public permission to sell tokens
              li Future StoreCoin Token Sales will be priced and sold using a Vickrey auction -- a similar
                 | auction-based method used by Google AdWords
              li Through Email, previous Storecoin Token Buyers will be the first to know about future Token 
