#about-second-token-sale.hc-feature.over-rel.padding.see-more-reveal
  .hc-chunk.hc-customize-text-wrapper
    h2.hc-feature-title About our Second Token Sale
    ul(style="list-style:disc;")
      li We will have up to 6 token sales, all milestone-based
      li Our Second Token Sale is for $1 Million
      li It’s invite-only
      li 33% is committed
      li Request an invite at 
        a.orange-color(href="http://www.storeco.in", target="_blank") www.storeco.in
      li Invites will be sent starting in late December 2017
      li The network value on the Second Token Sale is $33 Million
      li The price per token is $0.0333
      li The token buy minimum is $5k, the maximum is $333k
      li Tokens can be purchased with USD Wire transfer, USD Check, Bitcoin, and/or Ethereum
      li The Second Token Sale ends once $1 Million is sold
      li Our third, invite-only Token Sale will begin in late Q2 2018
      li We’ll conduct a public ICO once we’ve achieved the necessary technology and security milestones that ensure we can deliver a thousand+ year blockchain protocol
      li We'll list Storecoin on exchanges after the public ICO
