#hc-promo.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title About our First Token Sale
    .sales-terms
      .row
        .four.columns.points
          div
            h5 General Info
            ul
              li By Invite-only
              li 60 Million storecoins will be sold
              li This represents 6% of Storecoin Tokens
              li $0.005 cost per storecoin Token
              li Network Value of Storecoin is $5 Million
              li Minimum Token buy is $2,500 USD
              li Token Sale cap is $300,000
              li Tokens are issued by Storecoin, Inc. a Delaware C-Corp
              li Storecoin tokens are not a security. They are an access token to future services, products, and decentralized applications powered by the Storecoin blockchain.
                
        .four.columns.points
          div
            h5 How It Works
            ul
              li We’ll accept Bitcoin, Ethereum, and/or USD in exchange for storecoins
              li Before receiving payment information from Storecoin, Inc., invited buyers will be required to e-sign the Storecoin Token Sale Terms and Agreement
              li Storecoin tokens will be released as early as 2018 and as late as 2019 
              li Storecoin will issue buyers ERC20 tokens, tokens from the Storecoin blockchain, or tokens from another blockchain such as EOS
              li Token release schedule will be announced after the Second Token Sale (Q417)
                 
        .four.columns.points
          div
            h5 Future Token Sales
            ul
              li Over time, Storecoin will sell 33% of tokens to the public (330 Million)
              li Storecoin may offer up to six individual Token Sales over the course of 6 years
              li Storecoin will make additional tokens available only as Technology and Adoption milestones are achieved
              //- li We believe in aligning our ability to execute milestones with public permission to sell tokens
              li Future Storecoin Token Sales will be priced and sold using market-based auction formats
              //- li Through Email, previous Storecoin Token Buyers will be the first to know about future Token 
              li Storecoin Token Buyers will be the first to know about all future Token Sales
