extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      #accredited.hc-feature.over-rel.padding.left-align
        .hc-chunk.hc-intro-text-wrapper
          h3.hc-feature-title Accredited Investor
          p.hc-feature-lead An accredited investor includes:
          ol(style="list-style: lower-alpha; margin-left:1em;")
            li 
              b Any person that:
              ul
                li Earned income that exceeded $200,000 (or $300,000 together with a spouse) in each of the prior two years, and reasonably expects the same for the current year. This may include income from cryptocurrency.
                p(style="text-align:center;")
                  b OR
                li Has a net worth over $1 million, either alone or together with a spouse (excluding the value of the person’s primary residence). This may includes ownership of cryptocurrency, including not yet released ICOs and token projects.
            li 
              b Any entity such as banks, partnerships, corporations, nonprofits and trusts who:
              ul
                li Has total assets in excess of $5 million but were not formed to specifically for the purchase of the subject securities. This includes ownership of cryptocurrency.
                p(style="text-align:center;")
                  b OR
                li Any entity in which all of the equity owners are accredited investors. This includes ownership of cryptocurrency.
    
