.hc-feature.over-rel.padding.left-align.inverted
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title(style="text-align:left;") What apps can benefit from crypto-powered API calls?
    p.hc-feature-lead Nearly every app will be able to grow their user base faster, accelerate the adoption of key user actions, and potentially introduce new business models by rewarding users with Storecoin crypto tokens.
    //- p.hc-feature-lead Where Storecoin will get adoption:
    ul
      li Apps where sign up is a key user action
      li Apps where successful onboarding is a key user action 
      li Apps where inviting other users is key to user growth
      li Apps with a need for micropayments
      li Enterprise apps solving specific use cases like scheduling and e-signatures
      li User-generated content and editing sites
      li Consumer social networks
      li Enterprise messaging apps
      li Enterprise ERP systems 
