#hc-apps.hc-feature.inverted.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.inverted What apps can be built with Storecoin?
    p.hc-feature-lead
      | With	the	storecoin cryptocurrency	and	Developer	API,	new	behaviors,	business	models,	and	zero	transaction	costs	can	be	introduced	into	hierarchybased systems.
    ul
      li Point	of	sale	systems
      li E-commerce	systems
      li Smart	scheduling	apps
      li Invoicing	workflows
      li Payroll
      li Revenue	sharing	arrangements
      li Supply	chain	contracts
      li Last	mile	delivery	network	APIs
      li Loyalty	systems
      li Drone	delivery	systems
      li New	advertising	models
      li New	commerce	models
      li Monetized	communication	from	HQ	to	Locations 
