#blockfin-principles.hc-feature.over-rel.padding.inverted
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title The 5 Principles of BlockFin
    p.hc-feature-lead Blockfin enables both true decentralization and high-throughput to exist in a public blockchain without the need for level 2 scaling (sharding), off-chain transactions, etc.
    div.principles-list
      div.item
        div.head
          b 
            span.orange-color 1
            |  Fork tolerant
        div.text Blocks are assembled in parallel because chain forks are not an issue. This results in high-throughput.
        
      div.item
        div.head
          b 
            span.orange-color 2
            |  Auditable
        div.text Every read/write request is recorded with the accessor's signature, so all operations are auditable.
        
      div.item
        div.head
          b 
            span.orange-color 3
            |  Leaderless
        div.text All validators participate in consensus – and are rewarded for it – resulting in a non-zero sum consensus.
        
      div.item
        div.head
          b 
            span.orange-color 4
            |  Decentralized
        div.text Leaderless participation results in true decentralization as participants earn rewards for 100% of their work.
        
      div.item
        div.head
          b 
            span.orange-color 5
            |  High-Throughput
        div.text Fork tolerance alleviates the need for a globally serialized process of new blocks. This improves throughput.
