#hc-medium-blog.hc-feature.over-rel.padding
  .hc-chunk

    h2.hc-feature-title Storecoin News
            
    each blog in blogs
      if !blog.hidden
        - var blogTitle = (blog.twtitle) ? blog.twtitle : blog.title;
        - var encodedTitle = encodeURI(blogTitle)
        - var encodedUrl = encodeURI(url+'/'+blog.slug)
        div.card
          a(href=(blog.template) ? "/blog/"+blog.slug : blog.slug, target="_blank")
            div.post
              h3=blog.title
              img(src='/images/empty.png', data-src=blog.img, style=(blog.maxwidth) ? 'max-width:'+blog.maxwidth+';': '')
          hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
          div.card-footer
            if blog.template
              div.blog-share.fixed
                a(target="_blank", href="https://twitter.com/intent/tweet?text="+encodedTitle+"&url="+encodedUrl+"&via=storecoin")
                  b
                    i.ion-social-twitter-outline
                a(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u="+encodedUrl+"&title="+encodedTitle)
                  b
                    i.ion-social-facebook-outline
            if blog.logo
              img(src='/images/empty.png', data-src=blog.logo)
            p=blog.date
