extends blog-wrapper

block blog-news 
  p He transformed the way American presidents communicate with their citizens. Now, Storecoin is turning to 
    a(href="https://twitter.com/natelubin?lang=en", target="_blank") Nathaniel Lubin
    |  to do the same for its fee-free public blockchain.

  .hc-image
    img(src='/images/empty.png', data-src="/images/blog/blog-hires-lubin-1.png", style="max-width: 400px;")

  p Lubin has signed on to work with Storecoin on its marketing and communications efforts, said creator 
    a(href="https://twitter.com/chrisamccoy?lang=en", target="_blank") Chris McCoy
    | .
    
  p “Nate is one of the sharpest thinkers and operators I know. Storecoin is entering a global, complex space and we need to be clear in how we communicate Dynamic Proof of Stake to the blockchain industry. There isn’t another person on the planet I’d rather work with on this than Nate Lubin.” McCoy said.

  p From 2013 to 2015, Lubin was director of the Office of Digital Strategy in President Barack Obama’s White House. He pioneered the use of social media, especially Twitter and Facebook, to distribute the president’s message to new audiences, especially young people.

  p “Storecoin is pushing the envelope of infrastructure supporting financial transactions. I’m excited to see how Chris and the team move forward and am excited to help them,” Lubin said.

  p After leaving the White House, he founded a boutique agency, Lubin Strategies LLC, consulting with startups, advocacy organizations and major corporations, in the areas of strategic positioning, marketing and engagement, analytics, and management with a digital/tech focus.

  p Lubin, 30, is a pioneer in digital communications, recognizing early on the value of social media as a viable alternative vehicle for the Obama administration to disseminate important policy news. He began working with the first Obama presidential campaign in 2008, while an undergrad at Harvard. He directed digital marketing for the Obama for America campaign in 2012 and was digital director of the second Obama inauguration.

  p 
    a(href="http://storeco.in/", target="_blank") Storecoin
    | , a new public blockchain with a governance similar to the checks and balances of the U.S. Constitution and dynamic economics similar to ride-sharing companies like Uber, will power 
    b free transactions
    |  for users and app developers using its Dynamic Proof of Stake consensus (DyPoS).
    
  p McCoy said the company is eager to partner with a visionary communicator and digital marketer with Nate Lubin’s experience in the technology and startup environment.
