extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Blog

    #hc-medium-blog.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Latest
        div.card
          a(href="https://medium.com/@team_27494", target="_blank")
            div.writer
              img(src="images/storecoin-team.png")
              div.info
                p.name Storecoin team
                p.date Aug 1
            div.post
              h3 Introducing Storecoin
              p Hello world, it’s August 1st and we’re ready to innovate.
              p Learn more at 
                a http://storeco.in.
              img(src="images/storecoin-screen.png")

    include email-widget
