extends blog-wrapper

block blog-news 
  p A software engineer who has built a career studying online privacy and cryptocurrency architectures has joined 
    a(href="http://storecointeam/", target="_blank") @StorecoinTeam
    |  as technology advisor.

  .hc-image
    img(src='/images/empty.png', data-src="/images/noah-ruderman.png", style="max-width: 400px;")
  p.caption Noah Ruderman is a software engineer for Facebook and one of Storecoin’s newest advisors.

  p 
    a(href="https://twitter.com/devilscompiler", target="_blank") Noah Ruderman
    |  describes himself as a problem-solver. A former physics student who studied at Brandeis, Tufts University and the University of California at Berkeley, Ruderman is employed by tech giant Facebook.

  p “Noah is one of the sharpest and most thoughtful thinkers — in the world — on blockchain security, engineering, and economics. We’re lucky to work with him,” said Storecoin creator 
    a(href="https://twitter.com/chrisamccoy?lang=en", target="_blank") Chris McCoy
    | .
  
  p 
    a(href="http://storeco.in/", target="_blank") Storecoin
    |  is a new public blockchain with a governance similar to the checks and balances of the U.S. Constitution and dynamic economics similar to ride-sharing companies like Uber.

  p “Some of the properties that this platform will possess are first of its kind, like governance with checks and balances,” Ruderman said. “The design and parameters are being determined by ongoing research and existing research that is taking these choices from a ‘sounds reasonable’ perspective to ‘this can be empirically justified.’ “

  p Ruderman said he is helping the Storecoin Team design a platform with important properties such as flexibility, scalability, decentralization and absence of transaction fees.

  p Storecoin is currently involved in Research and Development to ensure that it can successfully deliver on these key criteria.
