extends blog-wrapper

block blog-news        
  
  p When Storecoin creator Chris McCoy began working on his vision of a p2p programmable payments system, he promised to “do it right.” That meant linking token sales to milestones attained, publishing the results of research, and developing a network protocol that would ensure decentralization and fee-free transactions.

  p From the beginning, the Storecoin project has been committed to an open dialogue with potential token buyers, app developers, and customers hoping to one day pay for goods and services with a cryptocurrency designed for worldwide acceptance.

  p In a little more than a year, Storecoin anticipates that STORE tokens will be used to transact on the network. By the end of 2019, Storecoin plans to launch its programmable, peer-to-peer currency for global, zero-fee payments. 

  p In the meantime, the Storecoin team wants to empower people all over the world to participate in the Storecoin network.

  p And so, to turn our dedicated followers into a connected community, Storecoin launched its Proof of Community effort in May 2018.
  
  p
    b Highlights

  ul
    li Community members are pioneers in the development of the world’s first blockchain network for fee-free transactions.
    li Storecoin’s goal is 21,000 community members by launch time
    li Community members are eligible to receive Storecoin T-shirts and other advantages
    li Members take an active role in the Storecoin network
    
  .hc-image
    img(src="/images/teecollection.jpg", style="max-width: 550px;")
    
  p
    b How Can You Get Involved?

  p At Storecoin, we want our community to share ideas and information openly, ask us questions and follow developments in the network. 
  
  p Here are some ways to join the conversation with us:
  
  ul
    li Follow our Telegram Supergroup
    li Follow us on Twitter  for general Storecoin news and developer news
    li Like us on Facebook 
    li Check out our website, Storeco.in 
    li Follow us on Instagram 
    li Sign up for our Storecoin Community and DevNotes (technical update) email newsletters
    li Follow our Github page
    
  p You can take an active role in growing the Storecoin Community by retweeting us and sharing Facebook posts, and inviting friends to join Storecoin’s Telegram feed. 

  p This isn’t just a feel-good exercise. Our community really does get involved in the core project. Recently, the Storecoin Community took part in a poll to help choose a newly redesigned logo. Many members are steeped in the history of the project, its mission and messaging, and they took the opportunity to weigh in seriously.
  
  p Now that the community has helped to choose a new primary logo design, the team is looking for help again for a secondary choice. You can weigh in 
    = ' '
    a(href="https://twitter.com/storecoin/status/1015414093895761920", target="_blank") here
    |  and
    = ' '
    a(href="https://twitter.com/storecoin/status/1015414041525678080", target="_blank") here
    | .

  p Anyone in our community can volunteer to peer review Storecoin’s research papers, post video reviews or blog about the team’s activities. Once members earn their Storecoin tee, we encourage them  to post their role in the community in their LinkedIn profiles and a photo on Instagram or Telegraph. As creator Chris McCoy says, “It didn’t happen if there’s no photo.”

  p Interest in the Storecoin Community is growing quickly, with potential members all over the world offering to host meet-ups in their home cities, including London, Adelaide, Hong Kong, Taiwan, Stockholm, Brussels, Jakarta and Kiev. In six months, Storecoin’s Telegram Supergroup has attracted more than 1,300 members, with more joining every day.
  
  p
    b Membership has its privileges
    
  p We want to make sure our community members feel appreciated. So everyone who fills out our Proof of Community 
    = ' '
    a(href="https://docs.google.com/forms/d/e/1FAIpQLSem3e0msywn0ZQyCU5ZW8zcmovLbTiH5sqXOR-6SqSK0ishDg/viewform", target="_blank") questionnaire
    |  will receive a free, limited-edition T-shirt featuring the exclusive Storecoin #💰 logo design. Members who post photos of themselves wearing their T-shirts will receive priority access to network dWorker roles if they qualify.
    
  p
    b In addition, the most-connected Community members will be prioritized for a future Airdrop of STORE (Storecoin’s native currency) and for inclusion in regulatory-compliant, invite-only token events.
    
  p Now you’re thinking, ‘How can I join the Storecoin Community?’ 

  p Fill out Storecoin’s Proof of Community 
    = ' '
    a(href="https://docs.google.com/forms/d/e/1FAIpQLSem3e0msywn0ZQyCU5ZW8zcmovLbTiH5sqXOR-6SqSK0ishDg/viewform", target="_blank") questionnaire
    | . If you’re able to answer “yes” to at least 30 percent of the questions, you’re eligible to join the Community. 
    
  p What does it mean to be a Storecoin Community member? You could:
  
  ul
    li Stay up to date on news about the network
    li Apply to help govern, secure, and validate transactions by running nodes
    li Contribute code or develop an app on top of the Storecoin platform
    li Own a Storecoin Wallet when the STORE token launches in 2019 and make zero-fee transactions 
    
  p
    b About Storecoin
    
  p Storecoin is a new public blockchain with high throughput, true decentralization, and zero transaction fees. The project has eyes on taking on VISA with a faster, zero-fee, programmable, p2p payment system. If Ripple is taking on SWIFT, Storecoin is taking on ACH payments. Structured to become a non-profit at public launch in 2019, the kind of market disruption this new payment approach could inflict on existing financial institutions is momentous. 

  p Storecoin's native currency, STORE, uses a sustainable inflationary monetary policy to achieve zero-fee transaction fees for merchants, developers, and end users. Inflation is dynamically pegged to the number of tokens staked by dWorkers, who are in turn rewarded for contributing resources to the protocol's validation, governance, security, and scalability mechanisms. The rate of inflation grows proportionally to the growth of total value staked, reaching a hard cap at 51% of total supply staked: at this limit, annual token inflation flatlines at 4%.

  p Storecoin strives to take the Web 3.0 ethos one step further, leveraging a unique on-chain governance model of checks and balances.


 
