extends blog-wrapper

block blog-news 
  p One of the nation’s leading thinkers on the economics of blockchain and cryptocurrencies, 
    a(href="https://twitter.com/sbmckeon", target="_blank") Stephen McKeon
    | , has joined Storecoin’s team of advisors.
    
  p 
    a(href="http://storeco.in/" target="_blank") Storecoin
    | is a new public blockchain with governance similar to the checks and balances of the U.S. Constitution and underlying cryptoeconomics similar to ride-sharing companies like Uber. On top of Storecoin, third-party developers will build crypto-powered apps — or cApps.

  .hc-image
    img(src='/images/empty.png', data-src="/images/blog/blog-hires-mckeon.png", style="max-width: 400px;")

  p McKeon (photo above) is associate professor of Finance at the University of Oregon, teaching financial technology, venture capital, and corporate finance in the undergraduate, MBA, and PhD programs.

  p A prolific author and frequent guest on financial news broadcasts, McKeon is well versed in the areas of cryptoassets, private equity, and security issuance.

  p “Stephen is one of the most intellectually honest individuals that I’ve met in the crypto space with regards to their underlying economics,” said Storecoin creator 
    a(href="https://twitter.com/chrisamccoy?lang=en", target="_blank") Chris McCoy
    | . “I’m very much looking forward to bringing his academic approach to our team.”

  p That approach, and the clarity of McKeon’s analysis, is evident in a post written about 
    a(href="https://hackernoon.com/traditional-asset-tokenization-b8a59585a7e0", target="_blank") tokenization of traditional assets
    | .

  p McKeon’s advisory expertise is in the area of economic design and strategy.

  p “I’m looking forward to digging into the economics with them as they work to build a protocol of lasting value,” he said.

  p McCoy said Storecoin will incentivize all sides of its network across multiple, milestone-based token generating events, ultimately giving it a treasury and governance that lets it operate as more than a thousand-year public protocol.

  p “Storecoin is pushing the envelope in terms of thinking carefully about models of governance and transaction costs,” McKeon said.
