extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Blog

    #hc-medium-blog.hc-feature.over-rel.padding(style="margin-top:5em;")
      .hc-chunk
        h2.hc-feature-title The Storecoin Blog
        div.card
          a(href="https://medium.com/@storecoin/storecoin-hires-rajiv-patel-of-fenwick-west-to-file-blockchain-patents-cf75b7172018", target="_blank")

            div.post
              h3 Storecoin hires Rajiv Patel of Fenwick & West to file blockchain patents
              img(src="/images/fenwick-west-logo.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/medium--logo.png")
              p October 4, 2017
              
        div.card
          a(href="https://medium.com/@storecoin/why-storecoin-is-inventing-dynamic-proof-of-stake-dypos-61529d02240f", target="_blank")

            div.post
              h3 Why Storecoin is Inventing Dynamic Proof of Stake (DyPoS)
              img(src="/images/blog-thumbnail-sep-24.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/medium--logo.png")
              p September 24, 2017
        div.card
          a(href="https://medium.com/@storecoin/storecoin-update-august-2017-edadc94f1a8f", target="_blank")

            div.post
              h3 Storecoin Update — August 2017
              img(src="/images/blog-thumbnail-aug-30.jpg")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/medium--logo.png")
              p August 30, 2017
        
        div.card
          a(href="https://techcrunch.com/2017/08/20/yesterdays-plastics-are-todays-crypto-tokens/", target="_blank")
            div.post
              h3 Yesterday’s “plastics” are today’s crypto tokens
              img(src="/images/the-graduate.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/tc-logo.svg")
              p August 21, 2017
              
        div.card
          a(href="https://medium.com/@team_27494/introducing-storecoin-8e15c21b4335", target="_blank")

            div.post
              h3 Introducing Storecoin
              img(src="/images/storecoin-screen.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/medium--logo.png")
              p August 2, 2017
              
    include email-widget
