extends blog-wrapper

block blog-news 
  p Cryptocurrency news sites Bitcoin.com and Investopedia have called out 
    = ' '
    a(href="https://storeco.in/", target="_blank") Storecoin
    | 's unique governance model, crediting creator Chris McCoy with devising a strategy that engages members of four separate branches in achieving consensus in a democratic process.
  
  p As blockchain approaches practical use in the marketplace, network creators have discovered that a potential threat to their success rests with the people who hold, buy and earn the tokens associated with their platforms.
  
  p Developers have created consensus protocols and algorithms to guard against bad actors on the network and built economic models in an attempt to ensure long-term viability. But only recently has the issue of governance emerged as a key factor in protecting the wider community of users from individuals who care more about financial gain than the ultimate survival of the network.
  
  p Storecoin, a high-throughput, zero-fee blockchain, has created a governance system that McCoy believes will best serve the highest interests of the network. 
  //- His model for that system is the checks and balances structure of the U.S. Constitution. */
  
  p McCoy believes Storecoin will reach global adoption thanks in large part to a governance structure that supports decentralization, engenders trust among participants, and resists censorship.
  
  p Analysts in the industry appear to agree. 
    = ' '
    a(href="https://www.investopedia.com/investing/governance-blockchain-techs-greatest-problem/", target="_blank") Investopedia
    | 's Nathan Reiff writes, 
    = ' '
    span.italics "Particularly in the case of highly successful cryptocurrency projects, it can be tough to find mechanisms for governance that will encourage voters to act in the common interests instead of self-interest. Storecoin may be one of the more interesting projects in this regard."
  p 
    span.italics "Due to the huge economic incentives at stake, getting token-holders to act in the interests of the community, rather than fixating on their own pecuniary gains, is a tall order. Storecoin is a ... blockchain whose most interesting feature is not a technical one – it's a human one,"
    |  says Kai Sedgwick at 
    = ' '
    a(href="https://news.bitcoin.com/why-governance-is-the-greatest-problem-that-blockchains-must-solve/", target="_blank") Bitcoin.com
    | .
