extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Blog

    #hc-medium-blog.hc-feature.over-rel.padding(style="margin-top:4em;")
      .hc-chunk
        h2.hc-feature-title The Storecoin Blog
        div.card
          a(href="https://medium.com/@storecoin/storecoin-update-august-2017-edadc94f1a8f", target="_blank")

            div.post
              h3 Storecoin Update — August 2017
              img(src="/images/blog-thumbnail-aug-30.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/medium--logo.png")
              p August 30, 2017
        
        div.card
          a(href="https://techcrunch.com/2017/08/20/yesterdays-plastics-are-todays-crypto-tokens/", target="_blank")
            div.post
              h3 Yesterday’s “plastics” are today’s crypto tokens
              img(src="/images/the-graduate.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/tc-logo.svg")
              p August 21, 2017
              
        div.card
          a(href="https://medium.com/@team_27494/introducing-storecoin-8e15c21b4335", target="_blank")

            div.post
              h3 Introducing Storecoin
              img(src="/images/storecoin-screen.png")
            hr(style="margin-top: 1rem; margin-bottom: 1.5rem;")
            div.card-footer
              img(src="/images/medium--logo.png")
              p August 2, 2017
              
    include email-widget
