extends blog-wrapper

block blog-news 
  p The creator of 
    a(href="http://storeco.in/", target="_blank") Storecoin
    | , a new public blockchain with a governance similar to the checks and balances of the U.S. Constitution and dynamic economics similar to ride-sharing companies like Uber, is among the presenters at the Crypto Funding Summit at the Los Angeles Convention Center.

  p Chris McCoy’s presentation on crypto economics is titled, “
    b Bitcoin: To Hodl or to Buy Coffee?
    |  How the past of Bitcoin and Ethereum might be able to show us a path to the future.”
    
  .hc-image
    img(src='/images/empty.png', data-src="/images/blog/blog-crypto-summit.png")
      
  p McCoy will speak in the afternoon on Wednesday, Jan. 24, the first day of the two-day conference. 
    a(href="https://www.eventbrite.com/e/crypto-funding-summit-2018-tickets-41263110073", target="_blank") Tickets
    |  are still available.

  p Additionally, McCoy 
    a(href="https://storeco-dot-yamm-track.appspot.com/Redirect?ukey=1wcsGMU3mP59pLkcCnr5O4hW2MctT8Fv5p2Wa6f69eXs-750535487&key=YAMMID-31750850&link=https%3A%2F%2Ftwitter.com%2FCryptoFinanceCo%2Fstatus%2F934110412794155008", target="_blank") will be speaking about the Storecoin project
    |  fon Jan. 16 at the 
    a(href="", target="_blank") Crypto Finance Conference
    |  in St. Moritz, Switzerland.

  p To learn more about Storecoin, follow the project 
    a(href="https://storeco-dot-yamm-track.appspot.com/Redirect?ukey=1wcsGMU3mP59pLkcCnr5O4hW2MctT8Fv5p2Wa6f69eXs-750535487&key=YAMMID-31750850&link=http%3A%2F%2Ftwitter.com%2Fstorecointeam", target="_blank") on Twitter
    | , follow Creator 
    a(href="https://storeco-dot-yamm-track.appspot.com/Redirect?ukey=1wcsGMU3mP59pLkcCnr5O4hW2MctT8Fv5p2Wa6f69eXs-750535487&key=YAMMID-31750850&link=http%3A%2F%2Ftwitter.com%2Fchrisamccoy", target="_blank") Chris McCoy
    | , and read their Orange Paper at 
    a(href="http://www.storeco.in/", target="_blank") www.storeco.in
    | .
