#business-case.hc-feature.over-rel.inverted.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title The Case for Zero Fee, Programmable Payments
    p.hc-feature-lead Since the first ever digital transaction Western Union in 1921, digital payment innovation has grown the possibilities of of commerce and trade.
    .hc-image
      img(src='/images/empty.png', data-src="/images/wu-image.png", style="max-width: 200px;")
    p.hc-feature-lead From merchant card networks like VISA (1958), to online banking and bill pay (1994), to mobile WAP payments (1997), to the current wave of mobile payment apps, digital transactions have expanded global commerce and trade.
    .hc-image
      img(src='/images/empty.png', data-src="/images/global-transaction-circle.png", style="max-width: 250px;")
    p.hc-feature-lead
      b Digital transactions aren't free though!
      |  Fees create friction in usability and adoption, limit the potential of micropayments, and are ultimately a tax on consumers, merchants and developers - the demand-side for payments and currency adoption.
    .hc-image
      img(src='/images/empty.png', data-src="/images/fees-icon.png", style="max-width: 150px;")
    p.hc-feature-lead
      b Who earns the fees?
      |  The supply-side banks and FinTech companies , of course! Collectively, they share a cut of digital payments, earning +$0.10 plus another +1.51% per transaction.

    div.companies-table
      div.row
        div.head
          div.text ACQUIRERS/ PROCESSORS
        div.logos
          div.logos-row
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-adyen.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-barclays.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-cielo.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-elavon.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-fiserv.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-heartland.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-tsys.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-wells-fargo.png")
          div.logos-row.bottom
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-boa-ms.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-chase-pt.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-citi.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-firstdata.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-global-payments.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-moneris.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-vantiv.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-worldpay.png")

      div.row
        div.head
          div.text CARD NETWORKS
        div.logos
          div.logos-row
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-accel.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-discover.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-interlink.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-maestro.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-nyce.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-pulse.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-star.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-visa.png")
          div.logos-row.bottom
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-amex.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-interac.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-jcb.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-mastercard.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-plus.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-shazam.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-unionpay.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-visareadylink.png")

      div.row
        div.head
          div.text BANK/ ISSUES
        div.logos
          div.logos-row
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-amex.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-barclays.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-capitalone.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-citi.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-hsbc.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-synchrony.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-usbank.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-wells-fargo.png")
          div.logos-row.bottom
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-boa.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-cabelas.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-chase.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-discover.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-pnc.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-atbank.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-usaa.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-wex.png")

      div.row
        div.head
          div.text GATEWAYS
        div.logos
          div.logos-row
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-2co.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-alipay.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-beanstream.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-braintree.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-klarna.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-paysafe.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-square.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-wepay.png")
          div.logos-row.bottom
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-adyen.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-authorize.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-bluesnap.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-cconnect.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-paypal.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-sagepay.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-stripe.png")
            div.logo
              img(src='/images/empty.png', data-src="/images/sl-worldpay.png")

      p.footer-text(style="text-align:right;") *chart from Business Insider
    p.hc-feature-lead Consumers, merchants, and developers pay A LOT in fees. If this money went into their pockets instead of to banks and FinTech, trade and commerce may increase further – faster.

    .hc-image
      img(src='/images/empty.png', data-src="/images/annual-transactions-fees.png", style="max-width: 700px;")

    p.hc-feature-lead What about public blockchains which produce a new, censorship resistant, decentralized, and programmable form of money called cryptocurrency?

    p.hc-feature-lead Major blockchains of today are not zero-fee for consumers, merchants, or developers either!

    .hc-image
      img(src='/images/empty.png', data-src="/images/2017-blockchain-fees.png", style="max-width: 700px;")

    .table-container.table-1
      table
        tbody
          tr
            td(style="color: white; background-color: #ec834e; text-align: center;") PUBLIC
              br
              |  BLOCKCHAINS
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/bitcoin-logo.png")
                span Bitcoin
                span(style="margin-left: 4px; font-size: 0.65em;")  (BTC)
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/eth-light-logo.png")
                span Ethereum
                span(style="margin-left: 4px; font-size: 0.65em;")  (ETH)
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/dash-logo.png")
                span Dash
                span(style="margin-left: 4px; font-size: 0.65em;")  (DASH)
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/eos-logo.png")
                span EOS
                span(style="margin-left: 4px; font-size: 0.65em;")  (EOS)
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/tezos-logo.png")
                span Tezos
                span(style="margin-left: 4px; font-size: 0.65em;")  (XTZ)
          tr
            td FEES PER
              br
              |  TRANSACTION
            td $0.40 to $4.00+
            td $0.16 to $0.33+
            td $0.39 to $0.58+
            td Zero-fee for users but not for Developers or Merchants
            td Fees, but undetermined
    
    p.caption.footer-text(style="text-align:right; max-width: 1100px; margin:0 auto;") * Data updated as of March 2018

    p.hc-feature-lead While blockchain-based payments *can* exponentially expand the way we trade, what we trade, and the amounts we trade – including operations by robots, machines and IoT – until transactions are zero-fee for demand side users, the potential of this technology may not be reached.

    .hc-image
      img(src='/images/empty.png', data-src="/images/peak-fall.png", style="max-width: 300px;")

    p.hc-feature-lead The Storecoin blockchain exists to make p2p payments zero-fee, highly programmable, and near-instant. First inside of apps
      =' '
      span
        i.ion-arrow-right-c
      =' '
      |  smart contracts and
      =' '
      span
        i.ion-arrow-right-c
      =' '
      |  dApps the cash register and beyond.

    div.coin
      div.tails
      div.heads

    p.hc-feature-lead We’re on a journey to expand global commerce and trade – one zero-fee transaction at a time.

    .hc-image(style="padding-bottom: 0px;")
      img(src='/images/empty.png', data-src="/images/global-com-trade.png", style="max-width: 900px;")
