extends layout

block content
  div#hc-content
    .hc-feature.over-rel.padding.inverted.career-banner
      .hc-chunk.hc-intro-text-wrapper(style="font-size:1.5em; margin-top: 1em;")
        h2.hc-feature-title Build The Future of 
          br
          | Payments at Storecoin
            
    .hc-feature.over-rel.padding.careers
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-feature-title Find Your New Job
        div.career-list
          a.career(href="/careers/sr-blockchain-engineer")
            div.left
              h5.head Senior Blockchain Engineer - Storecoin
              div.desc You are changing the status quo with public blockchains. Existing blockchains are inherently slow or centralized. Storecoin wants to change that with its BlockFin consensus protocol. With its innovative approach, BlockFin brings scalability and decentralization to public blockchains. You are responsible for architecting, implementing, deploying, and securing Storecoin blockchain powered by BlockFin.
            div.right
              i.ion-chevron-right
              
    include email-widget
