extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      .hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h2.hc-feature-title Coming Soon
      
    include email-widget
