extends layout

block content
  div#hc-content
    .hc-feature.over-rel.padding(style="margin-top:5em; padding: 10em 1em;")
      .hc-chunk
        include join-community
        

      
    include email-widget
