extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Token Sale FAQ

    .blog-news.hc-feature.over-rel.padding
      .hc-chunk
        h1.article-title How Storecoin Compares to other P2P Protocols and Payments Platforms
        iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vS9ye527UykBaltSI2DY_R_28cB_i4j0zlFLgXdj3r-3PAx05WmlY-YD24ZCVFrNjcyOCoWC8sLldnF/pubhtml?widget=true&headers=false' width="100%", style="height:100vh; margin-top: 2em;", frameBorder="0")
      
    include email-widget
