extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Contact

    .hc-feature.over-rel.padding
      h2.hc-feature-title(style='margin-bottom:0px;') Email	us	at	team@storeco.in
      
    include email-widget
