extends layout

block content
  div#hc-content
    div(style="margin-top:5em;;")
      .hc-feature.over-rel.padding
        h2.hc-feature-title Contact
        h2.hc-feature-title(style='margin-bottom:0px;') Email	us	at	team@storeco.in
      
    include email-widget
