#core-team.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.inverted Our Core Team is spreading $STORE globally
    .hc-image
      img(src='/images/empty.png', data-src="/images/core-team.png", style="max-width: 750px;")
