#countdown.hc-feature.over-rel.padding.inverted
  .hc-chunk
    h3.hc-feature-title First	Token	Sale	ends	in
    
    div.row.cp-countdown            
      div.three.columns
        div.time-circles#circle-days
        div.time-heads
          h3 DAYS
          
      div.three.columns
        div.time-circles#circle-hours
        div.time-heads
          h3 HOURS
          
      div.three.columns
        div.time-circles#circle-minutes
        div.time-heads
          h3 MINUTES 
          
      div.three.columns
        div.time-circles#circle-seconds    
        div.time-heads    
          h3 SECONDS
    p.hc-feature-lead 
      b Price	per	token:
      | 	$0.005
    p.hc-feature-lead(style="margin-bottom:0px;") 
      b To	be	sold:
      | 	6%	of	all	storecoins	or	$300,000	
