.sale-countdown
  div.wrapper
    h3.hc-feature-title Our Next Milestone-Based Sale Begins In
    div.counter
      div.time
        span.days 00 
        | Days
      div.time
        span.hours 00
        | Hours
      div.time
        span.minutes 00
        | Minutes
      div.time
        span.seconds 00
        | Seconds
      
  button.hc-button.orange(onclick="opentoken_contribute_click('https://app.opentoken.com/contribute/storecoin/', event);") Join Our Whitelist
