extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      .hc-api-container.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.iphone
            img(src="/images/wallet/iphone.png")
            iframe(src="/wallet/wallet-app/api", frameBorder="0")
      
    include email-widget
