extends wallet/layout-desktop

block content
  div.iphone
    img(src="/images/wallet/iphone.png")
    iframe(src="/wallet/wallet-app/royalty", frameBorder="0")
    div.page-loading
      div.content
        div.sp.sp-wave
        div.text Loading...
