extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Storecoin Development Roadmap

    #developer-roadmap.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        div.roadmap
          div.timeline
          div.each-year  
            div.year
              h2 2017
            div.quarters
              div.each-quarter
                div.quarter Q2
                div.points
                  p.point 
                    span
                      i.ion-record 
                    | Ox Storecoin founded
                  p.point 
                    span
                      i.ion-record 
                    | Amazon funds Storecoin R&D with AWS credits
                  p.point 
                    span
                      i.ion-record 
                    | Blockchain Architect added
                  p.point 
                    span
                      i.ion-record 
                    | Blockchain DevOps team added
                  p.point 
                    span
                      i.ion-record 
                    | Blockchain Database Architect added
              div.each-quarter
                div.quarter Q3
                div.points
                  p.point 
                    span
                      i.ion-record 
                    | Ox Released Green Paper
                  p.point 
                    span
                      i.ion-record 
                    | First Token Sale closed (7% of tokens, $350k token sales)
                  p.point 
                    span
                      i.ion-record 
                    | Viable test network set-up
                  p.point 
                    span
                      i.ion-record 
                    | Extensive scalability testing begins
                  p.point 
                    span
                      i.ion-record 
                    | Storecoin Economics are finalized 
                  p.point 
                    span
                      i.ion-record 
                    | Storecoin Development Roadmap released      
              div.each-quarter.present-line
                div.quarter PRESENT
              div.each-quarter
                div.quarter Q4
                div.points
                  p.point 
                    span
                      i.ion-record.white
                    | Extensive security testing begins
                  p.point 
                    span
                      i.ion-record.white 
                    | Storecoin Economics Paper released
                  p.point 
                    span
                      i.ion-record.white 
                    | Second Token Sale begins
                  p.point 
                    span
                      i.ion-record.white 
                    | Hire 3 full-time blockchain engineers

          div.each-year
            div.year
              h2 2018
            div.quarters
              div.each-quarter
                div.quarter 
                div.points
                  p.point 
                    span
                      i.ion-record.white 
                    | Test Network launched
                  p.point 
                    span
                      i.ion-record.white 
                    | v1 Storecoin Whitepaper released
                  p.point 
                    span
                      i.ion-record.white 
                    | Storecoin Proof of Concept #1 released
                  p.point 
                    span
                      i.ion-record.white 
                    | Storecoin v0.1 Developer API released
                  p.point 
                    span
                      i.ion-record.white 
                    | Open Source Development begins
                  p.point 
                    span
                      i.ion-record.white 
                    | Test Network released
          div.each-year
            div.year
              h2 2019
            div.quarters
              div.each-quarter
                div.quarter 
                div.points
                  p.point 
                    span
                      i.ion-record.white 
                    | Storecoin Proof of Concept #2 released
                  p.point 
                    span
                      i.ion-record.white 
                    | Public Network v0.1 launches
                  p.point 
                    span
                      i.ion-record.white 
                    | Storecoin Wallet APIs are released
       
    include email-widget
