extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Developer Roadmap

    #developer-roadmap.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        div.roadmap
          div.timeline
          div.each-year  
            div.year
              h2 2016
            div.quarters
              div.each-quarter
                div.quarter Q4
                div.points
                  p.point 
                    span
                      i.ion-record 
                    | Ox founded
                  p.point 
                    span
                      i.ion-record 
                    | Deployed pre-alpha contracts to Ropsten testnet
          div.each-year
            div.year
              h2 2017
            div.quarters
              div.each-quarter
                div.quarter Q1
                div.points
                  p.point 
                    span
                      i.ion-record 
                    | Whitepaper released      
              div.each-quarter
                div.quarter Q2
                div.points
                  p.point 
                    span
                      i.ion-record 
                    | Hired Fabio 
                  p.point 
                    span
                      i.ion-record 
                    | Deployed alpha contracts (upgradeable) to Kovan testnet 
                  p.point 
                    span
                      i.ion-record 
                    | Launched ox OTC on Kovan 
                  p.point 
                    span
                      i.ion-record 
                    | 1st place Consensus 2017 Startup Competition 
                  p.point 
                    span
                      i.ion-record 
                    | Hired Leo   
                  p.point 
                    span
                      i.ion-record 
                    | Relaeased ox.js  v0.80
              div.each-quarter
                div.quarter Q3
                div.points
                  p.point 
                    span
                      i.ion-record 
                    | Hired Fabio 
                  p.point 
                    span
                      i.ion-record 
                    | Deployed alpha contracts (upgradeable) to Kovan testnet 
                  p.point 
                    span
                      i.ion-record 
                    | Launched ox OTC on Kovan 
                  p.point 
                    span
                      i.ion-record 
                    | 1st place Consensus 2017 Startup Competition 
                  p.point 
                    span
                      i.ion-record 
                    | Hired Leo   
                  p.point 
                    span
                      i.ion-record 
                    | Relaeased ox.js  v0.80
              div.each-quarter.present-line
                div.quarter PRESENT
              div.each-quarter
                div.quarter Q3
                div.points
                  p.point 
                    span
                      i.ion-record.white 
                    | Hired Fabio 
                  p.point 
                    span
                      i.ion-record.white 
                    | Deployed alpha contracts (upgradeable) to Kovan testnet 
                  p.point 
                    span
                      i.ion-record.white 
                    | Launched ox OTC on Kovan 
                  p.point 
                    span
                      i.ion-record.white 
                    | 1st place Consensus 2017 Startup Competition 
                  p.point 
                    span
                      i.ion-record.white 
                    | Hired Leo   
                  p.point 
                    span
                      i.ion-record.white 
                    | Relaeased ox.js  v0.80
          div.each-year
            div.year
              h2 2018
              div.quarters  
                div.each-quarter
                  div.quarter Q4
                  div.points
                    p.point 
                      span
                        i.ion-record.white 
                      | Hired Fabio 
                    p.point 
                      span
                        i.ion-record.white 
                      | Deployed alpha contracts (upgradeable) to Kovan testnet 
                    p.point 
                      span
                        i.ion-record.white 
                      | Launched ox OTC on Kovan 
                    p.point 
                      span
                        i.ion-record.white 
                      | 1st place Consensus 2017 Startup Competition 
                    p.point 
                      span
                        i.ion-record.white 
                      | Hired Leo   
                    p.point 
                      span
                        i.ion-record.white 
                      | Relaeased ox.js  v0.80      
    include email-widget
