#distribution-strategy.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.inverted Our Wallet-based Distribution Strategy
    p.hc-feature-lead Storecoin will power a Wallet API for developers to integrate storecoin tokens directly inside of their web or mobile app.
    div.desktop-image
      div.hc-strat-dist.five
        img(src='/images/empty.png', data-src="/images/strat-dist-5-v2.png")
        p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or crypto-powered API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into cash/fiat.
      div.hc-strat-dist.four
        img(src='/images/empty.png', data-src="/images/st-dist-4.png")
        p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for third party developers.
      div.hc-strat-dist.three
        img(src='/images/empty.png', data-src="/images/strat-dist-3-v2.png")
        p A secure unit of value allowing the owner to access services and/or data from the Storecoin Blockchain. 
      div.hc-strat-dist.two
        img(src='/images/empty.png', data-src="/images/st-dist-2.png")
        p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
      div.hc-strat-dist.one
        img(src='/images/empty.png', data-src="/images/strat-dist-1-v2.png")
        p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
    div.mobile-image
      div.hc-strat-dist.five
        img(src='/images/empty.png', data-src="/images/strat-dist-mobile-5-v3.png")
        p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or crypto-powered API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into cash/fiat.
      div.hc-strat-dist.four
        img(src='/images/empty.png', data-src="/images/strat-dist-mobile-4-v2.png")
        p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for third party developers.
      div.hc-strat-dist.three
        img(src='/images/empty.png', data-src="/images/strat-dist-mobile-3-v2.png")
        p A secure unit of value allowing the owner to access services and/or data from the Storecoin Blockchain. 
      div.hc-strat-dist.two
        img(src='/images/empty.png', data-src="/images/strat-dist-mobile-2-v2.png")
        p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
      div.hc-strat-dist.one
        img(src='/images/empty.png', data-src="/images/strat-dist-mobile-1-v2.png")
        p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
