#dynamic-inflation.hc-feature.over-rel.padding.lite
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title How Dynamic Inflation Works
    p.hc-feature-lead Inflationary block rewards are capped at 2% per year, but the amounts awarded are dynamic and are based upon the total amount of staking amongst the decentralized workforce. In short, the more staking, the more block rewards for workers to earn. This approach incentivizes for maximum decentralization and protocol security, while keeping transactions zero-fee for users
      = ' '
      b and developers
      |  across all programmable environments.
    div.row
      div.inflation-table
        div.header Dynamic Inflation Schedule
        table
          thead
            th Staking From
            th Staking To
            th Inflationary Rewards
          tbody
            tr
              td 90%
              td 100%
              td 6.00%
            tr
              td 80%
              td 89.99%
              td 5.80%
            tr
              td 70%
              td 79.99%
              td 5.60%
            tr
              td 60%
              td 69.99%
              td 5.40%
            tr
              td 52.51%
              td 59.99%
              td 5.20%
            tr.highlight
              td 51%
              td 52.5%
              td 5.00%
            tr
              td 45%
              td 50.99%
              td 4.75%
            tr
              td 40%
              td 34.99%
              td 4.50%
            tr
              td 35%
              td 39.99%
              td 4.25%
            tr
              td 30%
              td 34.99%
              td 4.00%
            tr
              td 25%
              td 29.99%
              td 3.50%
            tr
              td 20%
              td 24.99%
              td 3.00%
            tr
              td 15%
              td 14.99%
              td 2.00%
            tr
              td 10%
              td 14.99%
              td 1.50%
            tr
              td 0%
              td 9.99%
              td 1.00%
      div.details
        h3.hc-feature-title Why is 51% important?
        p.hc-feature-lead Protocols are in constant conflict of becoming a store of value (digital gold) vs. a medium of exchange (censorship resistant, programmable payments).
        p.hc-feature-lead Store of Value (SoV) is important because it gives the Storecoin blockchain security through decentralized participation.
        p.hc-feature-lead Medium of Exchange (MoE) is important because it gives Storecoin a demand-side use case: zero-fee payments for users and developers, across any programmable design space where the Storecoin blockchain supports APIs.
        p.hc-feature-lead Recognizing this, Storecoin’s founding monetary policy incentivizes for an optimal 51% of the protocol to be staked in exchange for 2% inflationary rewards. This level of security is in line with the 59% of GDP spent by the U.S.A. to secure its dollar globally through legal, banking, and military infrastructure.
        p.hc-feature-lead
          b Note:
          |  Unlike The Federal Bank of the United States, Governance in Storecoin votes on monetary policy changes before they go into effect. This enables checks and balances for key economic decisions.
