  
.hc-feature.over-rel.padding.hc-email
  .email-widget
    h4(style="margin:0px;") Participate	in	the	Storecoin First Token Sale 
    p.hc-email-invite
      b By Invite Only
    .row.form
      .eight.columns
        input.u-full-width(type='email', name='email', placeholder='Enter your email address')
      .four.columns
        input.button-primary(type='submit', value='Get Started')
          
  form.steps-form
    .email-steps.step-1
      h4 Welcome to the Storecoin First Token Sale
      p Over the course of several years, we plan to conduct up to six micro Token Sales, eventually selling 33% of all Storecoin tokens to the public. 
      p Each token sale event will occur only once our team achieves a significant technology milestone, grows the upcoming Storecoin Alliance, or sees adoption on the Storecoin blockchain. 
      p We believe in aligning expectations of token owners with our team’s ability to deliver. 
      hr
      .button-group
        button.button-next.button-primary(data-step='step-1-1')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-1-1
      p Before you click Next, we recommend that you read 
        a(href="https://www.investor.gov/additional-resources/news-alerts/alerts-bulletins/investor-bulletin-initial-coin-offerings", target="_blank")  the latest SEC investor bulletin 
        |  about buying Blockchain Tokens or App Coins.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2')
          | Next
          i.ion-chevron-right

    .email-steps.step-2
      p We	also	want	you	to	be	certain	that	you	understand	and	agree	to	the	following:	
      p As	a	Storecoin	Token	Buyer,	I	understand	that	the	purpose	of	the	Tokens	is	to	facilitate	the	provision, utility,	and	receipt	of	certain	apps	and	services	within	a	future	Storecoin	Blockchain.
      hr
      .button-group(style="margin-bottom:1em;")
        button.button-back.button-primary(data-step='step-1-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2-1')
          | I Agree
          i.ion-chevron-right
      
    .email-steps.step-2-1      
      p I	understand	that	my	purchase,	ownership,	receipt,	or	possession	of	Storecoin	Tokens	carry	no	rights,	express	or	implied,	other	than	the	right	to	use	Tokens	as	a	means	to	enable	usage	of	and	interaction	with Apps	and	Services	enabled	by	the	Storecoin	blockchain,	if	successfully	completed	and	deployed.	
      hr
      .button-group(style="margin-bottom:1em;")
        button.button-back.button-primary(data-step='step-2')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2-2')
          | I Agree
          i.ion-chevron-right
            
    .email-steps.step-2-2
      p I	understand	and	accept	that	Tokens	do	not	represent	or	confer	any	ownership	right	or	stake,	share,	security,	or	equivalent	rights,	or	any	right	to	receive	future	revenue	shares,	intellectual	property	rights	or	any	other	form	of	participation	in	or	relating	to	a	Storecoin	blockchain,	Storecoin,	Inc,	and	its	corporate	affiliates,	other	than	any	rights	relating	to	the	provision	and	receipt	of	Services	in	the	Storecoin	blockchain	or	Storecoin app token.		
      hr
      .button-group(style="margin-bottom:1em;")
        button.button-back.button-primary(data-step='step-2-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2-3')
          | I Agree
          i.ion-chevron-right
      
    .email-steps.step-2-3      
      p I	also	understand	the	Tokens	are	not	intended	to	be	a	digital	currency,	security,	commodity,	or	any	kind	of	financial	instrument.	
      hr
      .button-group
        button.button-back.button-primary(data-step='step-2-2')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-3')
          | I Agree
          i.ion-chevron-right
            
    .email-steps.step-3
      p Our team has the key insights and experiences in hierarchy based systems, distributed databases, enterprise software, payments, network effects, token economics, blockchain technology, and blockchain security to succeed.
      p We have offices in Silicon Valley and in Argentina with team members working around the globe.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-2-3')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-4')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-4
      p Storecoin Inc., a U.S.-based Delaware C-Corporation, has authorized 1 Billion tokens on the Storecoin blockchain.
      p(style="margin:0px;") 
        b Over time:
      ul
        li 33% of the tokens will be sold to the public
        li 33% will be allocated to founders, core developers, and team
        li 33% will be allocated for distribution to incentivize participation in the Storecoin ecosystem
        li 1% will cover token sale costs
      hr
      .button-group
        button.button-back.button-primary(data-step='step-3')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-5')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-5
      p In	our	First	Token	Sale,	6%	of	all	storecoins	will	be	sold	to	approved	buyers	-- or	60	Million	storecoins	total.
      p The	price	per	token	is	$0.005.
      p The	maximum	sold	in	the	First	Token	Sale	is $300,000.	
      hr
      .button-group
        button.button-back.button-primary(data-step='step-4')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-8')
          | Next
          i.ion-chevron-right
            
    //- .email-steps.step-6
    //-   p As	of	July	2017,	the	lower	bound	transaction	cost	on	Ethereum	is	$0.14.	It’s	$2.46	for	Bitcoin.
    //-   p We’re	designing	the	Storecoin	protocol	for	transactions	to	be	free	while	the	network	remains	secure.
    //-   p To keep transaction costs on Storecoin free, the storecoin token supply will increase
    //-     | by a maximum of 5% per year. This 5% will pay for the operation costs and the
    //-     | transaction costs of the blockchain protocol.	
    //-   p If	the	5%	token	supply	maximum	is	reached,	then	transaction	costs	will	be	passed	on	to	senders	through	a	mechanism	similar	to	gas	on	Ethereum.	
    //-   p We’ll share these economics, our consensus protocol, and how we secure our
    //-     | consensus in the upcoming Storecoin Whitepaper. We’re in deep R&D now.
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-5')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-7')
    //-       | Next
    //-       i.ion-chevron-right
            
    //- .email-steps.step-7
    //-   p Our Second Token Sale will be issued once we release the first
    //-     | working version of the Storecoin Whitepaper.
    //-   p We are writing code, writing documentation, modeling our
    //-     | underlying cryptoeconomics, and running extensive security
    //-     | tests to finish the first version now.
    //-   p The $150,000 in storecoins that we expect to sell in this First
    //-     | Token Sale will fund our continued research and
    //-     | development costs.
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-5')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-8')
    //-       | Next
    //-       i.ion-chevron-right
            
    .email-steps.step-8
      p For	First	Token	Sale	buyers,	Storecoin	will	issue	ERC20	tokens	once	the	main	network	launches.
      p This	will	occur	between	2018	and	2020.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-5')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-8-1')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-8-1
      p The minimum purchase amount in our First Token Sale is $2,500 in USD. 
      p As of today, this $2,500 minimum storecoin token buy equals:			
      ul 
        li
          span.eth-value 
          |  number	of	Ethereum.
          
        li
          span.btc-value 	
          |  number	of	of	Bitcoins.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-8')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-10')
          | Next
          i.ion-chevron-right
            
    //- .email-steps.step-9
    //-   p The Storecoin First Token Sale ends once $300,000 in Bitcoin, Ethereum, and USD is received and confirmed by our team.		
    //-   p To-date, we have $50,000 committed in Token Sales. Once $300,000 is received, we’ll end the First Token Sale. 
    //-   p If new transactions come through after $300,000 is received, then we’ll refund oversubscribed transactions through the same method that funds were sent.
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-8')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-10')
    //-       | Next
    //-       i.ion-chevron-right
            
    .email-steps.step-10          	
      p Do	you	want	to	participate	in	the	Storecoin	First	Token Sale?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="participate", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="participate", value='No')
        label(for='participate-no') No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-8-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-10-1')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-10-1          	
      p Are	you	a	U.S.	resident?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="resident-us", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="resident-us", value='No')
        label(for='participate-no') No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-10-2')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-10-2          	
      p As a U.S.	resident,	are	you	an Accredited	Investor?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="accredited-investor", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="accredited-investor", value='No')
        label(for='participate-no') No
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="accredited-investor", value='I dont know')
        label(for='participate-no') I dont know
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-11')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-11
      p Have	you	participated	in	an	Token Sale	before?	
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="before-participate", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="before-participate", value='No')
        label(for='participate-no') No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-12')
          | Next
          i.ion-chevron-right
    
    .email-steps.step-12
      div(data-sticky-container='')
        p.sticky(data-margin-top='65') How	much	do	you	typically	buy	in	a	Token	Sale?
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='<$1,000')
            label(for='invest-1') <$1,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$1,000 - $5,000')
            label(for='invest-2') $1,000 - $5,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$5,000 - $25,000')
            label(for='invest-3') $5,000 - $25,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$25,000 - $50,000')
            label(for='invest-4') $25,000 - $50,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$50,000 - $75,000')
            label(for='invest-5') $50,000 - $75,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$75,000 - $100,000')
            label(for='invest-6') $75,000 - $100,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$100,000 - $150,000')
            label(for='invest-7') $100,000 - $150,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$150,000 - $200,000')
            label(for='invest-8') $150,000 - $200,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$200,000 - $250,000')
            label(for='invest-9') $200,000 - $250,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$250,000 - $500,000')
            label(for='invest-10') $250,000 - $500,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$500,000 - $1,000,000')
            label(for='invest-11') $500,000 - $1,000,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$1,000 - $3,000,000')
            label(for='invest-12') $1,000 - $3,000,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$3,000,000 or more')
            label(for='invest-13') $3,000,000 or more
      hr
      .button-group
        button.button-back.button-primary(data-step='step-11')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-13')
          | Next
          i.ion-chevron-right
      
    .email-steps.step-13
      p At	$0.005	per	storecoin,	how	may	storecoins do	you	want	to	purchase?
      .field(style="margin-bottom:1em;")
        input.u-full-width(type='text', name='num-of-storecoins', data-type="number", style="max-width: 120px;")
        input.u-full-width(type='text', name='storecoins-value', hidden, value="0")
      p 
        b USD Value:
        span.computed  $0
      hr
      .button-group
        button.button-back.button-primary(data-step='step-12')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-14')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-14
      p You	can	purchase	storecoins with	Ethereum,	Bitcoin,	or	USD.
      p If purchasing	through	Bitcoin	or	Ethereum,	we’ll	use	the	price	of	the	Bitcoin	or	Ethereum	on	the	timestamped	receipt	that	you	sent	to	our	wallet	address	to	determine	the	amount	of	storecoin to	credit	you	with.
      p If sending	through	USD,	we’ll	divide	the	dollar	value	by	$0.005	per	token	to	determine	the	number	of	tokens	to	credit	you	with.	 
        
      hr
      .button-group
        button.button-back.button-primary(data-step='step-13')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-15')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-15
      p What	method	will	you	be	sending	your	
        span.usd-value 	
        | in funds	to	purchase	storecoins?
      p(style="margin:0px;") 
        b Check all that apply:
      .field-group
        .field.radio-field
          .hc-radio-btn
          input(type='checkbox', name='payment-type', value=' Bitcoin')
          label(for='payment-type') Bitcoin
        //- .field.full-width.hidden
        //-   input.u-full-width(type="text", name="payment-btc-address", placeholder="Your receiving Bitcoin Address")
        //-   p In	the	case the	First	ICO	is	oversubscribed	or	there	are issues	with	your	transaction,	we	may	issue you	a	refund	to	this	address.
        
      .field-group  
        .field.radio-field
          .hc-radio-btn
          input(type='checkbox', name='payment-type', value=' Ethereum')
          label(for='payment-type') Ethereum
        //- .field.full-width.hidden
        //-   input.u-full-width(type="text", name="payment-eth-address", placeholder="Your receiving Ethereum Address")
        //-   p In	the	case the	First	ICO	is	oversubscribed	or	there	are issues	with	your	transaction,	we	may	issue you	a	refund	to	this	address.
        
      .field-group  
        .field.radio-field
          .hc-radio-btn
          input(type='checkbox', name='payment-type', value=' USD Coinbase')
          label(for='payment-type') USD Coinbase
        //- .field.full-width.hidden
        //-   input.u-full-width(type="text", name="payment-cbase-address", placeholder="Your Coinbase Email Address" )
        //-   p In	the	case	the	First	ICO	is	oversubscribed	or	there	are	issues	with	your	transaction,	we	may	
        //-     | issue	you	a	refund	to	this	address.
        
      .field-group  
        .field.radio-field
          .hc-radio-btn
          input(type='checkbox', name='payment-type', value=' USD Paypal')
          label(for='payment-type') USD Paypal
          
      .field-group  
        .field.radio-field
          .hc-radio-btn
          input(type='checkbox', name='payment-type', value=' USD Check')
          label(for='payment-type') USD Check
        //- .field.full-width.hidden
        //-   input.u-full-width(type="text", name="payment-paypal-address", placeholder="Your Paypal Email Address" )
        //-   p In	the	case	the	First	ICO	is	oversubscribed	or	there	are	issues	with	your	transaction,	we	may	
        //-     | issue	you	a	refund	to	this	address.
      
      .field-group  
        .field.radio-field
          .hc-radio-btn
          input(type='checkbox', name='payment-type', value=' USD Wire Transfer')
          label(for='payment-type') USD Wire Transfer
        //- .field.full-width.hidden
        //-   input.u-full-width(type="text", name="payment-wire-address", placeholder="Your other method of payment.")

      hr
      .button-group
        button.button-back.button-primary(data-step='step-14')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-16', disabled)
          | Next
          i.ion-chevron-right
            
    .email-steps.step-16
      p Before	proceeding,	we	recommend	that	you	read	the	Storecoin	Token	Sale	Terms	of	Service.
      a.button.button-primary(href="/terms", target="_blank", style="margin-bottom:2em;") Review
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="terms-agree", value='Yes')
        label(for='participate-yes') I	Agree	to	the	Storecoin	Token	Sale	Terms	of	Service
      //- .field
      //-   input(type='radio', name="terms-agree", value='No')
      //-   label(for='participate-no') No 	I	don’t
      hr
      .button-group
        button.button-back.button-primary(data-step='step-15')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-17', disabled)
          | Next
          i.ion-chevron-right
            
    .email-steps.step-16-1
      p Unfortunately,	we	cannot	sell	storecoins to	buyers	who	do	not	agree	with	our	Token	Sale	
        | Terms	of	Service.	
      hr
      .button-group
        button.button-back.button-primary(data-step='step-16')
          i.ion-chevron-left
          | Back
        button.button-okay.button-primary(style="margin-left:1em;")
          | Okay
          
    .email-steps.step-17
      p In	order	to	purchase	storecoins,	we	need	a	
        b confirmed	and	stable	long-term	
        |  email	address.
      p Do	you	expect	to	have	this	email	for	the	next	3	years?
      .field
        input.u-full-width(type='text', name='email', readonly, style="background: #c7dfb8; box-shadow: none; border: none; padding: 0px; color: #e97844;")
      hr
      .button-group
        button.button-back.button-primary(data-step='step-17-1')
          | I need to change it
        button.button-next.button-primary(data-step='step-18')
          | Yes
          
    .email-steps.step-17-1
      p Confirm your email address
      .field
        input.u-full-width(type='email', name='confirm-email', placeholder="Enter Your Email Address")
      hr
      .button-group
        button.button-next.button-primary(data-step='step-18', disabled='')
          | Confirm
          
    .email-steps.step-18
      p We	officially	have	you	interested	in	purchasing
        span.num-of-storecoins 
        | storecoins.
        
      p You	listed	payment	methods	as
        span.payment-methods
          
      p(style="margin:0px;") Of the
        span.storecoins-amount
        | of	storecoin tokens that you wish to purchase, how will you pay for them?
      
      div.payment-group
      p.total-percentage(style="font-size:1.5em;") 
        b Total:
        span  0%
        
      .field.percent-sum
        input(type="text", hidden, name="percent-sum")
      hr
      .button-group
        button.button-back.button-primary(data-step='step-17')
          | Back
        button.button-next.button-primary(data-step='step-19', disabled="")
          | Next
          
    .email-steps.step-19        
      p Once your Total equals 100% and you click the Apply button, we’ll review your Token Purchase application.	
      p Once accepted, we’ll email you the Storecoin Token Sale Terms and Agreement for e-signature.
      p Once you sign, if we have enough room in the First Token Sale available, we’ll e-mail you private Address and Payment information for you to fund your storecoin token purchase.
      p You’ll then have 24 hours to pay for your tokens.
      p Once the transaction is confirmed by our end, we’ll send you an executed copy of the Agreement.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-18')
          | Back
        button.button-submit.button-primary(type="submit")
          | Apply
              
    
    .success-message.message
      h4
        | Thanks for registering for the Storecoin First Token Sale.
      p
        | Check your email inbox for an invitation to join.
      p
        | In the meantime, share the Storecoin First Token with a trusted friend.
      .mobile-link
        a.button.button-primary(target='_blank', href='mailto:team@storeco.in')
          i.ion-email
          | Share with your friend
      .desktop-link
        a.button.button-primary(target='_blank', href='https://mail.google.com/mail/?view=cm&fs=1&to=team@storeco.in&su=SUBJECT&body=BODY')
          i.ion-email
          | Share with your friend
      .form.row
        .eight.columns
          input.u-full-width.copy-target(readonly='', type='text', value='http://storeco.in/firstico')
        .four.columns
          button.button.button-primary.copy-button
            i.ion-link
            |  Copy Link
    //- .success-message-2.message
    //-   h5
    //-     | Thanks	for	checking	out	the	Storecoin	First	ICO.
    //-   p.hc-feature-lead You	can	give	us	a	hand	by sharing	the storecoin first ICO with a friend.
    //-   .form.row.desktop-link
    //-     .eight.columns
    //-       input.u-full-width.copy-target(readonly='', type='text', value='http://storeco.in/firstico')
    //-     .four.columns
    //-       button.button.button-primary.copy-button
    //-         i.ion-link
    //-         |  Copy Link
    //-   .mobile-link
    //-     a.button.button-primary(target='_blank', href='mailto:someone@example.com') Click Here 
  
     
