      
.hc-feature.over-rel.padding.hc-email
  .email-widget
    //- p.hc-email-invite
    //-   b Our invite-only First Token Sale is now complete!
    h4(style="margin:0px;") Get invited to participate in Storecon's Second Token Sale
    form.row.form
      .eight.columns
        input.u-full-width(type='email', name='email', placeholder='Enter your email address')
      .four.columns
        input.button-primary(type='submit', value='Get Started')
    //- p(style="text-align:left; max-width: 960px;") Invites to our Second Token Sale will be sent December 2017
          
  form.steps-form
    .email-steps.step-1
      h4 Welcome to the private, invite-only Second Token Sale for Storecoin #💰
      p Please take three minutes to complete our application.
      p All information will remain confidential with Storecoin, Inc.
      p Invites to our Second Token Sale will be sent out in December 2017.
      hr
      .button-group
        button.button-next.button-primary(data-step='step-1-0')
          | Next
          i.ion-chevron-right(style="margin-left:5px;")
            
    .email-steps.step-1-0
      p Are you a resident of the People's Republic of China?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="china-resident", value='Yes')
        label Yes
      .field.radio-field
        .hc-radio-btn.checked
        input(type='radio', name="china-resident", value='No', checked)
        label No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-1-1')
          | Next
          i.ion-chevron-right
        button.button-next.button-primary(data-step='step-1-2', style="display:none;")
          | Next
          i.ion-chevron-right
            
    .email-steps.step-1-1
      p Before you begin, we recommend that you read 
        span  the latest SEC investor bulletin 
        |  about buying Blockchain Tokens or App Coins.
      a.button.button-primary(href="https://www.investor.gov/additional-resources/news-alerts/alerts-bulletins/investor-bulletin-initial-coin-offerings", target="_blank") Read
      hr
      .button-group
        button.button-back.button-primary(data-step='step-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-1-2
      p As of September 4, 2017, we have concluded that, due to the changing regulatory environment in the People's Republic of China with respect to the distribution of cryptographic tokens generally, Storecoin will not sell tokens to residents of the People's Republic of China.
      p(style="margin-bottom:0px;") Although:
      p(style="margin-bottom:0px;") 
        span(style="color: #e97844; font-size:1.5em;") a)
        |  Storecoin Tokens do not fall within the definition of “security” as stipulated by the Securities Law of the People's Republic of China (as amended).
      p(style="margin-bottom:0px;") 
        span(style="color: #e97844; font-size:1.5em;") b) 
        |  The distribution of the Storecoin Tokens are not considered “illegal fundraising” as defined under the Criminal Law of the People's Republic of China (as amended).
      p
        span(style="color: #e97844; font-size:1.5em;") c) 
        |  Storecoin will comply with the amended Securities Law of China and prohibit residents of the PRC from purchasing Storecoin tokens. If a Chinese person does apply to purchase Storecoin Tokens, such person will not be approved by Storecoin, Inc.
      p If you are not a resident of the People's Republic of China, we encourage you to re-start the Second Token Sale invite process.
      button.button.button-primary.reset-button Restart
      

    .email-steps.step-2
      //- p It’s important that you understand storecoin Tokens are not securities. They	are	an	access	token	to	future	services,	products,	and	decentralized	applications	powered	by	the	Storecoin	blockchain.
      p Please read the following before applying for our Second Token Sale: 	
      p 
        b(style="color: #e97844; font-size:1.5em;") #1 
        |  As a potential Storecoin Token Buyer, I understand that the purpose of the storecoins is to facilitate the provision, utility, and receipt of certain apps and services within a future Storecoin Blockchain.
      hr
      .button-group(style="margin-bottom:1em;")
        button.button-back.button-primary(data-step='step-1-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2-1')
          | I Understand
          i.ion-chevron-right
      
    .email-steps.step-2-1      
      p 
        b(style="color: #e97844; font-size:1.5em;") #2 
        |  I	understand	that	my	purchase,	ownership,	receipt,	or	possession	of	Storecoin	Tokens	carry	no	rights,	express	or	implied,	other	than	the	right	to	use	Tokens	as	a	means	to	enable	usage	of	and	interaction	with Apps	and	Services	enabled	by	the	Storecoin	blockchain,	if	successfully	completed	and	deployed.	
      hr
      .button-group(style="margin-bottom:1em;")
        button.button-back.button-primary(data-step='step-2')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2-2')
          | I Understand
          i.ion-chevron-right
            
    .email-steps.step-2-2
      p 
        b(style="color: #e97844; font-size:1.5em;") #3 
        |  I	understand	and	accept	that	Tokens	do	not	represent	or	confer	any	ownership	right	or	stake,	share,	security,	or	equivalent	rights,	or	any	right	to	receive	future	revenue	shares,	intellectual	property	rights	or	any	other	form	of	participation	in	or	relating	to	a	Storecoin	blockchain,	Storecoin,	Inc,	and	its	corporate	affiliates,	other	than	any	rights	relating	to	the	provision	and	receipt	of	Services	in	the	Storecoin	blockchain	or	Storecoin app token.		
      hr
      .button-group(style="margin-bottom:1em;")
        button.button-back.button-primary(data-step='step-2-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-2-3')
          | I Understand
          i.ion-chevron-right
      
    .email-steps.step-2-3 
      p 
        b(style="color: #e97844; font-size:1.5em;") #4  
        |  I	also	understand	the	Tokens	are	not	intended	to	be	a	security,	commodity,	or	any	kind	of	financial	instrument.	
      hr
      .button-group
        button.button-back.button-primary(data-step='step-2-2')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-3')
          | I Understand
          i.ion-chevron-right
            
    //- .email-steps.step-2-4      
    //-   p Alright,	now	onto	information	about	Storecoin	and	our	First	Token	Sale!	
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-2-3')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-3')
    //-       | Next
    //-       i.ion-chevron-right
            
    .email-steps.step-3
      p(style="font-size: 1.2em; margin-bottom: 0.5em;") 
        b About Storecoin
      p Storecoin is a new public blockchain that will have zero transaction fees for users and developers. Our target market is the hierarchy-based franchise, chain store, and affiliate-based industries where free transactions will be required for meaningful mainstream adoption.
      p Our team has the key insights and experiences in hierarchy based business systems, distributed databases, enterprise software, payments, network effects, token economics, blockchain technology, and blockchain security to succeed.
      p We have offices in Silicon Valley, Buenos Aires, Eastern Europe, and Asia. We have team members working 24-hours per day, all around the globe.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-2-3')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-3-0')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-3-0
      p(style="font-size: 1.2em; margin-bottom: 0.5em;") 
        b About Dynamic Proof of Stake
      p Dynamic Proof of Stake (DyPoS) is the decentralized consensus algorithm invented by Storecoin Inc. to keep transactions free for users.
      p DyPoS uses new token inflation capped at 5% or less per year to pay transaction validators block rewards for processing the decentralized blockchain consensus.
      p DyPoS uses a similar algorithm as Uber surge pricing to determine daily block times and block rewards. Think of DyPoS as a 'surging public blockchain'.
      p DyPoS is a major breakthrough in both blockchain technology and public blockchain economics. We are currently filing several patents for it.
      img(src="/images/DyPoS-image.png", style="width:100%;")
      hr
      .button-group
        button.button-back.button-primary(data-step='step-3')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-4')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-4
      p(style="margin-bottom: 0.5em;") We’ve thought deeply about how to incentivize network effects on a new blockchain. 	
      p(style="margin:0px;") 
        b Here’s how Storecoins will be allocated:
      ul
        li 33% will be sold in up to six mini token sales to fund protocol development
          ul(style="margin-top:0.3em; font-size:0.8em;")
            li 7% was sold in our First Token Sale for $350,000
        li 33% will be allocated to founders, core developers, and team
          ul(style="margin-top:0.3em; font-size:0.8em;")
            li Founders have 4 year vesting
            li Contributors have 2 year vesting        
        li 33% will be allocated to incentivize participation in the Storecoin ecosystem
          ul(style="margin-top:0.3em; font-size:0.8em;")
            li This includes third party developers for the Storecoin blockchain, franchise and chain-based organizations who adopt the Storecoin Wallet, early blockchain validators, sales and distribution partners, and future M&A
            li All incentive-based partners have 4 year vesting
            li Validators of the Storecoin blockchain have 1 year vesting for their block rewards
      hr
      .button-group
        button.button-back.button-primary(data-step='step-3-0')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-5')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-5
      p The Storecoin Network Value (market capitalization) in our First Token Sale was $5,000,000. The price per token was $0.005. 7% of all storecoins were sold.
      p In our Second Token Sale, 40 Million storecoins or 4% of all tokens total, will be sold to invited and approved buyers. The price per token will be determined through an auction. Invites to the auction will be sent in December 2017.
      p Our Second Token Sale will give Storecoin additional capital to make key hires in blockchain security, engineering, and business development. It'll also help us to grow the Storecoin Alliance of major franchise and chain store organizations to 20,000+ stores and locations.
      hr
      .button-group
        button.button-back.button-primary(data-step='step-4')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-8')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-8
      p Storecoin Token Buyers will receive their storecoins as early as 2018 and as late as 2019.
      p The Token release schedule will be announced in 2018.
      p We're now in talks with major exchanges in the U.S., Japan, Korea, and Hong Kong about listing Storecoin once it releases.
      
      p(style="margin:0px;") 
        b Storecoin, Inc. will issue buyers either:
      ul
        li ERC20 tokens (that may convert into Storecoin blockchain tokens in the future)
        li Tokens from the Storecoin blockchain
        li Tokens from another blockchain such as EOS
      hr
      .button-group
        button.button-back.button-primary(data-step='step-5')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-8-1')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-8-1
      p The minimum purchase amount in our Second Token Sale will be $5,000 USD.
      p You can buy storecoins through USD Check, USD Wire, Bitcoin and Ethereum. 
      p As of today, this $5,000 USD minimum Storecoin token buy equals:			
      ul 
        li
          b
            span.eth-value 
          |  Ethereum
          
        li
          b
            span.btc-value 	
          |  Bitcoin
        //- li
        //-   b
        //-     span.bch-value 	
        //-   |  Bitcoin Cash
      hr
      .button-group
        button.button-back.button-primary(data-step='step-8')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-10')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-10         	
      p Do you want to participate in the Storecoin Second Token Sale, scheduled for December 2017?
      .field.radio-field
        .hc-radio-btn.checked
        input(type='radio', name="participate", value='Yes' checked)
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="participate", value='No')
        label(for='participate-no') No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-8-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-10-0')
          | Next
          i.ion-chevron-right
        button.button-end.button-primary(style='display:none;')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-10-0
      p Will you be participating on behalf of yourself or another organization/entity?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="participate-org", value='Myself')
        label(for='participate-yes') Myself
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="participate-org", value='Another organization or entity')
        label(for='participate-no') Another organization or entity
      
      div.text-box(style="margin-top:1em; display:none;")
        input(style="width: 100%; margin-bottom: 0.4em;", type="text", data-maxlength="40", name="about-org", onkeyup="maxcount(this)", placeholder="Another organization or entity")
        p.text-area-count(style="color:green;") (40)
        
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-10-1')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-10-1          	
      p Are	you	a	U.S.	resident?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="resident-us", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="resident-us", value='No')
        label(for='participate-no') No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10-0')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-11')
          | Next
          i.ion-chevron-right
        button.button-next.button-primary(style="display:none", disabled='', data-step='step-10-2')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-10-2          	
      p As a U.S.	resident,	are	you	an 
        a(href="https://en.wikipedia.org/wiki/Accredited_investor#United_States", target="_blank") Accredited	Investor?
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="accredited-investor", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="accredited-investor", value='No')
        label(for='participate-no') No
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="accredited-investor", value='I dont know')
        label(for='participate-no') I	Don’t	Know
      
      p(style="font-size:0.7em; margin-top:1em;") *You can continue by selecting any option
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-11')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-11
      p Have	you	participated	in	an	Token Sale	before?	
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="before-participate", value='Yes')
        label(for='participate-yes') Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="before-participate", value='No')
        label(for='participate-no') No
      hr
      .button-group
        button.button-back.button-primary(data-step='step-10-1')
          i.ion-chevron-left
          | Back
        button.button-back.button-primary(data-step='step-10-2', style="display:none;")
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-12')
          | Next
          i.ion-chevron-right
        button.button-next.button-primary(disabled='', data-step='step-12-1', style="display:none;")
          | Next
          i.ion-chevron-right
    
    .email-steps.step-12
      div(data-sticky-container='')
        p.sticky(data-margin-top='90') How	much	do	you	typically	buy	in	a	Token	Sale?
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='<$1,000')
            label(for='invest-1') <$1,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$1,000 - $5,000')
            label(for='invest-2') $1,000 - $5,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$5,000 - $25,000')
            label(for='invest-3') $5,000 - $25,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$25,000 - $50,000')
            label(for='invest-4') $25,000 - $50,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$50,000 - $75,000')
            label(for='invest-5') $50,000 - $75,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$75,000 - $100,000')
            label(for='invest-6') $75,000 - $100,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$100,000 - $150,000')
            label(for='invest-7') $100,000 - $150,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$150,000 - $200,000')
            label(for='invest-8') $150,000 - $200,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$200,000 - $250,000')
            label(for='invest-9') $200,000 - $250,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$250,000 - $500,000')
            label(for='invest-10') $250,000 - $500,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$500,000 - $1,000,000')
            label(for='invest-11') $500,000 - $1,000,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='invest', value='$1,000 - $3,000,000')
            label(for='invest-12') $1,000,000 or more
      hr
      .button-group
        button.button-back.button-primary(data-step='step-11')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-12-1')
          | Next
          i.ion-chevron-right
            
    .email-steps.step-12-1
      div(data-sticky-container='')
        p.sticky(data-margin-top='90') How much do you expect to buy in the Storecoin Second Token Sale?
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$5,000')
            label(for='invest-2') $5,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$5,000 - $25,000')
            label(for='invest-3') $5,000 - $25,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$25,000 - $50,000')
            label(for='invest-4') $25,000 - $50,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$50,000 - $75,000')
            label(for='invest-5') $50,000 - $75,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$75,000 - $100,000')
            label(for='invest-6') $75,000 - $100,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$100,000 - $150,000')
            label(for='invest-7') $100,000 - $150,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$150,000 - $200,000')
            label(for='invest-8') $150,000 - $200,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$200,000 - $250,000')
            label(for='invest-9') $200,000 - $250,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$250,000 - $500,000')
            label(for='invest-10') $250,000 - $500,000
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$500,000 - $1,000,000')
            label(for='invest-11') $500,000 - $1,000,000
        .fields
          .field.radio-field
            .hc-radio-btn
            input(type='radio', name='expect-buy', value='$1,000 - $3,000,000')
            label(for='invest-12') $1,000,000 or more
      hr
      .button-group
        button.button-back.button-primary(data-step='step-12')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(disabled='', data-step='step-15-1')
          | Next
          i.ion-chevron-right
      
    //- .email-steps.step-13
    //-   p Our purchase minimum is $2,500. This buys 500,000 storecoins.
    //-   p At $0.005 per storecoin, how may storecoins do you want to purchase?
    //-   .field
    //-     input.u-full-width(type='text', name='num-of-storecoins', data-type="number", style="max-width: 120px;")
    //-     label(style="margin:4px;") storecoins
    //-     input.u-full-width(type='text', name='storecoins-value', hidden, value="0")
    //-   .field.radio-field(style="margin-bottom:1em;")
    //-     .hc-radio-btn
    //-     input(type='checkbox')
    //-     label Buy the minimum
    //-   p 
    //-     b USD Value:
    //-       span.computed  $0
    //-   p.alert You cannot exceed more than $300,000 amount.
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-12')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(disabled='', data-step='step-14')
    //-       | Next
    //-       i.ion-chevron-right
    //-         
    //- .email-steps.step-14
    //-   p You	can	purchase	storecoins with	Ethereum,	Bitcoin,	or	USD.
    //-   p If purchasing	through	Bitcoin	or	Ethereum,	we’ll	use	the	price	of	the	Bitcoin	or	Ethereum	on	the	timestamped	receipt	that	you	sent	to	our	wallet	address	to	determine	the	amount	of	storecoin to	credit	you	with.
    //-   p If sending	through	USD,	we’ll	divide	the	dollar	value	by	$0.005	per	token	to	determine	the	number	of	tokens	to	credit	you	with.	 
    //-     
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-13')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-15')
    //-       | Next
    //-       i.ion-chevron-right
    //-         
    //- .email-steps.step-15
    //-   p What	method	will	you	be	sending	your	
    //-     span.usd-value 	
    //-     | in funds	to	purchase	storecoins?
    //-   p(style="margin:0px;") 
    //-     b Check all that apply:
    //-   .field-group
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' Bitcoin')
    //-       label(for='payment-type') Bitcoin
    //-       
    //-   .field-group
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' Bitcoin Cash')
    //-       label(for='payment-type') Bitcoin Cash
    //-     
    //-   .field-group  
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' Ethereum')
    //-       label(for='payment-type') Ethereum
    //-     //- .field.full-width.hidden
    //-     //-   input.u-full-width(type="text", name="payment-eth-address", placeholder="Your receiving Ethereum Address")
    //-     //-   p In	the	case the	First	ICO	is	oversubscribed	or	there	are issues	with	your	transaction,	we	may	issue you	a	refund	to	this	address.
    //-     
    //-   .field-group  
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' USD Coinbase')
    //-       label(for='payment-type') USD Coinbase
    //-     //- .field.full-width.hidden
    //-     //-   input.u-full-width(type="text", name="payment-cbase-address", placeholder="Your Coinbase Email Address" )
    //-     //-   p In	the	case	the	First	ICO	is	oversubscribed	or	there	are	issues	with	your	transaction,	we	may	
    //-     //-     | issue	you	a	refund	to	this	address.
    //-     
    //-   .field-group  
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' USD Paypal')
    //-       label(for='payment-type') USD Paypal
    //-       
    //-   .field-group  
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' USD Check')
    //-       label(for='payment-type') USD Check
    //-     //- .field.full-width.hidden
    //-     //-   input.u-full-width(type="text", name="payment-paypal-address", placeholder="Your Paypal Email Address" )
    //-     //-   p In	the	case	the	First	ICO	is	oversubscribed	or	there	are	issues	with	your	transaction,	we	may	
    //-     //-     | issue	you	a	refund	to	this	address.
    //-   
    //-   .field-group  
    //-     .field.radio-field
    //-       .hc-radio-btn
    //-       input(type='checkbox', name='payment-type', value=' USD Wire Transfer')
    //-       label(for='payment-type') USD Wire Transfer
    //-     //- .field.full-width.hidden
    //-     //-   input.u-full-width(type="text", name="payment-wire-address", placeholder="Your other method of payment.")
    //- 
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-14')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-15-1', disabled)
    //-       | Next
    //-       i.ion-chevron-right
            
    .email-steps.step-15-1
      p How did you learn about Storecoin?
      div.text-box
        textarea(data-maxlength="100", name="how-learn", onkeyup="maxcount(this)" placeholder="Type in the name of who referred you, copy and paste the URL of where you learned of Storecoin, or just share how you found us." style="min-height:70px;")
        p.text-area-count(style="color:green;") (100)
      .button-group
        button.button-back.button-primary(data-step='step-12-1')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-17')
          | Next
          i.ion-chevron-right
            
    //- .email-steps.step-16
    //-   p Before	proceeding,	we	recommend	that	you	read	the	Storecoin	Token	Sale	Terms	of	Service.
    //-   a.button.button-primary(href="/terms", target="_blank", style="margin-bottom:2em;") Review
    //-   //- .field.radio-field
    //-   //-   .hc-radio-btn
    //-   //-   input(type='radio', name="terms-agree", value='Yes')
    //-   //-   label(for='participate-yes') I	Agree	to	the	Storecoin	Token	Sale	Terms	of	Service
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-15-1')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-next.button-primary(data-step='step-17')
    //-       | Next
    //-       i.ion-chevron-right
            
    //- .email-steps.step-16-1
    //-   p Unfortunately,	we	cannot	sell	storecoins to	buyers	who	do	not	agree	with	our	Token	Sale	
    //-     | Terms	of	Service.	
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-15-1')
    //-       i.ion-chevron-left
    //-       | Back
    //-     button.button-okay.button-primary(style="margin-left:1em;")
    //-       | Okay
          
    .email-steps.step-17
      p In order to register for the Storecoin Second Token Sale, we need a 	
        b  confirmed	and	stable email address.	
      p Is this the best email to communicate with you about Storecoin?
      .field
        input.u-full-width(type='text', name='email', readonly, style="background: #c7dfb8; box-shadow: none; border: none; padding: 0px; color: #e97844; font-weight:bold;")
      .field.radio-field
        .hc-radio-btn.checked
        input(type='radio', name="email-dec", value='Yes', checked)
        label Yes
      .field.radio-field
        .hc-radio-btn
        input(type='radio', name="email-dec", value='No')
        label I need to change it
      hr
      .button-group
        .button-group
          button.button-back.button-primary(data-step='step-15-1')
            i.ion-chevron-left
            | Back
          button.button-next.button-primary(data-step='step-17-1', style="display:none;")
            | Next
            i.ion-chevron-right
          button.button-next.button-primary(data-step='step-18-1')
            | Next
            i.ion-chevron-right
          
    .email-steps.step-17-1
      p Confirm your email address
      .field
        input.u-full-width(type='email', name='confirm-email', placeholder="Enter Your Email Address")
      hr
      .button-group
        button.button-back.button-primary(data-step='step-17')
          i.ion-chevron-left
          | Back
        button.button-next.button-primary(data-step='step-18-1', disabled='')
          | Confirm
          
    //- .email-steps.step-18
    //-   p We	officially	have	you	interested	in	purchasing
    //-     span.num-of-storecoins 
    //-     | storecoins.
    //-     
    //-   p You	listed	payment	methods	as
    //-     span.payment-methods
    //-       
    //-   p(style="margin:0px;") Of the
    //-     span.storecoins-amount
    //-     | in storecoin that you wish to purchase, how will you pay for them?
    //-   
    //-   div.payment-group
    //-   p.total-percentage(style="font-size:1.5em;") 
    //-     b Total:
    //-     span  0%
    //-     
    //-   .field.percent-sum
    //-     input(type="text", hidden, name="percent-sum")
    //-   hr
    //-   .button-group
    //-     button.button-back.button-primary(data-step='step-17')
    //-       | Back
    //-     button.button-next.button-primary.button-submit(type="submit", disabled="")
    //-       | Next
    
    .email-steps.step-18-1
      div.invite-many-box(style="display:none;")
        textarea(placeholder="Separate each email address with a comma.", name="friend-email")
        //- a.button.button-primary.add-many-invites(style="width:100%; text-align:center; display:block;") Add Invites
        
      div.add-invite-box
        p Are there any friends or collegues that you want us to invite to the Storecoin Second Token Sale? We offer bonus tokens for qualified leads.
        div.friend-email-group
          div.input-close-group
            a
              i.ion-android-close
            input.u-full-width(type="email", placeholder="Email Address")
          div.input-close-group
            a
              i.ion-android-close
            input.u-full-width(type="email", placeholder="Email Address")
          div.input-close-group
            a
              i.ion-android-close
            input.u-full-width(type="email", placeholder="Email Address")
         
        .button-step-group(style="margin:0px;")
          a.button.button-primary.add-another-invite 
            i.ion-plus-circled
            | Add Another Invite
          a.button.button-primary.invite-many-button Invite Many
          
      hr
      .button-group
        button.button-back.button-primary(data-step='step-17-1')
          i.ion-chevron-left
          | Back
        button.button-primary.button-submit(type="submit")
          | Next
      
          
    .email-steps.step-19  
      p Thanks for applying to participate in the Storecoin Second Token Sale.
      p Our team will review your application. Once approved, we'll email you an invite to participate once our Second Token Sale opens up in December.
      p In the meantime, to stay up-to-date on Storecoin, 
        a(target="_blank", href="http://twitter.com/storecointeam", style="text-decoration:underline;") follow-us on Twitter 
        |  and 
        a(target="_blank", href="https://medium.com/@storecoin", style="text-decoration:underline;") read our blog
        |  on Medium.
      hr
      .button-group
        button.button-end.button-primary.orange
          | Done
          
      .hc-share-links
          h5(style="text-align:center;") Share this:
          div.button-group
            a.button.button-primary.twitter(target="_blank", href="https://twitter.com/intent/tweet?text=Apply%20to%20participate%20in%20the%20Invite-only%20Storecoin%20Second%20Token%20Sale&url=http://storeco.in&via=storecointeam")
              i.ion-social-twitter
              | Twitter
            //- a.button.button-primary.facebook(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=storeco.in")
            //-   i.ion-social-facebook
            //-   | Facebook
            a.button.button-primary.email(target="_blank", href="https://mail.google.com/mail/?view=cm&fs=1&to=someone@example.com&su=Participate%20in%20the%20Storecoin%20Second%20ICO&body=They%20are%20raising%20$150,000%20in%20their%20First%20of%20many%20small%20ICOs.%20You%20can%20participate%20here:%20http://storeco.in/firstico")
              i.ion-email
              | Email
            a.button.button-primary.email-mobile(target="_blank", href="mailto:info@example.com?subject=Participate%20in%20the%20Storecoin%20Second%20ICO&body=They%20are%20raising%20$150,000%20in%20their%20First%20of%20many%20small%20ICOs.%20You%20can%20participate%20here:%20http://storeco.in/firstico")
              i.ion-email
              | Email
              
    
    .success-message.message
      h4
        | Thanks for applying to the Storecoin Second Token Sale! Our team greatly appreciates your interest in our research and development.
      p
        | Once your application is approved, we'll email you an invite to participate in our Second Token Sale. It opens up in December 2017.
      p
        | In the meantime, to stay up-to-date on Storecoin, follow-us on Twitter and read our blog on Medium.
      .mobile-link
        a.button.button-primary(target='_blank', href='mailto:?Subject=FWD: Storecoin First Token Sale - By Invite Only?Body=http://storeco.in/firsttokensale')
          i.ion-email
          | Share with your friend
      .desktop-link
        a.button.button-primary(target='_blank', href='https://mail.google.com/mail/?view=cm&fs=1&to=&su=FWD: Storecoin First Token Sale - By Invite Only&body=http://storeco.in/firsttokensale')
          i.ion-email
          | Share with your friend
      .form.row.copy-link
        .eight.columns
          input.u-full-width.copy-target(readonly='', type='text', value='http://storeco.in/firsttokensale')
        .four.columns
          button.button.button-primary.copy-button
            i.ion-link
            |  Copy Link

//- include countdown
