#hc-first-dapp.hc-feature.over-rel.lite.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.inverted The	first	App
    p.hc-feature-lead 
      a(href="http://footprintchat.com", target="_blank") Footprint
      | ,	enterprise	chat	for	franchises	and	chain	stores,	will	be	a	major	developer	partner	for	Storecoin.
    p.hc-feature-lead With	Storecoin	integrated	as	its	native	cryptocurrency,	Footprint	will	kick	start	network	effects	between	Corporate	Headquarters,	Store	Locations,	those	staking	the	consensus	(miners),	3rd	party	app	developers,	distribution	partners,	and	storecoin token	buyers.
    
    #hc-slider
      .slide
        a.link 1
        img(src="images/slide-1.png")
        //- .image(style="background-image:url('images/slide-1.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 2
        img(src="images/slide-2.png")
        //- .image(style="background-image:url('images/slide-2.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 3
        img(src="images/slide-3.png")
        //- .image(style="background-image:url('images/slide-3.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 4
        img(src="images/slide-4.png")
        //- .image(style="background-image:url('images/slide-4.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 5
        img(src="images/slide-5.png")
        //- .image(style="background-image:url('images/slide-5.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 6
        img(src="images/slide-6.png")
        //- .image(style="background-image:url('images/slide-6.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 7
        img(src="images/slide-7.png")
        //- .image(style="background-image:url('images/slide-7.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 8
        img(src="images/slide-8.png")
        //- .image(style="background-image:url('images/slide-8.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 9
        img(src="images/slide-9.png")
        //- .image(style="background-image:url('images/slide-9.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 10
        img(src="images/slide-10.png")
        //- .image(style="background-image:url('images/slide-10.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 11
        img(src="images/slide-11.png")
        //- .image(style="background-image:url('images/slide-11.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 12
        img(src="images/slide-12.png")
        //- .image(style="background-image:url('images/slide-12.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 13
        img(src="images/slide-13.png")
        //- .image(style="background-image:url('images/slide-13.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 14
        img(src="images/slide-14.png")
        //- .image(style="background-image:url('images/slide-14.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 15
        img(src="images/slide-15.png")
        //- .image(style="background-image:url('images/slide-15.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 16
        img(src="images/slide-16.png")
        //- .image(style="background-image:url('images/slide-16.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 17
        img(src="images/slide-17.png")
        //- .image(style="background-image:url('images/slide-17.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 18
        img(src="images/slide-18.png")
        //- .image(style="background-image:url('images/slide-18.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 19
        img(src="images/slide-19.png")
        //- .image(style="background-image:url('images/slide-19.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 20
        img(src="images/slide-20.png")
        //- .image(style="background-image:url('images/slide-20.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 21
        img(src="images/slide-21.png")
        //- .image(style="background-image:url('images/slide-21.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 22
        img(src="images/slide-22.png")
        //- .image(style="background-image:url('images/slide-22.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 23
        img(src="images/slide-23.png")
        //- .image(style="background-image:url('images/slide-23.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 24
        img(src="images/slide-24.png")
        //- .image(style="background-image:url('images/slide-24.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 25
        img(src="images/slide-25.png")
        //- .image(style="background-image:url('images/slide-25.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 26
        img(src="images/slide-26.png")
        //- .image(style="background-image:url('images/slide-26.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 27
        img(src="images/slide-27.png")
        //- .image(style="background-image:url('images/slide-27.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 28
        img(src="images/slide-28.png")
        //- .image(style="background-image:url('images/slide-28.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slide
        a.link 29
        img(src="images/slide-29.png")
        //- .image(style="background-image:url('images/slide-29.png');")
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          
    p.hc-feature-lead.swipe-text(style="color:black; font-size:1em;") Swipe right to	see	what the Storecoin Wallet	integrated into	Footprint	may	one	day	look like	for	a	potential	Footprint	customer
