
#hc-first-token.hc-feature.over-rel.padding(class=inverted ? 'inverted orange' : '')
  .hc-chunk
    h2.hc-feature-title Use	of	First	Token	Sale	Proceeds
    ul
      li Publish	v0.1	of	the	Storecoin	Whitepaper
      li Publish	v1	of	Storecoin	network	economics
      li Conduct	extensive	load	tests	to	finalize	blockchain	scalability
      li Conduct	extensive	security	tests	to	finalize	the	consensus	protocol
      li Continue	building	our	Engineering,	Product,	and	Analyst	teams
      li Introduce a market-based auction format for our Second Token Sale
      li Write	smart	contracts	to	vest	the	tokens	of	Storecoin	founders,	core developers,	early	team,	and	key	distribution	partners
      li Launch the Second Storecoin Token Sale in Late 2017
      li Fully	align	Storecoin	governance	and	future	Token	Sales	with	the	guidance issued	by	the	SEC	in	July	2017
