#hc-matters.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title Why Footprint Matters
    //- p.hc-feature-lead Only 10-20 million people own digital currency today.		
    //- p.hc-feature-lead This is less than 0.3% of the world’s population.	
    p.hc-feature-lead
      | Footprint	can	help	mainstream	cryptocurrency	by	getting	Storecoin	Wallets	into	the	hands	of	millions	of	hourly	and	part-time	workers	around	the	globe.
    p.hc-feature-lead Footprint and Storecoin are separate Delaware-incorporated organizations. 
    p.hc-feature-lead.desktop(style='margin-bottom:0px;')
      | To	learn	more	about	Footprint, 
      a(href='https://mail.google.com/mail/?view=cm&fs=1&to=chris@footprintlabs.co&su=Referred from Storecoin', target='_blank', style='color:#e97844;')
        b  email the team.
    p.hc-feature-lead.mobile(style='margin-bottom:0px;')
      | To	learn	more	about	Footprint, 
      a(href='mailto:chris@footprintlabs.co?Subject=Referred from Storecoin', target='_blank', style='color:#e97844;')
        b  email the team.
