#governance-principles.hc-feature.over-rel.padding.lite
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title The 10 Principles of Storecoin’s Governance
    p.hc-feature-lead Storecoin’s Governance takes a system that has been vetted for hundreds of years – the U.S. Constitution – and removes most of the politics by replacing it with technology. 
    div.list
      div.item
        span 1
        | Protocol-level, monetary policy, and leadership changes require consensus between key network participants 
      div.item
        span 2
        | Change is difficult but the dBranch voters (decentralized workers) have a path to overrule the non-profit 
      div.item
        span 3
        | Enable monetary policy to evolve without a Fed-like governing body making unilateral financial decisions
      div.item
        span 4
        | Ensure that Governance is censorship resistant and not susceptible to collusion
      div.item
        span 5
        | Give every token holder the chance to create change – even when not having a vote in Governance
      div.item
        span 6
        | Come to an agreement on how to respond to hacks and loss of funds greater than 1% of the circulating token supply
      div.item
        span 7
        | Come to an agreement on whether to hard fork but aggressively defend against a hard fork outside of Governance
      div.item
        span 8
        | Allow the non-profit to make instant changes outside of Governance if the blockchain is at a Severe Threat Level
      div.item
        span 9
        | Operate forever using an ongoing endowment from inflationary rewards that supports core blockchain operations
      div.item
        span 10
        | Enable zero-fee, programmable payments for users and developers – across any design space – forever
