extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Token Sale FAQ

    .blog-news.hc-feature.over-rel.padding.disclaimer(style="padding-top:0px;")
      .hc-chunk
        iframe(src='https://docs.google.com/document/d/e/2PACX-1vSGplkYRk-bzWR2EiUcnjC7Nit84Nhg8QfbDXX4qALysB6iFoNM-xNeD7UyI2IPshhO7gysxvL2SCYR/pub?embedded=true' width="100%" style="height:1150px;", frameBorder="0")
                
    include email-widget
