extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Blog

    div(style="margin-top:5em;")
      .hc-feature.over-rel.padding(style="height:500px;")
        .hc-chunk.hc-intro-text-wrapper
          
              
    include email-widget
