#how-wallet-works.hc-feature.over-rel.padding.lite
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title How the Storecoin Wallet Works
    p.hc-feature-lead Once Third Party Developers integrate the Storecoin Wallet into their apps, every user on their app can have a Storecoin wallet. Storecoin can even power fee-less payments inside of apps. Apps that build on top of Storecoin will be called crypto-powered apps – or cApps.
    #wallet-slider.logo-slider
      .slide
        p
          a(href="/wallet", target="_blank")
            b Every user has a wallet
        img(src='/images/empty.png', data-src='/images/wallet-screen-1-v4.png')
      .slide
        p
          a(href="/wallet", target="_blank")
            b Users can trade their storecoins
        img(src='/images/empty.png', data-src='/images/wallet-screen-2-v4.png')
      .slide
        p
          a(href="/wallet", target="_blank")
            b Users can gift their storecoins
        img(src='/images/empty.png', data-src='/images/wallet-screen-3-v4.png')
      .slide
        p
          a(href="/wallet", target="_blank")
            b Developers can assign storecoins
        img(src='/images/empty.png', data-src='/images/wallet-screen-4-v4.png')
          
    //- div(style="display:flex; align-items: center; flex-wrap: wrap;")
    //-   p.hc-feature-lead(style="margin-bottom: 0px; margin-top:1.5em;")
    //-     a.underline(href="/wallet", target="_blank").orange-color See a Prototype for the Storecoin Wallet
    //- 
    //-   p.hc-feature-lead(style="margin-bottom: 0px; margin-top:1.5em;")
    //-     a.underline(href="/api", target="_blank").orange-color See a Prototype of the Developer API
