extends layout

block content
  div#hc-content.home-page
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead
          b A zero-fee, programmable, cryptocurrency with a Governance of checks and balances.

        p.hc-feature-lead If Ripple is taking on SWIFT, $STORE is taking on the global $21 Trillion credit and debit card markets.
        if !countdown
          div.buttons
            a.hc-button.orange(href="http://t.me/storecoin", target="_blank") JOIN OUR TELEGRAM
              i.ion-arrow-right-c
            a.hc-button.green(href=URL('/media/Storecoin-Summary.pdf'), target="_blank") DOWNLOAD A SUMMARY

        if countdown
          include countdown

    #dynamic.intro-popup(style="display:none;")
      b Dynamic
      |  because our crypto economics or block rewards, consensus, throughput, and security are modeled after the dynamic nature of surge pricing in ride-sharing companies like Uber.
    #fork.intro-popup(style="display:none;")
      b Fork-tolerant
      |  because forks are first-class citizens in the BlockFin consensus algorithm. Forks typically indicate disagreement in traditional blockchains and hence, block creation is globally serialized. So, forks throttle the throughput artificially. By embracing chain forks, BlockFin allows for parallel block assembly and sealing by multiple validator nodes resulting in substantial improvements in throughput.
    #auditable.intro-popup(style="display:none;")
      b Auditable
      |  because all the operations on the blocks in the blockchain, such as adding transactions to the block and voting, counting, and sealing the blocks require that the nodes sign the relevant parts of the block with their secret. Thus, every operation leaves accessor's signature in the block, so every operation is automatically audited. Auditability improves security of the blockchain and resists long range and other types of attacks.

    if !countdown
      div#second-token-sale
        - var top = true
        include email-widget
        
    
    #our-vision.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead(style="max-width: 650px; margin-bottom: 0px;") To become zero-fee, programmable payments infrastructure for the globe.
        //-p.hc-feature-lead.note (a general compute zero-fee payments platform)

    include our-token-partners

    #our-mission.hc-big-feature.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Mission
        p.hc-feature-lead(style="max-width: 500px; margin-bottom: 0px;") To expand commence and trade by eliminating transaction fees.
        //- p.hc-feature-lead.note (a general compute, zero-free payments platform)
        
    #storecoin-video.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        div.tweets
          div.tweet
            iframe(width='100%', height='282', data-src='https://www.youtube.com/embed/wlEf1oKtP6w?rel=0', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='', style="max-width:500px;")

    include zero-fee-storecoin

    include index-content
