extends layout

block content
  div#hc-content.home-page
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead
          b Storecoin is a zero-fee, high-throughput, and decentralized cryptocurrency with a Governance of checks and balances.

        p.hc-feature-lead If Ripple is taking on SWIFT, Storecoin is taking on the global $21 Trillion market of ACH, debit card, and credit card purchases by making payments zero-fee for merchants, developers, customers, and users.
        if !countdown
          div.buttons
            a.hc-button.orange(href="http://t.me/storecoin", target="_blank") JOIN OUR TELEGRAM
              i.ion-arrow-right-c
            a.hc-button.green(href=URL('/media/Storecoin-Summary.pdf'), target="_blank") Download a Summary
          
        if countdown
          include countdown

    #dynamic.intro-popup(style="display:none;")
      b Dynamic
      |  because our crypto economics or block rewards, consensus, throughput, and security are modeled after the dynamic nature of surge pricing in ride-sharing companies like Uber.
    #fork.intro-popup(style="display:none;")
      b Fork-tolerant
      |  because forks are first-class citizens in the BlockFin consensus algorithm. Forks typically indicate disagreement in traditional blockchains and hence, block creation is globally serialized. So, forks throttle the throughput artificially. By embracing chain forks, BlockFin allows for parallel block assembly and sealing by multiple validator nodes resulting in substantial improvements in throughput.
    #auditable.intro-popup(style="display:none;")
      b Auditable
      |  because all the operations on the blocks in the blockchain, such as adding transactions to the block and voting, counting, and sealing the blocks require that the nodes sign the relevant parts of the block with their secret. Thus, every operation leaves accessor's signature in the block, so every operation is automatically audited. Auditability improves security of the blockchain and resists long range and other types of attacks.
    
    if !countdown
      div#second-token-sale
        - var top = true
        include email-widget

    #our-vision.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead(style="max-width: 650px; margin-bottom: 0px;") To become zero-fee, programmable payments infrastructure for the globe.
        //-p.hc-feature-lead.note (a general compute zero-fee payments platform)
        
    include token-sale-buyers
    
    #our-mission.hc-big-feature.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Mission
        p.hc-feature-lead(style="max-width: 650px; margin-bottom: 0px;") To become a zero-fee, programmable cryptocurrency that can compete with VISA-like networks and beyond
        //- p.hc-feature-lead.note (a general compute, zero-free payments platform)

    .hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin-top: 0px;") 
          b NOTE:
          |  Storecoin is a new public blockchain, not an ERC20 token.
        
        div.coin-wrapper  
          div.coin
            div.tails
            div.heads
          
        p.hc-feature-lead(style="margin-bottom: 0px;") Storecoin is secured by Dynamic Proof of Stake (DyPoS), a new consensus protocol.
    
    include storecoin-statements
    
    #storecoin-video.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        div.tweets
          div.tweet
            iframe(width='100%', height='282', data-src='https://www.youtube.com/embed/RBjWkvExQr4', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='', style="max-width:500px;")
    
    include storecoin-comparison-table
    
    include people-saying
    
    include our-latest

    include storecoin-in-the-news
    
    include our-team-widget

    include major-milestones
    
    .hc-feature.over-rel.padding.lite.banner
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style=" margin:0px !important;") See many more milestones at
          = ' '
          a.underline(href="http://storeco.in/milestones", target="_blank") http://storeco.in/milestones
    
    div#treasury-plan
      include network-distribution
      
    #treasury-schedule.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        .hc-image
          img(src='/images/empty.png', data-src="/images/1000-year-supply-v1.png")
          
    #store-rise.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted All money is trust, and belief in $STORE is on the rise
        .hc-image
          img(src='/images/empty.png', data-src="/images/teecollection.jpg", style="max-width: 750px;")
    
    include storecoin-roadmap
    
    #how-big.hc-big-feature.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted How big can this be?
        p.hc-feature-lead(style="max-width: 670px; margin-bottom: 0px;") Storecoin can become the leading zero-fee currency in the $21 Trillion debit card, credit card, and ACH market (Medium-of-Exchange) while also competing for a slice of the $100 Trillion global wealth market (Store-of-Value).
        //- p.hc-feature-lead.note (a general compute, zero-free payments platform)
        
    #storecoin-vs-global-markets.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        .mobile-image
          div.click-message
            div.message-container
              i.ion-arrow-expand
              span Click to expand
        .hc-image.info-fullscreen
          img(src='/images/empty.png', data-src="/images/storecoin-vs-global-tm-v11.png", style="max-width: 750px;")
        
    #pomelo-paper.hc-feature.over-rel.padding.pink.banner
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title This is Our Visual Whitepaper
        p.tag-line (Our Whitepaper will release once we're finished with research and development)
        div.row
          a.underline(href=URL('/media/Storecoin-Visual-Whitepaper.pdf'), target="_blank") Download the Full Paper
          i.ion-record
          a.underline(href=URL('/media/Storecoin-Summary.pdf'), target="_blank") Download the Summary
          
    #about-storecoin.hc-feature.over-rel.padding.left-align
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.icon(style="text-align:left;") ABOUT STORECOIN
          img(src="/images/storecoin-logo.png")
        p.hc-feature-lead Storecoin is a zero-fee, high-throughput, and decentralized cryptocurrency with a Governance of checks and balances – similar to the checks and balances of the United States Constitution.

        p.hc-feature-lead If Ripple is taking on SWIFT, Storecoin is taking on the global $21 Trillion market of ACH, debit card, and credit card purchases by making payments zero-fee for merchants, developers, customers, and users.

        div.coin-components
          div.orange.comp 
            b Zero-Fee Transactions
            |  for Developers, Merchants, Users, and Customers
            
          div.comp-row
            div.green.comp 
              span True
              = ' '
              span Decentralization
            div.green.comp 
              b High-Throughput
              |  Transactions
            div.green.comp On-Chain and Off-Chain 
              b  Security
            div.green.comp 
              b Governance
              |  with Checks and Balances
              
          div.orange.comp Dynamic, Inflationary Rewards pegged to staking -- capped at 2% per year
          div.litegreen.comp Flexible block rewards enabling STORE to be distributed to the global masses
        
        p.hc-feature-lead Storecoin's native currency, STORE, uses a sustainable inflationary monetary policy to achieve zero-fee transaction fees for merchants, developers, and end users. Inflation is dynamically pegged to the number of tokens staked by dWorkers, who are in turn rewarded for contributing resources to the protocol's validation, governance, security, and scalability mechanisms. The rate of inflation grows proportionally to the growth of total value staked, reaching a hard cap at 51% of total supply staked: at this limit, annual token inflation flatlines at 2%. This 51% gives Storecoin high levels of Store-of-Value while enabling the blockchain to retain its zero-fee, programmable payments utility.

        p.hc-feature-lead The real-time state of economics and the pricing of security are determined on a block-by-block basis by its Dynamic Proof of Stake protocol (DyPoS).

        p.hc-feature-lead Storecoin strives to take the Web 3.0 ethos one step further, leveraging a unique on-chain governance model similar to the U.S. Constitution's checks and balances system. This additional layer of trust and enforceability provides Storecoin with the necessary security and censorship resistance required to attract Fortune 500 companies and entrepreneurs-alike to build on its zero-fee, programmable payments platform.
        
        p.hc-feature-lead To get distribution into cash registers, App Stores, and banking infrastructure around the world, Storecoin will cut distribution partners into its block reward. Instead of getting paid by transaction fees, they’ll get paid with STORE tokens.
        
        p.hc-feature-lead Making p2p, programmable payments zero-fee while still generating revenue for its banking and financial partners is how Storecoin competes with VISA-like networks and beyond.

    //-.hc-feature.over-rel.padding.inverted(style="padding:2em;")
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin:0px;") Click each section to learn more about Storecoin

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 About Dynamic Proof of Stake (DyPoS)
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section
      #dypos-overview.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title Overview
          p.hc-feature-lead Today’s newer generation of blockchains are making tradeoffs between scalability and decentralization.
          p.hc-feature-lead High-throughput transactions with true decentralization can exist and must exist in order for these new currencies to be censorship resistant.
          p.hc-feature-lead Storecoin is on the way to achieving hundreds of thousands of transactions per second with hundreds of thousands of computers securing the network.
          p.hc-feature-lead(style="margin-bottom: 0px;") The economics of our Dynamic Proof of Stake (DyPoS) protocol incentivize it while the Blockfin consensus engine enables it.

      include dypos-algorithm
      
      #blockfin.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title It starts with BlockFin, our consensus engine
          p.hc-feature-lead BlockFin is a fork-tolerant, decentralized, high-throughput, and 2/3 Byzantine Fault Tolerant consensus algorithm being invented and built by the Storecoin team. It is patent-pending for the purpose of preventing malicious hard forks outside of Governance – otherwise it will be open sourced for any non-DyPoS use case, in any industry.
          div.tweets
            div.tweet
              blockquote.twitter-tweet(data-lang='en')
                p(lang='en', dir='ltr')
                  | Here's a look at our first technical research paper at
                  a(href='https://twitter.com/StorecoinTeam?ref_src=twsrc%5Etfw') @StorecoinTeam
                  | .  This details our consensus algorithm currently code named "BlockFin".
                  br
                  br
                  | We'll release to the public before our final token event, in 2019.
                  a(href='https://t.co/TYGGg4qPQ9') pic.twitter.com/TYGGg4qPQ9
                | — Storecoin (@StorecoinTeam)
                a(href='https://twitter.com/StorecoinTeam/status/963511294941790208?ref_src=twsrc%5Etfw') February 13, 2018
      
      include why-fork-tolerance
      
      #blockfin-presentation.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Blockfin works with DyPoS
          iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vRJorF_Iu7qT0FWyTORNy4Xha1FfFgSzd5HbpNx7iTRPKLShAfKQ4pRoHz1R6tm_VdtQWuJXxXcHfoN/embed?start=false&loop=true&delayms=60000", frameborder="0")

      include blockfin-principles

      //- include transaction-blockfin

      .hc-feature.over-rel.padding.inverted(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style=" margin:0px !important;") Learn more about BlockFin at
            = ' '
            a.underline(href="http://storeco.in/blockfin", target="_blank") http://storeco.in/blockfin

      include worker-types

      include six-engines

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 The economics of DyPoS
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section
      #protocol-value.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title Store-of-Value and protocol network effects create long-term economic value
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/protocol-value.png", style="max-width: 900px;")
              
      #economic-rewards.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How STORE is both a Store-of-Value and a Medium-of-Exchange
          p.hc-feature-lead Storecoin uses both economic rewards and caps on rewards to incentivize for 51% of the blockchain’s circulating token supply to be utilized as a Store-of-Value (digital gold) while 49% is utilized as zero-fee, programmable payments infrastructure (Medium-of-Exchange).
          p.hc-feature-lead
            b Ideal circulating supply in Storecoin
          .hc-image
            img(src='/images/empty.png', data-src="/images/economic-reward-chart.png", style="max-width: 500px;")
            
      #store-of-value.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Store-of-Value is achieved
          p.hc-feature-lead A maximum of 2% yearly new token inflation keeps transactions zero-fee for developers, merchants, users, and customers.
          p.hc-feature-lead These inflationary rewards are pegged to the percentage of the circulating token supply, incentivizing up to 51% of the supply to become a Store-of-Value
          p.hc-feature-lead As inflationary rewards grow, more dWorkers will stake. This grows both protocol network effects and Store-of-Value properties. As the price of STORE grows, the total contract value of all tokens staked grows. As the total contract value grows, Storecoin will become even more of a secure Store-of-Value.
          .hc-image
            img(src='/images/empty.png', data-src="/images/store-of-value-chart.png", style="max-width: 900px;")
    
      //-#inflation.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title A maximum of 2% Inflation Keeps Transactions Zero-Fee
          p.hc-feature-lead(style="margin-bottom:0px;") (Inflationary rewards are pegged to the % of staking of the circulating supply)
      
      #free-transactions.hc-feature.over-rel.padding(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Zero-Fee Transactions are Financed
            p.hc-feature-lead Transactions are free for users and developers because they’re paid for with inflationary rewards capped at 2% per year. Award amounts are dynamic, based upon the total amount of staking amongst the decentralized workforce. 
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-financed-v3.png", style="max-width: 900px;")

      #rewards-allocated.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Dynamic Block Rewards are Allocated
            p.hc-feature-lead Decentralized Workers earn up to 2% inflationary block rewards to perform work and supply compute for the blockchain. Rewards are determined by the amount of staking from dWorkers. 80% of the block rewards are paid participate in consensus , store the data , and scale the blockchain; 20% is shared between security, governance, processing power, core blockchain operations, and more.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/blocks-allocated-v5.png", style="max-width: 900px;")
      
      include business-case
      
      #staking-incentives.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title Staking incentivizes for decentralization and on-chain security
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/slope-staking-v3.png", style="max-width: 900px;")
              
      #friendly-tools.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title dWorkers have consumer-friendly tools to make long-term economic decisions about staking
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/friendly-tools.png", style="max-width: 900px;")
              
      #consumer-spend.hc-feature.over-rel.padding.inverted.orange
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title Why will consumers spend their STORE if it’s going up in value? Why will merchants accept STORE if it’s going down? 
            p.hc-feature-lead Removing the transaction fee will always make it cheaper for buyers to purchase using STORE and more profitable for sellers to accept STORE.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/consumer-spend.png", style="max-width: 900px;")
              
      #ongoing-research.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title Ongoing Research in Economics
          ul(style="list-style: disc;")
            li Introducing a stablecoin backed by block rewards
            li Lowering inflation to its minimum while ensuring positive ROI for dWorkers
            li Cost to participate for dWorkers as it relates to their tenure of staking
            li Incentivizing dWorkers for earlier participation (incentivizing network effects)
            li Economics for solving chargebacks and payment fraud using a new type of decentralized worker – the sAgent


      //-include dynamic-inflation

      //-#payments-incentives.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title Interest payments incentivize for blockchain performance
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/slope-proc-perf-v1.png", style="max-width: 900px;")

      .hc-feature.over-rel.padding.inverted.banner.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;") All DyPoS economics will release in the
            = ' '
            img(src='/images/empty.png', data-src="/images/icon-darkbg.png")
            |  Economics Paper

      //-#on-chain-security.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title On-chain security and decentralization create value
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image(style="padding-bottom:0px;")
              img(src='/images/empty.png', data-src="/images/slope-net-value-v2.png", style="max-width: 900px;")

          p.footer-text(style="text-align: right; margin-top: 2em; max-width: 900px; margin-bottom: 0.5em;") *This the core thesis at Storecoin and is not Investment advice

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How DyPoS is secured
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      include network-effects
      
      #transactions-secure.hc-feature.over-rel.padding(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Zero Fee Transactions are Secured With Bonds
            p.hc-feature-lead To prevent Storecoin from a DDoS attack or from the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction. 
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-zft-secure-v1.png", style="max-width:900px;")

      include security-system

      #dGuard-secure.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Dynamic Security Works
              span.orange-color(style="font-size:0.8em; margin-left:0.5em") (with dGuards)
            p.hc-feature-lead Decentralized Security Guards, or dGuards, secure the protocol by running full nodes to monitor all transactions and dWorker activity. They're rewarded with 75% of the burnt stake or bond from the found “bad” actors. The other 25% is paid to a security fund that refunds found payment fraud on the blockchain (ETA 2021).
            p.hc-feature-lead 
              b dGuards run full nodes and download the latest blockchain state.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-dyn-sec-works-v5.png", style="max-width:900px;")

      //-.hc-feature.over-rel.padding.inverted.banner(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style="margin:0px;") View Storecoin’s Live Engineering Roadmap at
            = ' '
            a.underline(href="http://storeco.in/engineering", target="_blank") http://storeco.in/engineering

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 Why Governance matters
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #governance-helped.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title Governance helped trade and commerce shape the world
            p.hc-feature-lead Simply, Governance is a rules engine that enforces contracts and laws which in return injects trust into markets that require trust – markets like trade and commerce. History has shown us that as trust increases, the amount of trade and commerce increases too.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/slope-comm-trade.png", style="max-width: 900px;")
              
      #governance.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The problems with blockchain Governance today
          p.hc-feature-lead For today’s public blockchains to move past prototypes and low usage dApps – to where entities trust a decentralized blockchain enough to process $10 Million+ of utility-based daily transaction volume – blockchains need an enforceable rules engine that has no centralization of power, that key network participants trust, and that is censorship resistant. 
          .hc-image
            img(src='/images/empty.png', data-src="/images/li-law-v2.png", style="max-width: 100px;")
          hr
          h3.hc-feature-title Public blockchains need a democratic and trusted Governance
          p.hc-feature-lead To shape the future of trade and commerce, blockchains need an enterprise-grade Governance that is trusted, enforceable, and reaches finality in a democratic process.
          .hc-image
            img(src='/images/empty.png', data-src="/images/li-court-v3.png", style="max-width: 200px;")
          hr
          h3.hc-feature-title Storecoin’s Solution to Governance
          p.hc-feature-lead Storecoin’s solution is a decentralized Governance where there is no centralization of power and all Changes are enforceable, consensus on Change is reached by four separate branches that check and balance each other on features, leadership, and Monetary Policy decisions. 

      //-#trusted-governance.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin: 0 auto;") Blockchains Need Enterprise Grade Governance
          p.hc-feature-lead For today’s public blockchains to move past prototypes and low usage dApps – to where entities trust a decentralized blockchain enough to process $10 Million+ of utility-based daily transaction volume in – blockchains need an enforceable rules engine that has no centralization of power, that key network participants trust, and that is censorship resistant.
          .hc-image
            img(src='/images/empty.png', data-src="/images/li-law-v2.png", style="max-width: 100px;")
          p.hc-feature-lead To shape the future of trade and commerce, blockchains need an enterprise-grade Governance that is trusted, enforceable, and reaches finality in a democratic process.
          .hc-image
            img(src='/images/empty.png', data-src="/images/li-court-v3.png", style="max-width: 200px;")
          p.hc-feature-lead Storecoin’s solution is a decentralized Governance where there is no centralization of power and all Changes are enforceable. Consensus on Change is reached by four separate branches that check and balance each other on protocol-level, key people, and monetary policy decisions. 

      #governance-compares.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Storecoin’s Governance compares
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-gov-compares-v3.png", style="max-width: 900px;")

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How checks and balances work
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section
      #separation-of-powers.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title.icon.left 
              img(src="/images/dynamic-governance-v2.png")
              | Separation of Powers in Storecoin’s Governance
            p.hc-feature-lead Governance is inspired by the checks and balances of the United States Constitution. Storecoin’s Governance ensures that a) there is no centralization of power for protocol-level changes, b) security matters most, and c) Monetary Policy requires Governance approval (there is no Fed).
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/sep-of-power.png", style="max-width: 900px;")
              
      include governance-principles
            
      #governance-branches.hc-feature.over-rel.padding(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title.icon.left 
              img(src="/images/dynamic-governance-v2.png")
              | Organizational Chart of Storecoin’s Governance
            p.hc-feature-lead For the first four years – until 5/21/2021 – the Storecoin organization has executive power over the blockchain. After, Governance will decide all changes to features, leadership, and Monetary Policy.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/4branches-gov-v3.png", style="max-width: 900px;")
              
      #check-balances.hc-feature.over-rel.padding(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Checks and Balances Work in Storecoin
            p.hc-feature-lead Change is possible, Change is democratic, but Change is hard. Also, fixing Security breaches takes priority over checks and balances.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/checks-balances.png", style="max-width: 900px;")
              
      #governance-hired.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Governance is Hired
              span(style="font-size:0.8em; color: grey; margin-left:0.2em;") (and fired)
            p.hc-feature-lead Checks and Balances prevent collusion, determine how key leadership is hired and fired, and keep it permissionless for dWorkers to participate (but they must KYC/AML check with Governance and be limited to only one node per individual or company/entity).
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-gov-hired-v5.png", style="max-width: 900px;")

      .hc-feature.over-rel.padding.inverted.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;") The
            = ' '
            img(src='/images/empty.png', data-src="/images/icon-darkbg.png")
            |  Governance enables any issue to reach finality with consensus

      #dBranch-overrule.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How the dBranch can overrule the non-profit
            p.hc-feature-lead Simply put, Governance in blockchain limits the centralized power of core developer teams. Storecoin’s Governance spreads influence to the far edges of the network ensuring the core developer team can be overruled while Change is difficult.
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/dbranch-overrule.png", style="max-width: 900px;")
              
      #change-governance.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title Change in Governance is possible but it becomes more difficult as protocol network effects and Store-of-Value properties grow
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/change-governance.png", style="max-width: 900px;")

      .hc-feature.over-rel.padding.inverted.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;") The
            = ' '
            img(src='/images/empty.png', data-src="/images/icon-darkbg.png")
            |  Charter will release in its upcoming Governance Paper

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How a censorship resistant Governance works
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #governance-look.hc-feature.over-rel.padding(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How Governance Would Look
              span(style="font-weight: 300;")  – if not censorship resistant
            p.hc-feature-lead The centralized way, using an app hosted by a centralized entity
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-gov-look.png", style="max-width: 900px;")

      #censorship-resistent.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title How a Censorship Resistant Storecoin Governance Works
            p.hc-feature-lead The decentralized way with a dApp hosted by Govnodes worldwide
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/how-cenres-gov-work-v1.png", style="max-width: 900px;")
            //-p.footer-text *Inspired by Angelo Milan’s work
            
      #friendly-dapp.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title dWorkers have a consumer-friendly dApp to study new Change Proposals, discuss, debate, and then vote
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/friendly-dapp.png", style="max-width: 900px;")

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 Our first design space:
          span(style="color:#6a6364;")  Apps not dApps
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up
    
    section
      #our-vision-zero-fee.hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title.inverted Our Vision for Zero-Fee, Crypto-Powered Apps
            = ' '
            span.note (cApps)
          p.hc-feature-lead In 1879, Thomas Edison brought commercial light bulbs to the world. These light bulbs eventually changed how we work, how we play, and how we communicate
          div.hc-image
            img.bulb-off(src='/images/empty.png', data-src="/images/bulb-glow.png")
            img.bulb-glow(src='/images/empty.png', data-src="/images/bulb-glow-v2.png", style="display:none;")
          p.hc-feature-lead By 2019, Storecoin will bring zero-fee, crypto-powered transactions to millions of apps, to trillions of API calls, and to thousands of mobile and web developers.
          p.hc-feature-lead Zero-fee, crypto-powered payments will open up a new platform for digital innovation – and beyond.
          p.footer-text NOTE: Storecoin tokens are divisible by eight decimal points
          p.footer-text(style="margin-bottom:0px;") 0.00000001 STORE equals 1 Edison
          
      div#zero-fee-market-case
        #storecoin-fits-in.hc-feature.over-rel.padding.lite
          .hc-chunk.hc-customize-text-wrapper
            h3.hc-feature-title The Market Case for Zero-Fee, Crypto-Powered Apps
            p.hc-feature-lead Zero-fee cApps are a new category for cryptocurrency and a new platform for payments.
            .hc-image(style="padding-bottom: 0px;")
              .desktop-image
                img(src='/images/empty.png', data-src='/images/crypto-quadrants-v2.png', style="max-width:630px; width:100%;")
              .mobile-image
                img(src='/images/empty.png', data-src='/images/crypto-quadrants-v2.png')
      
      #dapps-vs-capps.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title Why Apps not dApps?
          p.hc-feature-lead Solving for zero-fee payments inside of apps instead of becoming a dApp platform for new currencies to be created puts Storecoin on a more practical path to achieving minimum viable protocol, minimum viable trust, and high levels of Store-of-Value.

          p.hc-feature-lead The app layer focus is the same path taken by Bitcoin.

          p.hc-feature-lead.note(style="margin-bottom: 0px;")
            b NOTE:
            |  dApps might be premature until decentralized, high-throughput, and secure base layer protocols exist. Storecoin is hyper-focused on its base layer protocol before expanding into new platforms for payments.

      div#apps-benefit
        include app-types
        
      #trust-in-stores.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          div.info-fullscreen
            h3.hc-feature-title(style="margin-bottom: 0px;") How trust in STORE grows STORE into new environments
            p.hc-feature-lead(style="margin-top: 0px;") (into new platforms for programmable money)
            .mobile-image
              div.click-message
                div.message-container
                  i.ion-arrow-expand
                  span Click to expand
            .hc-image.section-image
              img(src='/images/empty.png', data-src="/images/slope-trust-v2.png", style="max-width: 900px;")

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How Storecoin incentivizes adoption
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section
      include network-effects-trust

      include distribution-strategy

      include how-wallet-works

      .hc-feature.over-rel.padding.inverted.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;")
           img(src='/images/empty.png', data-src="/images/icon-darkbg.png")
           = ' '
           | Wallet is business-model-as-a-service for Developers

      #storecoin-scales.hc-feature.over-rel.padding.inverted.orange
       .hc-chunk.hc-customize-text-wrapper
         h3.hc-feature-title How Storecoin Scales Globally
         p.hc-feature-lead Storecoin will require Know Your Customer (KYC) and Anti-Money Laundering (AML) checks for all decentralized workers.
         p.hc-feature-lead
          b Why?
          |  Because governments around the world won't trade their finance and banking laws for the innovation potential of p2p payments.
         p.hc-feature-lead(style="margin-bottom:0px;") With KYC/AML data for its decentralized workers, Storecoin software nodes will be regulatory-compliant on a country-by-country-basis giving the Storecoin blockchain a unique advantage to being embedded in traditional banking and financial infrastructure around the world.

      #global-compliance.hc-feature.over-rel.padding
       .hc-chunk.hc-customize-text-wrapper
         div.info-fullscreen
           h3.hc-feature-title How global KYC/AML compliance grows adoption
           .mobile-image
             div.click-message
               div.message-container
                 i.ion-arrow-expand
                 span Click to expand
           .hc-image.section-image
             img(src='/images/empty.png', data-src="/images/slope-adoption-v1.png", style="max-width: 900px;")

      #storecoin-ecosystem.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Storecoin Developer Ecosystem
          p.hc-feature-lead A coalition of organizations that have entered into long-term relationships with Storecoin as its exclusive cryptocurrency to be integrated into enterprise and consumer-facing apps.
          #eco-system-slider.logo-slider
            a.slide(href="http://alphamining.com/", target="_blank")
              img(src='/images/empty.png', data-src="/images/alphamining.png")
              p A PoW Blockchain Mining Operation & Test Network
            a.slide(href="http://blockview.co/", target="_blank")
              img(src='/images/empty.png', data-src="/images/blockview.png")
              p SQL for Blockchains
            a.slide(href="http://cryptowire.org/", target="_blank")
              img(src='/images/empty.png', data-src="/images/logo-crypto.png", style="width: 70%;")
              p The best crypto tweets, articles, and Reddit threads... by the minute.
          //-.row
            .hc-image(style="padding-bottom: 0px;")
              img(src='/images/empty.png', data-src="/images/alphamining.png")
              p A PoW Blockchain Mining Operation & Test Network
            .hc-image(style="padding-bottom: 0px; max-width: 260px;")
              img(src='/images/empty.png', data-src="/images/blockview.png")
              p SQL for Blockchains

      #ecosystem-fund.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Storecoin Ecosystem Fund
          p.hc-feature-lead Storecoin’s Ecosystem Fund will make equity-based investments into application-based companies that may be early Storecoin developers. From Storecoin’s 33% Incentivization Pool, developers will also be awarded STORE tokens to kickstart their
           = ' '
           img(src="/images/empty.png", data-src="/images/storecoin-logo.png")
           |  Wallet networks. Storecoin can also airdrop tokens into the Wallets of users from its ecosystem funded companies, further growing the use of STORE.
          .hc-image.section-image
            img(src="/images/ecosystem-fund.png", style="max-width:900px;")

      include our-partners

    //- .hc-feature.over-rel.padding.pink.banner(style="padding:2em;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title(style="margin:0") How to help Storecoin grow
    .hc-feature.over-rel.padding.pink.section-heading(style="padding:2em 1em; background-color: #dba38c;")
      .row
        h3 How to help Storecoin grow

    include project-schedule

    #help-grow.hc-feature.over-rel.padding.pink.inverted.module
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Join the Storecoin Community, Earn a Tee-Shirt
       .hc-image
         img(src='/images/empty.png', data-src="/images/join-community.png", style="max-width: 900px;")
       //-.desktop-image
         .hc-image
           img(src='/images/empty.png', data-src="/images/join-community.png", style="max-width: 900px;")
       //-.mobile-image
         .hc-image
           img(src='/images/empty.png', data-src="/images/pomelo-tee-mobile.png", style="max-width: 500px;")
       p.hc-feature-lead Start at
        = ' '
        a.underline(href="http://storeco.in/community") http://storeco.in/community

    #engage-with-us.hc-feature.over-rel.padding.inverted.module
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Engage with us on Social
       div.row
         div.item
           .hc-image
             img(src='/images/empty.png', data-src="/images/twitter-2.png", style="max-width: 250px;")
           p.hc-feature-lead
            a.underline(href="http://twitter.com/storecoin") http://twitter.com/storecoin

         div.item
          .hc-image
            img(src='/images/empty.png', data-src="/images/telegram.png", style="max-width: 250px;")
          p.hc-feature-lead
           a.underline(href="http://t.me/storecoin") http://t.me/storecoin

         div.item
           .hc-image
             img(src='/images/empty.png', data-src="/images/email.png", style="max-width: 250px;")
           p.hc-feature-lead
            a.underline(href="http://storeco.in/community") http://storeco.in/community

    #build-app.hc-feature.over-rel.padding.lite.module
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Build your app on top of Storecoin
       .hc-image
         img(src='/images/empty.png', data-src="/images/logo-v1.png", style="max-width: 150px;")
       p.hc-feature-lead
        a.underline(href="/developer") http://storeco.in/developer

    #contribute-code.hc-feature.over-rel.padding.module
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Contribute Code to the Storecoin project
       .hc-image
         img(src='/images/empty.png', data-src="/images/li-code.png", style="max-width: 150px;")
       p.hc-feature-lead
        a.underline(href="/code") http://storeco.in/code

    //- #dev-notes.hc-feature.over-rel.padding.lite.module
     //- .hc-chunk.hc-customize-text-wrapper
      //-  h3.hc-feature-title Subcribe to Engineering Notes
       //- .hc-image
         //- img(src='/images/empty.png', data-src="/images/devnotes.png", style="max-width: 150px;")
       //- p.hc-feature-lead
        //- a.underline(href="/devnotes") http://storeco.in/devnotes

    #research-paper.hc-feature.over-rel.inverted.padding.module
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Peer Review upcoming Research
       .hc-image
         img(src='/images/empty.png', data-src="/images/active-search-v1.png", style="max-width: 110px; width: 100%; background: white; border-radius: 15px; padding: 1em 4em;")
       p.hc-feature-lead
        a.underline(href="/review") http://storeco.in/review

    #validate.hc-feature.over-rel.padding.inverted.orange.module
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Help Validate the future Storecoin Blockchain
        .hc-image
          img(src='/images/empty.png', data-src="/images/validate-icon.png", style="max-width:200px;width:100%;background: white;border-radius: 15px;padding: 0px 1em;")
        p.hc-feature-lead Apply at
          = ' '
          a.underline(href="http://storeco.in/validate", target="_blank") http://storeco.in/validate

    #security-guard.hc-feature.over-rel.padding.module
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Become a dGuard to keep Storecoin secure
        .hc-image
          img(src='/images/empty.png', data-src="/images/dguard-icon-v2.png", style="max-width:200px; width:100%;")
        p.hc-feature-lead(style="color:#5d794c;") Apply at
          = ' '
          a.underline(href="http://storeco.in/dguard", target="_blank") http://storeco.in/dguard

    #host-eagent.hc-feature.over-rel.padding.lite.module
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Host eAgent Masternodes to scale Storecoin
        .hc-image
          img(src='/images/empty.png', data-src="/images/eagent-icon-v2.png", style="max-width:200px; width:100%;")
        p.hc-feature-lead(style="color:#5d794c;") Apply at
          = ' '
          a.underline(href="http://storeco.in/masternode", target="_blank") http://storeco.in/masternode

    #run-messagenode.hc-feature.over-rel.padding.module
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Run a Messagenode to host the blockchain
        .hc-image
          img(src='/images/empty.png', data-src="/images/messagenode.png", style="max-width:200px;width:100%;background: white;border-radius: 15px;padding: 1em;")
        p.hc-feature-lead Apply at
          = ' '
          a.underline(href="http://storeco.in/messagenode", target="_blank") http://storeco.in/messagenode

    #run-govnode.hc-feature.over-rel.padding.inverted.inverted.module
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Run a Govnode on your phone to host Governance
        .hc-image
          img(src='/images/empty.png', data-src="/images/govnode-icon.png", style="max-width:200px;width:100%;background: white;border-radius: 15px;padding: 1em;")
        p.hc-feature-lead Apply at
          = ' '
          a.underline(href="http://storeco.in/govnode", target="_blank") http://storeco.in/govnode

    - top = false
    include email-widget
