extends layout

block content
  div#hc-content.home-page
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead
          b Storecoin is a zero-fee, high throughput, and decentralized cryptocurrency with a Governance inspired by the U.S. Constitution.

        p.hc-feature-lead Storecoin is secured by Dynamic Proof of Stake (DyPoS). DyPoS is a new protocol for public blockchains.

    #dynamic.intro-popup(style="display:none;")
      b Dynamic
      |  because our crypto economics or block rewards, consensus, throughput, and security are modeled after the dynamic nature of surge pricing in ride-sharing companies like Uber.
    #fork.intro-popup(style="display:none;")
      b Fork-tolerant
      |  because forks are first-class citizens in the BlockFin consensus algorithm. Forks typically indicate disagreement in traditional blockchains and hence, block creation is globally serialized. So, forks throttle the throughput artificially. By embracing chain forks, BlockFin allows for parallel block assembly and sealing by multiple validator nodes resulting in substantial improvements in throughput.
    #auditable.intro-popup(style="display:none;")
      b Auditable
      |  because all the operations on the blocks in the blockchain, such as adding transactions to the block and voting, counting, and sealing the blocks require that the nodes sign the relevant parts of the block with their secret. Thus, every operation leaves accessor's signature in the block, so every operation is automatically audited. Auditability improves security of the blockchain and resists long range and other types of attacks.

    div#second-token-sale
      #note.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead
            b Note:
            |  Storecoin is a public blockchain, not an ERC20 token.
            br
            | STORE will be a hybrid Currency and Platform token.

      - var top = true
      include email-widget

    #our-vision.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead(style="max-width: 700px; margin-bottom: 0px;") To become zero-fee, programmable payments infrastructure for the globe.
        //- p.hc-feature-lead.note (a general compute, zero-free payments platform)

    include token-sale-buyers

    include people-saying

    include storecoin-comparison-table

    //- include storecoin-disclaimer

    include our-team-widget

    #our-mission.hc-feature.over-rel.padding.orange.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Mission
        p.hc-feature-lead(style="max-width: 700px; margin-bottom: 0px;") To become a zero-fee, programmable cryptocurrency that can compete with VISA-like networks and beyond
        //- p.hc-feature-lead.note (a general compute, zero-free payments platform)

    #storecoin-vs-global-markets.hc-feature.over-rel.padding.info-fullscreen
      .hc-chunk.hc-customize-text-wrapper
        .mobile-image
          div.click-message
            div.message-container
              i.ion-arrow-expand
              span Click to expand
        .hc-image
          img(src='/images/empty.png', data-src="/images/storecoin-vs-global-tm.png", style="max-width: 900px;")

    include business-case

    include major-milestones

    .hc-feature.over-rel.padding.inverted.banner
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style=" margin:0px !important;") See many more milestones at
          = ' '
          a.underline(href="http://storeco.in/milestones", target="_blank") http://storeco.in/milestones

    include storecoin-roadmap

    //- include about-token-sale-2

    include network-distribution

    #treasury-schedule.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        .hc-image(style="padding-bottom: 0px;")
          img(src='/images/empty.png', data-src="/images/1000-year-supply.png")

    #pomelo-paper.hc-feature.over-rel.padding.pink.banner
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title This is Our Pomelo Paper
        p.tag-line (Our Whitepaper will release once we're finished with research and development)
        div.row
          a.underline(href="/media/storecoin-pomelo-paper.pdf", target="_blank") Download the Full Paper
          i.ion-record
          a.underline(href="/media/storecoin-summary.pdf", target="_blank") Download the Summary

    .hc-feature.over-rel.padding.inverted.banner
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title(style="margin:0px;") Our first design space:
          span(style="color:rgb(199, 223, 184);")  crypto-powered apps

    #our-vision-zero-fee.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision for Zero-Fee, Crypto-Powered Apps
          = ' '
          span.note (cApps)
        p.hc-feature-lead In 1879, Thomas Edison brought commercial light bulbs to the world. These light bulbs eventually changed how we work, how we play, and how we communicate
        div.hc-image
          img.bulb-off(src='/images/empty.png', data-src="/images/bulb-glow.png")
          img.bulb-glow(src='/images/empty.png', data-src="/images/bulb-glow-v2.png", style="display:none;")
        p.hc-feature-lead By 2020, Storecoin will bring zero-fee, crypto-powered transactions to millions of apps, to trillions of API calls, and to thousands of mobile and web developers.
        p.hc-feature-lead Zero-fee, crypto-powered payments will open up a new platform for digital innovation – and beyond.
        p.footer-text NOTE: Storecoin tokens are divisible by eight decimal points
        p.footer-text(style="margin-bottom:0px;") 0.00000001 STORE equals 1 Edison

    #dapps-vs-capps.hc-feature.over-rel.padding.inverted.orange
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title dApps vs. cApps
        p.hc-feature-lead In a dApp, the p2p platform token is used to power transactions and/or compute in the smart contract layer.
        p.hc-feature-lead In a cApp, the p2p payment token is used inside of a centralized application as a medium of exchange.
        p.hc-feature-lead(style="margin-bottom: 0px;") As the Storecoin blockchain proves it can decentralize, scale, secure, and govern p2p transactions, STORE will evolve from a payment token into a hybrid payment and platform token.

    #storecoin-fits-in.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title The Market Case for Zero-Fee, Crypto-Powered Apps
        p.hc-feature-lead Zero-fee cApps are a new category and a new design space for public blockchains.
        .hc-image(style="padding-bottom: 0px;")
          .desktop-image
            img(src='/images/empty.png', data-src='/images/crypto-quadrants.png', style="max-width:700px; width:100%;")
          .mobile-image
            img(src='/images/empty.png', data-src='/images/crypto-quadrants.png')

    include app-types

    .hc-feature.over-rel.padding.inverted(style="padding:2em;")
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin:0px;") Click each section to learn more about Storecoin

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 About Dynamic Proof of Stake (DyPoS)
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section
      #blockfin.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title It starts with BlockFin, our consensus algorithm
          p.hc-feature-lead BlockFin is the patent-pending, high-throughput, and decentralized consensus algorithm invented and being built by the Storecoin Team.
          div.tweets
            div.tweet
              blockquote.twitter-tweet(data-lang='en')
                p(lang='en', dir='ltr')
                  | Here's a look at our first technical research paper at
                  a(href='https://twitter.com/StorecoinTeam?ref_src=twsrc%5Etfw') @StorecoinTeam
                  | .  This details our consensus algorithm currently code named "BlockFin".
                  br
                  br
                  | We'll release to the public before our final token event, in 2019.
                  a(href='https://t.co/TYGGg4qPQ9') pic.twitter.com/TYGGg4qPQ9
                | — Storecoin (@StorecoinTeam)
                a(href='https://twitter.com/StorecoinTeam/status/963511294941790208?ref_src=twsrc%5Etfw') February 13, 2018

      include why-fork-tolerance

      include blockfin-principles

      include transaction-blockfin

      .hc-feature.over-rel.padding.inverted(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style=" margin:0px !important;") Learn more about BlockFin at
            = ' '
            a.underline(href="http://storeco.in/blockfin", target="_blank") http://storeco.in/blockfin

      include worker-types

      include six-engines

      include dypos-algorithm

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 The economics of DyPoS
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #free-transactions.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Zero-Fee Transactions are Financed
          p.hc-feature-lead Transactions are free for users and developers because they’re paid for with inflationary rewards capped at 6% per year. Award amounts are dynamic, based upon the total amount of staking amongst the decentralized workforce.
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-financed.png", style="max-width: 900px;")

      #staking-incentives.hc-feature.over-rel.padding.info-fullscreen.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title Staking incentivizes for decentralization and on-chain security
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/slope-staking.png", style="max-width: 900px;")

      #rewards-allocated.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Dynamic Block Rewards are Allocated
          p.hc-feature-lead Decentralized Workers earn up to 6% inflationary block rewards to perform work and supply compute for the blockchain. Rewards are determined by the amount of staking from dWorkers. 80% of the block rewards are paid to process and scale the blockchain; 20% is shared between security, governance, processing power, and core blockchain operations
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/blocks-allocated.png", style="max-width: 900px;")


      include dynamic-inflation

      #payments-incentives.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title Interest payments incentivize for blockchain performance
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/slope-proc-perf.png", style="max-width: 900px;")

      .hc-feature.over-rel.padding.inverted.banner(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;") All DyPoS economics will release in the
            = ' '
            img(src='/images/empty.png', data-src="/images/icon-darkbg.png", style="height: 1em;")
            |  Economics Paper

      #on-chain-security.hc-feature.over-rel.padding.info-fullscreen.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title On-chain security and decentralization create value
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/slope-net-value.png", style="max-width: 900px;")

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How DyPoS is secured
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      include network-effects

      include security-system

      #dGuard-secure.hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Dynamic Security Works
            span.orange-color(style="font-size:0.8em; margin-left:0.5em") (with dGuards)
          p.hc-feature-lead Decentralized Security Guards, or dGuards, secure the protocol by running full nodes to monitor all transactions and dWorker activity. They're rewarded with 100% of the burnt stake or bond from found "bad" actors.
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-dyn-sec-works.png", style="max-width:900px;")

      #transactions-secure.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Zero Fee Transactions are Secured With Bonds
          p.hc-feature-lead To prevent Storecoin from a DDoS attack or from the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction.
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-zft-secure.png", style="max-width:900px;")

      .hc-feature.over-rel.padding.inverted.banner(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style="margin:0px;") View Storecoin’s Live Engineering Roadmap at
            = ' '
            a.underline(href="http://storeco.in/engineering", target="_blank") http://storeco.in/engineering

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 Why Governance matters
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #governance-helped.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title Governance helped trade and commerce shape the world
          p.hc-feature-lead Simply, Governance is a rules engine that enforces contracts and laws which in return injects trust into markets that require trust – markets like trade and commerce. History has shown us that as trust increases, the amount of trade and commerce increases too.
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/slope-comm-trade.png", style="max-width: 900px;")

      #trusted-governance.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin: 0 auto;") Blockchains Need Enterprise Grade Governance
          p.hc-feature-lead For today’s public blockchains to move past prototypes and low usage dApps – to where entities trust a decentralized blockchain enough to process $10 Million+ of utility-based daily transaction volume in – blockchains need an enforceable rules engine that has no centralization of power, that key network participants trust, and that is censorship resistant.
          .hc-image
            img(src='/images/empty.png', data-src="/images/li-law.png", style="max-width: 100px;")
          p.hc-feature-lead To shape the future of trade and commerce, blockchains need an enterprise-grade Governance that is trusted, enforceable, and reaches finality in a democratic process.
          .hc-image
            img(src='/images/empty.png', data-src="/images/li-court.png", style="max-width: 200px;")
          p.hc-feature-lead Storecoin’s solution is a decentralized Governance where there is no centralization of power and all Changes are enforceable. Consensus on Change is reached by four separate branches that check and balance each other on protocol-level, key people, and monetary policy decisions.

      include governance-principles

      #governance-compares.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Storecoin’s Governance compares
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-gov-compares.png", style="max-width: 900px;")

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How a checks and balances Governance works
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #governance-branches.hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Four Branches of Storecoin Governance
          p.hc-feature-lead Governance is inspired by the checks and balances of the United States Constitution. Storecoin’s Governance ensures that a) there is no centralization of power for protocol-level changes, b) security matters most, and c) monetary policy requires Governance approval (there is no Fed).
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/4branches-gov.png", style="max-width: 900px;")

      #governance-hired.hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Governance is Hired
            span(style="font-size:0.8em; color: grey; margin-left:0.2em;") (and fired)
          p.hc-feature-lead For the first four years – until 5/27/2021 – the Storecoin organization has executive power over the blockchain. After, Governance will decide all changes to features, people, and monetary policy.
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-gov-hired.png", style="max-width: 900px;")

      .hc-feature.over-rel.padding.inverted.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;") The
            = ' '
            img(src='/images/empty.png', data-src="/images/icon-darkbg.png", style="height: 1em;")
            |  Governance enables any issue to reach finality with consensus

      #token-owner.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Every Storecoin Token Owner Can Create Change
          div.sub-text.italics.color-red (Democracy)
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-token-owner-crate.png", style="max-width: 900px;")

      .hc-feature.over-rel.padding.inverted.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;") The
            = ' '
            img(src='/images/empty.png', data-src="/images/icon-darkbg.png", style="height: 1em;")
            |  Constitution will release in its upcoming Governance Paper

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How a censorship resistant Governance works
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #governance-look.hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How Governance Would Look
            span(style="font-weight: 300;")  – if not censorship resistant
          p.hc-feature-lead The centralized way, using an app hosted by a centralized entity
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-gov-look.png", style="max-width: 900px;")

      #censorship-resistent.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How a Censorship Resistant Storecoin Governance Works
          p.hc-feature-lead The decentralized way with a dApp hosted by Govnodes worldwide
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/how-cenres-gov-work.png", style="max-width: 900px;")
          p.footer-text(style="text-align: right; max-width: 900px; margin: 1em auto 0;") *Inspired by Angelo Milan’s work

    .hc-feature.over-rel.padding.pink.section-heading
      .row
        h3 How Storecoin incentivizes adoption
        div.icon
          i.ion-chevron-down
          i.ion-chevron-up

    section

      #storecoin-grows.hc-feature.over-rel.padding.lite.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Storecoin Ecosystem Fund
          p.hc-feature-lead Storecoin’s Ecosystem Fund will make equity-based investments into application-based companies that may be early Storecoin developers. From Storecoin’s 33% Incentivization Pool, developers will also be awarded storecoins to kickstart their development. Once Storecoin drives revenue, engagement, or growth, they’ll likely buy additional tokens to amplify Storecoin’s impact.
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/api-background.png", style="max-width: 900px;")

      #trust-in-stores.hc-feature.over-rel.padding.info-fullscreen
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title How trust in STORE grows STORE into new environments
          p.hc-feature-lead (into new design spaces)
          .mobile-image
            div.click-message
              div.message-container
                i.ion-arrow-expand
                span Click to expand
          .hc-image(style="padding-bottom: 0px;")
            img(src='/images/empty.png', data-src="/images/slope-trust.png", style="max-width: 900px;")

      include network-effects-trust

      include distribution-strategy

      include how-wallet-works

      .hc-feature.over-rel.padding.inverted.highlight(style="padding:2em;")
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title(style="margin:0px;")
           img(src='/images/empty.png', data-src="/images/icon-darkbg.png", style="height: 1em;")
           = ' '
           | Wallet is business-model-as-a-service for Developers

      #storecoin-scales.hc-feature.over-rel.padding.inverted.orange
       .hc-chunk.hc-customize-text-wrapper
         h3.hc-feature-title How Storecoin Scales Globally
         p.hc-feature-lead Storecoin will require Know Your Customer (KYC) and Anti-Money Laundering (AML) checks for all decentralized workers.
         p.hc-feature-lead
          b Why?
          |  Because governments around the world won't trade their finance and banking laws for the innovation potential of p2p payments.
         p.hc-feature-lead(style="margin-bottom:0px;") With KYC/AML data for its decentralized workers, Storecoin software nodes will be regulatory-compliant on a country-by-country-basis giving the Storecoin blockchain a unique advantage to being embedded in traditional banking and financial infrastructure around the world.

      #global-compliance.hc-feature.over-rel.padding.info-fullscreen
       .hc-chunk.hc-customize-text-wrapper
         h3.hc-feature-title How global KYC/AML compliance grows adoption
         .mobile-image
           div.click-message
             div.message-container
               i.ion-arrow-expand
               span Click to expand
         .hc-image(style="padding-bottom: 0px;")
           img(src='/images/empty.png', data-src="/images/slope-adoption.png", style="max-width: 900px;")

      #storecoin-ecosystem.hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Storecoin Developer Ecosystem
          p.hc-feature-lead A coalition of organizations that have entered into long-term relationships with Storecoin as its exclusive cryptocurrency to be integrated into enterprise and consumer-facing apps.
          .row
            .hc-image(style="padding-bottom: 0px;")
              img(src='/images/empty.png', data-src="/images/alphamining.png")
              p A PoW Blockchain Mining Operation & Test Network
            .hc-image(style="padding-bottom: 0px; max-width: 260px;")
              img(src='/images/empty.png', data-src="/images/blockview.png")
              p SQL for Blockchains

      #ecosystem-fund.hc-feature.over-rel.padding.lite
        .hc-chunk.hc-customize-text-wrapper
          h3.hc-feature-title The Storecoin Ecosystem Fund
          p.hc-feature-lead Storecoin’s Ecosystem Fund will make equity-based investments into application-based companies that may be early Storecoin developers. From Storecoin’s 33% Incentivization Pool, developers will also be awarded STORE tokens to kickstart their
           = ' '
           img(src="/images/empty.png", data-src="/images/storecoin-logo.png", style="margin-left:0px; height: 1em; vertical-align: text-top;")
           |  Wallet networks. Storecoin can also airdrop tokens into the Wallets of users from its ecosystem funded companies, further growing the use of STORE.
          .hc-image
            img(src="/images/ecosystem-fund.png", style="max-width:900px;")

      include our-partners

    .hc-feature.over-rel.padding.pink.banner(style="padding:2em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title(style="margin:0") How to help Storecoin grow

    include project-schedule

    #help-grow.hc-feature.over-rel.padding.pink.inverted
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Help grow the Storecoin Community, Earn a (Pomelo) Tee
       .hc-image
         img(src='/images/empty.png', data-src="/images/pomelo-tee.png", style="max-width: 500px;")
       p.hc-feature-lead(style="margin-bottom: 0px;") Start at
        = ' '
        a.underline(href="http://storeco.in/tee") http://storeco.in/tee

    #engage-with-us.hc-feature.over-rel.padding.inverted
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Engage with us on Social
       div.row
         div.item
           .hc-image
             img(src='/images/empty.png', data-src="/images/twitter-2.png", style="max-width: 250px;")
           p.hc-feature-lead(style="margin-bottom: 0px;")
            a.underline(href="http://twitter.com/storecoin") http://twitter.com/storecoin

         div.item
          .hc-image
            img(src='/images/empty.png', data-src="/images/telegram.png", style="max-width: 250px;")
          p.hc-feature-lead(style="margin-bottom: 0px;")
           a.underline(href="http://t.me/storecoin") http://t.me/storecoin

         div.item
           .hc-image
             img(src='/images/empty.png', data-src="/images/email.png", style="max-width: 250px;")
           p.hc-feature-lead(style="margin-bottom: 0px;")
            a.underline(href="http://storeco.in/community") http://storeco.in/community

    #build-app.hc-feature.over-rel.padding.lite
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Build your app on top of Storecoin
       .hc-image
         img(src='/images/empty.png', data-src="/images/logo.png", style="max-width: 150px;")
       p.hc-feature-lead(style="margin-bottom: 0px;")
        a.underline(href="/developer") http://storeco.in/developer

    #contribute-code.hc-feature.over-rel.padding
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Contribute Code to the Storecoin Project
       .hc-image
         img(src='/images/empty.png', data-src="/images/li-code.png", style="max-width: 150px;")
       p.hc-feature-lead(style="margin-bottom: 0px;")
        a.underline(href="/code") http://storeco.in/code

    #research-paper.hc-feature.over-rel.inverted.padding
     .hc-chunk.hc-customize-text-wrapper
       h3.hc-feature-title Peer Review upcoming Papers
       .hc-image
         img(src='/images/empty.png', data-src="/images/active-search.png", style="max-width: 150px;")
       p.hc-feature-lead(style="margin-bottom: 0px;")
        a.underline(href="/review") http://storeco.in/review

    //- include our-latest
    //-
    //- #orange-paper.hc-feature.over-rel.padding.orange.inverted
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted(style=" margin:0px !important;")  This is our Orange Paper
    //-     p (Our Whitepaper will release once we're finished with technical R&D)
    //-     div(style="text-align:center;")
    //-       a(href="https://dl.dropbox.com/s/2k1hjgpun73pyk6/Storecoin_OrangePaper_v36.pdf", target="_blank") Download the PDF version
    //-
    //- #market-case.hc-feature.over-rel.padding.left-align
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title The Market Case for Storecoin
    //-     p.hc-feature-lead Storecoin is the only blockchain protocol with a clear payments use case designed to solve a multi-billion dollar problem – the transaction fee problem for mobile and web app developers all around the world.
    //-     p.hc-feature-lead Storecoin keeps payments&nbsp;
    //-       b permanently free&nbsp;&nbsp;
    //-       | for application developers – including payments that are less than a penny.
    //-     p.hc-feature-lead Storecoin does this with its Dynamic Proof of Stake consensus algorithm (called “DyPoS)”
    //-     p.hc-feature-lead Unlike smart contract-powered public blockchains, Storecoin doesn't require developers to rebuild their applications as decentralized apps (called “dApps”).
    //-     p.hc-feature-lead Instead, Storecoin brings its digital asset – the storecoin token – directly into mobile and web apps as a new crypto-powered payments and incentivization platform.
    //-     p.hc-feature-lead We call these apps “cApps” – or&nbsp;
    //-       b crypto-powered apps.
    //-     p.hc-feature-lead With this approach, Storecoin will become new payment infrastructure and new incentivization infrastructure&nbsp;
    //-       b for the global internet.
    //-
    //- #big-market.hc-feature.over-rel.padding.lite
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title How big is this market?
    //-     p.hc-feature-lead There are millions of web and mobile app developers, with billions of users, all making trillions of API calls on their applications everyday.
    //-
    //-     p.hc-feature-lead As a developer platform, Storecoin can turn these basic API calls into paid and monetizable API calls where the payment has zero fees.
    //-
    //-     p.hc-feature-lead Storecoin can do this for the global internet.
    //-
    //-     p.hc-feature-lead Through Governance, features like smart contracts can be added to the decentalized blockchain protocol.
    //-
    //-     p.hc-feature-lead.last-child Then, both cApps and dApps can be built on top of Storecoin.
    //-
    //- #about-dypos.hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted(style=" margin:0px !important;")  About Dynamic Proof of Stake (DyPoS)
    //-
    //- //- banner
    //- #secure-storecoin.hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted(style=" margin:0px !important;") How Storecoin is Secured
    //-
    //- //- banner
    //- #checks-balances.hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted(style=" margin:0px !important;") How Checks and Balances prevent centralization
    //-
    //- #checks-balances-work.hc-feature.over-rel.padding.info-fullscreen(style="border-bottom: 2px dashed grey;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title How Checks and Balances Work
    //-     p.hc-feature-lead How protocol changes, security fixes, and Governance amendments are made.
    //-     div.sub-text.italics.color-red (The Charter)
    //-     .mobile-image
    //-       div.click-message
    //-         div.message-container
    //-           i.ion-arrow-expand
    //-           span Click to expand
    //-     .hc-image
    //-       img(src='/images/empty.png', data-src="/images/checks-balances-work-v8.png")
    //-
    //- #governance-matters.hc-feature.over-rel.padding.inverted.left-align
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title Why Governance Matters
    //-     p.hc-feature-lead Governance takes a system that has been vetted for hundreds of years – the U.S. Constitution – but removes the politics and replaces it with technology.
    //-     p.hc-feature-lead
    //-       | With Governance, Storecoin will:
    //-     ul(style='list-style:disc; margin-left: 1em;')
    //-       li Operate with yearly income that funds blockchain security, engineering, governance, and OpEx
    //-       li Make changes only if they can be secured
    //-       li Mitigate spam, attacks, and fraud throughout the entire blockchain ecosystem
    //-       li Prevent malicious activity such as a hard fork
    //-       li Maximize decentralization in Consensus
    //-       li Ensure that Governance is decentralized
    //-       li Give every token holder a voice
    //-       li Allow application developers to deliver crypto-powered free transactions for users, forever
    //-
    //- //- banner
    //- #storecoin-adoption.hc-feature.over-rel.padding.orange.inverted
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted(style=" margin: 0px !important;") How Storecoin gets market adoption
    //-
    //- #dev-eco.hc-feature.over-rel.padding.lite
    //-   .hc-chunk
    //-     h2.hc-feature-title The Storecoin Developer Ecosystem
    //-     p.hc-feature-lead A collation of organizations that have entered into long-term relationships with Storecoin as its exclusive cryptocurrency to be integrated into enterprise and consumer-facing apps.
    //-     div.logo-wrapper
    //-       div.logo
    //-         a(href="http://footprintchat.com", target="_blank").hc-image
    //-           img(src='/images/empty.png', data-src='/images/footprint-white-logo.png')
    //-       div.logo
    //-         a(href="/developer", target="_blank")
    //-           | Apply at
    //-           br
    //-           span http://storeco.in/developer
    //-
    //- //- banner
    //- #get-involve.hc-feature.over-rel.padding.orange.inverted
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted(style=" margin:0px !important;") How to get involved

    #validate.hc-feature.over-rel.padding.inverted.orange
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Help Validate the future Storecoin Blockchain
        .hc-image
          img(src='/images/empty.png', data-src="/images/validate-icon.png", style="max-width:200px;width:100%;background: white;border-radius: 15px;padding: 0px 1em;")
        p.hc-feature-lead(style=" margin-bottom:0px !important;") Apply at
          = ' '
          a.underline(href="http://storeco.in/validate", target="_blank") http://storeco.in/validate

    #security-guard.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Become a dGuard to keep Storecoin secure
        .hc-image
          img(src='/images/empty.png', data-src="/images/dguard-icon.png", style="max-width:200px; width:100%;")
        p.hc-feature-lead(style=" margin-bottom:0px !important; color:#5d794c;") Apply at
          = ' '
          a.underline(href="http://storeco.in/dguard", target="_blank") http://storeco.in/dguard

    #host-eagent.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Host eAgent Masternodes to scale Storecoin
        .hc-image
          img(src='/images/empty.png', data-src="/images/eagent-icon.png", style="max-width:200px; width:100%;")
        p.hc-feature-lead(style=" margin-bottom:0px !important; color:#5d794c;") Apply at
          = ' '
          a.underline(href="http://storeco.in/masternode", target="_blank") http://storeco.in/masternode

    #run-govnode.hc-feature.over-rel.padding.inverted.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Run a Govnode on your phone to host Governance
        .hc-image
          img(src='/images/empty.png', data-src="/images/govnode-icon.png", style="max-width:200px;width:100%;background: white;border-radius: 15px;padding: 1em;")
        p.hc-feature-lead(style=" margin-bottom:0px !important;") Apply at
          = ' '
          a.underline(href="http://storeco.in/govenode", target="_blank") http://storeco.in/govenode

    - top = false
    include email-widget
