extends layout

block more-head
  link(rel='stylesheet', href='/css/styles-new.css')

block content
  div#hc-content.home-page
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h1 TOKEN SALE WHITELIST
        p(style="max-width: 500px; width: 100%;") Welcome to the whitelist of the Third, Invite-Only and Milestone-based Token Sale for Storecoin ($STORE).
        div.row
          div.column
            div.list
              div.item
                i.ion-record
                div.text
                  div.title Hard Cap
                  div.date $9,950,000
              div.item
                i.ion-record
                div.text
                  div.title Soft Cap
                  div.date $1,975,000
              div.item
                i.ion-record
                div.text
                  div.title Price Per STORE Token
                  div.date $0.199
              div.item
                i.ion-record
                div.text
                  div.title Market Capitalization
                  div.date $52 Million
              div.item
                i.ion-record
                div.text
                  div.title Funds Accepted
                  div.date ETH, BTC, USD Wire
              div.item
                i.ion-record
                div.text
                  div.title Sale Starts
                  div.date August 27, 2018
                  
          div.column
            include countdown
        
    .hc-feature.over-rel.padding.left-align
      .hc-chunk.hc-intro-text-wrapper
        div.row
          div.column
            h3 We’ve built a platform to buy and sell shares.
            p We’re reinventing the global equity blockchian – that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital and the way investors buy and sell shares.
            
          div.column
            .hc-image
              img(src="http://wpdemo.oceanthemes.net/icos-light/wp-content/uploads/sites/16/2018/03/graph-dark-a.png", style="max-width: 400px;")
              
    .hc-feature.over-rel.padding.left-align
      .hc-chunk.hc-intro-text-wrapper
        div.row
          div.column
            .hc-image
              img(src="http://wpdemo.oceanthemes.net/icos-light/wp-content/uploads/sites/16/2018/03/graph-dark-b.png", style="max-width: 400px;")
          div.column
            h3 What is ICO Crypto?
            
            p ICO Crypto is a platform for the future of funding that powering dat for the new equity blockchain.

            p While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, & easy-to-use product based on private blockchain. It will include easy cryptocurrency payments integration, and even a digital arbitration system.

            p At the end, Our aims to integrate all companies, employees, and business assets into a unified blockchain ecosystem, which will make business truly efficient, transparent, and reliable.
