extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style="margin-bottom:0px;")
          b Storecoin will be a public blockchain powering 
          span(style="color:#c6dfb7;")
            b free transactions
          b  for users and app developers using its Dynamic Proof of Stake consensus (DyPoS).
        h2.hc-feature-lead
          | Using DyPoS, Storecoin will support a Wallet SDK for third party app developers to integrate storecoin tokens as their native, in-app cryptocurrency to incentivize its users and API calls.
        h2.hc-feature-lead(style="margin:0px;")
          | This will enable entirely new business models and behaviors for mobile and web applications.
    
    div#first-token-sale
    - var top = true  
    include email-widget
    
    //- include countdown
    
    .hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title(style="margin-bottom: 1.5em;") First Token Sale buyers
        #hc-buyers-slider.logo-slider
          .slide
            a(href="http://blocktower.com", target="_blank")
              img(src='/images/blacktower-logo.png')
          //- .slide
          //-   img(src='/images/blockfolio-logo.png')
          .slide
            a(href="http://palmdrivecap.com/", target="_blank")
              img(src='/images/palm-drive-logo.jpg')
          .slide
            img(src='/images/clinton-polley.png', style="width:40%;")

    #green-paper.hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;")  This website is our Orange Paper.
    
    //- .hc-feature.over-rel.padding.inverted.orange
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted What We Believe
    //-     p.hc-feature-lead(style="margin-bottom:0px;") Franchises,	chain	stores,	sports	leagues,	and affiliate-based	organizations	— industries governed	by	hierarchy,	by	privacy,	by complex	revenue	sharing,	and	by commissions	— will	all eventually	be tokenized	and blockchain-powered.
        //- p.hc-feature-lead
        //-   | Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	applications,	loyalty
        //-   | points,	and	market	networks	for	industries	representing	over	25%	of	global	GDP.
    #our-vision.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead In 1879, Thomas Edison brought commercial light bulbs to the world. The light bulbs changed how we work, how we play, and how we communicate.
        div.hc-image
          img.bulb-off(src="/images/bulb-off.png", style="width:200px;")
          img.bulb-glow(src="/images/bulb-glow.png", style="width:200px; display:none;")
        //- .bulb-container
        //-   .fancy-bulb
        //-     .left-streaks.streaks
        //-     svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 275.3 413.3', enable-background='new 0 0 275.3 413.3', xml:space='preserve')
        //-       g#off
        //-         path(fill='#E2ECF1', d='M137.7,13.7C67.2,13.7,10,70.9,10,141.4c0,58.3,72.8,118.2,79.9,162.3h47.8h47.8\
        //-         c7.1-44,79.9-103.9,79.9-162.3C265.3,70.9,208.2,13.7,137.7,13.7z')
        //-       g#on
        //-         path(fill='#FFDB55', d='M137.7,13.7C67.2,13.7,10,70.9,10,141.4c0,58.3,72.8,118.2,79.9,162.3h47.8h47.8\
        //-         c7.1-44,79.9-103.9,79.9-162.3C265.3,70.9,208.2,13.7,137.7,13.7z')
        //-       g#outline
        //-         path(fill='#F1F2F2', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', d='M168.5,375.5h-61.7c-8.9,0-16-7.2-16-16\
        //-         v-55.8h93.8v55.8C184.6,368.3,177.4,375.5,168.5,375.5z')
        //-         path(fill='#F1F2F2', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', d='M151.2,401.5h-27.1c-3.9,0-7-3.2-7-7v-19\
        //-         h41.1v19C158.2,398.4,155.1,401.5,151.2,401.5z')
        //-         line(fill='none', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', x1='184.6', y1='339.6', x2='90.8', y2='339.6')
        //-         path(fill='none', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', d='M137.7,13.7C67.2,13.7,10,70.9,10,141.4\
        //-         c0,58.3,72.8,118.2,79.9,162.3h47.8h47.8c7.1-44,79.9-103.9,79.9-162.3C265.3,70.9,208.2,13.7,137.7,13.7z')
        //-       g#highlight
        //-         path(fill='#FFDB55', stroke='#FFFFFF', stroke-width='21.0124', stroke-linecap='round', stroke-miterlimit='10', d='M207.1,89.5\
        //-         c-12.3-16.1-28.4-29.1-46.9-37.8')
        //-         path(fill='#FFDB55', stroke='#FFFFFF', stroke-width='21.0124', stroke-linecap='round', stroke-miterlimit='10', d='M225,121.4\
        //-         c-0.8-2.2-1.8-4.4-2.7-6.5')
        //-     .right-streaks.streaks
          //- .power
          //-   | Power
        p.hc-feature-lead By 2019, Storecoin will bring its public blockchain, the storecoin crypto token, and free transactions using the token to mobile and web application developers all around the world.
        p.hc-feature-lead(style="margin-bottom:0px;") This will light up new economics and incentives for web and mobile applications.
    
    //- .hc-feature.over-rel.padding.inverted
    //-   .hc-chunk
    //-     h2.hc-feature-title Why This Matters
    //-     p.hc-feature-lead Only	10-20	million	people	own	digital	currency	today. 		
    //-     p.hc-feature-lead This	is	less	than	0.3%	of	the	world’s	population.	
    //-     p.hc-feature-lead Rather than wait for decentralized apps to
    //-       b  a)
    //-       |  get built on top of smart contract platforms like Ethereum and 
    //-       b b)
    //-       |  get mainstream adoption with users, Storecoin is bringing cryptocurrency to existing web and mobile apps where Identity, Communication and Utility already have global network effects.
    //-     p.hc-feature-lead Our on-chain, Wallet SDK distribution strategy gives the Storecoin token a market of billions of existing API calls and user behaviors to incentivize.
    //-     p.hc-feature-lead(style="margin:0px;") Along with free transactions, once launched, this strategy for adoption positions Storecoin to be a dominant public blockchain for the globe.
    
    //- #vision.hc-feature.lite.over-rel.padding
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted Our Target Market
    //-     p.hc-feature-lead Storecoin will focus on hierarchy-based industries that represent +25% of global GDP.
    //-     .row.global-stats
    //-       .three.columns
    //-         .num
    //-           h3 $4
    //-           p Trillion
    //-         .text Global	Franchise	Industry
    //-       .three.columns
    //-         .num
    //-           h3 $18
    //-           p Trillion
    //-         .text Global	Chain-based	Businesses
    //-       .three.columns
    //-         .num
    //-           h3 $1.3
    //-           p Trillion
    //-         .text Global	Sports	Industry
    //-       .three.columns
    //-         .num
    //-           h3 $200
    //-           p Billion
    //-         .text Global	Affiliate	Industry
            
    //- #hc-current-status.inverted.orange.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted Storecoin Status
    //-     p.hc-feature-lead Storecoin	is	a	deep	R&D	initiative	in	the	earliest	stages	of	development.
    //-           
    //-     .text-group  
    //-       p.hc-feature-lead Our	aim	is	to	one	day	release	a	main	network	for	a	public	Storecoin	blockchain	but	first	we	need	to	verify	that	our	technology	goals	and	consensus	protocol	are	secure	and	scalable.	
    //-       p.hc-feature-lead To	fund	the	second	phase	of	this	deep	R&D	work,	we	are	selling	6%	of	the	Storecoin	token	supply	for	$300,000	USD.
    //-       p.hc-feature-lead Once	through	all	phases	of	R&D,	we’ll	release	the	Storecoin	Whitepaper	that	explains	our	technical	design	for	Storecoin	either	as	a	new	public	blockchain	or	as	an	ERC20-compatible	token.
    //-       p.hc-feature-lead Our	aim	is	to	release	Storecoin	as	a	new	public	blockchain.	
    //-     
    //-     .button-container
    //-       button.button.button-primary Learn More
    //-         i.ion-chevron-down
    
    .hc-feature.lite.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Token
        p.hc-feature-lead(style="text-align:left; margin:0px;") Storecoin will mint storecoins, a unique piece of code that can be used to:
          ol 
            li Validate the decentralized consensus
            li Secure the decentralized consensus
            li Secure blockchain transactions
            li Bring new incentives and reward to mobile web applications
        .hc-image
          img(src="/images/storecoin-currency.png", style="width:100%; max-width:400px;")
        p.hc-feature-lead Storecoins are divisible by eight. 0.00000001 storecoins are called 
          b 1 edison.
        p.hc-feature-lead(style="margin-bottom:0px;") Storecoin token expect to launch on public exchanges by Q4 2019.
        
    #network-effects.hc-feature.over-rel.inverted.padding
      .hc-chunk
        h2.hc-feature-title Problems In Public Blockhains
        p.hc-feature-lead 
          b.big-font.orange #1 
          | Only 10 - 20 million people own cryptocurrency today.
        p.hc-feature-lead This is less than 0.3% of the world's population.
        p.hc-feature-lead To gain mainstream adoption, public blockchains nedd use cases beyond financial speculation and decentralized applications.
        .incentives.desktop
          .rails-wrapper
            .rails
          .row
            .four.columns
            .four.columns.horizontal
              .incentive
                .title
                  img(src='/images/chart-2.png')
                  p More Adoption
                p.desc
                  | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
              img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns
          .row.middle
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/money.png')
                  p More Buyers
                p.desc
                  | The more demand to use the token, the more buyers there will be.
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/security-guards.png')
              //-     p More Security Guards
              //-   p.desc
              //-     | The more transactions on Storecoin, the more Security Guards are needed to identify spam and attacks.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/hammer.png')
              //-     p More Validators
              //-   p.desc
              //-     | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns.logo-wrapper
              img.logo(src='/images/blockchains-problem.png')
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/keyboard.png')
                  p More Developers
                p.desc
                  | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/building.png')
              //-     p More Organizations
              //-   p.desc
              //-     | As more developers build with Storecoin, more enterprise organizations will use (and pay for the usage of) Storecoin-powered apps.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
          .row.bottom
            .twelve.columns.horizontal
              .incentive
                .title
                  img(src='/images/money-bag.png')
                  p More Transactions
                p.desc
                  | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
              .incentive
                .title
                  img(src='/images/smile.png')
                  p More Users
                p.desc
                  | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
              
        .incentives.mobile
          .rails-wrapper
            .rails
          .row
            .four.columns
            .four.columns.horizontal
              .incentive
                .title
                  img(src='/images/chart-2.png')
                  p Token	Value
                p.desc
                  | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
              img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns
          .row.middle
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/keyboard.png')
                  p More Developers
                p.desc
                  | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/building.png')
              //-     p More Organizations
              //-   p.desc
              //-     | As more developers build with Storecoin, more enterprise organizations will use (and pay for the usage of) Storecoin-powered apps.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns.logo-wrapper
              img.logo(src='/images/logo.png')
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/smile.png')
                  p More Users
                p.desc
                  | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
              img.arrow-flow(src='/images/arrow-mobile.png')
              .incentive
                .title
                  img(src='/images/money-bag.png')
                  p More Organizations
                p.desc
                  | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain. 
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/security-guards.png')
              //-     p More Security Guards
              //-   p.desc
              //-     | The more transactions on Storecoin, the more Security Guards are needed to identify spam and attacks.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
          .row
            .four.columns
            .four.columns.horizontal
              .incentive
                .title
                  img(src='/images/money.png')
                  p More Buyers
                p.desc
                  | The more demand to use the token, the more buyers there will be.
            .four.columns
              
    .hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin-top:0px;") 
          b.big-font.orange #2 
          | Decentralized applications (dApps) powered by smart contracts will one day reinvent traditional software, but it's going to take a while.
        .hc-image
          img(src="/images/intersect-circles.png", style="width:100%;")
        p.hc-feature-lead Meanwhile, today there are billions of active users generating trillions of API calls on millions of different web and mobile applications – all without a native cryptocurrency to further incentivize and reward user actions in those apps.
        p.hc-feature-lead(style="margin-bottom:0px;") For mainstream user adoption, cryptocurrency tokens need to be integrated directly into existing web and mobile applications as crypto-powered API calls.
    
    .hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin-top:0px;") 
          b.orange.big-font #3 
          | To realize its full potential, blockchain transactions need to be free.
        p.hc-feature-lead As of Oct' 17, average transaction fees on Ethereum were $0.32. $3.11 with Bitcoin.
        p.hc-feature-lead Emerging public blockchains like EOS promote free transactions but in reality they'll require developers to own tokens in order for transactions to be 
          b permanently free.
        .hc-image(style="margin-bottom:2em;")
          img(src="/images/btc-average-fees.png")
        .hc-image
          img(src="/images/eth-average-fees.png")
            
    #solution.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Solution
        p.hc-feature-lead Storecoin, a new public blockchain with permanently free transactions through a new decentralized consensus algorithm called Dynamic Proof of Stake (DyPoS).
        .hc-image
          img(src="/images/logo.png")
        p.hc-feature-lead(style="margin-bottom:0px; text-align:left;") Also
        ul(style="list-style:outside; padding-left:1em;")
          li A distribution strategy to bring storecoins into mobile and web applications (not dApps)
          li A validation pool that incentivizes for full node global decentralization, where any token holder can participate, and where no validator ever has more than 5% of the power 
          li An income model where 1% of inflation pays for security, engineering, and operations
          li A decentralized Security Guard network incentivized to find spam and attacks
          li On-Chain Security with Storecoin as the final decision-maker 
          li On-Chain Governance modeled after the United States Constitution where only Validators  and Security Guards vote but no single node has more than 5% of the voting power
          li A new approach to scaling public blockchains introducing the concept of an “Agent”
          
    #hc-six-engines.hc-feature.lite.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted The Six Engines of DyPoS
        p.hc-feature-lead Dynamic Proof of Stake is made up of six interdependent engines.
        p.hc-feature-lead Each engine is powered by similar supply and demand economics as Uber Surge Pricing.
        div.engines
          div.engine
            .front
              img(src="/images/dynamic-transactions.png")
              div.title Dynamic (free) Transactions
            .back
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien metus, vestibulum a eros sit amet, facilisis suscipit neque. Donec viverra accumsan commodo. Proin semper turpis dapibus consectetur euismod. Nullam magna sem, hendrerit ultrices augue in, blandit aliquet odio. Donec cursus lacinia cursus.
          div.engine.right
            .front
              img(src="/images/dynamic-validation.png")
              div.title Dynamic Validation
            .back
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien metus, vestibulum a eros sit amet, facilisis suscipit neque. Donec viverra accumsan commodo. Proin semper turpis dapibus consectetur euismod. Nullam magna sem, hendrerit ultrices augue in, blandit aliquet odio. Donec cursus lacinia cursus.
        div.engines
          div.engine
            .front
              img(src="/images/dynamic-rewards.png")
              div.title Dynamic Block Rewards
            .back
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien metus, vestibulum a eros sit amet, facilisis suscipit neque. Donec viverra accumsan commodo. Proin semper turpis dapibus consectetur euismod. Nullam magna sem, hendrerit ultrices augue in, blandit aliquet odio. Donec cursus lacinia cursus.
          div.engine.right
            .front
              img(src="/images/dynamic-security.png")
              div.title Dynamic Security
            .back
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien metus, vestibulum a eros sit amet, facilisis suscipit neque. Donec viverra accumsan commodo. Proin semper turpis dapibus consectetur euismod. Nullam magna sem, hendrerit ultrices augue in, blandit aliquet odio. Donec cursus lacinia cursus.
        div.engines
          div.engine
            .front
              img(src="/images/dynamic-scaling.png")
              div.title Dynamic Scaling
            .back
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien metus, vestibulum a eros sit amet, facilisis suscipit neque. Donec viverra accumsan commodo. Proin semper turpis dapibus consectetur euismod. Nullam magna sem, hendrerit ultrices augue in, blandit aliquet odio. Donec cursus lacinia cursus.
          div.engine
            .front
              img(src="/images/dynamic-governance.png")
              div.title Dynamic Governance
            .back
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien metus, vestibulum a eros sit amet, facilisis suscipit neque. Donec viverra accumsan commodo. Proin semper turpis dapibus consectetur euismod. Nullam magna sem, hendrerit ultrices augue in, blandit aliquet odio. Donec cursus lacinia cursus.

    #strat-dist.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Wallet-based Distribution Strategy
        p.hc-feature-lead How Storecoin Wallets and storecoins will bedistributed to millions of users around the globe.
        //- div.hc-image
        //-   img.desktop-image(src="/images/strategy-distribution.png", style="width:100%;")
        //-   img.mobile-image(src="/images/strategy-distribution-mobile.png", style="width:100%;")
        div.desktop-image
          div.hc-strat-dist.five
            img(src="/images/strat-dist-5.png")
            p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or paid API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into fiat.
          div.hc-strat-dist.four
            img(src="/images/strat-dist-4.png")
            p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for the third party developers.
          div.hc-strat-dist.three
            img(src="/images/strat-dist-3.png")
            p A secure, unit of value allowing the owner to access services and/or data from the Storecoin Blockchain.
          div.hc-strat-dist.two
            img(src="/images/strat-dist-2.png")
            p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
          div.hc-strat-dist.one
            img(src="/images/strat-dist-1.png")
            p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
        div.mobile-image
          div.hc-strat-dist.five
            img(src="/images/strat-dist-mobile-5.png")
            p Third Party Apps can integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions - or paid API calls - to micro-units of storecoins so each time a user takes an action, they earnthe storecoin cryptocurrency.
          div.hc-strat-dist.four
            img(src="/images/strat-dist-mobile-4.png")
            p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for the third party developers.
          div.hc-strat-dist.three
            img(src="/images/strat-dist-mobile-3.png")
            p A secure, unit of value allowing the owner to access services and/or data from the Storecoin Blockchain.
          div.hc-strat-dist.two
            img(src="/images/strat-dist-mobile-2.png")
            p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
          div.hc-strat-dist.one
            img(src="/images/strat-dist-mobile-1.png")
            p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
      
        
    .hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Overview: Distributed Consensus Mechanisms
        .hc-image
          //- button.btn(title="I'm a tooltip!") Text
          .desktop-image
            img(src="/images/consensus-mechanism-wheel-v2.png", style="max-width:550px; width:100%;" usemap="#desktop-image-map")
            map(name='desktop-image-map')              
              area(title='BigChainDB<br>RAFT<br>PAXOS (including many variances, such as Fast PAXOS, Egalitarian Paxos, etc.)<br>Juno (RAFT-Hardened Tangaroa; JP Project)<br>Tangaroa<br>Mencius<br>Viewstamped replication<br>ZAB', coords="", mycoords='348,550,73,632,119,740,205,833,392,619', shape='poly')
              area(title='Graphene<br>Steem<br>BitShares<br>EOS', coords="", mycoords='213,839,314,907,432,940,473,657,401,625', shape='poly')
              area(title='Chia', coords="", mycoords='444,943,564,944,679,909,563,647,483,658', shape='poly')
              area(title='Filecoin', coords="", mycoords='692,905,802,833,872,746,632,589,569,643', shape='poly')
              area(title='Storecoin', coords="", mycoords='637,582,659,507,946,507,930,626,877,737', shape='poly')
              area(title='Casper<br>Ethereum (moving to PoS)<br>Cosmos<br>Stratis<br>Tezos', coords="", mycoords='658,497,635,419,880,263,930,379,946,496', shape='poly')
              area(title='Bitcoin<br>Colored Coins<br>Proprietary Metacoins<br>DAG (Directed Acylic Graphs)<br>Factom<br>Zcash', coords="", mycoords='631,412,570,358,693,94,795,161,872,254', shape='poly')
              area(title='Distributed concurrence<br>Corda (R3 CEV)', coords="", mycoords='562,353,484,342,444,59,561,55,681,93', shape='poly')
              area(title='PBFT (Practical Byzantine Fault Tolerance)<br>Derived PBFT (Hyperledger project)<br>RBFT (Redundant Byzantine Fault Tolerance, e.g., Evernym)<br>SBFT (Simplified Byzantine Fault Tolerance, e.g., Chain)', coords="", mycoords='400,377,472,343,434,61,317,89,211,159', shape='poly')
              area(title='Openchain<br>PoET (Proof of Elapsed Time) by Intel (Sawtooth Lake Project)', coords="", mycoords='393,383,353,449,74,368,120,259,207,165,311,289', shape='poly')
              area(title='Ripple (evolving into the inter-ledger protocol)<br>Stellar (Ripple fork)', coords="", mycoords='348,538,347,462,68,376,51,505,69,620', shape='poly')
                
          .mobile-image
            img(src="/images/consensus-mechanism-wheel-v2.png", style="max-width:600px; width:100%;" usemap="#mobile-image-map")
            map(name='mobile-image-map')
              area(data-featherlight="#box-1", coords="", mycoords='348,550,73,632,119,740,205,833,392,619', shape='poly')
              div#box-1.image-map-modal(style="display:none;")
                | BigChainDB
                br
                | RAFT
                br
                | PAXOS (including many variances, such as Fast PAXOS, Egalitarian Paxos, etc.)
                br
                | Juno (RAFT-Hardened Tangaroa; JP Project)
                br
                | Tangaroa
                br
                | Mencius
                br
                | Viewstamped replication
                br
                | ZAB
              area(data-featherlight="#box-2", target='', alt='', coords="" mycoords='213,839,314,907,432,940,473,657,401,625', shape='poly')
              div#box-2.image-map-modal(style="display:none;")
                | Graphene
                br
                | Steem
                br
                | BitShares
                br
                | EOS
              area(data-featherlight="#box-3", target='', alt='', coords="" mycoords='444,943,564,944,679,909,563,647,483,658', shape='poly')
              div#box-3.image-map-modal(style="display:none;") Chia
              area(data-featherlight="#box-4", target='', alt='', coords="" mycoords='692,905,802,833,872,746,632,589,569,643', shape='poly')
              div#box-4.image-map-modal(style="display:none;") Filecoin
              area(data-featherlight="#box-5", target='', alt='', coords="" mycoords='637,582,659,507,946,507,930,626,877,737', shape='poly')
              div#box-5.image-map-modal(style="display:none;") Storecoin
              area(data-featherlight="#box-6", target='', alt='', coords="" mycoords='658,497,635,419,880,263,930,379,946,496', shape='poly')
              div#box-6.image-map-modal(style="display:none;")
                | Casper
                br
                | Ethereum (moving to PoS)
                br
                | Cosmos
                br
                | Stratis
                br
                | Tezos
              area(data-featherlight="#box-7", target='', alt='', coords="" mycoords='631,412,570,358,693,94,795,161,872,254', shape='poly')
              div#box-7.image-map-modal(style="display:none;") 
                | Bitcoin
                br
                | Colored Coins
                br
                | Proprietary Metacoins
                br
                | DAG (Directed Acylic Graphs)
                br
                | Factom
                br
                | Zcash
              area(data-featherlight="#box-8", target='', alt='', coords="" mycoords='562,353,484,342,444,59,561,55,681,93', shape='poly')
              div#box-8.image-map-modal(style="display:none;") 
                | Distributed concurrence
                br
                | Corda (R3 CEV)
              area(data-featherlight="#box-9", target='', alt='', coords="" mycoords='400,377,472,343,434,61,317,89,211,159', shape='poly')
              div#box-9.image-map-modal(style="display:none;")
                | PBFT (Practical Byzantine Fault Tolerance)
                br
                | Derived PBFT (Hyperledger project)
                br
                | RBFT (Redundant Byzantine Fault Tolerance, e.g., Evernym)
                br
                | SBFT (Simplified Byzantine Fault Tolerance, e.g., Chain)
              area(data-featherlight="#box-10", target='', alt='', coords="" mycoords='393,383,353,449,74,368,120,259,207,165,311,289', shape='poly')
              div#box-10.image-map-modal(style="display:none;")
                | Openchain
                br
                | PoET (Proof of Elapsed Time) by Intel (Sawtooth Lake Project)
              area(data-featherlight="#box-11", target='', alt='', coords="" mycoords='348,538,347,462,68,376,51,505,69,620', shape='poly')
              div#box-11.image-map-modal(style="display:none;")
                | Ripple (evolving into the inter-ledger protocol)
                br
                | Stellar (Ripple fork)
  
    .hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title 
          span.orange Overview: 
          | How the Storecoin Blockchain Works
        p.hc-feature-lead How the patent pending Dynamic Proof of Stake consensus algorithm keeps transactions permanently free while funding blockchain security, engineering, and operations.
        .hc-image
          img(src="/images/blockchain-guide.png")
            
    #learn-more.hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Learn more about how Storecoin Works
        p.hc-feature-lead 
          a(data-link="#free-txn") How Dynamic Block Rewards Work (How Free Txns Are Paid For)
        p.hc-feature-lead 
          a(data-link="#double-spend") How Storecoin Addresses the Double Spend Problem
        p.hc-feature-lead 
          a(data-link="#security-system") The Storecoin Security System
        p.hc-feature-lead 
          a(data-link="#dynamic-security") How Dynamic Security Works (with Security Guards)
        p.hc-feature-lead 
          a(data-link="#dynamic-transactions") How Dynamic (Free) Transactions are Secured
        p.hc-feature-lead 
          a(data-link="#dynamic-governance") How Dynamic Governance Works
          
    #free-txn.hc-feature.over-rel.padding.learn-more(style="display:none;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Dynamic Block Rewards Work 
          span.orange (How Free Txns Work)
        p.hc-feature-lead Transactions are free for users because they are paid for with capped, yearly token inflation of 5%. 4% is paid to block proposers. 1% endows Storecoin to secure, build, and operate the blockchain.
        .hc-image
          img(src="/images/free-txn.png")
            
    #double-spend.hc-feature.over-rel.padding.learn-more(style="display:none;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title
          span.orange Security: 
          | How Storecoin Addresses the Double Spend Problem
        p.hc-feature-lead Storecoin’s Dynamic Proof of Stake protocol solves the double spend problem by implementing harsh penalties for getting caught thus making it unprofitable for the bad actor to engage in such activity.
        .hc-image
          img(src="/images/double-spend-flow.png")
            
    #security-system.hc-feature.over-rel.padding.learn-more(style="display:none;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title The Storecoin Security System 
        p.hc-feature-lead Storecoin’s Security System is modeled after the United States Homeland Security Advisory System. This system powers market prices for Dynamic Security and Dynamic (Free) Transactions.
        .hc-image
          img(src="/images/security-system-flow.png")
            
    #dynamic-security.hc-feature.over-rel.padding.learn-more(style="display:none;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Dynamic Security Works  
          span.orange (with Security Guards)
        p.hc-feature-lead Security Guards are the decentralized security network on Storecoin that secures the blockchain by finding bad actors in the validator pool, in the Wallet SDK network, and at the user level. Security Guards run full nodes to study Storecoin transactions. They're rewarded with +50% of the burned stake or security bond of bad actors, as determined by Storecoin, Inc.
        .hc-image
          img(src="/images/dynamic-security-flow.png")
            
    #dynamic-transactions.hc-feature.over-rel.padding.learn-more(style="display:none;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Dynamic (Free) Transactions Work 
        p.hc-feature-lead To prevent Storecoin from a DDoS attack or the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction. 
        .hc-image
          img(src="/images/dynamic-transactions-flow.png")
            
    #dynamic-governance.hc-feature.over-rel.padding.learn-more(style="display:none;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Dynamic Governance Works
        p.hc-feature-lead A Storecoin vote is taken at least once per year. Only validators active for the past 6 months of the year have a vote. Governance determines network inflation, new feature additions, changes to consensus, changes to Governance, more.
        .hc-image
          img(src="/images/dynamic-governance-flow.png")
    
    #ethos.hc-feature.over-rel.padding.inverted.orange
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Our Tech Ethos
        p.hc-feature-lead This is how we make technology decisions at Storecoin
        p 
          span 
            b #1  
          | Can we 
          b secure it
          | ?
        p 
          span 
            b #2  
          | If	we	can	secure	it,	can	we	 
          b scale	it
          | ?
        p 
          span 
            b #3  
          | If	we	can	secure	it	and	scale	it,	can	we 
          b make	it	free
          | ?
        p 
          span 
            b #4  
          | Can	we	do	this	with	 
          b a	world-class	user-experience
          | ?  
        p 
          span 
            b #5  
          | Can	Storecoin	as	an	organization 	 
          b support it
          | ?
        //- p 
        //-   span 
        //-     b #6  
        //-   | Will	hierarchy-based	organizations 	 
        //-   b need it
        //-   | ?          
        p.hc-feature-lead(style="text-align:left;") If funded by the Storecoin Community, Governance votes on it.
        p.hc-feature-lead(style="text-align:left; margin-bottom:0px;") If approved by Governance, then Storecoin ships it.
        
    #specs.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Blockchain Specs
        .row
          .twelve.columns
            table.u-full-width(style="margin:0px;")
              tbody
                tr
                  td
                    b Blockchain Type
                  td Public	Blockchain
                tr
                  td
                    b Consensus Algorithm
                  td 
                    a(data-featherlight='#box-branding') Dynamic Proof of Stake
                tr
                  td
                    b Block	Time
                  td Less	than	5	seconds
                  
                tr
                  td
                    b Transactions	per	second
                  td R&D	in	progress
                  
                tr
                  td
                    b Total	Coin	Supply
                  td 1	Billion
                tr
                  td
                    b Yearly	Token	Inflation
                  td Never	greater	than	5%. Token	inflation	pays	for	transaction	fees.
                tr
                  td
                    b Transactions Fees
                  td Zero fees for senders, receivers, and app developers
                //- tr
                //-   td
                //-     b Transactions Fees	for	Receivers
                //-   td Never
                tr
                  td
                    b Security Protocol
                  td Security Advisory System, Security Guards, Dynamic (Free) Transactions, Dynamic Security, Dynamic (On Chain) Governance
                tr
                  td
                    b On Chain Scalability	
                  td R&D in progress	
                tr
                  td
                    b Off Chain Scalability	
                  td R&D	in	progress
                //- tr
                //-   td
                //-     b Smart	Contracts
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Privacy in Smart	Contracts
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Hierarchy in Smart	Contracts
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Dapps
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b State	Channels
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Supports	Oracles
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Provenance	in	Loyalty	Points
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Ethereum compatible
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Ethereum Dapp interoperable
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Bitcoin	compatible
                //-   td Yes,	through	RSK    
            
    //- include app-types
    
    include first-dapp
    
    include footprint-matters

    include our-team-widget
                  
    #hc-alliance.hc-feature.over-rel.padding.inverted
      .hc-chunk
        h2.hc-feature-title The Storecoin Alliance
        p.hc-feature-lead A collation of organizations that have entered into long-term relationships with Storecoin as its exclusive cryptocurrency to be integrated into enterprise and consumer-facing apps.

        h2.hc-feature-title(style="margin:0px !important; color:rgb(233, 120, 68);") IN PROGRESS

    
    #partners.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our Partners
        #hc-partners-slider.logo-slider
          .slide
            img(src='/images/AWS-Activate.png')
            p $100,000	in	Amazon	AWS	credits
          .slide
            img(src='/images/footprint-white-logo.png')
            p First	major	App developers
          .slide
            img(src='/images/fenwick-west-logo.png', style='width:60%;')
            p Blockchain Patent Lawyers
          .slide
            img(src='/images/logo-coinfabrik.png', style='width:80%;')
            p Blockchain	Development	Partners
          .slide
            img(src='/images/bottom-line-logo.png', style='width:80%;')
            p Legal and SEC Compliance
          .slide
            img(src='/images/clinton-polley.png', style='width: auto; height: 110px;')
            p Founding Validators for Storecoin

            
    .hc-feature.over-rel.inverted.padding.lite
      .hc-chunk
        include join-community
                  
    //- #network-effects.hc-feature.over-rel.inverted.padding
    //-   .hc-chunk
    //-     h2.hc-feature-title Storecoin	Network	Effects
    //-     p.hc-feature-lead
    //-       | The	magic	of	the	Storecoin	is	that	it	aligns	incentives across	all	stakeholders	to hold the	token.
    //-     .incentives.desktop
    //-       .rails-wrapper
    //-         .rails
    //-       .row
    //-         .four.columns
    //-         .four.columns.horizontal
    //-           .incentive
    //-             .title
    //-               img(src='/images/chart-2.png')
    //-               p Token	Value
    //-             p.desc
    //-               | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-         .four.columns
    //-       .row.middle
    //-         .four.columns.vertical
    //-           .incentive
    //-             .title
    //-               img(src='/images/money.png')
    //-               p More Buyers
    //-             p.desc
    //-               | The more demand to use the token, the more buyers there will be.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-           .incentive
    //-             .title
    //-               img(src='/images/security-guards.png')
    //-               p More Security Guards
    //-             p.desc
    //-               | The more transactions on Storecoin, the more Security Guards are needed to identify spam and attacks.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-           .incentive
    //-             .title
    //-               img(src='/images/hammer.png')
    //-               p More Validators
    //-             p.desc
    //-               | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-         .four.columns.logo-wrapper
    //-           img.logo(src='/images/logo.png')
    //-         .four.columns.vertical
    //-           .incentive
    //-             .title
    //-               img(src='/images/keyboard.png')
    //-               p More Developers
    //-             p.desc
    //-               | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-           .incentive
    //-             .title
    //-               img(src='/images/building.png')
    //-               p More Organizations
    //-             p.desc
    //-               | As more developers build with Storecoin, more enterprise organizations will use (and pay for the usage of) Storecoin-powered apps.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-       .row
    //-         .four.columns
    //-         .four.columns.horizontal
    //-           .incentive
    //-             .title
    //-               img(src='/images/smile.png')
    //-               p More Users
    //-             p.desc
    //-               | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
    //-         .four.columns
    //-           
    //-     .incentives.mobile
    //-       .rails-wrapper
    //-         .rails
    //-       .row
    //-         .four.columns
    //-         .four.columns.horizontal
    //-           .incentive
    //-             .title
    //-               img(src='/images/chart-2.png')
    //-               p Token	Value
    //-             p.desc
    //-               | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-         .four.columns
    //-       .row.middle
    //-         .four.columns.vertical
    //-           .incentive
    //-             .title
    //-               img(src='/images/keyboard.png')
    //-               p More Developers
    //-             p.desc
    //-               | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-           .incentive
    //-             .title
    //-               img(src='/images/building.png')
    //-               p More Organizations
    //-             p.desc
    //-               | As more developers build with Storecoin, more enterprise organizations will use (and pay for the usage of) Storecoin-powered apps.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-         .four.columns.logo-wrapper
    //-           img.logo(src='/images/logo.png')
    //-         .four.columns.vertical
    //-           .incentive
    //-             .title
    //-               img(src='/images/smile.png')
    //-               p More Users
    //-             p.desc
    //-               | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-           .incentive
    //-             .title
    //-               img(src='/images/hammer.png')
    //-               p More Validators
    //-             p.desc
    //-               | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain. 
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-           .incentive
    //-             .title
    //-               img(src='/images/security-guards.png')
    //-               p More Security Guards
    //-             p.desc
    //-               | The more transactions on Storecoin, the more Security Guards are needed to identify spam and attacks.
    //-           img.arrow-flow(src='/images/arrow-mobile.png')
    //-       .row
    //-         .four.columns
    //-         .four.columns.horizontal
    //-           .incentive
    //-             .title
    //-               img(src='/images/money.png')
    //-               p More Buyers
    //-             p.desc
    //-               | The more demand to use the token, the more buyers there will be.
    //-         .four.columns
    //-     
    //-     p.hc-feature-lead Storecoin tokens are both a work and a usage token. Owning storecoins give you the right to validate transactions and earn more tokens in exchange for that work. Also, to become a Security Guard and earn tokens when you find spam or attacks.
    //-     p.hc-feature-lead Owning storecoins also gives the right to use applications where the Storecoin Wallet is integrated. Owning storecoins gives you access to new behaviors and business models within those applications.
            
    .hc-feature.over-rel.padding(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Become a Validator
        p.hc-feature-lead(style=" margin:0px !important; color:#5d794c; text-decoration:underline;") 
          a(href="/applytoforge", style="font-size:30px;") Apply here
            
    #project-schedule.hc-feature.lite.over-rel.padding
      h3.hc-feature-title.break Storecoin Project Schedule
      p.hc-feature-lead(style='max-width: 1140px;')
        | Storecoin is an ambitious and long-range technology initiative in the early phases of R&D.
        
      p.hc-feature-lead(style='max-width: 1140px;')
        | We'll issue mini Token Sales as key Technology and Adoption milestones are achieved.
      
      p.hc-feature-lead(style='max-width: 1140px;')
        | We’re committed to 
        b Doing The Right Thing 
        | as we invent, introduce, and govern Storecoin.
        
      .container
        .timeline
          .center-line
          .year
            .name 2017
            .items
              .item.left
                .date
                  span May
                .full-date May
                .box
                  h2.title
                    span.bullet 1
                    | Storecoin	R&D	begins
                  .content
                    ul
                      li
                        i.ion-checkmark
                        |  Blockchain	Architect	added
                      li
                        i.ion-checkmark
                        |  Early engineering team added
                      li
                        i.ion-checkmark
                        |  R&D begins
                      li
                        i.ion-checkmark
                        |  Green Paper is started
                      li
                        i.ion-checkmark
                        |  Amazon	funds	Storecoin	R&D	with	AWS	credits

              .inverted.item.right
                .date
                  span August 2017
                .full-date August 2017
                .box
                  h2.title
                    span.bullet 2
                    | First Token Sale (7% sale)
                  .content
                    ul
                      li
                        i.ion-checkmark
                        |  Viable testing network set-up
                      li
                        i.ion-checkmark
                        |  Storecoin Green Paper is released
                      li 
                        i.ion-checkmark
                        |  Scalability testing begins
                      li
                        i.ion-checkmark
                        |  Security testing begins
                      li
                        i.ion-checkmark
                        |  Storecoin governance and Token Sales are aligned with the SEC’s July guidance
                      
              .item.left
                .date
                  span December 2017
                .full-date December 2017
                .box
                  h2.title
                    span.bullet 3
                    | Second Token Sale (4% sale)
                  .content
                    ul
                      li
                        i.ion-checkmark
                        |  Orange Paper released
                      li 
                        i.ion-android-time
                        |  VP Security Engineering added full-time
                      //- li 
                      //-   i.ion-android-time
                      //-   |  VP Consensus Engineering added full-time
                      //- li 
                      //-   i.ion-android-time
                      //-   |  VP Governance Engineering added full-time
                      li 
                        i.ion-android-time
                        |  Economics Paper released
                      li 
                        i.ion-android-time
                        |  Governance and Security Paper released
                      li 
                        i.ion-android-time
                        |  Scaling Paper released
                      li 
                        i.ion-android-time
                        |  Storecoin Alliance Network launched
                      li 
                        i.ion-android-time
                        |  Scalability testing moves to phase 2
                      li 
                        i.ion-android-time
                        |  Security testing moves to phase 2
          .year
            .name 2018
            .items
              .item.right
                .date
                  span Q1
                .full-date 2018+
                .box
                  h2.title
                    span.bullet 4
                    | Third Token Sale (4% sale)
                  .content
                    ul
                      li 
                        i.ion-record
                        |  v1 Storecoin Whitepaper released
                      li 
                        i.ion-record
                        |  Storecoin Proof of Concept #1 released
                      li 
                        i.ion-record
                        |  Storecoin v0.1 Developer API released
                      li 
                        i.ion-record
                        |  Storecoin Roadmap Announced
                      li 
                        i.ion-record
                        |  Open Source Development begins
                        
          .year
            .name 2019
            .items
              .item.left
                .date
                  span Q1
                .full-date 2019+
                .box
                  h2.title
                    span.bullet 5
                    | Fourth Token Sale (5% sale)
                  .content
                    ul
                      li 
                        i.ion-record
                        |  Storecoin Token gets issued to the wallet of all Token Buyers
                      li 
                        i.ion-record
                        |  Public Network v0.1 launches
                      li 
                        i.ion-record
                        |  Storecoin Wallet SDK launches
                      li 
                        i.ion-record
                        |  Storecoin Alliance launches initial apps on top of Wallet SDK
    
    include network-distribution
    
    include about-second-token-sale
    
    //- include first-token-proceeds

    - top = false
    include email-widget
