extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style="margin-bottom:0px;")
          b Storecoin will be a public blockchain powering free transactions
          b  for users and app developers using its Dynamic Proof of Stake consensus 
          span.parenthesis (
          | DyPoS
          span.parenthesis )
          | .
        h2.hc-feature-lead
          | DyPoS is inspired by the supply and demand principles of Uber Surge Pricing 
          span.parenthesis.lite-orange (
          span.lite-orange blockchain economics
          span.lite-orange.parenthesis )
          | , checks and balances of the U.S. Constitution 
          span.parenthesis.lite-green (
          span.lite-green governance
          span.parenthesis.lite-green )
          | , and an encrypted Power of Attorney 
          span.parenthesis.lite-yellow (
          span.lite-yellow scaling
          span.parenthesis.lite-yellow )
          | .
        h2.hc-feature-lead(style="margin:0px;")
          | With DyPoS, Storecoin will bring crypto-powered API calls to app developers around the world.
    
    div#first-token-sale
    - var top = true  
    include email-widget
    
    //- include countdown
    
    .hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title(style="margin-bottom: 1.5em;") First Token Sale buyers
        #hc-buyers-slider.logo-slider
          .slide
            a(href="http://blocktower.com", target="_blank")
              img(src='/images/blacktower-logo.png')
          //- .slide
          //-   img(src='/images/blockfolio-logo.png')
          .slide
            a(href="http://palmdrivecap.com/", target="_blank")
              img(src='/images/palm-drive-logo.jpg')
          .slide
            img(src='/images/clinton-polley.png', style="width:40%;")

    #latest-updates.hc-feature.over-rel.padding.inverted.left-align
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Our Latest
        p.hc-feature-lead Storecoin Creator Chris McCoy will be speaking publicly for the first time about Storecoin at the Crypto Finance Conference in Switzerland, January 17-19.
        ul(style="list-style:disc;")
          li 
            b Ari David Paul
            | , the CIO of BlockTower Capital, joins as a Strategic Advisor
          li 
            b Mark Ramberg
            | , formerly the GM of Amazon AWS Media & Entertainment, joins as our Platform and API advisor
          li 
            b Nate Lubin
            | , formerly the Digital Director in the President Obama White House, joins as our Marketing and Communications advisor
          li
            b Rajiv Patel 
            | of Fenwick and West joins to help Storecoin file patents for DyPoS
        div.link-container
          a.link-text.see-more(data-link="#hc-blog-feeds", data-margin="0,0", data-scroll="true") See More
            i.ion-ios-arrow-down
    
    div#hc-blog-feeds.see-more-reveal
      include blog-feeds
    
    #green-paper.hc-feature.over-rel.padding.orange.inverted(style="padding:2.5em;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style=" margin:0px !important;")  This website is our Orange Paper.
    
    #our-vision.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead In 1879, Thomas Edison brought commercial light bulbs to the world. These light bulbs eventually changed how we work, how we play, and how we communicate.
        div.hc-image
          img.bulb-off(src="/images/bulb-off.png")
          img.bulb-glow(src="/images/bulb-glow.png", style="display:none;")
        //- .bulb-container
        //-   .fancy-bulb
        //-     .left-streaks.streaks
        //-     svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 275.3 413.3', enable-background='new 0 0 275.3 413.3', xml:space='preserve')
        //-       g#off
        //-         path(fill='#E2ECF1', d='M137.7,13.7C67.2,13.7,10,70.9,10,141.4c0,58.3,72.8,118.2,79.9,162.3h47.8h47.8\
        //-         c7.1-44,79.9-103.9,79.9-162.3C265.3,70.9,208.2,13.7,137.7,13.7z')
        //-       g#on
        //-         path(fill='#FFDB55', d='M137.7,13.7C67.2,13.7,10,70.9,10,141.4c0,58.3,72.8,118.2,79.9,162.3h47.8h47.8\
        //-         c7.1-44,79.9-103.9,79.9-162.3C265.3,70.9,208.2,13.7,137.7,13.7z')
        //-       g#outline
        //-         path(fill='#F1F2F2', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', d='M168.5,375.5h-61.7c-8.9,0-16-7.2-16-16\
        //-         v-55.8h93.8v55.8C184.6,368.3,177.4,375.5,168.5,375.5z')
        //-         path(fill='#F1F2F2', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', d='M151.2,401.5h-27.1c-3.9,0-7-3.2-7-7v-19\
        //-         h41.1v19C158.2,398.4,155.1,401.5,151.2,401.5z')
        //-         line(fill='none', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', x1='184.6', y1='339.6', x2='90.8', y2='339.6')
        //-         path(fill='none', stroke='#38434A', stroke-width='19.1022', stroke-miterlimit='10', d='M137.7,13.7C67.2,13.7,10,70.9,10,141.4\
        //-         c0,58.3,72.8,118.2,79.9,162.3h47.8h47.8c7.1-44,79.9-103.9,79.9-162.3C265.3,70.9,208.2,13.7,137.7,13.7z')
        //-       g#highlight
        //-         path(fill='#FFDB55', stroke='#FFFFFF', stroke-width='21.0124', stroke-linecap='round', stroke-miterlimit='10', d='M207.1,89.5\
        //-         c-12.3-16.1-28.4-29.1-46.9-37.8')
        //-         path(fill='#FFDB55', stroke='#FFFFFF', stroke-width='21.0124', stroke-linecap='round', stroke-miterlimit='10', d='M225,121.4\
        //-         c-0.8-2.2-1.8-4.4-2.7-6.5')
        //-     .right-streaks.streaks
          //- .power
          //-   | Power
        p.hc-feature-lead By 2020, Storecoin will bring free, crypto-powered transactions to millions of apps, to trillions of API calls, and to thousands of mobile and web developers.
        p.hc-feature-lead(style="margin-bottom:0px;") On-chain, crypto-powered API calls will create entirely new markets and incentives for apps.
        
    .hc-feature.over-rel.inverted.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title The Business Case for Storecoin
        p.hc-feature-lead Today, using traditional banking infrastructure, mobile and web app developers have to pay fees ranging from 2.5%-3% of the transaction size plus an additional $0.30 to process in-app payments – for every single transaction!
        p.hc-feature-lead This limits innovation, especially innovation powered by micropayments.
        .hc-image
          img(src="/images/wallet-icon.png", style="max-width:100px;")
        p.hc-feature-lead With free transactions for cryptocurrency-based payments, Storecoin will unlock new innovation for consumer and enterprise developers.
        .hc-image
          img(src="/images/storecoin-currency.png", style="max-width:200px;")
            
    include app-types
        
    #network-effects.hc-feature.over-rel.inverted.padding
      .hc-chunk
        h2.hc-feature-title Problems with Public Blockchains Today
        p.hc-feature-lead 
          b.big-font.orange #1 
          | Only 20 to 30 million people own cryptocurrency today.
        p.hc-feature-lead This is less than 0.4% of the world's population.
        p.hc-feature-lead To gain mainstream adoption, public blockchains need use cases beyond financial speculation and decentralized applications.
        .incentives.desktop
          .rails-wrapper
            .rails
          .row
            .four.columns
            .four.columns.horizontal
              .incentive
                .title
                  img(src='/images/chart-2.png')
                  p More Adoption
                p.desc
                  | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
              img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns
          .row.middle
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/money.png')
                  p More Buyers
                p.desc
                  | The more demand to use the token, the more buyers there will be.
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/security-guards.png')
              //-     p More Security Guards
              //-   p.desc
              //-     | The more transactions on Storecoin, the more Security Guards are needed to identify spam and attacks.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/hammer.png')
              //-     p More Validators
              //-   p.desc
              //-     | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns.logo-wrapper
              img.logo(src='/images/blockchains-problem.png')
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/keyboard.png')
                  p More Developers
                p.desc
                  | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/building.png')
              //-     p More Organizations
              //-   p.desc
              //-     | As more developers build with Storecoin, more enterprise organizations will use (and pay for the usage of) Storecoin-powered apps.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
          .row.bottom
            .twelve.columns.horizontal
              .incentive
                .title
                  img(src='/images/money-bag.png')
                  p More Transactions
                p.desc
                  | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
              .incentive
                .title
                  img(src='/images/smile.png')
                  p More Users
                p.desc
                  | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
              
        .incentives.mobile
          .rails-wrapper
            .rails
          .row
            .four.columns
            .four.columns.horizontal
              .incentive
                .title
                  img(src='/images/chart-2.png')
                  p Token	Value
                p.desc
                  | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
              img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns
          .row.middle
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/keyboard.png')
                  p More Developers
                p.desc
                  | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/building.png')
              //-     p More Organizations
              //-   p.desc
              //-     | As more developers build with Storecoin, more enterprise organizations will use (and pay for the usage of) Storecoin-powered apps.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
            .four.columns.logo-wrapper
              img.logo(src='/images/logo.png')
            .four.columns.vertical
              .incentive
                .title
                  img(src='/images/smile.png')
                  p More Users
                p.desc
                  | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
              img.arrow-flow(src='/images/arrow-mobile.png')
              .incentive
                .title
                  img(src='/images/money-bag.png')
                  p More Organizations
                p.desc
                  | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain. 
              img.arrow-flow(src='/images/arrow-mobile.png')
              //- .incentive
              //-   .title
              //-     img(src='/images/security-guards.png')
              //-     p More Security Guards
              //-   p.desc
              //-     | The more transactions on Storecoin, the more Security Guards are needed to identify spam and attacks.
              //- img.arrow-flow(src='/images/arrow-mobile.png')
          .row
            .four.columns
            .four.columns.horizontal
              .incentive
                .title
                  img(src='/images/money.png')
                  p More Buyers
                p.desc
                  | The more demand to use the token, the more buyers there will be.
            .four.columns
              
        div.link-container.hanging
          a.link-text.see-more(data-link="#hc-problem-see-more", data-margin="33,44", data-scroll="true") See 7 More Problems
            i.ion-ios-arrow-down
              
    div#hc-problem-see-more.see-more-reveal
      .hc-feature.over-rel.padding
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style="margin-top:0px;") 
            b.big-font.orange #2 
            | Decentralized applications (dApps) powered by smart contracts will one day reinvent traditional software, but it's going to take a while.
          .hc-image
            img(src="/images/intersect-circles.png", style="max-width:100%; width:750px;")
          p.hc-feature-lead Meanwhile, today there are 
            b billions 
            |  of active users generating 
            span.orange trillions 
            | of API calls on 
            b millions 
            | of different web and mobile applications – all without a native cryptocurrency to further incentivize and reward user actions in those apps.
          p.hc-feature-lead(style="margin-bottom:0px;") For mainstream user adoption, cryptocurrency tokens need to be integrated directly into existing web and mobile applications as crypto-powered API calls.
      
      .hc-feature.over-rel.padding.inverted
        .hc-chunk.hc-customize-text-wrapper
          //- h3.hc-feature-title Problems in Public Blockchains Today, Continued
          p.hc-feature-lead(style="margin-top:0px;") 
            b.orange.big-font #3 
            | To realize its full potential, blockchain transactions need to be permanently free.
          p.hc-feature-lead As of Oct 17, transaction fees on Ethereum were 32 cents. On Bitcoin they were $3.11.
          p.hc-feature-lead Emerging public blockchains like EOS promote free transactions but in reality they'll require developers to own tokens in order for transactions to be 
            b permanently free.
          .hc-image(style="margin-bottom:2em;")
            img(src="/images/btc-average-fees.png")
          .hc-image
            img(src="/images/eth-average-fees.png")
              
      .hc-feature.over-rel.padding.left-align
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style="margin-top:0px;") 
            span.big-font.orange #4 
            | To achieve true global decentralization, today's public blockchains need to incetivize and govern for decentralization in the consensus pool.
          p.hc-feature-lead(style="margin:0px; text-decoration:underline;")
            b Facts:
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span +64.9% of all Bitcoin mining power is located in China
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span 48% of Ethereum is controlled by 200 wallets representing only 0.01% of all wallets
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span Ethereum's upcoming Casper requires validator to stake 32 or more ether - that's +$9,000! Many existing miners in their current PoW consensus will be left out of the validator pool in their switch to PoS.
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span EOS will just have 21 validators working to reach decentralized consensus
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span As recently experienced with the Bitcoin Cash fork, mining power coordinate, centralize, and quickly switch to new chains causing disruption for entire ecosystems
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span In major blockchains today, there is zero Governance preventing this from happening again 
              
      .hc-feature.over-rel.padding.left-align.inverted
        .hc-chunk.hc-customize-text-wrapper
          p.hc-feature-lead(style="margin-top:0px;")
            span.big-font.orange #5 
            | To sustainably operate forever without relying on new token sales, blockchains need a native, on-chain, and perpetual income stream to support security, engineering, governance, and operations.
          hr
          p.hc-feature-lead(style="margin-bottom:0.5em; margin-top:0px;")
            span.big-font.orange #6 
            | To remain secure at both the transaction layer and the mining/validator layer, blockchains need their own decentralized security network to prevent both spam and attacks so they can:
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span Maximize the cost of an attack by burning 100% of the stake or the bond of bad actors
          p.hc-feature-lead.bulleted
            span.icon.ion-record.bullet
            span Remove bad actors from blockchain participation
          hr 
          p.hc-feature-lead(style="margin-top:0px;")
            span.big-font.orange #7  
            | To scale decentralization around the globe while also maintaining consistency, availability, and partition tolerance (CAP theorem), public blockchains need 
            b new thinking and new innovation 
            | at the intersection of cryptography and distributed systems engineering.
          hr
          p.hc-feature-lead(style="margin:0px;")
            span.big-font.orange #8 
            | To manage the ever-evolving economic and political interests of all sides in a public blockchain network, Governance needs to be both on-chain and off-chain, needs a proven process for making changes to the protocol (especially new features), needs term limits, and needs to prevent centralization.
    
    #solution.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Solution
        .hc-image
          img(src="/images/logo.png")
            
    #solution-desc.hc-feature.over-rel.padding.left-align
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead.large-text(style="margin-top:0px;") Storecoin is a new public blockchain with permanently free transactions through a new decentralized consensus algorithm called 
          b Dynamic Proof of Stake (DyPoS).
        p.hc-feature-lead.large-text(style="margin:0px;") Storecoin will also deliver:
        p.hc-feature-lead.bulleted
          span.icon.ion-record.bullet
          span A Wallet-based distribution strategy to bring storecoin tokens on-chain into mobile and web applications as crypto-powered API calls (with zero transaction fees!)
        p.hc-feature-lead.bulleted
          span.icon.ion-record.bullet
          span A validation pool that incentivizes for global decentralization where any token can participate and earn block rewards
        p.hc-feature-lead.bulleted
          span.icon.ion-record.bullet
          span A Network Reward where 1% of yearly inflation pays for blockchain security, engineering, governance, and operations
        p.hc-feature-lead.bulleted
          span.icon.ion-record.bullet
          span A new approach to scaling public blockchains introducing the concept of an "Agent"
        p.hc-feature-lead.bulleted
          span.icon.ion-record.bullet
          span A decentralized Security Guard network incentivized to find spam and attacks
        p.hc-feature-lead.bulleted
          span.icon.ion-record.bullet
          span Governance modeled after the United States Constitution where checks and balances ensure a) Security Matters Most and b) No Centralization of Power 
    
    #hc-six-engines.hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted The Six Engines of DyPoS
        p.hc-feature-lead Dynamic Proof of Stake is made up of six interdependent engines.
        p.hc-feature-lead Each engine is based on similar dynamic supply and demand principles as Uber Surge Pricing. Prices for all six engines are driven by real-time threat levels in the 
          a.open-modal(data-modal="#security-system-popup", style="text-decoration:underline;") 
            b Storecoin Security System.
        p.hc-feature-lead DyPoS is also inspired by checks and balances of the U.S. Constitution (governance) and Power of Attorney (scaling).
        div.desktop-image      
          div.engines
            div.engine 
              .front
                img(src="/images/dynamic-transactions-v2.png")
                div.title Dynamic (free) Transactions
              .back
                h5 Dynamic (free) Transactions
                p To secure transactions, a small security bond is required with each transaction that is returned to the sender, with interest, once the transaction is determined by dSecurity Guards to not to be spam or an attack.
                a.engine-learn-more.open-modal(data-modal="#dynamic-free-trans-modal") Learn More
            div.engine.right
              .front
                img(src="/images/dynamic-validation-v2.png")
                div.title Dynamic Validation
              .back
                h5 Dynamic Validation
                p An unlimited number of Validators can participate in Consensus. No single Validator ever has greater than 5% odds of winning the Block Reward. Every Validator has a chance at winning each new block. Decentralization is maximized.
                a.engine-learn-more.open-modal(data-modal="#dynamic-validation-modal") Learn More
          div.engines
            div.engine
              .front
                img(src="/images/dynamic-rewards-v2.png")
                div.title Dynamic Block Rewards
              .back
                h5 Dynamic Block Rewards
                p Capped, yearly token inflation of 5% is used to pay Block Rewards to Validators. The reward amount is dynamic based upon a number of real-time factors. Storecoin Inc. takes 1% of the inflation to pay for security, engineering, Governance, and blockchain operations.
                a.engine-learn-more.open-modal(data-modal="#dynamic-reward-modal") Learn More
            div.engine.right
              .front
                img(src="/images/dynamic-security-v2.png")
                div.title Dynamic Security
              .back
                h5 Dynamic Security
                p The Storecoin Security System determines real-time prices for DyPoS. dSecurity Guards study transactions and Validator activity and report potential spam or attacks to Storecoin, Inc. dGuards earn +50% of the stake or the bond of the found bad actors. The rest is burnt.
                a.engine-learn-more.open-modal(data-modal="#security-system-popup") Learn More
          div.engines
            div.engine
              .front
                img(src="/images/dynamic-scaling-v2.png")
                div.title Dynamic Scaling
              .back
                h5 Dynamic Scaling
                p To scale blockchain transactions by making validation instant -- without expensive and unnecessary network hops -- Storecoin is introducing the concept of an "Agent". It's similar to Power of Attorney but with Merkle hashes.
                a.engine-learn-more.open-modal(data-modal="#dynamic-scaling-modal") Learn More
            div.engine
              .front
                img(src="/images/dynamic-governance-v2.png")
                div.title Dynamic Governance
              .back
                h5 Dynamic Governance
                p Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc. will have executive power.
                a.engine-learn-more.open-modal(data-modal="#dynamic-governance-modal") Learn More
        div.mobile-image
          div.engines
            div.engine(data-featherlight="#dyn-trans")
              .front
                img(src="/images/dynamic-transactions-v2.png")
                div.title Dynamic (free) Transactions
              .back
                h5 Dynamic (free) Transactions
                p To secure transactions, a small security bond is required with each transaction that is returned to the sender, with interest, once the transaction is determined by dSecurity Guards to not to be spam or an attack.
                a.engine-learn-more.open-modal(data-modal="#dynamic-free-trans-modal") Learn More
              div#dyn-trans.engine-popup(style="display:none;")
                h5 Dynamic (free) Transactions
                p To secure transactions, a small security bond is required with each transaction that is returned to the sender, with interest, once the transaction is determined by dSecurity Guards to not to be spam or an attack.
                a.engine-learn-more.open-modal(data-modal="#dynamic-free-trans-modal") Learn More
            div.engine.right(data-featherlight="#dyn-val")
              .front
                img(src="/images/dynamic-validation-v2.png")
                div.title Dynamic Validation
              .back
                h5 Dynamic Validation
                p An unlimited number of Validators can participate in Consensus. No single Validator ever has greater than 5% odds of winning the Block Reward. Every Validator has a chance at winning each new block. Decentralization is maximized.
                a.engine-learn-more.open-modal(data-modal="#dynamic-validation-modal") Learn More
              div#dyn-val.engine-popup(style="display:none;")
                h5 Dynamic Validation
                p An unlimited number of Validators can participate in Consensus. No single Validator ever has greater than 5% odds of winning the Block Reward. Every Validator has a chance at winning each new block. Decentralization is maximized.
                a.engine-learn-more.open-modal(data-modal="#dynamic-validation-modal") Learn More
          div.engines
            div.engine(data-featherlight="#dyn-rewards")
              .front
                img(src="/images/dynamic-rewards-v2.png")
                div.title Dynamic Block Rewards
              .back
                h5 Dynamic Block Rewards
                p Capped, yearly token inflation of 5% is used to pay Block Rewards to Validators. The reward amount is dynamic based upon a number of real-time factors. Storecoin Inc. takes 1% of the inflation to pay for security, engineering, Governance, and blockchain operations.
                a.engine-learn-more.open-modal(data-modal="#dynamic-reward-modal") Learn More
              div#dyn-rewards.engine-popup(style="display:none;")
                h5 Dynamic Block Rewards
                p Capped, yearly token inflation of 5% is used to pay Block Rewards to Validators. The reward amount is dynamic based upon a number of real-time factors. Storecoin Inc. takes 1% of the inflation to pay for security, engineering, Governance, and blockchain operations.
                a.engine-learn-more.open-modal(data-modal="#dynamic-reward-modal") Learn More
            div.engine.right(data-featherlight="#dyn-sec")
              .front
                img(src="/images/dynamic-security-v2.png")
                div.title Dynamic Security
              .back
                h5 Dynamic Security
                p The Storecoin Security System determines real-time prices for DyPoS. dSecurity Guards study transactions and Validator activity and report potential spam or attacks to Storecoin, Inc. dGuards earn +50% of the stake or the bond of the found bad actors. The rest is burnt.
                a.engine-learn-more Learn More
              div#dyn-sec.engine-popup(style="display:none;")
                h5 Dynamic Security
                p The Storecoin Security System determines real-time prices for DyPoS. dSecurity Guards study transactions and Validator activity and report potential spam or attacks to Storecoin, Inc. dGuards earn +50% of the stake or the bond of the found bad actors. The rest is burnt.
                a.engine-learn-more.open-modal(data-modal="#security-system-popup") Learn More
          div.engines
            div.engine(data-featherlight="#dyn-scale")
              .front
                img(src="/images/dynamic-scaling-v2.png")
                div.title Dynamic Scaling
              .back
                h5 Dynamic Scaling
                p To scale blockchain transactions by making validation instant -- without expensive and unnecessary network hops -- Storecoin is introducing the concept of an "Agent". It's similar to Power of Attorney but with Merkle hashes.
                a.engine-learn-more.open-modal(data-modal="#dynamic-scaling-modal") Learn More
              div#dyn-scale.engine-popup(style="display:none;")
                h5 Dynamic Scaling
                p To scale blockchain transactions by making validation instant -- without expensive and unnecessary network hops -- Storecoin is introducing the concept of an "Agent". It's similar to Power of Attorney but with Merkle hashes.
                a.engine-learn-more.open-modal(data-modal="#dynamic-scaling-modal") Learn More
            div.engine(data-featherlight="#dyn-gov")
              .front
                img(src="/images/dynamic-governance-v2.png")
                div.title Dynamic Governance
              .back
                h5 Dynamic Governance
                p Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc. will have executive power.
                a.engine-learn-more.open-modal(data-modal="#dynamic-governance-modal") Learn More
              div#dyn-gov.engine-popup(style="display:none;")
                h5 Dynamic Governance
                p Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc. will have executive power.
                a.engine-learn-more.open-modal(data-modal="#dynamic-governance-modal") Learn More

    div.engine-modals
      div#security-system-popup.engine-modal.ui.modal
        i.ion-android-close
        .engine-slider
          .slide
            #security-system-lite.hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/red-caution.png", align="top") 
                  | The Storecoin Security System 
                p.hc-feature-lead The Storecoin Security System powers real-time market prices for the Six Engines of DyPoS. The System threat level algorithmically updates as transaction volume rise and fall. As threat level rise, the cost of spam and attacks rise too.
                div.hazard-boxes
                  div.box.red
                    h3 Severe
                    p Severe risk of an attack or an spam
                  div.box.skin
                    h3 High
                    p High risk of an attack or an spam
                  div.box.yellow
                    h3 Elevated
                    p Significant risk of an attack or an spam
                  div.box.blue
                    h3 Guarded
                    p General risk of an attack or an spam
                  div.box.green
                    h3 Low
                    p Low risk of an attack or an spam
          .slide
            .hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-security-mini.png", align="top")
                  span How Storecoin Addresses the Double Spend Problem 
                  span.orange(style="margin-left:5px;") (with dSecurity Guards) 
                p.hc-feature-lead dSecurity Guards are the decentralized security network on Storecoin that secures the blockchain by finding bad actors across the validator pool, the Wallet SDK network, and in transactions. dSecurity Guards run full nodes to study transactions and validator behavior. They're rewarded with +50% of the burned stake from bad validators or +50% of the security bond from bad senders.
                .hc-image
                  img(src="/images/how-dynamic-sec-works.png", style="width:100%;")
          .slide
            .hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-security-mini.png", align="top")
                  span
                    span.orange(style="margin-right:5px;") Security: 
                    span How Storecoin Addresses the Double Spend Problem
                p.hc-feature-lead Storecoin’s Dynamic Proof of Stake protocol solves the double spend problem by implementing harsh penalties for getting caught, thus making it unprofitable for the bad actor to engage in such activity.
                .hc-image
                  img(src="/images/double-spend-problem.png", style="width:100%;")
        
      div#dynamic-free-trans-modal.engine-modal.ui.modal 
        i.ion-android-close
        .hc-feature.over-rel.padding
          .hc-chunk.hc-customize-text-wrapper
            h3.hc-feature-title.title-icon
              img.icon(src="/images/dynamic-transactions-v2.png", align="top")
              span How Dynamic 
              span.orange (Free) 
              span Transactions are Secured  
            p.hc-feature-lead To prevent Storecoin from a DDoS attack or from the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction. 
            .hc-image
              img(src="/images/how-dynamic-transaction-works.png", style="width:100%;") 
              
      div#dynamic-validation-modal.engine-modal.ui.modal 
        i.ion-android-close
        .hc-feature.over-rel.padding
          .hc-chunk.hc-customize-text-wrapper
            h3.hc-feature-title.title-icon
              img.icon(src="/images/dynamic-validation-v2.png", align="top")
              span.orange #3 
              span The Block Proposer is Chosen 
            p.hc-feature-lead A new block proposer is chosen through Dynamic Validation – a patent pending algorithm that optimizes for consensus decentralization. It combines relative token stake, dynamic weighting, and a lottery to give every validator a chance at being selected block proposer.
            .hc-image
              img(src="/images/dynamic-validation-flow.png", style="width:100%;") 
      
      div#dynamic-reward-modal.engine-modal.ui.modal 
        i.ion-android-close
        .hc-feature.over-rel.padding
          .hc-chunk.hc-customize-text-wrapper
            h3.hc-feature-title.title-icon
              img.icon(src="/images/dynamic-rewards-v2.png", align="top")
              span How Dynamic Block Rewards Work 
              span.orange (How Free Txns are Financed) 
            p.hc-feature-lead Transactions are free for users because they are paid for with capped, yearly token inflation of 5%. 4% is paid to block proposers. 1% endows Storecoin to secure, build, and operate the blockchain.
            .hc-image
              img(src="/images/dynamic-reward-flow.png", style="width:100%;") 
              
      div#dynamic-scaling-modal.engine-modal.ui.modal 
        i.ion-android-close
        .hc-feature.over-rel.padding
          .hc-chunk.hc-customize-text-wrapper
            h3.hc-feature-title.title-icon
              img.icon(src="/images/dynamic-scaling-v2.png", align="top")
              span.orange #4 
              span How Instant Blockchian Scaling Happens 
            p.hc-feature-lead To scale blockchain transactions by making validation instant – without expensive and unnecessary network hops – Storecoin is introducing the concept of an "Agent". It's similar to Power of Attorney giving one entity the authority to executive private transactions on another entity's behalf. This is called Dynamic Scaling.
            .hc-image
              img(src="/images/dynamic-scaling-flow.png", style="width:100%;") 
              
      div#dynamic-governance-modal.engine-modal.ui.modal 
        i.ion-android-close
        .engine-slider
          .slide
            .hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-governance-v2.png", align="top") 
                  | The Three Branches of Storecoin Governance 
                p.hc-feature-lead Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc will have executive power over the blockchain. Then Governance shepards all proposed changes and leadership changes.
                .hc-image
                  img(src="/images/dynamic-gov-flow-1.png", style="width:100%;")
          .slide
            .hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-governance-v2.png", align="top") 
                  | How Governance is Hired 
                p.hc-feature-lead For the first 4 years, Storecoin, Inc. will have executive power over the blockchain. Then, our security-first Governance will guide all Changes to leadership, to features, and to Governance itself.
                .hc-image
                  img(src="/images/dynamic-gov-flow-2.png", style="width:100%;")
          .slide
            .hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-governance-v2.png", align="top") 
                  | How Checks and Balances Work 
                p.hc-feature-lead 
                  | How protocol changes, security fixes, and Governance amendments are made.
                  br 
                  span.orange (The Constitution)
                .hc-image
                  img(src="/images/dynamic-gov-flow-3.png", style="width:100%;")
          .slide
            .hc-feature.over-rel.padding
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-governance-v2.png", align="top") 
                  | How Every Storecoin Token Owner Can Create Change 
                p.hc-feature-lead 
                  span.orange (Democracy)
                .hc-image
                  img(src="/images/dynamic-gov-flow-4.png", style="width:100%;")
          .slide
            .hc-feature.over-rel.padding.inverted.orange.left-align
              .hc-chunk.hc-customize-text-wrapper
                h3.hc-feature-title.title-icon
                  img.icon(src="/images/dynamic-governance-mini-inverted.png", align="top") 
                  | Why Governance Matters 
                p.hc-feature-lead Governance takes a system that has been vetted for hundreds of years – the U.S. Constitution – but removes the politics and replaces it with technology.
                p.hc-feature-lead
                  | With Governance, Storecoin will:
                ul(style='list-style:disc; font-size: 2em; margin-left: 1em;')
                  li Operate with yearly income that funds blockchain security, engineering, governance, and operations
                  li Make changes only if they can be secured
                  li Mitigate spam, attacks, and fraud throughout the entire blockchain ecosystem
                  li Prevent malicious activity such as a hard fork
                  li Maximize decentralization
                  li Give every token holder a voice
                  li Allow application developers to deliver crypto-powered free transactions for users, forever
    
    #dyn-algo.hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Where Storecoin and our DyPoS algorithm fit in
        p.hc-feature-lead The market of permissioned vs. permissionless consensus algorithms and blockchains
        .hc-image(style="position:relative;")
          //- button.btn(title="I'm a tooltip!") Text
          img.logo(src="/images/logo.png")
          .desktop-image
            img(src="/images/consensus-mechanism-wheel-v3.png", style="max-width:550px; width:100%;" usemap="#desktop-image-map")
            map(name='desktop-image-map')              
              area(title='<ul><li>BigChainDB</li><li>RAFT</li><li>PAXOS (including many variances, such as Fast PAXOS, Egalitarian Paxos, etc.)</li><li>Juno (RAFT-Hardened Tangaroa; JP Project)</li><li>Tangaroa</li><li>Mencius</li><li>Viewstamped replication</li><li>ZAB</li></ul>', coords='348,550,73,632,119,740,205,833,392,619', shape='poly')
              area(title='<ul><li>Graphene</li><li>Steem</li><li>BitShares</li><li>EOS</li></ul>', coords='213,839,314,907,432,940,473,657,401,625', shape='poly')
              area(title='<ul><li>Chia</li></ul>', coords='444,943,564,944,679,909,563,647,483,658', shape='poly')
              area(title='<ul><li>Filecoin</li></ul>', coords='692,905,802,833,872,746,632,589,569,643', shape='poly')
              area(title='<ul><li>Storecoin</li></ul>', coords='637,582,659,507,946,507,930,626,877,737', shape='poly')
              area(title='<ul><li>Casper</li><li>Ethereum (moving to PoS)</li><li>Cosmos</li><li>Stratis</li><li>Tezos</li></ul>', coords='658,497,635,419,880,263,930,379,946,496', shape='poly')
              area(title='<ul><li>Bitcoin</li><li>Colored Coins</li><li>Proprietary Metacoins</li><li>DAG (Directed Acylic Graphs)</li><li>Factom</li><li>Zcash</li></ul>', coords='631,412,570,358,693,94,795,161,872,254', shape='poly')
              area(title='<ul><li>Distributed concurrence</li><li>Corda (R3 CEV)</li></ul>', coords='562,353,484,342,444,59,561,55,681,93', shape='poly')
              area(title='<ul><li>PBFT (Practical Byzantine Fault Tolerance)</li><li>Derived PBFT (Hyperledger project)</li><li>RBFT (Redundant Byzantine Fault Tolerance, e.g., Evernym)</li><li>SBFT (Simplified Byzantine Fault Tolerance, e.g., Chain)</li></ul>', coords='400,377,472,343,434,61,317,89,211,159', shape='poly')
              area(title='<ul><li>Openchain</li><li>PoET (Proof of Elapsed Time) by Intel (Sawtooth Lake Project)</li></ul>', coords='393,383,353,449,74,368,120,259,207,165,311,289', shape='poly')
              area(title='<ul><li>Ripple (evolving into the inter-ledger protocol)</li><li>Stellar (Ripple fork)</li></ul>', coords='348,538,347,462,68,376,51,505,69,620', shape='poly')
                
          .mobile-image
            img(src="/images/consensus-mechanism-wheel-v3.png", style="max-width:600px; width:90%;" usemap="#mobile-image-map")
            map(name='mobile-image-map')
              area(data-featherlight="#box-1", coords='348,550,73,632,119,740,205,833,392,619', shape='poly')
              div#box-1.image-map-modal(style="display:none;")
                ul
                  li BigChainDB
                  li RAFT
                  li PAXOS (including many variances, such as Fast PAXOS, Egalitarian Paxos, etc.)
                  li Juno (RAFT-Hardened Tangaroa; JP Project)
                  li Tangaroa
                  li Mencius
                  li Viewstamped replication
                  li ZAB
              area(data-featherlight="#box-2", target='', alt='', coords='213,839,314,907,432,940,473,657,401,625', shape='poly')
              div#box-2.image-map-modal(style="display:none;")
                ul
                  li Graphene
                  li Steem
                  li BitShares
                  li EOS
              area(data-featherlight="#box-3", target='', alt='', coords='444,943,564,944,679,909,563,647,483,658', shape='poly')
              div#box-3.image-map-modal(style="display:none;") 
                ul 
                  li Chia
              area(data-featherlight="#box-4", target='', alt='', coords='692,905,802,833,872,746,632,589,569,643', shape='poly')
              div#box-4.image-map-modal(style="display:none;") 
                ul 
                  li Filecoin
              area(data-featherlight="#box-5", target='', alt='', coords='637,582,659,507,946,507,930,626,877,737', shape='poly')
              div#box-5.image-map-modal(style="display:none;") 
                ul 
                  li Storecoin
                div.logo-container
                  img.logo(src="/images/logo.png")
              area(data-featherlight="#box-6", target='', alt='', coords='658,497,635,419,880,263,930,379,946,496', shape='poly')
              div#box-6.image-map-modal(style="display:none;")
                ul
                  li Casper
                  li Ethereum (moving to PoS)
                  li Cosmos
                  li Stratis
                  li Tezos
              area(data-featherlight="#box-7", target='', alt='', coords='631,412,570,358,693,94,795,161,872,254', shape='poly')
              div#box-7.image-map-modal(style="display:none;") 
                ul
                  li Bitcoin
                  li Colored Coins
                  li Proprietary Metacoins
                  li DAG (Directed Acylic Graphs)
                  li Factom
                  li Zcash
              area(data-featherlight="#box-8", target='', alt='', coords='562,353,484,342,444,59,561,55,681,93', shape='poly')
              div#box-8.image-map-modal(style="display:none;") 
                ul
                  li Distributed concurrence
                  li Corda (R3 CEV)
              area(data-featherlight="#box-9", target='', alt='', coords='400,377,472,343,434,61,317,89,211,159', shape='poly')
              div#box-9.image-map-modal(style="display:none;")
                ul
                  li PBFT (Practical Byzantine Fault Tolerance)
                  li Derived PBFT (Hyperledger project)
                  li RBFT (Redundant Byzantine Fault Tolerance, e.g., Evernym)
                  li SBFT (Simplified Byzantine Fault Tolerance, e.g., Chain)
              area(data-featherlight="#box-10", target='', alt='', coords='393,383,353,449,74,368,120,259,207,165,311,289', shape='poly')
              div#box-10.image-map-modal(style="display:none;")
                ul
                  li Openchain
                  li PoET (Proof of Elapsed Time) by Intel (Sawtooth Lake Project)
              area(data-featherlight="#box-11", target='', alt='', coords='348,538,347,462,68,376,51,505,69,620', shape='poly')
              div#box-11.image-map-modal(style="display:none;")
                ul
                  li Ripple (evolving into the inter-ledger protocol)
                  li Stellar (Ripple fork)      
        p.hc-feature-lead.hint-text(style="margin:0px;") Click to see blockchains using each algorithm
    
    #storeco-fits-in.hc-feature.over-rel.padding.inverted
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Where Storecoin fits in
        p.hc-feature-lead The market for public blockchains incentivizing API calls inside of web and mobile applications. 
        .hc-image
          .desktop-image 
            img(src='/images/storecoin-fits-in.png')
          .mobile-image 
            img(src='/images/storecoin-fits-in-mobile.png')
            
        //- div.graph
        //-   div.y.axis
        //-     p Transactions Paid for By Fees
        //-     p Permanently Free Transactions
        //-   div.graph-container
        //-     div.graph-lines
        //-       img.graph-lines-image(src='/images/graph-lines.png')
        //-       img.eth-logo(src="/images/ethereum-logo.png")
        //-       img.btc-logo(src="/images/bitc-logo.png")
        //-       img.eos-logo(src="/images/eos-logo.png")
        //-       img.storecoin-logo(src="/images/logo.png")
        //-     div.x.axis
        //-       p Decentralized Public Blockchains that can incentivize Decentralized Apps
        //-       p Decentralized Public Blockchains that can incentivize Centralized Apps
    
    #strat-dist.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Wallet-based Distribution Strategy
        p.hc-feature-lead(style="font-size:1.6em;") Through the Storecoin-powered Wallet, storecoin tokens will be distributed inside of web and mobile apps (not dApps). Apps integrate the Wallet using the Storecoin Developer Kit and then assign crypto amounts to key in-app API calls. When users take those pre-defined actions, they earn storecoins as a reward.
        //- div.hc-image
        //-   img.desktop-image(src="/images/strategy-distribution.png", style="width:100%;")
        //-   img.mobile-image(src="/images/strategy-distribution-mobile.png", style="width:100%;")
        div.desktop-image
          div.hc-strat-dist.five
            img(src="/images/strat-dist-5-v2.png")
            p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or crypto-powered API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into fiat.
          div.hc-strat-dist.four
            img(src="/images/strat-dist-4-v2.png")
            p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for the third party developers.
          div.hc-strat-dist.three
            img(src="/images/strat-dist-3-v2.png")
            p A secure unit of value allowing the owner to access services and/or data from the Storecoin Blockchain.
          div.hc-strat-dist.two
            img(src="/images/strat-dist-2-v2.png")
            p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
          div.hc-strat-dist.one
            img(src="/images/strat-dist-1-v2.png")
            p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
        div.mobile-image
          p(style="text-align:center; margin: 1em;") 
            span(style="border: 2px solid #44613478; border-radius: 7px; padding: 0.3em 0.5em; color: #446134;") Click Graphics to Learn More
          div.hc-strat-dist.five
            img(src="/images/strat-dist-mobile-5-v2.png")
            p Third Party Apps will integrate the Storecoin Wallet so each user account in the app has a crypto wallet. Apps can assign actions – or crypto-powered API calls – to micro-units of storecoins so each time a user takes an action, they earn the storecoin cryptocurrency. They can then exchange storecoins for other cryptocurrencies using a decentralized exchange. From there, they can move into fiat.
          div.hc-strat-dist.four
            img(src="/images/strat-dist-mobile-4-v2.png")
            p Between the token layer and the app layer, there is a protocol-powered Wallet API allowing the Storecoin cryptocurrency to natively be distributed inside of third party apps (not dApps). Storecoin, Inc. develops and supports these Wallet APIs for the third party developers.
          div.hc-strat-dist.three
            img(src="/images/strat-dist-mobile-3-v2.png")
            p A secure unit of value allowing the owner to access services and/or data from the Storecoin Blockchain.
          div.hc-strat-dist.two
            img(src="/images/strat-dist-mobile-2-v2.png")
            p The secure decentralized algorithm enabling new blocks of transactions to get created, confirmed, and added to the public blockchain.
          div.hc-strat-dist.one
            img(src="/images/strat-dist-mobile-1-v2.png")
            p A digitized, decentralized, public ledger containing the history of every Storecoin transaction.
    
    .hc-feature.over-rel.padding.lite
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How the Storecoin Wallet Works
        p.hc-feature-lead Once Third Party Developers integrate the Storecoin Wallet using APIs, every user on their app can have a Storecoin crypto wallet. Developers can reward storecoins to users when they take pre-defined actions. They can even “tax” their app and take a small cut of each crypto-powered transaction. The possibilities are endless.
        div.wallet-screens
          div.screen
            div.title 
              b A User Wallet inside the App
            img(src="/images/wallet-screen-1.png")
          div.screen
            div.title 
              b Assigning tokens to API calls
            img(src="/images/wallet-screen-2.png")
          div.screen
            div.title 
              b The App "taxing" transactions
            img(src="/images/wallet-screen-3.png")
    
    .hc-feature.over-rel.padding(style="overflow:visible;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title How Secure Payments Work with Storecoin
        p.hc-feature-lead When you pay for something with physical cash (U.S. paper dollar bills), the person who handed it over can’t spend the same money on something else (unless you have a quarter on a string). Preventing this type of “double spending” in a digital currency is more complex.
        div.blockchain-works(style="margin-bottom: 1em;")
          div.steps
            div.step
              div.title 
                b Transaction
              div.icon
                img(src="/images/blchain-transaction.png")
              div.desc Jane uses storecoin to buy a cup of coffee at the Coffee Cafe. She users her private key to transfer ownership of the currency to the Coffee Cafe. Once the transaction is verified by Storecoin Validators, it processes and is written to the Storecoin public blockchain.
            div.step
              div.title 
                b Validator Network
              div.icon
                img(src="/images/blchain-network.png")
              div.desc Word of this transaction is gossiped between all the Validator agents, who sit in a single machine and attempt to come to consensus on valid blocks of transactions.
            div.step
              div.title 
                b Block
              div.icon
                img(src="/images/blchain-block.png")
              div.desc For each new round, a validator is chosen to create and propose a block of transactions. The odds of a validator getting chosen is based on their stake relative to all other stake as well as decentralization weighting factors and tenure.
            div.step
              div.title 
                b Verification
              div.icon
                img(src="/images/blchain-verification.png")
              div.desc The winning validator, who becomes the proposer, will be awarded with newly minted coins if the block they broadcast is successfully added to the blockchain. The block must be voted and agreed upon by >2/3 of the network to become valid. Validators have “Agents” that do their consensus work for them in order to allow for scale and maintain decentralization.
          div.steps
            div.step
              div.title 
                b The Chain
              div.icon
                img(src="/images/blchain-chain.png")
              div.desc Blockchain acts as a public ledger showing all transactions, though the identities of participants are obscured. Each block has a cryptographic link to the previous one. In order for a Validator to re-write the blockchain and commit a double-spend, they violate the network safety. If caught, the validator will lose all of their stake, therefore making it extremely expensive to try and act maliciously about what the actual transactions in the blockchain are.
        div.link-container.hanging
          a.link-text.see-more.green(data-link="#storecoin-12-steps", data-margin="33,44", data-scroll="true") Storecoin in 12 Steps
            i.ion-ios-arrow-down
              
    #storecoin-12-steps.see-more-reveal.hc-feature.over-rel.padding(style="overflow:visible;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title 
          span.orange Overview: 
          | How the Storecoin Blockchain Works
        p.hc-feature-lead How the patent-pending Dynamic Proof of Stake consensus algorithm keeps transactions permanently free while perpetually funding blockchain security, engineering and governance.
        .hc-image
          img(src="/images/blockchain-guide-v2.png")
    //- .hc-feature.over-rel.padding
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title 
    //-       span.orange Overview: 
    //-       | How the Storecoin Blockchain Works
    //-     p.hc-feature-lead How the patent pending Dynamic Proof of Stake consensus algorithm keeps transactions permanently free while funding blockchain security, engineering, and operations.
    //-     .hc-image
    //-       img(src="/images/blockchain-guide.png")
          
    //- #store-blockchain.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title 
    //-       span.orange Overview: 
    //-       | How the Storecoin Blockchain Works
    //-     p.hc-feature-lead How the patent pending Dynamic Proof of Stake consensus algorithm keeps transactions permanently free while funding blockchain security, engineering, and operations.
    //-     .hc-image
    //-       img(src="/images/blockchain-guide.png")
    //-       
    //- #free-txn.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title How Dynamic Block Rewards Work 
    //-       span.orange (How Free Txns Work)
    //-     p.hc-feature-lead Transactions are free for users because they are paid for with capped, yearly token inflation of 5%. 4% is paid to block proposers. 1% endows Storecoin to secure, build, and operate the blockchain.
    //-     .hc-image
    //-       img(src="/images/free-txn.png")
    //-         
    //- #double-spend.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title
    //-       span.orange Security: 
    //-       | How Storecoin Addresses the Double Spend Problem
    //-     p.hc-feature-lead Storecoin’s Dynamic Proof of Stake protocol solves the double spend problem by implementing harsh penalties for getting caught thus making it unprofitable for the bad actor to engage in such activity.
    //-     .hc-image
    //-       img(src="/images/double-spend-flow.png")
    //-         
    //- #security-system.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title The Storecoin Security System 
    //-     p.hc-feature-lead Storecoin’s Security System is modeled after the United States Homeland Security Advisory System. This system powers market prices for Dynamic Security and Dynamic (Free) Transactions.
    //-     .hc-image
    //-       img(src="/images/security-system-flow.png")
    //-         
    //- #dynamic-security.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title How Dynamic Security Works  
    //-       span.orange (with Security Guards)
    //-     p.hc-feature-lead Security Guards are the decentralized security network on Storecoin that secures the blockchain by finding bad actors in the validator pool, in the Wallet SDK network, and at the user level. Security Guards run full nodes to study Storecoin transactions. They're rewarded with +50% of the burned stake or security bond of bad actors, as determined by Storecoin, Inc.
    //-     .hc-image
    //-       img(src="/images/dynamic-security-flow.png")
    //-         
    //- #dynamic-transactions.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title How Dynamic (Free) Transactions Work 
    //-     p.hc-feature-lead To prevent Storecoin from a DDoS attack or the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction. 
    //-     .hc-image
    //-       img(src="/images/dynamic-transactions-flow.png")
            
    //- #dynamic-governance.hc-feature.over-rel.padding.learn-more(style="display:none;")
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title How Dynamic Governance Works
    //-     p.hc-feature-lead A Storecoin vote is taken at least once per year. Only validators active for the past 6 months of the year have a vote. Governance determines network inflation, new feature additions, changes to consensus, changes to Governance, more.
    //-     .hc-image
    //-       img(src="/images/dynamic-governance-flow.png")
            
    //- #learn-more.hc-feature.over-rel.padding.lite
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title Learn more about how Storecoin Works
    //-     p.hc-feature-lead(data-link="#store-blockchain")
    //-       span.thumbnail
    //-         img(src="/images/blockchain-guide.png")
    //-       span How the Storecoin Blockchain Works
    //-     p.hc-feature-lead(data-link="#free-txn") 
    //-       span.thumbnail
    //-         img(src="/images/free-txn.png")
    //-       span How Dynamic Block Rewards Work (How Free Txns Are Paid For)
    //-     p.hc-feature-lead(data-link="#double-spend") 
    //-       span.thumbnail
    //-         img(src="/images/double-spend-flow.png")
    //-       span How Storecoin Addresses the Double Spend Problem
    //-     p.hc-feature-lead(data-link="#security-system") 
    //-       span.thumbnail
    //-         img(src="/images/security-system-flow.png")
    //-       span The Storecoin Security System
    //-     p.hc-feature-lead(data-link="#dynamic-security") 
    //-       span.thumbnail
    //-         img(src="/images/dynamic-security-flow.png")
    //-       span How Dynamic Security Works (with Security Guards)
    //-     p.hc-feature-lead(data-link="#dynamic-transactions")
    //-       span.thumbnail
    //-         img(src="/images/dynamic-transactions-flow.png") 
    //-       span How Dynamic (Free) Transactions are Secured
        //- p.hc-feature-lead(data-link="#dynamic-governance")
        //-   span.thumbnail
        //-     img(src="/images/dynamic-governance-flow.png")
        //-   span How Dynamic Governance Works
                             
    #ethos.hc-feature.over-rel.padding.inverted.orange
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title(style="margin-top:1.5em !important") Our Tech Ethos
        p.hc-feature-lead This is how we make technology decisions at Storecoin
        p 
          span 
            b #1  
          | Can we 
          b secure it
          | ?
        p 
          span 
            b #2  
          | If	we	can	secure	it,	can	we	 
          b scale	it
          | ?
        p 
          span 
            b #3  
          | If	we	can	secure	it	and	scale	it,	can	we 
          b make	it	free
          | ?
        p 
          span 
            b #4  
          | Can	we	do	this	with	 
          b a	world-class	user-experience
          | ?  
        p 
          span 
            b #5  
          | Can	Storecoin	as	an	organization 	 
          b support it
          | ?
        //- p 
        //-   span 
        //-     b #6  
        //-   | Will	hierarchy-based	organizations 	 
        //-   b need it
        //-   | ?          
        p.hc-feature-lead(style="text-align:left;") If funded by the Storecoin Community, Governance votes on it.
        p.hc-feature-lead(style="text-align:left; margin-bottom:0px;") If approved by Governance, then Storecoin ships it.
        
    #specs.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Blockchain Specs
        .row
          .twelve.columns
            table.u-full-width(style="margin:0px;")
              tbody
                tr
                  td
                    b Blockchain Type
                  td Public	Blockchain
                tr
                  td
                    b Consensus Algorithm
                  td 
                    a(data-featherlight='#box-branding') Dynamic Proof of Stake
                tr
                  td
                    b Block	Time
                  td Less	than	5	seconds
                  
                tr
                  td
                    b Transactions	per	second
                  td R&D	in	progress
                  
                tr
                  td
                    b Total	Coin	Supply
                  td 1	Billion
                tr
                  td
                    b Yearly	Token	Inflation
                  td Never	greater	than	5%. Token	inflation	pays	for	transaction	fees.
                tr
                  td
                    b Transactions Fees
                  td Zero fees for senders, receivers, and app developers
                //- tr
                //-   td
                //-     b Transactions Fees	for	Receivers
                //-   td Never
                tr
                  td
                    b Security Protocol
                  td Security Advisory System, Security Guards, Dynamic (Free) Transactions, Dynamic Security, Dynamic (On Chain) Governance
                tr
                  td
                    b On Chain Scalability	
                  td Dynamic Scaling	
                tr
                  td
                    b Off Chain Scalability	
                  td R&D	in	progress
                //- tr
                //-   td
                //-     b Smart	Contracts
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Privacy in Smart	Contracts
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Hierarchy in Smart	Contracts
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Dapps
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b State	Channels
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Supports	Oracles
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Provenance	in	Loyalty	Points
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Ethereum compatible
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Ethereum Dapp interoperable
                //-   td Yes,	R&D	in	progress
                //- tr
                //-   td
                //-     b Bitcoin	compatible
                //-   td Yes,	through	RSK    
            
    //- include app-types
    
    include first-dapp
    
    include footprint-matters

    include our-team-widget
                  
    #hc-alliance.hc-feature.over-rel.padding.inverted
      .hc-chunk
        h2.hc-feature-title The Storecoin Alliance
        p.hc-feature-lead A collation of organizations that have entered into long-term relationships with Storecoin as its exclusive cryptocurrency to be integrated into enterprise and consumer-facing apps.

        h2.hc-feature-title(style="margin:0px !important; color:rgb(233, 120, 68);") IN PROGRESS

    
    #partners.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our Partners
        #hc-partners-slider.logo-slider
          .slide
            img(src='/images/AWS-Activate.png')
            p $100,000	in	Amazon	AWS	credits
          .slide
            img(src='/images/footprint-white-logo.png')
            p First	major	App developers
          .slide
            img(src='/images/fenwick-west-logo.png', style='width:60%;')
            p Blockchain Patent Lawyers
          .slide
            img(src='/images/logo-coinfabrik.png', style='width:80%;')
            p Blockchain	Development	Partners
          .slide
            img(src='/images/bottom-line-logo.png', style='width:80%;')
            p Legal and SEC Compliance
          .slide
            img(src='/images/clinton-polley.png', style='width: auto; height: 110px;')
            p Founding Validators for Storecoin
            
    #project-schedule.hc-feature.lite.over-rel.padding
      h3.hc-feature-title.break Storecoin Project Schedule
      p.hc-feature-lead(style='max-width: 1140px;')
        | Storecoin is an ambitious and long-range technology initiative currently in deep R&D.
        
      p.hc-feature-lead(style='max-width: 1140px;')
        | We'll issue mini Token Sales as key Technology and Adoption milestones are achieved.
      
      p.hc-feature-lead(style='max-width: 1140px;')
        | We’re committed to 
        b Doing The Right Thing 
        | as we invent, introduce, and govern Storecoin.
        
      .container
        .timeline
          .center-line
          .year
            .name 2017
            .items
              .item.left
                .date
                  span May
                .full-date May
                .box
                  h2.title
                    span.bullet 1
                    | Storecoin	R&D	begins
                  .content
                    ul
                      li
                        i.ion-checkmark
                        |  Blockchain	Architect	added
                      li
                        i.ion-checkmark
                        |  Early engineering team added
                      li
                        i.ion-checkmark
                        |  R&D begins
                      li
                        i.ion-checkmark
                        |  Green Paper is started
                      li
                        i.ion-checkmark
                        |  Amazon	funds	Storecoin	R&D	with	AWS	credits

              .inverted.item.right
                .date
                  span August 2017
                .full-date August 2017
                .box
                  h2.title
                    span.bullet 2
                    | First Token Sale (7% sale)
                  .content
                    ul
                      li
                        i.ion-checkmark
                        |  Viable testing network set-up
                      li
                        i.ion-checkmark
                        |  Storecoin Green Paper is released
                      li 
                        i.ion-checkmark
                        |  Scalability testing begins
                      li
                        i.ion-checkmark
                        |  Security testing begins
                      li
                        i.ion-checkmark
                        |  Storecoin governance and Token Sales are aligned with the SEC’s July guidance
                      
              .item.left
                .date
                  span December 2017
                .full-date December 2017
                .box
                  h2.title
                    span.bullet 3
                    | Second Token Sale (6% sale)
                  .content
                    ul
                      li
                        i.ion-checkmark
                        |  Orange Paper released
                      li 
                        i.ion-android-time
                        |  VP Security Engineering added full-time
                      //- li 
                      //-   i.ion-android-time
                      //-   |  VP Consensus Engineering added full-time
                      //- li 
                      //-   i.ion-android-time
                      //-   |  VP Governance Engineering added full-time
                      li 
                        i.ion-android-time
                        |  Economics Paper released
                      li 
                        i.ion-android-time
                        |  Governance and Security Paper released
                      li 
                        i.ion-android-time
                        |  Scaling Paper released
                      li 
                        i.ion-android-time
                        |  Storecoin Alliance Network launched
                      li 
                        i.ion-android-time
                        |  Scalability testing moves to phase 2
                      li 
                        i.ion-android-time
                        |  Security testing moves to phase 2
          .year
            .name 2018
            .items
              .item.right
                .date
                  span Q1
                .full-date 2018+
                .box
                  h2.title
                    span.bullet 4
                    | Third Token Sale (4% sale)
                  .content
                    ul
                      li 
                        i.ion-record
                        |  v1 Storecoin Whitepaper released
                      li 
                        i.ion-record
                        |  Storecoin Proof of Concept #1 released
                      li 
                        i.ion-record
                        |  Storecoin v0.1 Developer API released
                      li 
                        i.ion-record
                        |  Storecoin Roadmap Announced
                      li 
                        i.ion-record
                        |  Open Source Development begins
                        
          .year
            .name 2019
            .items
              .item.left
                .date
                  span Q1
                .full-date 2019+
                .box
                  h2.title
                    span.bullet 5
                    | Fourth Token Sale (5% sale)
                  .content
                    ul
                      li 
                        i.ion-record
                        |  Storecoin Token gets issued to the wallet of all Token Buyers
                      li 
                        i.ion-record
                        |  Public Network v0.1 launches
                      li 
                        i.ion-record
                        |  Storecoin Wallet SDK launches
                      li 
                        i.ion-record
                        |  Storecoin Alliance launches initial apps on top of Wallet SDK
    
    include network-distribution
    
    .hc-feature.over-rel.inverted.padding.lite
      .hc-chunk
        include join-community
            
    .hc-feature.over-rel.padding(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Become a Validator
        p.hc-feature-lead(style=" margin:0px !important; color:#5d794c; text-decoration:underline;") 
          a(href="/applytoforge", style="font-size:30px;") Apply here
          
    .hc-feature.over-rel.padding.inverted.orange(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Become a Security Guard
        p.hc-feature-lead(style=" margin:0px !important; color:#5d794c; text-decoration:underline;") 
          a(href="/applytoforge", style="font-size:30px;") Apply here
    
    //- include about-second-token-sale
    
    //- include first-token-proceeds

    - top = false
    include email-widget
