extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style="margin-bottom:0px;")
          b Storecoin	aims	to	be	a	public	blockchain	for	systems	governed	by	hierarchy,	privacy,	and	complex	revenue	sharing.	
        h2.hc-feature-lead
          | These	include	franchises,	chain	stores,	sports	leagues,	affiliate-based	organizations,	and	more.
        h2.hc-feature-lead(style="margin:0px;")
          | No	transaction	fees.	Ethereum	and	Bitcoin	compatible.	A	new	Proof	of	Stake	consensus	algorithm.
          
    include email-widget

    .hc-feature.over-rel.padding.inverted(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style="font-size:2em; margin:0px !important; font-weight:300;") Here is our Green Paper
    
    .hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted What We Believe
        p.hc-feature-lead(style="margin-bottom:0px;") Franchises,	chain	stores,	sports	leagues,	and affiliate-based	organizations	— industries governed	by	hierarchy,	by	privacy,	by complex	revenue	sharing,	and	by commissions	— will	all eventually	be tokenized	and blockchain-powered.
        //- p.hc-feature-lead
        //-   | Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	applications,	loyalty
        //-   | points,	and	market	networks	for	industries	representing	over	25%	of	global	GDP.
    
    #vision.lite.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	apps,	supply	chains,	and	loyalty	points	for	industries	representing	over	25%	of	global	GDP.	
        .row.global-stats
          .three.columns
            .num
              h3 $4
              p Trillion
            .text Global	Franchise	Industry
          .three.columns
            .num
              h3 $18
              p Trillion
            .text Global	Chain-based	Businesses
          .three.columns
            .num
              h3 $1.3
              p Trillion
            .text Global	Sports	Industry
          .three.columns
            .num
              h3 $200
              p Billion
            .text Global	Affiliate	Industry
            
    //- #hc-current-status.inverted.orange.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted Storecoin Status
    //-     p.hc-feature-lead Storecoin	is	a	deep	R&D	initiative	in	the	earliest	stages	of	development.
    //-           
    //-     .text-group  
    //-       p.hc-feature-lead Our	aim	is	to	one	day	release	a	main	network	for	a	public	Storecoin	blockchain	but	first	we	need	to	verify	that	our	technology	goals	and	consensus	protocol	are	secure	and	scalable.	
    //-       p.hc-feature-lead To	fund	the	second	phase	of	this	deep	R&D	work,	we	are	selling	6%	of	the	Storecoin	token	supply	for	$300,000	USD.
    //-       p.hc-feature-lead Once	through	all	phases	of	R&D,	we’ll	release	the	Storecoin	Whitepaper	that	explains	our	technical	design	for	Storecoin	either	as	a	new	public	blockchain	or	as	an	ERC20-compatible	token.
    //-       p.hc-feature-lead Our	aim	is	to	release	Storecoin	as	a	new	public	blockchain.	
    //-     
    //-     .button-container
    //-       button.button.button-primary Learn More
    //-         i.ion-chevron-down
            
    #problem.hc-feature.inverted.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted The Problem
        
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead Hierarchy-based	systems	like	franchises, chains,	sports	leagues,	and	affiliate-based systems	are	governed	by	complex, multi-directional	revenue sharing	contracts.
                
          #hc-problem-slider
            .slide
              img(src='images/problem-slide-1.png')
            .slide
              img(src='images/problem-slide-2.png')
            .slide
              img(src='images/problem-slide-3.png')
            .slide
              img(src='images/problem-slide-4.png')
            .slide
              img(src='images/problem-slide-5.png')
            .slide
              img(src='images/problem-slide-6.png')
            .slide
              img(src='images/problem-slide-7.png')
            .slide
              img(src='images/problem-slide-8.png')
            .slide
              img(src='images/problem-slide-9.png')
            .slide
              img(src='images/problem-slide-10.png')
            .slide
              img(src='images/problem-slide-11.png')
            .slide
              img(src='images/problem-slide-12.png')
                
          p.hc-feature-lead.swipe-text(style="font-size:1.2em") Swipe right to see examples
          
        .hc-each-problem  
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | Oftentimes,	both	the	amount	of	the	revenue	share	and	the	identity	of	the	receiver	needs	to	be	private.
          .row.phase
            .twelve.columns
              img.adjusted(src='images/problem-public-privates.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead In	some	hierarchies,	revenue	sharing	arrangements	require	a	mix	of	both	public	and	private	information	for	sender,	receiver,	and	payment	amounts.	
          .row.phase
            .twelve.columns
              img.adjusted(src='images/problem-public-privates-2.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead Existing	smart	contract-based	blockchain	systems	like	Ethereum	are	public.
              p.hc-feature-lead They don't support privacy inside smart contracts for receiver, sender, and payment amounts.
          .row.phase
            .twelve.columns
              img(src='images/how-ethereum-works.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | Today, smart	contracts are written	in	code	but	most	of	the	world doesn’t	understand	code	-- especially	legal departments.	
              p.hc-feature-lead Writing, revising,	and deploying smart contracts	needs	to	be	very user-friendly	if	they	are	to	gain mainstream adoption	by hierarchy-based	systems with multiple layers of management and legal approvals.
          .row.phase
            .twelve.columns
              img(src='images/problem-11.png')

        .hc-each-problem.last-child
          .row.text
            .twelve.columns
              p.hc-feature-lead To handle micropayments of less than $0.01, blockchain payments 
                b need to be free.
              p.hc-feature-lead As of late July 2017, transaction costs with Ethereum were $0.12 and $2.57 with Bitcoin.        
          .row.phase(style="margin-bottom:2em;")
            .twelve.columns
              h4 Bitcoin	Average	Transaction	Fees
              img(src='images/problem-9.png')
          .row.phase
            .twelve.columns
              h4 Ethereum	Average	Transaction	Fees
              img(src='images/problem-10.png')

    #solution.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Solution
        p.hc-feature-lead
          | Storecoin	solves	this	by	enabling	transactions	in	a	smart
          | contract	to	be	private,	public	or	both.
        img(src='images/how-storecoin-operates.png')
        p.hc-feature-lead
          | Also,	by	enabling	unlimited	levels	of	revenue	sharing	in	unlimited	directions.
        img(src='images/solution-2.png')
        p.hc-feature-lead
          | All	using	fully	customizable,	UI	friendly	smart	contracts.
        img(src='images/storecoin-smart-contract.png')
        p.hc-feature-lead
          | Using	new	cryptography	and	cryptoeconomics, Storecoin	aims	to	do	this	with	zero	transaction	fees	to	the	sender	and	to	the	receiver.

        img(src='images/no-transaction-fees.png')

    
    #technology.hc-feature.lite.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Technology
        p.hc-feature-lead To	scale	Storecoin,	our	team	is	committed	to	minimizing	on-chain	data	while	maximizing	off	chain	transactions.
        p.hc-feature-lead We’re	also	experimenting	with	new	forms	of	cryptography	for	privacy	inside	of	smart	contracts	-- and	eventually	inside	state	channels.

        .row.points.ext
          .four.columns(data-featherlight='#box-proof')
            .tech-lead
              img(src='images/logo-blue-alpha.png')
              h6 Proof of Stake Consensus algorithm based upon Tendermint
            #box-proof(style='display:none;')
              .points-lightbox
                img(src='images/logo-blue-alpha.png')
                div
                  p Version 1 of Storecoin will use Tendermint, a new consensus protocol for ordering events in a distributed network under adversarial conditions.
                  p Tendermint is high performance, achieving thousands of transactions per second on dozens of nodes distributed around the globe, with latencies of about one second, and performance degrading moderately in the face of adversarial attacks.
                  p Storecoin may shift to a Proof of Stake consensus in future versions.

          .four.columns(data-featherlight='#box-privacy')
            .tech-lead
              img(src='images/lock.png')
              h6 Privacy in Smart Contracts
            #box-privacy(style='display:none;')
              .points-lightbox
                img(src='images/lock.png')
                div
                  p For privacy, we’re experimenting with new cryptography inside smart contracts. Transactions on the public network, outside of smart contracts, will always be public.

          .four.columns(data-featherlight='#box-hiearchy')
            .tech-lead
              img(src='images/parent-child.png')
              h6 Hiearchy in Smart Contracts
            #box-hiearchy(style='display:none;')
              .points-lightbox
                img(src='images/parent-child.png')
                div
                  p To achieve unlimited nodes of hierarchy in smart contracts, we’re using a new database design for smart contracts and a new UX for their creation and deployment.

        .row.points.ext
          .four.columns(data-featherlight='#box-transactions')
            .tech-lead
              img(src='images/transaction-money-bag.png')
              h6 Free Transactions
            #box-transactions(style='display:none;')
              .points-lightbox
                img(src='images/transaction-money-bag.png')
                div
                  p To achieve free transactions for senders and receivers, each transaction will generate some inflation which will be distributed to the participants of the consensus. The total new token inflation will be lower than 5% each year and it will be directly linked to blockchain transaction and operation costs. 
                  p We are testing securing the consensus to prevent network flooding now. 
                
          .four.columns(data-featherlight='#box-channels')
            .tech-lead
              img(src='images/shield.png')
              h6 State Channels
            #box-channels(style='display:none;')
              .points-lightbox
                img(src='images/shield.png')
                div
                  p State	channels are	payment channels,	where	two	or	more	users	can	exchange	payments	without	needing	to	use	the	blockchain	except	when	setting	up	or	closing	out	the	channel
                
          .four.columns(data-featherlight='#box-privacy-channels')
            .tech-lead
              img(src='images/state-channels-privacy.png')
              h6 Privacy	inside	State	Channels
            #box-privacy-channels(style='display:none;')
              .points-lightbox
                img(src='images/state-channels-privacy.png')
                div
                  p We’re experimenting with new cryptography to make payments off blockchain and inside state channels private.


        .row.points.ext
          .four.columns(data-featherlight='#box-ethereum')
            .tech-lead
              img(src='images/ethereum.png')
              h6 Ethereum compatible 
            #box-ethereum(style='display:none;')
              .points-lightbox
                img(src='images/ethereum.png')
                div
                  p Dapps built for Ethereum will work with the Storecoin Blockchain and will be compatible with the the Storecoin Developer API.
          
          .four.columns(data-featherlight='#box-bitcoin')
            .tech-lead
              img(src='images/bitcoin-green.png')
              h6 Bitcoin compatible 
            #box-bitcoin(style='display:none;')
              .points-lightbox
                img(src='images/bitcoin-green.png')
                div
                  p Using Rootstock, Storecoin will achieve interoperability with the Bitcoin blockchain.
                
          .four.columns(data-featherlight='#box-loyalty')
            .tech-lead
              img(src='images/loyalty-tokens.png')
              h6 Loyalty Points as App Tokens
            #box-loyalty(style='display:none;')
              .points-lightbox
                img(src='images/loyalty-tokens.png')
                div
                  p For loyalty points, we’re designing an ERC20-like platform for the provenance and unique ownership of consumer packaged goods to be tied to the blockchain. If the token changes wallets, only the active token can be used to access apps and content. Think McDonald’s Points, CrossFit Points, and more.

    #ethos.hc-feature.over-rel.padding.inverted.orange
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Our Tech Ethos
        p.hc-feature-lead This	is	how	we	make	technology	decisions	at	Storecoin
        p 
          span 
            b #1  
          | Can we 
          b secure it
          | ?
        p 
          span 
            b #2  
          | If	we	can	secure	it,	can	we	 
          b scale	it
          | ?
        p 
          span 
            b #3  
          | If	we	can	secure	it	and	scale	it,	can	we 
          b make	it	free
          | ?
        p 
          span 
            b #4  
          | Can	we	do	this	with	 
          b a	world-class	user-experience
          | ?  
        p 
          span 
            b #5  
          | Can	Storecoin	as	an	organization 	 
          b support it
          | ?
        p 
          span 
            b #6  
          | Will	hierarchy-based	organizations 	 
          b need it
          | ?          
                  
        p.hc-feature-lead(style="text-align:left; margin-bottom:0px;") If so, let’s 
          b ship it.
    
    #specs.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Blockchain Specs
        .row
          .twelve.columns
            table.u-full-width(style="margin:0px;")
              tbody
                tr
                  td
                    b Blockchain Type
                  td Public	Blockchain
                tr
                  td
                    b Consensus	Algorithm
                  td While	in	development,	it’s	Tendermint.	In version	2,	
                     | we’ll	migrate to	a	new	Proof	of	Stake	consensus	
                     | algorithm that	ensures	zero	transaction	fees.
                tr
                  td
                    b Block	Time
                  td Less	than	5	seconds
                  
                tr
                  td
                    b Transactions	per	second
                  td R&D	in	progress
                  
                tr
                  td
                    b Total	Coin	Supply
                  td 1	Billion
                tr
                  td
                    b Yearly	Token	Inflation
                  td Never	greater	than	5%. Token	inflation	pays	for	transaction	fees.
                tr
                  td
                    b Transactions Fees	for	Senders
                  td Zero	fees	until	blockchain transaction	costs	are	greater	than	5%
                tr
                  td
                    b Transactions Fees	for	Receivers
                  td Never
                tr
                  td
                    b Security Protocol
                  td R&D	is in	progress	to	prevent	network	flooding
                tr
                  td
                    b On Chain Scalability	
                  td R&D	in	progress	to enable	public	and/or	private	state	channels	
                tr
                  td
                    b Off Chain Scalability	
                  td R&D	in	progress
                tr
                  td
                    b Smart	Contracts
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Privacy in Smart	Contracts
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Hierarchy in Smart	Contracts
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Dapps
                  td Yes,	R&D	in	progress
                tr
                  td
                    b State	Channels
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Supports	Oracles
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Provenance	in	Loyalty	Points
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Ethereum compatible
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Ethereum Dapp interoperable
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Bitcoin	compatible
                  td Yes,	through	RSK
    
    include app-types

    include first-dapp

    include footprint-matters

    include our-team-widget
                  
    #hc-alliance.hc-feature.over-rel.padding.inverted
      .hc-chunk
        h2.hc-feature-title The Storecoin Alliance
        p.hc-feature-lead A	collation	of	franchises,	chain	stores,	sports	
          | leagues,	and	affiliate-based	organizations	
          | paying	membership	fees	to	run	their	own	
          | R&D	experiments	with	Storecoin.	
    
        h2.hc-feature-title(style="margin:0px !important; color:rgb(233, 120, 68);") COMING SOON
        
    #partners.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our Partners
        #hc-partners-slider
          .slide
            img(src='images/AWS-Activate.png')
            p $100,000	in	Amazon	AWS	credits
          .slide
            img(src='images/footprint-white-logo.png')
            p First	major	App developers
          .slide
            img(src='images/logo-coinfabrik.png', style='width:80%;')
            p Blockchain	Development	Partners
          .slide
            img(src='images/bottom-line-logo.png', style='width:80%;')
            p Bottom Line Law Group
                  
    #network-effects.hc-feature.over-rel.inverted.padding
      h2.hc-feature-title Storecoin	Network	Effects
      p.hc-feature-lead
        | The	magic	of	the	Storecoin	is	that	it	aligns	incentives across	all	stakeholders	to hold the	token.
      .incentives.desktop
        .rails-wrapper
          .rails
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/chart-2.png')
                p Token	Value
              p.desc
                | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns
        .row.middle
          .four.columns.vertical
            .incentive
              .title
                img(src='images/money.png')
                p More Buyers
              p.desc
                | The	more	valuable	staking	becomes,	the	more	demand	there	will	be	to	buy	storecoins
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/hammer.png')
                p More Validators
              p.desc
                | The more users, the more transactions on the Storecoin blockchain, thus the more the Storecoin consensus will need to be validated. 
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns.logo-wrapper
            img.logo(src='images/logo.png')
          .four.columns.vertical
            .incentive
              .title
                img(src='images/keyboard.png')
                p More Developers
              p.desc
                | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/building.png')
                p More Organizations
              p.desc
                | As	more	developers	build	with Storecoin,	more	hierarchy-based	organizations	will	use	(and	pay	for	the	usage	of)	Storecoin-powered	apps.
            img.arrow-flow(src='images/arrow-mobile.png')
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/smile.png')
                p More Users
              p.desc
                | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
          .four.columns
            
      .incentives.mobile
        .rails-wrapper
          .rails
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/chart-2.png')
                p Token	Value
              p.desc
                | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns
        .row.middle
          .four.columns.vertical
            .incentive
              .title
                img(src='images/keyboard.png')
                p More Developers
              p.desc
                | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/building.png')
                p More Organizations
              p.desc
                | As	more	developers	build	with Storecoin,	more	hierarchy-based	organizations	will	use	(and	pay	for	the	usage	of)	Storecoin-powered	apps.
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns.logo-wrapper
            img.logo(src='images/logo.png')
          .four.columns.vertical
            .incentive
              .title
                img(src='images/smile.png')
                p More Users
              p.desc
                | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/hammer.png')
                p More Validators
              p.desc
                | The more users, the more transactions on the Storecoin blockchain, thus the more the Storecoin consensus will need to be validated. 
            img.arrow-flow(src='images/arrow-mobile.png')
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/money.png')
                p More Buyers
              p.desc
                | The	more	valuable	staking	becomes,	the	more	demand	there	will	be	to	buy	storecoins
          .four.columns
            
    #project-schedule.hc-feature.lite.over-rel.padding
      h3.hc-feature-title.break Storecoin Project Schedule
      p.hc-feature-lead(style='max-width: 1140px;')
        | Storecoin is an ambitious and long-range technology initiative in the early phases of R&D.
        
      p.hc-feature-lead(style='max-width: 1140px;')
        | We'll issue mini Token Sales as key Technology and Adoption milestones are achieved.
      
      p.hc-feature-lead(style='max-width: 1140px;')
        | We’re committed to 
        b Doing The Right Thing 
        | as we invent, introduce, and govern Storecoin.
        
      .container
        .timeline
          .center-line
          .year
            .name 2017
            .items
              .item.left
                .date
                  span May
                .full-date May
                .box
                  h2.title
                    span.bullet 1
                    | Storecoin	R&D	begins
                  .content
                    ul
                      li.success Blockchain	Architect	added
                      li.success Early engineering team added
                      li.success R&D begins
                      li.success Green Paper is started
                      li.success Amazon	funds	Storecoin	R&D	with	AWS	credits

              .inverted.item.right
                .date
                  span August
                .full-date August
                .box
                  h2.title
                    span.bullet 2
                    | First Token Sale (6% sale)
                  .content
                    ul
                      li.success Storecoin Green Paper is released
                      li Cryptoeconomics v0.1 released
                      li.success Whitepaper writing begins
                      li Extensive scalability testing
                      li Extensive security testing
                      li.success Storecoin	governance	and	Token	Sales	are	aligned	with	the	SEC’s	July	guidance
                      
              .item.left
                .date
                  span Late 2017
                .full-date Late 2017
                .box
                  h2.title
                    span.bullet 3
                    | Second Token Sale (4% sale)
                  .content
                    ul
                      li v0.1 Storecoin Whitepaper released
                      li v1 Cryptoeconomics released
                      li Storecoin Test Network launched
                      li Core Blockchain Developers added
                      li Auction-based	Second	Token	Sale	launches
                      li Storecoin Alliance Network launched
          .year
            .name 2018
            .items
              .item.right
                .date
                  span Q1
                .full-date 2018+
                .box
                  h2.title
                    span.bullet 4
                    | Third Token Sale (4% sale)
                  .content
                    ul
                      li v1 Storecoin Whitepaper released
                      li Storecoin Proof of Concept #1 released
                      li Storecoin v0.1 Developer API released
                      li Storecoin Roadmap Announced
                      li Open Source Development begins
                      li Storecoin	Token	gets	issued	to	the	wallet	of	all	Token	Buyers
          .year
            .name 2019
            .items
              .item.left
                .date
                  span Q1
                .full-date 2019+
                .box
                  h2.title
                    span.bullet 5
                    | Fourth Token Sale (5% sale)
                  .content
                    ul
                      li Storecoin Proof of Concept #2 released
                      li Public Network v0.1 launches
                      li Storecoin Wallet launches
                      li Storecoin Alliance grows to 10+ partners
                      li Storecoin Foundation launched
    
    include network-distribution
    
    include about-first-ico
    
    include first-token-proceeds

    include email-widget
