extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style="margin-bottom:0px;")
          b Storecoin	aims	to	be	a	public	blockchain	for	systems	governed	by	hierarchy,	privacy,	and	complex	revenue	sharing.	
        h2.hc-feature-lead
          | These	include	franchises,	chain	stores,	sports	leagues,	affiliate-based	organizations,	and	more.
        h2.hc-feature-lead(style="margin:0px;")
          | No	transaction	fees.	Ethereum	and	Bitcoin	compatible.	A	new	Proof	of	Stake	consensus	algorithm.
          
    include email-widget

    .hc-feature.over-rel.padding.inverted(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style="font-size:2em; margin:0px !important; font-weight:300;") Here is our Green Paper
    
    #hc-vision.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted What We Believe
        p.hc-feature-lead(style="margin-bottom:0px;") Franchises,	chain	stores,	sports	leagues,	and affiliate-based	organizations	— industries governed	by	hierarchy,	by	privacy,	by complex	revenue	sharing,	and	by commissions	— will	all eventually	be tokenized	and blockchain-powered.
        //- p.hc-feature-lead
        //-   | Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	applications,	loyalty
        //-   | points,	and	market	networks	for	industries	representing	over	25%	of	global	GDP.
    
    #hc-vision.lite.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	apps,	supply	chains,	and	loyalty	points	for	industries	representing	over	25%	of	global	GDP.	
        .row.global-stats
          .three.columns
            .num
              h3 $4
              p Trillion
            .text Global	Franchise	Industry
          .three.columns
            .num
              h3 $18
              p Trillion
            .text Global	Chain-based	Businesses
          .three.columns
            .num
              h3 $1.3
              p Trillion
            .text Global	Sports	Industry
          .three.columns
            .num
              h3 $200
              p Billion
            .text Global	Affiliate	Industry
            
    #hc-current-status.inverted.orange.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Current Status
        p.hc-feature-lead Storecoin	is	a	deep	R&D	initiative	in	the	earliest	stages	of	development.
        p.hc-feature-lead Our	aim	is	to	one	day	release	a	main	network	for	a	public	Storecoin	blockchain	but	first	we	need	to	verify	that	our	technology	goals	and	consensus	protocol	are	secure	and	scalable.	
        p.hc-feature-lead To	fund	the	second	phase	of	this	deep	R&D	work,	we	are	selling	6%	of	the	Storecoin	token	supply	for	$300,000	USD.
        p.hc-feature-lead Once	through	all	phases	of	R&D,	we’ll	release	the	Storecoin	Whitepaper	that	explains	our	technical	design	for	Storecoin	either	as	a	new	public	blockchain	or	as	an	ERC20-compatible	token.
        p.hc-feature-lead(style="margin-bottom:0px;") Our	aim	is	to	release	Storecoin	as	a	new	public	blockchain.	
            
    #hc-why-token.hc-feature.inverted.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted The Problem
        
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead Hierarchy-based	systems	like	franchises, chains,	sports	leagues,	and	affiliate-based systems	are	governed	by	complex, multi-directional	revenue sharing	contracts.
                
          #hc-problem-slider
            .slide
              img(src='images/problem-1.png')
            .slide
              img(src='images/problem-2.png')
            .slide
              img(src='images/problem-3.png')
            .slide
              img(src='images/problem-4.png')
            .slide
              img(src='images/problem-5.png')
          p.hc-feature-lead.swipe-text Swipe right to see examples
          
        .hc-each-problem  
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | Oftentimes,	both	the	amount	of	the	revenue	share	and	the	identity	of	the	receiver	needs	to	be	private.
          .row.phase
            .twelve.columns
              img(src='images/problem-6.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead In	some	hierarchies,	revenue	sharing	arrangements	require	a	mix	of	both	public	and	private	information	for	sender,	receiver,	and	payment	amounts.	
          .row.phase
            .twelve.columns
              img(src='images/problem-7.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead Existing	smart	contract-based	blockchain	systems	like	Ethereum	are	public.
              p.hc-feature-lead They don't support privacy inside smart contracts for receiver, sender, and payment amounts.
          .row.phase
            .twelve.columns
              img(src='images/problem-8.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | Today, smart	contracts are written	in	code	but	most	of	the	world doesn’t	understand	code	-- especially	legal departments.	
              p.hc-feature-lead Writing, revising,	and deploying smart contracts	needs	to	be	very user-friendly	if	they	are	to	gain mainstream adoption	by hierarchy-based	systems with multiple layers of management and legal approvals.
          .row.phase
            .twelve.columns
              img(src='images/problem-11.png')

        .hc-each-problem.last-child
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | They promised us free transactions using the blockchain but,
                | as of early July 2017, we have $0.14 transactions with
                | Ethereum and $2.46 transactions with Bitcoin.
              p.hc-feature-lead To handle micropayments of less than $0.01, 
                b blockchain payments need to be free.        
          .row.phase(style="margin-bottom:2em;")
            .twelve.columns
              h4 Bitcoin	Average	Transaction	Fees
              img(src='images/problem-9.png')
          .row.phase
            .twelve.columns
              h4 Ethereum	Average	Transaction	Fees
              img(src='images/problem-10.png')

    #hc-solution.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Solution
        p.hc-feature-lead
          | Storecoin	solves	this	by	enabling	transactions	in	a	smart
          | contract	to	be	private,	public	or	both.
        img(src='images/solution-1.png')
        p.hc-feature-lead
          | Also,	by	enabling	unlimited	levels	of	revenue	sharing	in	unlimited	directions.
        img(src='images/solution-2.png')
        p.hc-feature-lead
          | All	using	fully	customizable,	UI	friendly	smart	contracts.
        img(src='images/solution-3.png')
        p.hc-feature-lead
          | Storecoin	does	this	with	zero	transaction	fees	to	the	sender	and	to	the	receiver.
        //- p.hc-feature-lead
        //-   | They	promised	us	free	payments	and	transactions	using	blockchains but,	as	of	
        //-   | July	2017,	we	ended	up	with	$0.14	lower	bound	transactions	with	Ethereum	
        //-   | and	$2.46	transactions	with	Bitcoin.
        //- p.hc-feature-lead
        //-   | To	handle	micropayments	of	less	than	$0.30	and	nanopayments of	less	than	
        //-   | $0.01	-- to	power	new	business	models	and	behaviors	for	hierarchy-based	
        //-   | systems	-- blockchain	payments	need	to	be	free.
        img(src='images/solution-4.png')

    
    #hc-tech.hc-feature.lite.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Technology
        p.hc-feature-lead To	scale	Storecoin,	our	team	is	committed	to	minimizing	on-chain	data	while	maximizing	off	chain	transactions.
        p.hc-feature-lead We’re	also	experimenting	with	new	forms	of	cryptography	for	privacy	inside	of	smart	contracts	-- and	eventually	inside	state	channels.

        .row.points.ext
          .four.columns(data-featherlight='#box-proof')
            .tech-lead
              img(src='images/logo-blue-alpha.png')
              h6 Proof of Stake Consensus algorithm based upon Tendermint
            #box-proof(style='display:none;')
              .points-lightbox
                img(src='images/logo-blue-alpha.png')
                div
                  p Version 1 of Storecoin will use Tendermint, a new consensus protocol for ordering events in a distributed network under adversarial conditions.
                  p Tendermint is high performance, achieving thousands of transactions per second on dozens of nodes distributed around the globe, with latencies of about one second, and performance degrading moderately in the face of adversarial attacks.
                  p Storecoin may shift to a Proof of Stake consensus in future versions.

          .four.columns(data-featherlight='#box-privacy')
            .tech-lead
              img(src='images/lock.png')
              h6 Privacy in Smart Contracts
            #box-privacy(style='display:none;')
              .points-lightbox
                img(src='images/lock.png')
                p For privacy, we’re experimenting with new cryptography inside smart contracts. Transactions on the public network, outside of smart contracts, will always be public.

          .four.columns(data-featherlight='#box-hiearchy')
            .tech-lead
              img(src='images/parent-child.png')
              h6 Hiearchy in Smart Contracts
            #box-hiearchy(style='display:none;')
              .points-lightbox
                img(src='images/parent-child.png')
                p To achieve unlimited nodes of hierarchy in smart contracts, we’re using a new database design for smart contracts and a new UX for their creation and deployment.

        .row.points.ext
          .four.columns(data-featherlight='#box-transactions')
            .tech-lead
              img(src='images/transaction-money-bag.png')
              h6 Free Transactions
            #box-transactions(style='display:none;')
              .points-lightbox
                img(src='images/transaction-money-bag.png')
                p To achieve free transactions for senders and receivers, each transaction will generate some inflation which will be distributed to the participants of the consensus. The total new token inflation will be lower than 5% each year and it will be directly linked to blockchain transactions.  
                
          .four.columns(data-featherlight='#box-channels')
            .tech-lead
              img(src='images/shield.png')
              h6 State Channels
            #box-channels(style='display:none;')
              .points-lightbox
                img(src='images/shield.png')
                p State	channels are	payment channels,	where	two	or	more	users	can	exchange	payments	without	needing	to	use	the	blockchain	except	when	setting	up	or	closing	out	the	channel
                
          .four.columns(data-featherlight='#box-privacy-channels')
            .tech-lead
              img(src='images/shield.png')
              h6 Privacy	inside	State	Channels
            #box-privacy-channels(style='display:none;')
              .points-lightbox
                img(src='images/shield.png')
                p State	channels are	payment channels,	where	two	or	more	users	can	exchange	payments	without	needing	to	use	the	blockchain	except	when	setting	up	or	closing	out	the	channel


        .row.points.ext
          .four.columns(data-featherlight='#box-ethereum')
            .tech-lead
              img(src='images/ethereum.png')
              h6 Ethereum compatible 
            #box-ethereum(style='display:none;')
              .points-lightbox
                img(src='images/ethereum.png')
                p Dapps built for Ethereum will work with the Storecoin Blockchain and will be compatible with the the Storecoin Developer API.
          
          .four.columns(data-featherlight='#box-bitcoin')
            .tech-lead
              img(src='images/bitcoin-green.png')
              h6 Bitcoin compatible 
            #box-bitcoin(style='display:none;')
              .points-lightbox
                img(src='images/bitcoin-green.png')
                p Using Rootstock, Storecoin will achieve interoperability with the Bitcoin blockchain.
                
          .four.columns(data-featherlight='#box-loyalty')
            .tech-lead
              img(src='images/loyalty-tokens.png')
              h6 Loyalty Points as App Tokens
            #box-loyalty(style='display:none;')
              .points-lightbox
                img(src='images/loyalty-tokens.png')
                p For loyalty points, we’re designing an ERC20-like platform for the provenance and unique ownership of consumer packaged goods to be tied to the blockchain. If the token changes wallets, only the active token can be used to access apps and content. Think McDonald’s Points, CrossFit Points, and more.

    #hc-apps.hc-feature.inverted.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted What apps can be built with Storecoin?
        p.lead
          | Storecoin developers will give franchise and chain stores new blockchain-powered super powers:
        .desktop
          .hc-apps-row
            .column-1.title.half-column(data-tab='tab-1')
              i.ion-record
              a(href='javascript:;') Point of sale systems
            .column-2.title.half-column(data-tab='tab-2')
              i.ion-record
              a(href='javascript:;') Micropayments to staff and to stores
            .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-tab='tab-1')
              i.ion-record
              a(href='javascript:;') E-commerce systems
            .column-2.title.half-column(data-tab='tab-2')
              i.ion-record
              a(href='javascript:;') Smart scheduling apps
            .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-tab='tab-1')
              i.ion-record
              a(href='javascript:;') Invoicing workflows
            .column-2.title.half-column(data-tab='tab-2')
              i.ion-record
              a(href='javascript:;') Payroll
            .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-tab='tab-1')
              i.ion-record
              a(href='javascript:;') Revenue sharing arrangements
            .column-2.title.half-column(data-tab='tab-2')
              i.ion-record
              a(href='javascript:;') Supply chain contracts
            .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-tab='tab-1')
              i.ion-record
              a(href='javascript:;') Last mile delivery network APIs
            .column-2.title.half-column(data-tab='tab-2')
              i.ion-record
              a(href='javascript:;') Loyalty systems
            .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-tab='tab-1')
              i.ion-record
              a(href='javascript:;') Drone delivery systems
            .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
        .mobile
          .hc-apps-row
            .column-1.title.half-column(data-featherlight='#box-1')
              i.ion-record
              a(href='javascript:;') Point of sale systems
            .column-2.title.half-column(data-featherlight='#box-2')
              i.ion-record
              a(href='javascript:;') Micropayments to staff and to stores
            #box-1.column-3.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            #box-2.column-4.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-featherlight='#box-3')
              i.ion-record
              a(href='javascript:;') E-commerce systems
            .column-2.title.half-column(data-featherlight='#box-4')
              i.ion-record
              a(href='javascript:;') Smart scheduling apps
            #box-3.column-3.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            #box-4.column-4.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-featherlight='#box-5')
              i.ion-record
              a(href='javascript:;') Invoicing workflows
            .column-2.title.half-column(data-featherlight='#box-6')
              i.ion-record
              a(href='javascript:;') Payroll
            #box-5.column-3.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            #box-6.column-4.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-featherlight='#box-7')
              i.ion-record
              a(href='javascript:;') Revenue sharing arrangements
            .column-2.title.half-column(data-featherlight='#box-8')
              i.ion-record
              a(href='javascript:;') Supply chain contracts
            #box-7.column-3.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            #box-8.column-4.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-featherlight='#box-9')
              i.ion-record
              a(href='javascript:;') Last mile delivery network APIs
            .column-2.title.half-column(data-featherlight='#box-10')
              i.ion-record
              a(href='javascript:;') Loyalty systems
            #box-9.column-3.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
            #box-10.column-4.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case2.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
          .hc-apps-row
            .column-1.title.half-column(data-featherlight='#box-11')
              i.ion-record
              a(href='javascript:;') Drone delivery systems
            #box-12.column-3.title-reveal.hide.full-column.row.app-box
              .six.columns.image
                img(src='images/use_case1.png')
              .six.columns.text
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
                p
                  | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.

    
    #hc-specs.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Blockchain Specs
        .row
          .twelve.columns
            table.u-full-width(style="margin:0px;")
              tbody
                tr
                  td
                    b Blockchain Type
                  td Public	Blockchain
                tr
                  td
                    b Consensus	Algorithm
                  td While	in	development,	it’s	Tendermint.	In version	2,	
                     | we’ll	migrate to	a	new	Proof	of	Stake	consensus	
                     | algorithm that	ensures	zero	transaction	fees.
                tr
                  td
                    b Block	Time
                  td Less	than	5	seconds
                  
                tr
                  td
                    b Transactions	per	second
                  td R&D	in	progress
                  
                tr
                  td
                    b Total	Coin	Supply
                  td 1	Billion
                tr
                  td
                    b Yearly	Token	Inflation
                  td Never	greater	than	5%. Token	inflation	pays	for	transaction	fees.
                tr
                  td
                    b Transactions Fees	for	Senders
                  td Zero	fees	until	blockchain transaction	costs	are	greater	than	5%
                tr
                  td
                    b Transactions Fees	for	Receivers
                  td Never
                tr
                  td
                    b Security Protocol
                  td R&D	is in	progress	to	prevent	network	flooding
                tr
                  td
                    b On Chain Scalability	
                  td R&D	in	progress	to enable	public	and/or	private	state	channels	
                tr
                  td
                    b Off Chain Scalability	
                  td R&D	in	progress
                tr
                  td
                    b Smart	Contracts
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Privacy in Smart	Contracts
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Hierarchy in Smart	Contracts
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Dapps
                  td Yes,	R&D	in	progress
                tr
                  td
                    b State	Channels
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Supports	Oracles
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Provenance	in	Loyalty	Points
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Ethereum compatible
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Ethereum Dapp interoperable
                  td Yes,	R&D	in	progress
                tr
                  td
                    b Bitcoin	compatible
                  td Yes,	through	RSK

    include first-dapp

    include our-team-widget
                  
    #hc-alliance.hc-feature.over-rel.padding.inverted
      .hc-chunk
        h2.hc-feature-title The Storecoin Alliance
        p.hc-feature-lead A	collation	of	franchises,	chain	stores,	sports	
          | leagues,	and	affiliate-based	organizations	
          | paying	membership	fees	to	run	their	own	
          | R&D	experiments	with	Storecoin.	
    
        h2.hc-feature-title(style="margin:0px !important; color:rgb(233, 120, 68);") COMING SOON
        
    #hc-partners.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our Partners
        #hc-partners-slider
          .slide
            img(src='images/AWS-Activate.png')
            p $100,000	in	Amazon	AWS	credits
          .slide
            img(src='images/footprint-white-logo.png')
            p First	major	Dapp developers
          .slide
            img(src='images/logo-coinfabrik.png', style='width:80%;')
            p Blockchain	Development	Partners
          //- .slide
          //-   img(src='images/zeppelin-solutions.png', style='width:80%;')
          //-   p ICO Auditing
          .slide
            img(src='images/bottom-line-logo.png', style='width:80%;')
            p Bottom Line Law Group
                  
    #hc-network-effects.hc-feature.over-rel.inverted.padding
      h2.hc-feature-title Storecoin	Network	Effects
      p.hc-feature-lead
        | The	magic	of	the	Storecoin	is	that	it	aligns	incentives across	all	stakeholders	to hold the	token.
      .incentives
        .rails-wrapper
          .rails
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/chart-2.png')
                p Token	Value
              p.desc
                | The	Storecoin	token	value	increases	with	more	Storecoin	Wallets	deployed	and	more	and	app-level	transactions	on	the	Storecoin	blockchain.	
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns
        .row.middle
          .four.columns.vertical
            .incentive
              .title
                img(src='images/money.png')
                p More Buyers
              p.desc
                | The	more	valuable	staking	becomes,	the	more	demand	there	will	be	to	buy	storecoins
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/hammer.png')
                p More Stakers
              p.desc
                | The	more	users,	the	more transactions	on	the	Storecoin	blockchain,	thus	the	more	the	Storecoin	blockchain	will	need	to	be	staked
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns.logo-wrapper
            img.logo(src='images/logo.png')
          .four.columns.vertical
            .incentive
              .title
                img(src='images/keyboard.png')
                p More Developers
              p.desc
                | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/building.png')
                p More Organizations
              p.desc
                | As	more	developers	build	with Storecoin,	more	hierarchy-based	organizations	will	use	(and	pay	for	the	usage	of)	Storecoin-powered	apps.
            img.arrow-flow(src='images/arrow-mobile.png')
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/smile.png')
                p More Users
              p.desc
                | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
          .four.columns
            
    #hc-project-schedule.hc-feature.lite.over-rel.padding
      h3.hc-feature-title.break Storecoin Project Schedule
      p.hc-feature-lead(style='max-width: 1140px;')
        | Storecoin is an ambitious and long-range technology initiative in the early phases of research and development.
        
      p.hc-feature-lead(style='max-width: 1140px;')
        | We'll issue mini Token Sales as key Technology and Adoption milestones are achieved.
      
      p.hc-feature-lead(style='max-width: 1140px;')
        | We’re committed to 
        b Doing The Right Thing 
        | as we invent, introduce, and govern Storecoin.
        
      .container
        .timeline
          .center-line
          .year
            .name 2017
            .items
              .item.left
                .date
                  span May
                .full-date May
                .box
                  h2.title
                    span.bullet 1
                    | Storecoin	R&D	begins
                  .content
                    ul
                      li.success Blockchain	Architect	added
                      li.success Early engineering team added
                      li.success R&D begins
                      li.success Green Paper is started
                      li.success Amazon	funds	Storecoin	R&D	with	AWS	credits

              .inverted.item.right
                .date
                  span August
                .full-date August
                .box
                  h2.title
                    span.bullet 2
                    | First Token Sale (6% sale)
                  .content
                    ul
                      li.success Storecoin Green Paper is released
                      li Cryptoeconomics v0.1 released
                      li.success Whitepaper writing begins
                      li Extensive scalability testing
                      li Extensive security testing
                      li Storecoin	governance	and	Token	Sales	are	aligned	with	the	SEC’s	July	guidance
                      
              .item.left
                .date
                  span Late 2017
                .full-date Late 2017
                .box
                  h2.title
                    span.bullet 3
                    | Second Token Sale (4% sale)
                  .content
                    ul
                      li v0.1 Storecoin Whitepaper released
                      li v1 Cryptoeconomics released
                      li Storecoin Test Network launched
                      li Core Blockchain Developers added
                      li Vickrey Auction for Token Sales launches
                      li Storecoin Alliance Network launched
          .year
            .name 2018
            .items
              .item.right
                .date
                  span Q1
                .full-date 2018+
                .box
                  h2.title
                    span.bullet 4
                    | Third Token Sale (4% sale)
                  .content
                    ul
                      li v1 Storecoin Whitepaper released
                      li Storecoin Proof of Concept #1 released
                      li Storecoin v0.1 Developer API released
                      li Storecoin Roadmap Announced
                      li Open Source Development begins
          .year
            .name 2019
            .items
              .item.left
                .date
                  span Q1
                .full-date 2019+
                .box
                  h2.title
                    span.bullet 5
                    | Fourth Token Sale (5% sale)
                  .content
                    ul
                      li Storecoin Proof of Concept #2 released
                      li Public Network v0.1 launches
                      li Storecoin Wallet launches
                      li Storecoin Alliance grows to 10+ partners
                      li Storecoin Foundation launched
    
    #hc-sales-summary.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title.break Network Distribution
        p.hc-feature-lead How	Storecoin	will	incentivize	all	sides	of	its	network,	over	time.
        .network-stats
          .row
            .six.columns
              h4 Intented use of revenue
              img(src='images/chart.png', style='width: 100%;margin: 0 auto;display: block;')
            .six.columns
              .token-dist
                h4 Token distrubution
                p(style='margin-bottom:1em;') Long-term token distribution plan:
                .row
                  .three.columns
                    #circle1.circle
                  .nine.columns
                    .subtext Sold	in tokensales
                .row
                  .three.columns
                    #circle2.circle
                  .nine.columns
                    .subtext Allocated	to	founders,	core	developers,	and	team
                .row
                  .three.columns
                    #circle3.circle
                  .nine.columns
                    .subtext
                      | Allocated	for	distribution	to	incentivize	participation	in	the	Storecoin	ecosystem
                .row
                  .three.columns
                    #circle4.circle
                  .nine.columns
                    .subtext
                      | To	covers	tokensale costs
                p.note
                  | Founders have 
                  b 4 year vesting
                  |  with 3 month cliffs
                p.note(style="margin-bottom:0px;")
                  | Early contributors have 
                  b 2 year vesting
                  |  with 6 month cliffs
    
    include about-first-ico
    
    #hc-first-token.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Use	of	First	Token	Sale	Proceeds
        ul
          li Publish	v0.1	of	the	Storecoin	Whitepaper
          li Publish	v1	of	Storecoin	network	economics
          li Conduct	extensive	load	tests	to	finalize	blockchain	scalability
          li Conduct	extensive	security	tests	to	finalize	the	consensus	protocol
          li Continue	building	our	Engineering,	Product,	and	Analyst	teams
          li Introduce	a	Vickrey	Auction	for	our	Second	Token	Sale	and	beyond
          li Write	smart	contracts	to	vest	the	tokens	of	Storecoin	founders,	core developers,	early	team,	and	key	distribution	partners
          li Launch the Second Storecoin Token Sale in Late 2017
          li Fully	align	Storecoin	governance	and	future	Token	Sales	with	the	guidance issued	by	the	SEC	in	late	July	2017

    include email-widget
