extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style="margin-bottom:0px;")
          b
            | Storecoin	is	a	public	blockchain
            | for	systems	governed	by	hierarchy,	privacy,
            | and	complex	revenue	sharing.
        h2.hc-feature-lead
          | These	include	franchises,	chain	stores,	sports	leagues,	affiliate-based	organizations,	and	more.
        h2.hc-feature-lead(style="color:rgb(233, 120, 68); margin:0px;")
          | No	transaction	fees.	Tendermint consensus	algorithm.	Ethereum	compatible.	
        //- h2.hc-intro-large-lead
        //-   | Storecoin	is	an	Ethereum-family
        //-   | technology	and	will	be	fully	compatible	with	the
        //-   | Ethereum	public	network.	If	you	can	run	a	Dapp or
        //-   | smart	contract	on	Ethereum,	you	can	run	it	on
        //-   | Storecoin.
          
    include email-widget

    .hc-feature.over-rel.padding.inverted(style="padding-left: 0px; padding-right:0px;")
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted(style="font-size:2em; margin:0px !important; font-weight:300;") Here is our Green Paper
    
    #hc-vision.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted What We Believe
        p.hc-feature-lead(style="margin-bottom:0px;") Franchises,	chain	stores,	sports	leagues,	and affiliate-based	organizations	— industries governed	by	hierarchy,	by	privacy,	by complex	revenue	sharing,	and	by commissions	— will	all eventually	be tokenized	and blockchain-powered.
        //- p.hc-feature-lead
        //-   | Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	applications,	loyalty
        //-   | points,	and	market	networks	for	industries	representing	over	25%	of	global	GDP.
    
    #hc-vision.lite.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Vision
        p.hc-feature-lead Storecoin	will	be	the	leading	public	blockchain	powering	cryptocurrency-based	payments,	decentralized	apps,	supply	chains,	and	loyalty	points	for	industries	representing	over	25%	of	global	GDP.	
        .row.global-stats
          .three.columns
            .num
              h3 $4
              p Trillion
            .text Global	Franchise	Industry
          .three.columns
            .num
              h3 $18
              p Trillion
            .text Global	Chain-based	Businesses
          .three.columns
            .num
              h3 $1.3
              p Trillion
            .text Global	Sports	Industry
          .three.columns
            .num
              h3 $200
              p Billion
            .text Global	Affiliate	Industry
            
    #hc-why-token.hc-feature.inverted.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted The Problem
        
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead Hierarchy-based	systems	like	franchises, chains,	sports	leagues,	and	affiliate-based systems	are	governed	by	complex, multi-directional	revenue sharing	contracts.
                
          #hc-problem-slider
            .slide
              img(src='images/problem-1.png')
            .slide
              img(src='images/problem-2.png')
            .slide
              img(src='images/problem-3.png')
            .slide
              img(src='images/problem-4.png')
            .slide
              img(src='images/problem-5.png')
          p.hc-feature-lead.swipe-text Swipe right to see examples
          
        .hc-each-problem  
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | Oftentimes,	both	the	amount	of	the	revenue	share	and	the	identity	of	the	receiver	needs	to	be	private.
          .row.phase
            .twelve.columns
              img(src='images/problem-6.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead In	some	hierarchies,	revenue	sharing	arrangements	require	a	mix	of	both	public	and	private	information	for	sender,	receiver,	and	payment	amounts.	
          .row.phase
            .twelve.columns
              img(src='images/problem-7.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead Existing	smart	contract-based	blockchain	systems	like	Ethereum	are	public.
              p.hc-feature-lead They don't support privacy inside smart contracts for receiver, sender, and payment amounts.
          .row.phase
            .twelve.columns
              img(src='images/problem-8.png')
                
        .hc-each-problem
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | Today, smart	contracts are written	in	code	but	most	of	the	world doesn’t	understand	code	-- especially	legal departments.	
              p.hc-feature-lead Writing, revising,	and deploying smart contracts	needs	to	be	very user-friendly	if	they	are	to	gain mainstream adoption	by hierarchy-based	systems with multiple layers of management and legal approvals.
          .row.phase
            .twelve.columns
              img(src='images/problem-11.png')

        .hc-each-problem.last-child
          .row.text
            .twelve.columns
              p.hc-feature-lead
                | They promised us free transactions using the blockchain but,
                | as of early July 2017, we have $0.14 transactions with
                | Ethereum and $2.46 transactions with Bitcoin.
              p.hc-feature-lead To handle micropayments of less than $0.01, 
                b blockchain payments need to be free.        
          .row.phase(style="margin-bottom:2em;")
            .twelve.columns
              h4 Bitcoin	Average	Transaction	Fees
              img(src='images/problem-9.png')
          .row.phase
            .twelve.columns
              h4 Ethereum	Average	Transaction	Fees
              img(src='images/problem-10.png')

    #hc-solution.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Solution
        p.hc-feature-lead
          | Storecoin	solves	this	by	enabling	transactions	in	a	smart
          | contract	to	be	private,	public	or	both.
        img(src='images/solution-1.png')
        p.hc-feature-lead
          | Also,	by	enabling	unlimited	levels	of	revenue	sharing	in	unlimited	directions.
        img(src='images/solution-2.png')
        p.hc-feature-lead
          | All	using	fully	customizable,	UI	friendly	smart	contracts.
        img(src='images/solution-3.png')
        p.hc-feature-lead
          | Storecoin	does	this	with	zero	transaction	fees	to	the	sender	and	to	the	receiver.
        //- p.hc-feature-lead
        //-   | They	promised	us	free	payments	and	transactions	using	blockchains but,	as	of	
        //-   | July	2017,	we	ended	up	with	$0.14	lower	bound	transactions	with	Ethereum	
        //-   | and	$2.46	transactions	with	Bitcoin.
        //- p.hc-feature-lead
        //-   | To	handle	micropayments	of	less	than	$0.30	and	nanopayments of	less	than	
        //-   | $0.01	-- to	power	new	business	models	and	behaviors	for	hierarchy-based	
        //-   | systems	-- blockchain	payments	need	to	be	free.
        img(src='images/solution-4.png')

    
    #hc-tech.hc-feature.lite.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title.inverted Our Technology
        p.hc-feature-lead
          | To	scale	our	blockchain,	Storecoin	is	committed	to	minimizing	on-chain	data.	Instead	our	focus	on	scaling	is	through	off-chain	transactions
          | by	embracing	emergent	blockchain	technologies	such	as	State	Channels.
        p.hc-feature-lead Click	on	the	icons	below	to	learn	more	about	our	technology.
        p.hc-feature-lead
          | Version	1	of	Storecoin	will	use	Tendermint,	a	new	consensus	protocol	for	ordering	events	in	a	distributed	network	under	adversarial
          | conditions.
        p.hc-feature-lead
          | Tendermint is	high	performance,	achieving	thousands	of	transactions	per	second	on	dozens	of	nodes	distributed	around	the	globe,	with
          | latencies	of	about	one	second,	and	performance	degrading	moderately	in	the	face	of	adversarial	attacks.
        p.hc-feature-lead Storecoin	may	shift	to	a	Proof	of	Stake	consensus	in	future	versions.
        p.hc-feature-lead
          | For	privacy,	we’re	experimenting	with	new	cryptography	inside	smart	contracts.	Transactions	on	the	public	network,	outside	of smart
          | contracts,	will	always	be	public.
        p.hc-feature-lead
          | To	achieve	unlimited	nodes	of	hierarchy	in	smart	contracts,	we’re	using	a	new	database	design	for	smart	contracts	and	a	new	UX	for	their
          | creation	and	deployment.
        p.hc-feature-lead
          | To	achieve	free	transactions	for	senders	and	receivers,	each	transaction	will	generate	some	inflation	which	will	be	distributed	to	the
          | participants	of	the	consensus. The	total	new	token	inflation	will	be	lower	than	5%	each	year	and	it	will	be	directly	linked	to	blockchain
          | transactions.
        p.hc-feature-lead
          | For	loyalty	points,	we’re	designing	a	ERC20-like	platform	for	consumer	packaged	goods	to	be	tied	to	provenance.	If	the	token	changes
          | wallets,	only	the	active	key	can	be	used	in	Dapps.
        .row.points.ext
          .four.columns(data-featherlight='#box-blockchains')
            .tech-lead
              img(src='images/lock.png')
              h6 Public and Private hybrid blockchains
            #box-blockchains(style='display:none;')
              .points-lightbox
                img(src='images/use_case1.png')
                p
                  | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            // <div class="points-desc ellipsis"><img src="images/use_case1.png">We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.</div>
          .four.columns(data-featherlight='#box-transactions')
            .tech-lead
              img(src='images/parent-child.png')
              h6 Hierarchical, Parent-Child transactions
            #box-transactions(style='display:none;')
              .points-lightbox
                img(src='images/use_case2.png')
                p
                  | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            // <div class="points-desc ellipsis"><img src="images/use_case2.png">We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.</div>
          .four.columns(data-featherlight='#box-contracts')
            .tech-lead
              img(src='images/contract.png')
              h6 Smart Contracts
            #box-contracts(style='display:none;')
              .points-lightbox
                img(src='images/use_case1.png')
                p
                  | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            // <div class="points-desc ellipsis"><img src="images/use_case1.png">We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.</div>
        .row.points.ext
          .four.columns(data-featherlight='#box-proof')
            .tech-lead
              img(src='images/globe.png')
              h6 Proof of Authority
            #box-proof(style='display:none;')
              .points-lightbox
                img(src='images/use_case2.png')
                p
                  | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            // <div class="points-desc ellipsis"><img src="images/use_case2.png">We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.</div>
          .four.columns(data-featherlight='#box-channels')
            .tech-lead
              img(src='images/shield.png')
              h6 State Channels
            #box-channels(style='display:none;')
              .points-lightbox
                img(src='images/use_case1.png')
                p
                  | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            // <div class="points-desc ellipsis"><img src="images/use_case1.png">We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.</div>
          .four.columns(data-featherlight='#box-ethereum')
            .tech-lead
              img(src='images/ethereum.png')
              h6 Ethereum Daap compatible 
            #box-ethereum(style='display:none;')
              .points-lightbox
                img(src='images/use_case2.png')
                p
                  | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            // <div class="points-desc ellipsis"><img src="images/use_case2.png">We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.</div>
            
    //- #hc-accom.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted How	Storecoin	Works
    //-     img.solution-image.horizontal(src='images/solution-horizontal.png')
    //-     img.solution-image.vertical(src='images/solution-vertical.png')

    //- #hc-apps.hc-feature.inverted.over-rel.padding
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title.inverted What apps can be built with Storecoin?
    //-     p.lead
    //-       | Storecoin developers will give franchise and chain stores new blockchain-powered super powers:
    //-     .desktop
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-tab='tab-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Point of sale systems
    //-         .column-2.title.half-column(data-tab='tab-2')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Micropayments to staff and to stores
    //-         .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-tab='tab-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') E-commerce systems
    //-         .column-2.title.half-column(data-tab='tab-2')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Smart scheduling apps
    //-         .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-tab='tab-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Invoicing workflows
    //-         .column-2.title.half-column(data-tab='tab-2')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Payroll
    //-         .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-tab='tab-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Revenue sharing arrangements
    //-         .column-2.title.half-column(data-tab='tab-2')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Supply chain contracts
    //-         .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-tab='tab-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Last mile delivery network APIs
    //-         .column-2.title.half-column(data-tab='tab-2')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Loyalty systems
    //-         .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         .column-4.title-reveal.hide.full-column.row(data-tab='tab-2')
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-tab='tab-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Drone delivery systems
    //-         .column-3.title-reveal.hide.full-column.row(data-tab='tab-1')
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-     .mobile
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-featherlight='#box-1')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Point of sale systems
    //-         .column-2.title.half-column(data-featherlight='#box-2')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Micropayments to staff and to stores
    //-         #box-1.column-3.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         #box-2.column-4.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-featherlight='#box-3')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') E-commerce systems
    //-         .column-2.title.half-column(data-featherlight='#box-4')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Smart scheduling apps
    //-         #box-3.column-3.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         #box-4.column-4.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-featherlight='#box-5')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Invoicing workflows
    //-         .column-2.title.half-column(data-featherlight='#box-6')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Payroll
    //-         #box-5.column-3.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         #box-6.column-4.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-featherlight='#box-7')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Revenue sharing arrangements
    //-         .column-2.title.half-column(data-featherlight='#box-8')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Supply chain contracts
    //-         #box-7.column-3.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         #box-8.column-4.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-featherlight='#box-9')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Last mile delivery network APIs
    //-         .column-2.title.half-column(data-featherlight='#box-10')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Loyalty systems
    //-         #box-9.column-3.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-         #box-10.column-4.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case2.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-       .hc-apps-row
    //-         .column-1.title.half-column(data-featherlight='#box-11')
    //-           i.ion-chevron-down
    //-           a(href='javascript:;') Drone delivery systems
    //-         #box-12.column-3.title-reveal.hide.full-column.row.app-box
    //-           .six.columns.image
    //-             img(src='images/use_case1.png')
    //-           .six.columns.text
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.
    //-             p
    //-               | Token changers are smart tokens that can be used to exchange between other standard ERC20 tokens that are held in their reserve.

    #hc-specs.hc-feature.over-rel.padding
      .hc-chunk.hc-customize-text-wrapper
        h3.hc-feature-title Blockchain Specs
        .row
          .twelve.columns
            table.u-full-width(style="margin:0px;")
              tbody
                tr
                  td
                    b Blockchain Type
                  td Public	Blockchain
                tr
                  td
                    b Consensus	Algorithm
                  td Tendermint
                tr
                  td
                    b Block	Time
                  td Less	than	5	seconds
                tr
                  td
                    b Total	Coin	Supply
                  td 1	Billion
                tr
                  td
                    b Yearly	Token	Inflation
                  td Never	greater	than	5%. Token	inflation	pays	for	transaction	fees.
                tr
                  td
                    b Transactions Fees	for	Sender
                  td Zero	fees	until	blockchain transaction	costs	are	greater	than	5%
                tr
                  td
                    b Transactions Fees	for	Receiver
                  td Never
                tr
                  td
                    b Security Protocol
                  td R&D	in	progress
                tr
                  td
                    b On Chain Scalability	
                  td R&D	in	progress
                tr
                  td
                    b Off Chain Scalability	
                  td R&D	in	progress
                tr
                  td
                    b Smart	Contracts
                  td Yes
                tr
                  td
                    b Privacy in Smart	Contracts
                  td Yes
                tr
                  td
                    b Hierarchy in Smart	Contracts
                  td Yes
                tr
                  td
                    b Dapps
                  td Yes
                tr
                  td
                    b State	Channels
                  td Yes
                tr
                  td
                    b Supports	Oracles
                  td Yes
                tr
                  td
                    b Provenance	in	Loyalty	Points
                  td Yes
                tr
                  td
                    b Ethereum compatible
                  td Yes
                tr
                  td
                    b Ethereum Dapp interoperable
                  td Yes

    #hc-first-dapp.hc-feature.over-rel.lite.padding
      .container.email-widget
        h3.hc-feature-title.inverted The	first	Dapp
        p.hc-feature-lead Footprint, enterprise chat for franchises, is the first major Developer partner for the Storecoin.
        
        #hc-slider
          .slide
            a.link 1
            img(src="images/slide-1.png")
            //- .image(style="background-image:url('images/slide-1.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 2
            img(src="images/slide-2.png")
            //- .image(style="background-image:url('images/slide-2.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 3
            img(src="images/slide-3.png")
            //- .image(style="background-image:url('images/slide-3.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 4
            img(src="images/slide-4.png")
            //- .image(style="background-image:url('images/slide-4.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 5
            img(src="images/slide-5.png")
            //- .image(style="background-image:url('images/slide-5.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 6
            img(src="images/slide-6.png")
            //- .image(style="background-image:url('images/slide-6.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 7
            img(src="images/slide-7.png")
            //- .image(style="background-image:url('images/slide-7.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 8
            img(src="images/slide-8.png")
            //- .image(style="background-image:url('images/slide-8.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 9
            img(src="images/slide-9.png")
            //- .image(style="background-image:url('images/slide-9.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 10
            img(src="images/slide-10.png")
            //- .image(style="background-image:url('images/slide-10.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 11
            img(src="images/slide-11.png")
            //- .image(style="background-image:url('images/slide-11.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 12
            img(src="images/slide-12.png")
            //- .image(style="background-image:url('images/slide-12.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 13
            img(src="images/slide-13.png")
            //- .image(style="background-image:url('images/slide-13.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 14
            img(src="images/slide-14.png")
            //- .image(style="background-image:url('images/slide-14.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 15
            img(src="images/slide-15.png")
            //- .image(style="background-image:url('images/slide-15.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 16
            img(src="images/slide-16.png")
            //- .image(style="background-image:url('images/slide-16.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 17
            img(src="images/slide-17.png")
            //- .image(style="background-image:url('images/slide-17.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 18
            img(src="images/slide-18.png")
            //- .image(style="background-image:url('images/slide-18.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 19
            img(src="images/slide-19.png")
            //- .image(style="background-image:url('images/slide-19.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 20
            img(src="images/slide-20.png")
            //- .image(style="background-image:url('images/slide-20.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 21
            img(src="images/slide-21.png")
            //- .image(style="background-image:url('images/slide-21.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 22
            img(src="images/slide-22.png")
            //- .image(style="background-image:url('images/slide-22.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 23
            img(src="images/slide-23.png")
            //- .image(style="background-image:url('images/slide-23.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 24
            img(src="images/slide-24.png")
            //- .image(style="background-image:url('images/slide-24.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 25
            img(src="images/slide-25.png")
            //- .image(style="background-image:url('images/slide-25.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 26
            img(src="images/slide-26.png")
            //- .image(style="background-image:url('images/slide-26.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 27
            img(src="images/slide-27.png")
            //- .image(style="background-image:url('images/slide-27.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 28
            img(src="images/slide-28.png")
            //- .image(style="background-image:url('images/slide-28.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .slide
            a.link 29
            img(src="images/slide-29.png")
            //- .image(style="background-image:url('images/slide-29.png');")
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              
        p.hc-feature-lead.swipe-text Swipe right to see the dapp
        
        //- p.hc-feature-lead.last-child By 2019, Storecoin will be natively integrated as the micropayment currency that captures the revenue sharing needs of Franchise Headquarters and its Stores. Storecoin will also incentivize the creation of various network effects inside Footprint, including for future Storecoin developers.

    
    #hc-team.hc-feature.over-rel.padding
      .hc-chunk.hc-team-tex-wrapper
        h3.hc-feature-title Our Team
        p.hc-feature-lead
          | We	have	been	thinking	very	long	term	about	the	potential	for	blockchainbased
          | payments	to	introduce	new	business	models	and	behaviors	inside	
          | hierarchy-based	organizations.	Also,	about	more	scalable	consensus	
          | protocols	for	blockchains -- and	how	to	secure	them.
        .members
          .row
            .three.columns
              img.team-member-image.first(src='images/chris-mccoy.jpg', alt='Chris McCoy')
            .nine.columns
              h3.team-member-name Chris McCoy
              h4.team-member-title Creator
              p.team-member-desc
                | CEO at Footprint, messaging for franchises. 15 years
                | experience building internet technologies. 4 years innovating in
                | the blockchain space. Pioneered hierarchy and blockchain-based
                | payments while at YourSports, a social network for sports
                | history.
              a(href='http://linkedin.com/in/chrisamccoy', target='_blank')
                i.ion-social-linkedin-outline(style='font-size: 30px;')
          hr
          .row
            .twelve.columns
              .three.columns
                img.team-member-image(src='images/pablo-yabo.png', alt='Pablo Yabo')
              .nine.columns
                h3.team-member-name Pablo Yabo
                h4.team-member-title Chief	Blockchain	Architect
                p.team-member-desc
                  | 20 years experience in the computer security field in 1997. 4
                  | years developing private and public blockchain technologies.
                  | Helped build Jaxx and Rootstock	(RSK).
                a(href='https://www.linkedin.com/in/pabloyabo/', target='_blank')
                  i.ion-social-linkedin-outline(style='font-size: 30px;')
          hr
          .row
            .twelve.columns
              .three.columns
                img.team-member-image(src='images/rag-kidiyoor.png', alt='Rag Kidiyoor')
              .nine.columns
                h3.team-member-name Rag Kidiyoor
                h4.team-member-title Lead	API	and	Database	Architect
                p.team-member-desc
                  | 30-years	building	distributed	messaging,	social
                  | networking,	and	database	technologies.	Has
                  | been	working	with	Chris	McCoy	since	2011.
          
          hr
          .row
            .twelve.columns
              .three.columns
                img.team-member-image(src='images/jason-varner.png', alt='Jason Varner')
              .nine.columns
                h3.team-member-name Jason Varner
                h4.team-member-title Analyst
                p.team-member-desc 10	years	modeling	economics	for	hedge	funds,	internet	startups,	and	blockchains.
          hr
          .row
            .three.columns
              img.team-member-image(src='images/jay-pal.jpeg', alt='Jay Pal')
            .nine.columns
              h3.team-member-name Jay Pal
              h4.team-member-title DevOps
              p.team-member-desc
                | 30	years	in	building	distributed	computing	technologies.	Leads
                | DevOps	at	Footprint	-- a	global	product	team	shipping	software	24/7
                | using	continuous	integration	and	continuous	deployments.
              a(href='https://www.linkedin.com/in/laitkor', target='_blank')
                i.ion-social-linkedin-outline(style='font-size: 30px;')
                  
    #hc-alliance.hc-feature.over-rel.padding.inverted
      .hc-chunk
        h2.hc-feature-title The Storecoin Alliance
        p.hc-feature-lead A	collation	of	franchises,	chain	stores,	sports	
          | leagues,	and	affiliate-based	organizations	
          | paying	membership	fees	to	run	their	own	
          | R&D	experiments	with	Storecoin.	

        h2.hc-feature-title(style="margin:0px; color:rgb(233, 120, 68);") COMING SOON
        
    #hc-partners.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our Partners
        #hc-partners-slider
          .slide
            img(src='images/AWS-Activate.png')
            p $100,000	in	Amazon	AWS	credits
          .slide
            img(src='images/footprint-white-logo.png')
            p First	major	Dapp developers
          .slide
            img(src='images/logo-coinfabrik.png', style='width:80%;')
            p Blockchain	Development	Partners
          //- .slide
          //-   img(src='images/zeppelin-solutions.png', style='width:80%;')
          //-   p ICO Auditing
          .slide
            img(src='images/bottom-line-logo.png', style='width:80%;')
            p Bottom Line Law Group
                  
    #hc-network-effects.hc-feature.over-rel.inverted.padding
      h2.hc-feature-title Storecoin	Network	Effects
      p.hc-feature-lead
        | The	magic	of	the	Storecoin	is	that	it	aligns	incentives across	all	stakeholders	to hold the	token.
      .incentives
        .rails-wrapper
          .rails
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/chart-2.png')
                p Token	Value
              p.desc
                | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns
        .row.middle
          .four.columns.vertical
            .incentive
              .title
                img(src='images/money.png')
                p More Investors
              p.desc
                | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/hammer.png')
                p More Miners
              p.desc
                | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            img.arrow-flow(src='images/arrow-mobile.png')
          .four.columns.logo-wrapper
            img.logo(src='images/logo.png')
          .four.columns.vertical
            .incentive
              .title
                img(src='images/keyboard.png')
                p More Developers
              p.desc
                | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            img.arrow-flow(src='images/arrow-mobile.png')
            .incentive
              .title
                img(src='images/building.png')
                p More Organizations
              p.desc
                | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
            img.arrow-flow(src='images/arrow-mobile.png')
        .row
          .four.columns
          .four.columns.horizontal
            .incentive
              .title
                img(src='images/smile.png')
                p More Users
              p.desc
                | We've partnered with Microsoft Azure and Heroku to offer Storj integrations with PaaS providers you already use.
          .four.columns
            
    #hc-project-schedule.hc-feature.inverted.over-rel.padding
      h3.hc-feature-title.break Storecoin Project Schedule
      p.hc-feature-lead(style='max-width: 1140px;')
        | StoreCoin is an ambitious technology endeavor. We'll issue mini ICOs as Technology and Adoption milestones are achieved.
      .container
        .timeline
          .center-line
          .year
            .name 2017
            .items
              .item.left
                .date
                  span Jun
                .box
                  h2.title
                    span.bullet 1
                    | Storecoin is launched
                  .content
                    ul
                      li Early engineering team added.
                      li High level specs designed.
                      li Storecoin v0.1 created.
                      li Marketing site created.
              .item.right
                .date
                  span Jul
                .box
                  h2.title
                    span.bullet 2
                    | Private token sale (10%)
                  .content
                    ul
                      li Whitepaper research begins.
                      li Ethereum interoperability achieved.
                      li First developer partners signed.
                      li Open source dev community built.
          .year
            .name 2018
            .items
              .item.left
                .date
                  span Q1
                .box
                  h2.title
                    span.bullet 3
                    | 1st Token Sale (10%)
                  .content
                    ul
                      li Whitepaper released.
                      li Storecoin v0.1 Developer API built.
                      li v0.1 hierarchical transactions built.
                      li Proof of Authority engine built.
          .year
            .name 2019
            .items
              .item.right
                .date
                  span Q1
                .box
                  h2.title
                    span.bullet 4
                    | 2nd Token Sale (10%)
                  .content
                    ul
                      li Storecoin v1 is released.
                      li Storecoin Developer API released.
                      li First developer apps released.
                      li First mining activities begin.
          .year
            .name 2020
            .items
              .item.left
                .date
                  span Q1
                .box
                  h2.title
                    span.bullet 5
                    | 3rd Token Sale (10%)
                  .content
                    ul
                      li Minimum Viable Ecosystem achieved.
                      li First cash register app deployed.
                      li New Storecoins are minted.
    
    #hc-sales-summary.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title.break Network Distribution
        p.hc-feature-lead How	Storecoin	will	incentivize	all	sides	of	its	network,	over	time.
        .network-stats
          .row
            .six.columns
              h4 Intented use of revenue
              img(src='images/chart.png', style='width: 100%;margin: 0 auto;display: block;')
            .six.columns
              .token-dist
                h4 Token distrubution
                p(style='margin-bottom:1em;') Long-term token distribution plan:
                .row
                  .three.columns
                    #circle1.circle
                  .nine.columns
                    .subtext Sold	in tokensales
                .row
                  .three.columns
                    #circle2.circle
                  .nine.columns
                    .subtext Allocated	to	founders,	core	developers,	and	team
                .row
                  .three.columns
                    #circle3.circle
                  .nine.columns
                    .subtext
                      | Allocated	for	distribution	to	incentivize	participation	in	the	Storecoin	ecosystem
                .row
                  .three.columns
                    #circle4.circle
                  .nine.columns
                    .subtext
                      | To	covers	tokensale costs
                p.note
                  | Founders have 
                  b 4 year vesting
                  |  with 3 month cliffs
                p.note(style="margin-bottom:0px;")
                  | Early contributors have 
                  b 2 year vesting
                  |  with 6 month cliffs
    
    #hc-promo.hc-feature.over-rel.inverted.padding
      .hc-chunk
        h2.hc-feature-title About our First ICO
        .sales-terms
          .row
            .four.columns.points
              div
                h5 In The First ICO
                ul
                  li 30 Million storecoins will be sold
                  li This represents 3% of the Storecoin blockchain.
                  li $0.005 cost per storecoin Token
                  li Storecoin Network Value is at $5 Million
            .four.columns.points
              div
                h5 How It Works
                ul
                  li We will accept Bitcoin, Ethereum, and/or USD in exchange for storecoins.
                  li Buyers will e-sign our Token Sale Terms and Agreement before receiving payment information from StoreCoin, Inc.
                  li Tokens will be transferred six weeks after our Second Token Sale which is scheduled for Q417-Q118.
                  li At first, Storecoin will issue ERC20 tokens
                  li In the future, these tokens may be be transferred into storecoin tokens issued from the Storecoin blockchain -- at no extra cost to the token buyer.
            .four.columns.points
              div
                h5 Future Token Sales
                ul
                  li Over time, Storecoin will sell 33% of its tokens.
                  li
                    | Storecoin will make additional tokens available as Technology and Adoption milestones are achieved.
                  li Future StoreCoin ICOs will be sold in a Vickrey auction -- a similar method Google uses to price and sell ads.
                  li Storecoin may offer up to 10 individual ICOs over the course of 10 years.
                  li The Second Token Sale is expected to take place in Q417 or Q118 once StoreCoin has shown technology and adoption progress.
    
    #hc-first-token.hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Use	of	First	Token	Sale	Proceeds
        ul
          li Publish	v0.1	of	the	Storecoin	Whitepaper
          li Publish	v1	of	Storecoin	network	economics
          li Conduct	extensive	load	tests	to	finalize	blockchain	scalability
          li Conduct	extensive	security	tests	to	finalize	the	consensus	protocol	
             | and	network	economics
          li Continue	building	our	engineering,	product,	and	sales	teams
          li Introduce	a	Vickrey	Auction	for	our	Second	Token	Sale
          li Write	smart	contracts	to	token	vest	Storecoin	founders,	core	
             | developers,	key	partners,	and	team
          li Launch	the	Second	Storecoin	ICO	in	Q417-Q118

    include email-widget
