extends layout

block content
  div#hc-content
    #hc-team.hc-feature.over-rel.padding
      div(style='max-width: 700px; margin: 2em auto;')
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSe3-3yDBd8-Dz6A0RvhslII4Kf53oCScZR85LhlH68LwBldfA/viewform?embedded=true#start=embed', width='100%', height='2100', frameborder='0', marginheight='0', marginwidth='0') Loading...

      
    include email-widget
