extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Token Sale FAQ

    .hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h3.hc-feature-title Storecoin Proof-of-Knowlege 
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLScpHPNhqwrq9v1dvg5zXx6YJksEhXW_9PQ_q_J2jnLQ_NN8IQ/viewform?embedded=true' width="100%" style="height:14100px;", frameBorder="0")
      
    include email-widget
