doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name='description', content='')
    meta(name='author', content='')
    meta(property='og:url', content='http://storeco.in')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Storecoin')
    meta(property='og:description', content='Storecoin	aims	to	be	a	public	blockchain	for	systems	governed	by	hierarchy,	privacy,	and	complex	revenue	sharing. These	include	franchises,	chain	stores,	sports	leagues, affiliate-based	organizations,	and	more. No	transaction	fees.	Ethereum	and	Bitcoin	compatible.	A	new	Proof	of	Stake	consensus	algorithm.', much='', does='', culture='', influence='', creative='', thinking?”='')
    meta(property='og:image', content='http://storeco.in/images/logo-fb.png')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/featherlight.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/slick.css')
    link(rel='stylesheet', href='/css/slick-theme.css')
    link(rel='stylesheet', href='/css/styles.css?v=1.6')

    link(rel='icon', type='image/png', href='/images/favicon.png')

    script(src='/js/sticky.js')
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/progressbar.js')
    script(src='/js/slick.js')
    script(src='/js/featherlight.js')
    script(src='/js/numeral.js')
    script(src='/js/script.js?v=1.6')

  body
    #hc-nav-wrapper.add-background
      .container
        .row
          .hc-branding
            a.hc-title(href='/')
          .hc-branding(style="height: 50px; display: flex; align-items: center;")
            span.hc-number-dist
              span 1,000,000,000
              span.away storecoins authorized
          nav.hc-navigation
            .hc-menu-container
              ul.hc-menu
                li.menu-item
                  a(href='/') About
                li.menu-item.team
                  a(href='/team') Our Team
                li.menu-item
                  a(href='/examples') Use Cases
                li.menu-item
                  a(href='/firsttokensale') First Token Sale
                li.menu-item
                  a(href='/whitepaper') Our Whitepaper
      button.menu-toggle
        div(style='background:#5d794c; height:2px; margin:9px 20px')
        div(style='background:#5d794c; height:2px; margin:9px 20px')
        div(style='background:#5d794c; height:2px; margin:9px 20px')

    block content

    footer#hc-footer
      .hc-footer-chunk(style='padding: 3em 1em;')
        section.footer-light.row
          .three.columns
            h3 Software
            ul
              li
                a(href='/whitepaper') Our Whitepaper
              li
                a(href='/cryptoeconomics') Our Cryptoeconomics
              li
                a(href='/roadmap') Our Roadmap
              li
                a(href='/developer-api') Developer API
          .three.columns
            h3 News
            ul
              li
                a(href='/blog') Our Blog
              li
                a(href='/firsttokensalefaq') Token Sale FAQ
              li
                a(href='http://twitter.com/storecointeam', target="_blank") Twitter
              li
                a(href='https://github.com/StorecoinProject', target="_blank") Github
              //- li
              //-   a(href='/subscribe') Subscribe to Updates
              //- li
              //-   a(href='/faq') FAQ
              //- li
              //-   a(href='/press') Press
              //- li
              //-   .footer-bridge-contentStart
              //-     //- a.footer-social-icon(href='/coming-soon')
              //-     //-   span.graphic-socialHover-facebook
              //-     a.footer-social-icon(href='http://twitter.com/storecointeam', target="_blank")
              //-       span.graphic-socialHover-twitter
              //-     //- a.footer-social-icon(href='/coming-soon')
              //-     //-   span.graphic-socialHover-linkedin
              //-     a.footer-social-icon(href='https://github.com/StorecoinProject', target="_blank")
              //-       span.graphic-socialHover-github
          .three.columns
            h3 Info
            ul
              li
                a(href='/applytoforge') Apply to Validate/Forge
              li
                a(href='/firsttokensale') Our Token Sale
              li
                a(href='/team') Our Team
              li
                a(href='/jobs') Jobs
              li
                a(href='/contact') Contact Us
          .three.columns
            img(src='/images/logo.png', style='width:100px; height: auto;')
            div
            p(style='font-size: 0.7em; padding: 0.5em 0;')
              a(href='')
                strong Storecoin
              |  aims to be a public blockchain for systems governed by hierarchy, privacy, and complex revenue sharing.
        section.row
          b(style='color: white;') © 2017 Storecoin, Inc
          ul#menu-footer-menu.menu
            //- li#menu-item-37.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-37
            //-   a(href='https://www.stellar.org/privacy-policy/') Privacy Policy
            li#menu-item-150.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-150
              a(href='/terms') Terms of Service
