doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name='description', content='')
    meta(name='author', content='')
    meta(property='og:url', content='http://storeco.in')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Storecoin')
    meta(property='og:description', content='Storecoin will be a public blockchain powering free transactions for users and app developers using its Dynamic Proof of Stake Consensus (DyPoS).', much='', does='', culture='', influence='', creative='', thinking?”='')
    meta(property='og:image', content='http://storeco.in/images/logo-fb.png')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
    link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/featherlight.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/slick.css')
    link(rel='stylesheet', href='/css/slick-theme.css')
    link(rel='stylesheet', href='/css/dropdown.min.css')
    link(rel='stylesheet', href='/css/modal.min.css')
    link(rel='stylesheet', href='/css/dimmer.min.css')
    link(rel='stylesheet', href='/css/transition.min.css')
    link(rel='stylesheet', href='/css/tippy.css')
    link(rel='stylesheet', href='/css/styles.css?v=2.3.3')

    link(rel='icon', type='image/png', href='/images/favicon.png')

    script(src='/js/sticky.js')
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/progressbar.js')
    script(src='/js/autosize.js')
    script(src='/js/slick.js')
    script(src='/js/dropdown.min.js')
    script(src='/js/transition.min.js')
    script(src='/js/dimmer.min.js')
    script(src='/js/modal.min.js')
    script(src='/js/scrollreveal.js')
    script(src='/js/featherlight.js')
    script(src='/js/numeral.js')
    script(src='/js/tippy.min.js')
    script(src='/js/jquery.rwdImageMaps.min.js')
    script(src='/js/script.js?v=2.3.3')

  body
    - var className = ''
    if v2
      - className = 'v2'
      
    #hc-nav-wrapper.add-background(class=className)
      p.hc-intro-post
        //- a(href="https://medium.com/@team_27494/introducing-storecoin-8e15c21b4335", target="_blank") Read our introductory post
        //- span(style="padding:0 0.5em;") ·
        a(href="https://techcrunch.com/2017/08/20/yesterdays-plastics-are-todays-crypto-tokens/", target="_blank")  See our latest in TechCrunch
        span
          i.ion-record
        a(href="/blog", target="_blank")  Read our blog
      .container
        .row
          a.hc-branding(style="height: 50px; display: flex; align-items: center;")
            span.hc-number-dist
              span 1,000,000,000
              span.away storecoins authorized
          .hc-branding
            a.hc-title(href='/')
          div.hc-menu-dropdown
            .ui.dropdown
              i.ion-android-more-vertical
              .left.menu
                a.item(href='/#six-engines') About DyPoS
                a.item(href='/team') Our Team
                a.item(href='/examples') Use Cases
                a.item(href='/secondtokensale') Second Token Sale
                a.item(href='/whitepaper') Our Whitepaper
                a.item(href='/community') Community
                a.item(href='/applytoforge', target="_blank") Become a Validator
                a.item(href='/dguard', target="_blank") Become a dGuard

    block content
      
    footer#hc-footer(class=className)
      .hc-footer-chunk(style='padding: 3em 1em;')
        section.footer-light.row
          .three.columns
            h3 Software
            ul
              li
                a(href='/whitepaper') Our Whitepaper
              li
                a(href='/cryptoeconomics') Our Cryptoeconomics
              li
                a(href='/development') Product Roadmap
              li
                a(href='/developer-api') Developer API
          .three.columns
            h3 About
            ul
              li
                a(href='/milestones') Milestones
              li
                a(href='/blog') Our Blog
              li
                a(href='/secondtokensale') Our Token Sale
              //- li
              //-   a(href='/firsttokensalefaq') Token Sale FAQ
              li
                a(href='http://twitter.com/storecointeam', target="_blank") Twitter
              li
                a(href='https://github.com/StorecoinProject', target="_blank") Github
          .three.columns
            h3 Info
            ul
              li
                a(href='/community') Join Community
              li
                a(href='/applytoforge', target="_blank") Become a Validator
              li
                a(href='/dguard', target="_blank") Become a dGuard
              li
                a(href='/team') Our Team
              li
                a(href='/jobs') Jobs
              li
                a(href='/contact') Contact Us
          .three.columns
            img(src='/images/logo.png', style='width:100px; height: auto;')
            div
            p(style='font-size: 0.7em; padding: 0.5em 0;')
              a(href='')
                strong Storecoin
              |  will be a public blockchain powering free transactions for users and app developers using its Dynamic Proof of Stake consensus (DyPoS).
        section.row
          b(style='color: white;') © 2017 Storecoin, Inc
          ul#menu-footer-menu.menu
            //- li#menu-item-37.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-37
            //-   a(href='https://www.stellar.org/privacy-policy/') Privacy Policy
            li#menu-item-150.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-150
              a(href='/terms') Terms of Service
