#major-milestones.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title Major Milestones
    
    div.milestones
      div.month
        div.head
          b June 2018
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            span Testing on 
              = ' '
              a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin
              |  - Storecoin's consensus engine - grows to 220 validator nodes and 40 messagenodes
            
      div.month
        div.head
          b May 2018
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            a.underline(href="http://storeco.in/community", target="_blank") Proof-of-Community
            | , the way for Storecoin followers to become official Community members, is launched
            
      div.month
        div.head
          b April 2018
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            span Storecoin’s 
              = ' '
              a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin
              |  consensus algorithm becomes patent-pending
          ul
            li The purpose of seeking patents is to protect the blockchain against malicious hard forks outside of its Governance
          
      div.month
        div.head
          b March 2018
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            span Storecoin 
              = ' '
              a.underline(href="/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") achieves 10,000+ Transactions per Second
              |  (TPS) in a 21-validator node set-up and 159,000+ TPS in an 8-node setup
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            | Storecoin’s legal team builds a KYC/AML and Global Securities Law compliant plan to grow the project to +21,000 wallets before public launch
          
      div.month
        div.head
          b January 2018
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            | Michael Arrington and XRP Capital, Ari Nazir and Neural Capital, Anthony Pompliano and Full Tilt Capital, plus 200 others close out Storecoin’s second, invite-only token sale
            
      div.month
        div.head
          b December 2017
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            span Internal peer review begins for 
              = ' '
              a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin
              | , Storecoin’s consensus algorithm
          
      div.month
        div.head
          b August 2017
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            | Ari Paul and BlockTower Capital plus 20+ other partners close Storecoin’s first milestone-based and invite-only token sale
            
      div.month  
        div.head
          b May 2017
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            | Storecoin is formed
        div.item
          div.text
            span.bullet
              i.ion-checkmark
            span Dynamic Proof of Stake (DyPoS) is invented and research for 
              = ' '
              a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin
              |  begins
          
