extends layout

block content
  div#hc-content

    #hc-milestones.hc-feature.over-rel(style="margin-top:3em;")
      h2.hc-feature-title Milestones
      div.each-year.green
        h3.year 2017
        div.each-month
          div.month
            h3 May
          div.milestones
            div.each-milestone
              div.icon-number
                p.number #1
                p.icon.green
                  i.ion-checkmark 
              div.achievements
                p.title Blockchain	Architect	added
            div.each-milestone
              div.icon-number
                p.number #2
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Early engineering team added
            div.each-milestone
              div.icon-number
                p.number #3
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title R&D begins
            div.each-milestone
              div.icon-number
                p.number #4
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Green Paper is started
            div.each-milestone
              div.icon-number
                p.number #5
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Amazon funds Storecoin R&D with	AWS	credits
        
        div.each-month
          div.month
            h3 August
          div.milestones
            div.each-milestone
              div.icon-number
                p.number #6
                p.icon.green
                  i.ion-checkmark 
              div.achievements
                p.title Viable testing network set-up
            div.each-milestone
              div.icon-number
                p.number #7
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Storecoin Green Paper is released
            div.each-milestone
              div.icon-number
                p.number #8
                p.icon.green
                  i.ion-android-time.green 
              div.achievements
                p.title Cryptoeconomics v0.1 released
            div.each-milestone
              div.icon-number
                p.number #9
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Whitepaper writing begins
            div.each-milestone
              div.icon-number
                p.number #10
                p.icon.green
                  i.ion-android-time.green 
              div.achievements
                p.title Extensive scalability testing
            div.each-milestone
              div.icon-number
                p.number #11
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Extensive security testing
            div.each-milestone
              div.icon-number
                p.number #12
                p.icon.green
                  i.ion-checkmark.green 
              div.achievements
                p.title Storecoin	governance	and	Token	Sales	are	aligned with	the	SEC’s	July	guidance
        
        div.each-month
          div.month
            h3 December 2017
          div.milestones
            div.each-milestone
              div.icon-number
                p.number #13
                p.icon
                  
              div.achievements
                p.title Storecoin Test Network is launched
            div.each-milestone
              div.icon-number
                p.number #14
                p.icon
                  
              div.achievements
                p.title v0.1 Storecoin Whitepaper released
            div.each-milestone
              div.icon-number
                p.number #15
                p.icon
                  
              div.achievements
                p.title v1 Cryptoeconomics released
            div.each-milestone
              div.icon-number
                p.number #16
                p.icon
                  
              div.achievements
                p.title Core Blockchain Developers added
            div.each-milestone
              div.icon-number
                p.number #17
                p.icon
                  
              div.achievements
                p.title Auction-based	Second	Token	Sale	launches
            div.each-milestone
              div.icon-number
                p.number #18
                p.icon
                  
              div.achievements
                p.title Storecoin Alliance Network launched
      
      div.each-year.orange
        h3.year 2018
        div.each-month
          div.month
            h3 2018+
          div.milestones
            div.each-milestone
              div.icon-number
                p.number #19
                p.icon
                  
              div.achievements
                p.title v1 Storecoin Whitepaper released 
            div.each-milestone
              div.icon-number
                p.number #20
                p.icon
                  
              div.achievements
                p.title Storecoin Proof of Concept #1 released 
            div.each-milestone
              div.icon-number
                p.number #21
                p.icon
                  
              div.achievements
                p.title Storecoin v0.1 Developer API released 
            div.each-milestone
              div.icon-number
                p.number #22
                p.icon
                  
              div.achievements
                p.title Storecoin Roadmap Announced 
            div.each-milestone
              div.icon-number
                p.number #23
                p.icon
                  
              div.achievements
                p.title Open Source Development begins 
            div.each-milestone
              div.icon-number
                p.number #24
                p.icon
                  
              div.achievements
                p.title Storecoin	Token	gets	issued	to	the	wallet	of	all	Token Buyers 
                
      div.each-year.yellow
        h3.year 2019
        div.each-month
          div.month
            h3 2019+
          div.milestones
            div.each-milestone
              div.icon-number
                p.number #25
                p.icon
                  
              div.achievements
                p.title Storecoin Proof of Concept #2 released 
            div.each-milestone
              div.icon-number
                p.number #26
                p.icon
                  
              div.achievements
                p.title Public Network v0.1 launches 
            div.each-milestone
              div.icon-number
                p.number #27
                p.icon
                  
              div.achievements
                p.title Storecoin Wallet launches 
            div.each-milestone
              div.icon-number
                p.number #28
                p.icon
                  
              div.achievements
                p.title Storecoin Alliance grows to 10+ partners 
            div.each-milestone
              div.icon-number
                p.number #29
                p.icon
                  
              div.achievements
                p.title Storecoin Foundation launched 
                   
                       
    include email-widget
