extends layout

block content
  div#hc-content

    #hc-milestones.hc-feature.over-rel.inverted(style="margin-top:3em;")
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-feature-title Milestones
        p.hc-feature-lead A running log of key milestones for Storecoin to-date
        div.milestones
          div.each-milestone.first
            div.pulse
            div.wrapper
              div.head August 2018
              div.list
                div.item
                  i.ion-record
                  span Creator Chris McCoy explains the benefits of Storecoin's DyPoS protocol during a panel discussion on scalability at Bitcoin Magazine's Distributed 2018 Conference - 
                    = ' '
                    a.underline(href="https://distributed.com/news/blockchain-experts-discuss-scalability-issues-distributed-2018/", target="_blank") Article
                    |  -
                    = ' '
                    a.underline(href="http://youtu.be/1wJ0JeGI21Q", target="_blank") Video
                div.item
                  i.ion-record
                  span Storecoin presents "Can Decentralization and High-Throughput Co-exist?" at the Futurist Conference in Toronto - 
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/1030199939794526209", target="_blank") Photo
                div.item
                  i.ion-record
                  span Venture Capitalist Matthew Ocko joins Storecoin Team as investor, advisor - 
                    = ' '
                    a.underline(href="/blog/venture-capitalist-matthew-ocko-joins-storecoin-team-as-investor-advisor", target="_blank") Learn More
                    
                div.item
                  i.ion-record
                  span The first design iteration for the API-layer of WebC -- the internet powered by zero-fee, p2p, $STORE payments -- is finished. -  
                    = ' '
                    a.underline(href="https://twitter.com/chrisamccoy/status/1031354160719904768", target="_blank") Tweet

                div.item
                  i.ion-record
                  span Our
                    = ' '
                    a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin consensus algorithm
                    |  begins the next phase of engineering and development -
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151097775740078.1073741828.149933339189855/202132463969942/?type=3", target="_blank") Photo

                div.item
                  i.ion-record
                  span Storecoin releases the next version of its research -
                    = ' '
                    a.underline(href="https://storeco.in/media/Storecoin-Visual-Whitepaper.pdf", target="_blank") Read the Visual Whitepaper

                div.item
                  i.ion-record
                  span The
                    = ' '
                    a.underline(href="https://www.alphabit.fund", target="_blank") Alphabit Fund
                    |  joins Storecoin as an investor and strategic partner

                div.item
                  i.ion-record
                  span Storecoin’s
                    = ' '
                    a.underline(href="http://t.me/storecoin", target="_blank") Telegram
                    = ' '
                    b organically
                    |  grows to 1,900+ and the
                    != ' &nbsp;'
                    img(src='/images/empty.png', data-src="/images/icon-darkbg.png", style="height: 13px;")
                    != ' '
                    |  tee-shirt begins to spread around the world -
                    = ' '
                    a.underline(href="http://t.me/storecoin", target="_blank") Join

                    
                div.item
                  i.ion-record
                  span Launched the Telegram Supergroup for discussion on Storecoin's Governance -
                    = ' '
                    a.underline(href="http://t.me/storecoingov", target="_blank") Join
                    
                div.item
                  i.ion-record
                  span Launched a Twitter account for discussion on Storecoin's Governance -
                    = ' '
                    a.underline(href="http://twitter.com/storecoingov", target="_blank") Join

                div.item
                  i.ion-record
                  span Storecoin finalizes its long-form project description -
                    = ' '
                    a.underline(href="https://storeco.in/#about-storecoin", target="_blank") Read


          div.each-milestone
            div.wrapper
              div.head July 2018
              div.list
                div.item
                  i.ion-record
                  span Storecoin makes advancements in economics and security research, bringing $STORE closer to having properties of hard money and high degrees of Store-of-Value properties -
                    = ' '
                    a.underline(href="http://storeco.in/link/economic-rewards", target="_blank") View
                  
                div.item
                  i.ion-record
                  span Storecoin introduces a long-term Treasury giving the protocol Genesis block Treasury to use for +1,000-years -
                    = ' '
                    a.underline(href="http://storeco.in/link/distribution-plan", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Creator Chris McCoy presents on the Scalability Panel at Bitcoin Magazine’s Distributed 2018 Conference in SF -
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/posts/209199289929926", target="_blank") Photos
                    
                div.item
                  i.ion-record
                  span Storecoin advances product and engineering work on Govnodes, the dApps hosting Storecoin's Governance while also keeping it censorship resistant -   
                    = ' '
                    a.underline(href="http://storeco.in/link/censorship-resistent", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Storecoin adds a Chief Compliance Officer to work on money transmitter licenses in the United States and
                    = ' '
                    a.underline(href="http://storeco.in/#storecoin-scales", target="_blank") global KYC compliance
                    |  for its dWorkers -
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/1014379491563454464", target="_blank") More

                div.item
                  i.ion-record
                  span Storecoin introduces a long-term Treasury giving the protocol Genesis block Treasury to use
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/1020042716275621894", target="_blank") for +1,000-years
                    |   -
                    = ' '
                    a.underline(href="https://github.com/StorecoinProject/blockfin/tree/master/p2pcore", target="_blank") Learn More

                div.item
                  i.ion-record
                  span
                    a.underline(href="https://news.storeco.in/blog/bitcoin.com-and-investopedia-storecoin-governance-could-be-the-solution-to-blockchain-consensus", target="_blank") Bitcoin.com highlights
                    |  Storecoin’s governance of checks and balances -
                    = ' '
                    a.underline(href="https://news.bitcoin.com/why-governance-is-the-greatest-problem-that-blockchains-must-solve/", target="_blank") Read the article

                div.item
                  i.ion-record
                  span Creator Chris McCoy takes Storecoin
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151150245734831.1073741829.149933339189855/217116829138172/?type=3", target="_blank") to the island of Malta
                    | , presenting the technology at Coin Agenda: Europe -
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151150245734831.1073741829.149933339189855/217116829138172/?type=3&theater", target="_blank") Photo
                    = ', '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151097775740078.1073741828.149933339189855/206106813572507/?type=3", target="_blank") Photo
                    = ', '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151097775740078.1073741828.149933339189855/205033267013195/?type=3", target="_blank") Photo


                div.item
                  i.ion-record
                  span Storecoin releases its new logo -
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.149933365856519.1073741825.149933339189855/192644424918746/?type=3", target="_blank") Photo

          div.each-milestone
            div.wrapper
              div.head June 2018
              div.list

                div.item
                  i.ion-record
                  span Storecoin grows its team of full-time contractors, consultants, and advisors to 25 -
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151097775740078.1073741828.149933339189855/188587521991103/?type=3", target="_blank") Photo

                div.item
                  i.ion-record
                  span Testing on BlockFin, Storecoin’s consensus engine, grows to 220 validator nodes and 40 message nodes -
                    = ' '
                    a.underline(href="https://github.com/StorecoinProject/blockfin", target="_blank") See Github Repo
                    | ,
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/posts/189659898550532", target="_blank") Photo

                div.item
                  i.ion-record
                  span Storecoin’s
                    != ' &nbsp;'
                    img(src='/images/empty.png', data-src="/images/icon-darkbg.png", style="height: 13px;")
                    != '&nbsp;'
                    |  tee-shirts begin reaching Community members around the world -
                    = ' '
                    a.underline(href="https://storeco.in/images/teecollection.jpg", target="_blank") Photo

                div.item
                  i.ion-record
                  span Storecoin’s economic research pushes yearly inflation to 2% maximum and pegs it to the percentage of staking and store-of-value on the blockchain -
                    = ' '
                    a.underline(href="https://storeco.in/#store-of-value", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Storecoin finalizes its economic thesis on how protocols grow in value over the long-term -
                    = ' '
                    a.underline(href="https://storeco.in/#protocol-value", target="_blank") View

                div.item
                  i.ion-record
                  span Creator Chris McCoy
                    = ' '
                    a.underline(href="https://twitter.com/cardinalpitch/status/1016475926119346179", target="_blank") joins
                    |  the Scalability panel at CPC’s Crypto DevCon in Mountain View -
                    = ' '
                    a.underline(href="https://www.youtube.com/watch?v=gEI3kjXbVUU", target="_blank") Watch the panel

                div.item
                  i.ion-record
                  span Tech media legend
                    = ' '
                    a.underline(href="https://www.alchemist.io/uncategorized/mary-meekers-annual-internet-trends-report-and-the-end-of-the-old-world-order-2/", target="_blank") Tony Perkins interviews Storecoin Creator Chris McCoy
                    |  on blockchain, tokenizing data and Storecoin's unique system of using dynamic inflation to fund zero-fee transactions for users of the network

                div.item
                  i.ion-record
                  span Research begins on solving chargebacks and fraud in payments with a new type of decentralized worker -- the sAgent -
                    = ' '
                    a.underline(href="http://storeco.in/#worker-types", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Creator Chris McCoy takes Storecoin to Singapore, presenting our technology and economics at Coin Agenda: Asia -
                    = ' '
                    a.underline(href="https://globenewswire.com/news-release/2018/05/14/1501352/0/en/CoinAgenda-Announces-Inaugural-CoinAgenda-Asia-Conference-June-21-23-in-Singapore.html", target="_blank") Learn More

                div.item
                  i.ion-record
                  span
                    a.underline(href="http://blockview.co/", target="_blank") Blockview
                    |  — SQL for Blockchains — is the first ecosystem project to begin engineering and development



          div.each-milestone
            div.wrapper
              div.head May 2018
              div.list

                div.item
                  i.ion-record
                  span Storecoin begins testing a version of BlockFin peer-to-peer (p2p) core built using "feeds" and "follow" model of data replication. -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/storecoin-begins-testing-on-blockFins-feed-follow-design", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Research on security and economics evolves, focusing the project on incentivizing high values of Store-of-Value to achieve decentralization and on-chain security. -
                    = ' '
                    a.underline(href="http://storeco.in/#staking-incentives", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Proof-of-Community, the way for Storecoin followers to become official Community members, is launched. Members
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/posts/162064571310065", target="_blank") from 12 different countries
                    |  instantly request to host STORE meet-ups -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/an-exclusive-invitation-to-join-our-global-community", target="_blank") Read More


                div.item
                  i.ion-record
                  span The STORE Manager, Storecoin’s tool for dWorkers to manage their staking on the blockchain, goes into development -
                    = ' '
                    a.underline(href="http://storeco.in/#friendly-tools", target="_blank") Learn More


                div.item
                  i.ion-record
                  span Storecoin’s
                    = ' '
                    a.underline(href="http://t.me/storecoin", target="_blank") Telegram channel
                    = ' '
                    b organically
                    |  grows to 300 members -
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/999124886588014592", target="_blank") See More

                div.item
                  i.ion-record
                  span The Storecoin Engineering Team
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/posts/151584959024693", target="_blank") launches its Twitter account
                    |  , begins sharing weekly -
                    = ' '
                    a.underline(href="https://twitter.com/storecoindev", target="_blank") View

                div.item
                  i.ion-record
                  span Storecoin launches its Facebook Page -
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam", target="_blank") Like

                div.item
                  i.ion-record
                  span Storecoin launches its Linkedin Page -
                    = ' '
                    a.underline(href="https://www.linkedin.com/company/storecoin/", target="_blank") Follow

                div.item
                  i.ion-record
                  span Storecoin makes its Github and
                    = ' '
                    a.underline(href="https://github.com/StorecoinProject/blockfin", target="_blank") development of BlockFin
                    |  partially public -
                    = ' '
                    a.underline(href="https://github.com/StorecoinProject/blockfin", target="_blank") Star


                div.item
                  i.ion-record
                  span
                    a.underline(href="http://cryptowire.org/", target="_blank") Cryptowire
                    |   — a
                    = ' '
                    a.underline(href="http://footprint.vc/", target="_blank") Storecoin Ecosystem
                    |  project — begins publishing weekly updates on the cryptocurrency space on a new website -
                    = ' '
                    a.underline(href="http://cryptowire.org/", target="_blank") View

                div.item
                  i.ion-record
                  span Storecoin pioneers the concept of
                    = ' '
                    a.underline(href="https://www.facebook.com/storecointeam/photos/a.151097775740078.1073741828.149933339189855/151097752406747/?type=3", target="_blank") Fork Tolerance
                    |  for consensus algorithms -
                    = ' '
                    a.underline(href="http://storeco.in/#why-fork-tolerance-matters", target="_blank") Learn More


          div.each-milestone
            div.wrapper
              div.head April 2018
              div.list

                div.item
                  i.ion-record
                  span Storecoin publishes Basil, an
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/open-source-proposal-has-potential-to-raise-tendermints-consensus-throughput", target="_blank") open-source proposal
                    |  to increase the throughput and decentralization in the open source
                    = ' '
                    a.underline(href="https://tendermint.com/", target="_blank") Tendermint
                    |  BFT consensus engine -
                    a.underline(href="https://github.com/StorecoinProject/Basil", target="_blank") View on Github

                div.item
                  i.ion-record
                  span
                    a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin
                    | — the fork tolerant, auditable, leaderless, high throughput, and decentralized consensus protocol invented by Storecoin — officially becomes
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/983519876265394176", target="_blank") patent pending

                div.item
                  i.ion-record
                  span Storecoin submits an open source
                    = ' '
                    a.underline(href="https://github.com/tendermint/tendermint/issues/1426", target="_blank") improvement proposal
                    |  for improving the decentralization and throughput of Tendermint -- the consensus mechanism for the Cosmos project and the Tendermint Foundation


                div.item
                  i.ion-record
                  span Storecoin releases its
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/984223655826620417", target="_blank") 8-year roadmap
                    |  detailing how the public protocol can evolve from from apps, to smart contracts, to the cash register and beyond -
                    a.underline(href="http://storeco.in/#storecoin-roadmap", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Plans for the Storecoin
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/978450559991668736", target="_blank") Ecosystem Fund
                    |  begin. . It’ll be run by
                    = ' '
                    a.underline(href="http://footprint.vc/", target="_blank") Footprint Ventures
                    |  and will focus on making equity-based investments into projects that can grow the adoption, security, governance, and decentralization of Storecoin. -
                    a.underline(href="http://storeco.in/#ecosystem-fund", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Long-term custodianship of token-based Treasury is put into place

                div.item
                  i.ion-record
                  span The v3 spec for a Governance with United States-inspired Checks and Balances is released

                div.item
                  i.ion-record
                  span Storecoin grows its team to 14+

          div.each-milestone
            div.wrapper
              div.head March 2018
              div.list

                div.item
                  i.ion-record
                  span Storecoin achieves
                    = ' '
                    a.underline(href="https://twitter.com/chrisamccoy/status/980140504548429825", target="_blank") 10,000+ Transactions Per Second
                    |  in a 21-validator node set-up and 159,000+ TPS in an 8-node set-up

                div.item
                  i.ion-record
                  span The first-ever podcast interview with Storecoin Creator Chris McCoy and CTO Rag Bhagavatha is released -
                    = ' '
                    a.underline(href="https://www.youtube.com/watch?v=fptz7ewk9Cs", target="_blank") Listen

                div.item
                  i.ion-record
                  span Storecoin releases its
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/963511294941790208", target="_blank") technical white paper for BlockFin
                    |  to its internal team of technologists and advisors

                div.item
                  i.ion-record
                  span Storecoin publishes a visual presentation on BlockFin, to be used for future public presentations -
                    = ' '
                    a.underline(href="http://storeco.in/blockfin", target="_blank") See the preso

                div.item
                  i.ion-record
                  span Storecoin’s legal team builds a KYC/AML and Global Securities Law-compliant plan to grow the project to +21,000 wallets before public launch

                div.item
                  i.ion-record
                  span Storecoin open sources
                    = ' '
                    a.underline(href="https://docs.google.com/spreadsheets/d/1XEVSpnMD3rOuqhZj7KsDQalfd1i7c3zTkLEkpRaD_tU/edit#gid=0", target="_blank") its internal research
                    |  on consensus protocols -
                    = ' '
                    a.underline(href="http://storeco.in/compare", target="_blank") View


          div.each-milestone
            div.wrapper
              div.head February 2018
              div.list

                div.item
                  i.ion-record
                  span Storecoin releases its first spec for BlockFin, a leaderless, high-throughput, and decentralized consensus algorithm that sits underneath DyPoS -
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/963511294941790208", target="_blank") See

                div.item
                  i.ion-record
                  span Research for Storecoin’s Governance reaches version 2 for internal peer review

                div.item
                  i.ion-record
                  span Govnodes, a new type of decentralized worker to host the votes and communication for Governance and keep it censorship resistant, go into product development -
                    = ' '
                    a.underline(href="http://storeco.in/#censorship-resistent", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Storecoin releases a v1 spec for Level 2 scaling through Masternodes (encrypted agents)

                div.item
                  i.ion-record
                  span Storecoin professionalizes its Treasury Management, committing to keeping 75% in USD and 25% in cryptocurrencies. It also moves over to an enterprise-grade multi-signature

                div.item
                  i.ion-record
                  span Storecoin CTO Rag Bhagavatha begins working full-time on the project
              
              div.achievement
                div.ach-wrapper
                  div.icon
                    i.ion-checkmark
                  div.title Second milestone-based token sale is completed

          div.each-milestone
            div.wrapper
              div.head January 2018
              div.list

                div.item
                  i.ion-record
                  span
                    a.underline(href="https://twitter.com/storecoin/status/951662643181371397", target="_blank") Michael Arrington and XRP Capital
                    | , Ari Nazir and Neural Capital, Anthony Pompliano and Full Tilt Capital, plus 200 others close out Storecoin’s
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/948318741648916480", target="_blank") second, invite-only token sale

                div.item
                  i.ion-record
                  span Creator Chris McCoy and CTO Rag Bhagavatha
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/953685372600496129", target="_blank") commit to an 8-year
                    |  vesting schedule, the first of its kind in the cryptocurrency market -
                    =  ' '
                    a.underline(href="http://storeco.in/#treasury-plan", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Working with Amazon’s Blockchain Strategy Group, Storecoin begins securing its code base, private keys, and more with Project Fort Knox -
                    =  ' '
                    a.underline(href="https://news.storeco.in/blog/storecoin-software-development-protocol-inpired-by-impenetrable-fort-knox", target="_blank") Learn More

                div.item
                  i.ion-record
                  span Storecoin
                    = ' '
                    a.underline(href="http://t.me/storecoin", target="-blank") launches
                    |  its public Telegram Super Group -
                    = ' '
                    a.underline(href="http://t.me/storecoin", target="_blank") Join

                div.item
                  i.ion-record
                  span Creator Chris McCoy introduces Storecoin to the
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/chris-mccoy-introduces-storecoin-at-worlds-1st-crypto-finance-conf", target="_blank") Crypto Finance Conference
                    |  in St. Moritz, Switzerland. -
                    = ' '
                    a.underline(href="https://www.youtube.com/watch?v=W9Hu54QffYA", target="_blank") Watch the video

                div.item
                  i.ion-record
                  span Storecoin launches its Instagram -
                    = ' '
                    a.underline(href="http://instagram.com/storecointeam", target="_blank") Follow

                div.item
                  i.ion-record
                  span
                    a.underline(href="https://twitter.com/footpr1nt/status/890698524572000256", target="_blank") Footprint
                    = ' '
                    | — the operating company that started Storecoin - re-focuses to becoming the *ConsenSys for Storecoin* -
                    a.underline(href="http://footprint.vc/", target="_blank") Footprint

                div.item
                  i.ion-record
                  span Storecoin adds two new executives and grows its team overall by 4 new members, including  Noah Ruderman, Stephen McKeon and Nathaniel Lubin as advisors for
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/software-engineer-accepts-role-of-technology-advisor-for-storecoin", target="_blank") technology
                    | ,
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/finance-professor-stephen-mckeon-joins-storecoin-as-economics-advisor", target="_blank") economics
                    |  and
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/nate-lubin-president-obamas-director-of-digital-strategy-joins-storecoin-as-communications") communications
                    | , respectively

          div.each-milestone
            div.wrapper
              div.head December 2017
              div.list

                div.item
                  i.ion-record
                  span Economic R&D evolves the project from solving blockchain for franchise and chain stores into solving the problem of p2p, zero-fee, programmable payments

                div.item
                  i.ion-record
                  span First load testing results of Storecoin’s DyPoS protcol are released -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/load-testing-storecoins-dynamic-proof-of-stake-consensus-algorithm-test-1-of-7") See the results

                div.item
                  i.ion-record
                  span Internal technical peer review begins for
                    = ' '
                    a.underline(href="http://storeco.in/blockfin", target="_blank") BlockFin
                    |  , Storecoin’s consensus algorithm

                div.item
                  i.ion-record
                  span Plans begin to transition Storecoin, Inc. — a Delaware C-Corporation — into a non-profit foundation by the time the protocol launches in 2019

          div.each-milestone
            div.wrapper
              div.head November 2017
              div.list

                div.item
                  i.ion-record
                  span The v2 spec for a
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/953687762280026112", target="_blank") Governance
                    |  with Checks and Balances launches

                div.item
                  i.ion-record
                  span Storecoin welcomes Mark Ramberg as advisor on security, platforms and digital delivery systems -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/digital-innovator-mark-ramberg-to-advise-storecoin-on-platforms-and-api", target="_blank") Learn More

          div.each-milestone
            div.wrapper
              div.head October 2017
              div.list

                div.item
                  i.ion-record
                  span The v1 spec for a Governance with Checks and Balances launches

                div.item
                  i.ion-record
                  span Storecoin hires patent attorney Rajiv Patel of Fenwick and West in Mountain View -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/storecoin-hires-rajiv-patel-of-fenwick-west-to-file-blockchain-patents", target="_blank") Learn More

          div.each-milestone
            div.wrapper
              div.head September 2017
              div.list

                div.item
                  i.ion-record
                  span The v1 economic and project spec for a Decentralized Security Guard network (dGuards) on Storecoin launches

                div.item
                  i.ion-record
                  span Storecoin releases Where the Dynamic Proof of Stake Protocol Fits In -
                    = ' '
                    a.underline(href="http://storeco.in/#dypos-algorithm", target="_blank") View
                    
                div.achievement
                  div.ach-wrapper
                    div.icon
                      i.ion-checkmark
                    div.title First milestone-based token sale is completed 

          div.each-milestone
            div.wrapper
              div.head August 2017
              div.list

                div.item
                  i.ion-record
                  span Techcrunch publishes Storecoin Creator Chris McCoy’s thoughts on the future of tokenization -
                    = ' '
                    a.underline(href="https://techcrunch.com/2017/08/20/yesterdays-plastics-are-todays-crypto-tokens/", target="_blank") Read the article

                div.item
                  i.ion-record
                  span
                    a.underline(href="https://news.storeco.in/blog/virtual-currency-leader-ari-paul-joins-storecoin-as-strategic-advisor", target="_blank") Ari Paul
                    |  joins as a strategic advisor

                div.item
                  i.ion-record
                  span BlockTower Capital joins as an investor

                div.item
                  i.ion-record
                  span The first, invite-only token sale completes with 20 partners

                div.item
                  i.ion-record
                  span Storecoin begins research on a dynamic Threat Level system for on-chain security -
                    = ' '
                    a.underline(href="http://storeco.in/#security-system", target="_blank") Learn More

          div.each-milestone
            div.wrapper
              div.head July 2017
              div.list

                div.item
                  i.ion-record
                  span Storecoin applies its
                    = ' '
                    a.underline(href="https://twitter.com/storecoin/status/959176336194637826", target="_blank") Dynamic Block Rewards model
                    |  to Security and has a massive research breakthrough on the potential of inflationary rewards incentivizing decentralized workers to not only process a blockchain but also to secure -
                    = ' '
                    a.underline(href="http://storeco.in/#dGuard-secure", target="_blank") Learn More

          div.each-milestone
            div.wrapper
              div.head June 2017
              div.list
                div.item
                  i.ion-record
                  span Storecoin begins building the economic model for Dynamic Block Rewards -- or Uber Surge Pricing for Block Rewards -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/storecoin-update-august-2017", target="_blank") Learn More

                div.item
                  i.ion-record
                  span The scope of the project begins to expand
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/introducing-storecoin", target="_blank") past franchise and chain stores
                    |  into becoming zero-fee programmable payment infrastructure for the globe -
                    = ' '
                    a.underline(href="http://storeco.in/#our-vision", target="_blank") View

          div.each-milestone.last
            div.wrapper
              div.head May 2017
              div.list
                div.item
                  i.ion-record
                  span The
                    = ' '
                    a.underline(href="https://twitter.com/storecoin", target="_blank") @Storecoin
                    = ' '
                    | Twitter account launches -
                    = ' '
                    a.underline(href="https://twitter.com/storecoin", target="_blank") Follow

                div.item
                  i.ion-record
                  span Research for BlockFin, our underlying consensus algorithm of DyPoS, begins

                div.item
                  i.ion-record
                  span The economic principles of Uber Surge Pricing are introduced for inflation-based block rewards -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/why-storecoin-is-inventing-dynamic-proof-of-stake-dypos", target="_blank") Learn more

                div.item
                  i.ion-record
                  span Dynamic Proof of Stake (DyPoS) -- our protocol that encompasses economics, governance, and security with consensus -- is invented -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/why-storecoin-is-inventing-dynamic-proof-of-stake-dypos", target="_blank") Learn more

                div.item
                  i.ion-record
                  span Storecoin, research from
                    = ' '
                    a.underline(href="https://www.footprintlabs.co", target="_blank") Footprint Labs, Inc
                    | , is formed as a public blockchain for franchise and chain stores -
                    = ' '
                    a.underline(href="https://news.storeco.in/blog/introducing-storecoin", target="_blank") Learn more


    include email-widget
