#network-effects-trust.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title The Network Effects of Storecoin and Trust
    p.hc-feature-lead.last-child All money is trust, cryptocurrency included. Money works as a medium of exchange because people believe in it. If it won’t be accepted in a transaction, then it has no value. For cryptocurrency to develop trust, it needs to be used by people. The
      img(src='/images/empty.png', data-src='/images/icon-darkbg.png', style="height: 0.75em; margin: 0 5px;")
      | Wallet attempts to solve trust for the Storecoin cryptocurrency

    .hc-image.section-image
      img(src='/images/network-effects-trust.png', style="max-width:900px;")
