#network-distribution.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title.break Network Distribution
    p.hc-feature-lead How	Storecoin	will	incentivize	all	sides	of	its	network,	across	history,	in	up	to	6	individual	token	sales.
    .network-stats
      .row
        .six.columns
          h4 Intented use of revenue
          img(src='images/chart.png', style='width: 100%;margin: 0 auto;display: block;')
        .six.columns
          .token-dist
            h4 Token distrubution
            p(style='margin-bottom:1em;') Long-term token distribution plan:
            .row
              .three.columns
                #circle1.circle
              .nine.columns
                .subtext Sold	in tokensales
            .row
              .three.columns
                #circle2.circle
              .nine.columns
                .subtext Allocated	to	founders,	core	developers,	and	team
            .row
              .three.columns
                #circle3.circle
              .nine.columns
                .subtext
                  | Allocated	for	distribution	to	incentivize	participation	in	the	Storecoin	ecosystem
            .row
              .three.columns
                #circle4.circle
              .nine.columns
                .subtext
                  | To	covers	tokensale costs
            p.note
              | Founders have 
              b 4 year vesting
              |  with 3 month cliffs
            p.note(style="margin-bottom:0px;")
              | Early contributors have 
              b 2 year vesting
              |  with 6 month cliffs
