#dist-1(style="display: none;")
  .hc-image(style="width:100%; overflow: scroll;")
    img(src='/images/empty.png', data-src='/images/store-total-supply-schedule.png', style="width: 900px; padding: 1em; background: white;")
#dist-2(style="display: none;")
  .hc-image(style="width:100%; overflow: scroll;")
    img(src='/images/empty.png', data-src='/images/long-term-treasury.png', style="width: 900px; padding: 1em; background: white;")
#dist-3(style="display: none;")
  .hc-image(style="width:100%; overflow: scroll;")
    img(src='/images/empty.png', data-src='/images/treasury-released.png', style="width: 900px; padding: 1em; background: white;")

#distribution-plan.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title.break Long-Term Treasury Plan
    p.hc-feature-lead Here’s how Storecoin will incentivize all sides of its network across multiple, milestone-based token generating events. Storecoin's Treasury and Governance is set to operate on a long-term, 
      = ' '
      a.underline(data-featherlight="#dist-1") +thousand-year time horizon
      | .
    .network-stats
      .row
        .six.columns
          h5 Use of Treasury
          img(src='/images/empty.png', data-src='/images/treasury-pie-chart.png', style='width: 80%;margin: 0 auto;display: block;')
        .six.columns
          .token-dist
            h5 Treasury Schedule (1 Billion STORE authorized)
            //- p(style='margin-bottom:1em;') Long-term token distribution plan:
            .row
              .three.columns
                #circle1.circle
              .nine.columns
                .subtext Sold in milestone-based, token generating events
                a.see-schedule.underline(data-featherlight="#dist-3") See Schedule
            .row
              .three.columns
                #circle2.circle
              .nine.columns
                .subtext Allocated for distribution to incentivize participation in the Storecoin ecosystem. Also to incentivize the Team,
                  b  for the first 100 years.
                
            .row
              .three.columns
                #circle3.circle
              .nine.columns
                .subtext Locked Up in a +1,000 year emission schedule giving the future Storecoin non-profit Genesis block Treasury to help Storecoin grow currency adoption, 
                  b forever.
                a.see-schedule.underline(data-featherlight="#dist-2") See Schedule
            .row
              .three.columns
                #circle4.circle
              .nine.columns
                .subtext
                  | To cover token generating event costs
            p.note.first
              i.ion-record
              | CEO, CTO, and CSO have
              b  8-year vesting
              |  with 3 month cliffs
            p.note
              i.ion-record
              | All Team has
              b  4 year vesting
              |  with 3 month cliffs
            p.note
              i.ion-record
              | Advisors have
              b  2 year vesting
              |  with 6 month cliffs
            p.note(style="margin-bottom:0px;")
              i.ion-record
              | Incentive partners have
              b  milestone-based vesting
