#distribution-plan.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title.break Token Distribution Plan
    p.hc-feature-lead How Storecoin will incentivize all sides of its network across multiple, milestone-based token sales ultimately giving it a treasury and governance that lets it operate as +thousand year public protocol.
    .network-stats
      .row
        .six.columns
          h4 Intended use of revenue
          img(src='/images/chart-v3.png', style='width: 100%;margin: 0 auto;display: block;')
        .six.columns
          .token-dist
            h4 Token distrubution
            p(style='margin-bottom:1em;') Long-term token distribution plan:
            .row
              .three.columns
                #circle1.circle
              .nine.columns
                .subtext Sold	in tokensales
            .row
              .three.columns
                #circle2.circle
              .nine.columns
                .subtext Allocated	to	founders,	core	developers,	and	team
            .row
              .three.columns
                #circle3.circle
              .nine.columns
                .subtext
                  | Allocated	for	distribution	to	incentivize	participation	in	the	Storecoin	ecosystem
            .row
              .three.columns
                #circle4.circle
              .nine.columns
                .subtext
                  | To	covers	tokensale costs
            p.note
              | Founders have 
              b 4 year vesting
              |  with 3 month cliffs
            p.note
              | Early contributors have 
              b 2 year vesting
              |  with 6 month cliffs
            p.note(style="margin-bottom:0px;")
              | Incentive partners have
              b  milestone-based vesting
          .token-dist
            //- h4 Recurring Revenue
            //- p(style='margin-bottom:1em;') Storecoin earns a network reward of 1% of the yearly, capped 5% inflationary rewards to pay for ongoing and long term engineering, security, governance, and operational needs:
            //- .row
            //-   .three.columns
            //-     #rev-recur-circle.circle
            //-   .nine.columns
            //-     .subtext Earns a 1% yearly network reward
              
    //- #rec-revenue.hc-feature.over-rel.padding.left-align
    //-   .hc-chunk.hc-customize-text-wrapper
    //-     h3.hc-feature-title Recurring Revenue
    //-     p.hc-feature-lead Storecoin earns a network reward of 1% of the yearly, capped 5% inflationary rewards to pay for ongoing and long term engineering, security, governance, and operational needs.
    //-     div.row
    //-       div#rev-recur-circle
    //-       p.hc-feature-lead Earns a 1% yearly network reward
