#network-effects.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title The Network Effects of Dynamic Proof of Stake
    p.hc-feature-lead.last-child The strength of Dynamic Proof of Stake is that it aligns the economic incentives of all stakeholders for more staking, therefore more worker participation, therefore more protocol decentralization, therefore more security.

    .hc-image.section-image
      img(src='/images/network-effects.png', style="max-width:900px;")
