#network-effects-trust.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title The Network Effects of Storecoin and Trust
    p.hc-feature-lead.last-child All money is trust, cryptocurrency included. Money works as a medium of exchange because people believe in it. If it won’t be accepted in a transaction, then it has no value. For cryptocurrency to develop trust, it needs to be used by people. The Wallet
      img(src='/images/empty.png', data-src='/images/icon-darkbg.png', style="height: 23px; margin: 0 5px;")
      | attempts to solve trust for the Storecoin cryptocurrency 
    .incentives.desktop
      .rails-wrapper
        .rails
      .row.top
        .four.columns
        .four.columns.horizontal
          .incentive
            .title
              span.orange-color 1
              p
                img(src='/images/empty.png', data-src='/images/chart-2.png')
                | Developers build on top of Storecoin
            p.desc
              | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
          img.arrow-flow(src='/images/arrow-mobile.png')
        .four.columns
      
      .row.middle
        .four.columns.vertical
          .incentive
            .title
              span.orange-color 8
              p Trust for the next programmable environment grows
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              span.orange-color 7
              p More users can pay with the STORE token
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              span.orange-color 6
              p Developers (and merchants) accepting STORE for payment grow
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/arrow-mobile.png')
        
        .four.columns.logo-wrapper
          img.logo(src='/images/empty.png', data-src='/images/logo.png')
        
        .four.columns.vertical
          .incentive
            .title
              span.orange-color 2
              p Users with the Storecoin Wallet grow
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              span.orange-color 3
              p API calls incentivized by the STORE token grow
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              span.orange-color 4
              p More users earn STORE
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
      
      .row.bottom
        .twelve.columns.horizontal
          .incentive
            .title
              span.orange-color 5
              p Trust for Storecoin grows
                img(src='/images/empty.png', data-src='/images/chart-2.png')
            p.desc
              | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets

    .incentives.mobile
      .rails-wrapper
        .rails
      .row
        .four.columns
        .four.columns.horizontal
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/chart-2.png')
              p Token	Value
            p.desc
              | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
        .four.columns
      .row.middle
        .four.columns.vertical
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/security-guards-v2.png')
              p More dGuards
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/keyboard-v2.png')
              p More Developers
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
        .four.columns.logo-wrapper
          img.logo(src='/images/empty.png', data-src='/images/logo.png')
        .four.columns.vertical
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/smile.png')
              p More Users
            p.desc
              | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/money-bag.png')
              p More Organizations
            p.desc
              | The more users and third-party developers, the more transactions. The more transactions, the more validators that are needed to reach consensus on the Storecoin blockchain.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
      .row
        .four.columns
        .four.columns.horizontal
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/money-v2.png')
              p More Buyers
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/blchain-verification-v2.png')
              p More Validators
            p.desc The more demand to use the token, the more buyers there will be.
        .four.columns
