#network-effects.hc-feature.over-rel.inverted.padding
  .hc-chunk
    h2.hc-feature-title The Network Effects of Dynamic Proof of Stake
    p.hc-feature-lead.last-child The strength of Dynamic Proof of Stake is that it aligns the economic incentives of all stakeholders for more staking, therefore more worker participation, therefore more protocol decentralization, therefore more security. 
    .incentives.desktop
      .rails-wrapper
        .rails
      .row.top
        .four.columns
        .four.columns.horizontal
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/chart-2.png')
              p More Adoption
            p.desc
              | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
          img.arrow-flow(src='/images/arrow-mobile.png')
        .four.columns
      
      .row.middle
        .four.columns.vertical
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-lock.png')
              p More Security
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-globe.png')
              p More Decentralization
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-bank.png')
              p More Staking
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
        
        .four.columns.logo-wrapper
          img.logo(src='/images/empty.png', data-src='/images/logo.png')
        
        .four.columns.vertical
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/money-bag.png')
              p More Transactions
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/keyboard-v2.png')
              p More Developers
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/smile.png')
              p More Wallets
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
      
      .row.bottom
        .twelve.columns.horizontal
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-pick.png')
              p More dWorkers
            p.desc
              | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets

    .incentives.mobile
      .rails-wrapper
        .rails
      .row
        .four.columns
        .four.columns.horizontal
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/chart-2.png')
              p More Adoption
            p.desc
              | The Storecoin token value could increase with more Storecoin Wallets deployed into the hands of users. Also, with more app-level transactions on the Storecoin blockchain.
          img.arrow-flow(src='/images/arrow-mobile.png')
        .four.columns
      .row.middle
        .four.columns.vertical
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/money-bag.png')
              p More Transactions
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/keyboard-v2.png')
              p More Developers
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
        .four.columns.logo-wrapper
          img.logo(src='/images/empty.png', data-src='/images/logo.png')
        .four.columns.vertical
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/smile.png')
              p More Wallets
            p.desc
              | As	token	value	increases,	more	3rd party	developers	want	to	build	using	storecoins.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-pick.png')
              p More dWorkers
            p.desc
              | The	more	apps	powered	by Storecoin,	the	more	users	that will	have	Storecoin	wallets
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
      .row
        .four.columns
        .four.columns.horizontal
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-bank.png')
              p More Staking
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-globe.png')
              p More Decentralization
            p.desc The more demand to use the token, the more buyers there will be.
          img.arrow-flow(src='/images/empty.png', data-src='/images/arrow-mobile.png')
          .incentive
            .title
              img(src='/images/empty.png', data-src='/images/ico-lock.png')
              p More Security
            p.desc The more demand to use the token, the more buyers there will be.
        .four.columns
