#dist-1(style="display: none;")
  .hc-image(style="width:100%; overflow: scroll;")
    img(src='/images/empty.png', data-src='/images/store-total-supply-schedule.png', style="width: 900px; padding: 1em; background: white;")
#dist-2(style="display: none;")
  .hc-image(style="width:100%; overflow: scroll;")
    img(src='/images/empty.png', data-src='/images/long-term-treasury.png', style="width: 900px; padding: 1em; background: white;")
#dist-3(style="display: none;")
  .hc-image(style="width:100%; overflow: scroll;")
    img(src='/images/empty.png', data-src='/images/treasury-released.png', style="width: 900px; padding: 1em; background: white;")

#distribution-plan.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title.break Long-Term Treasury Plan
    p.hc-feature-lead Storecoin's Treasury is set to operate on a long-term, 
      = ' '
      a.underline(data-featherlight="#dist-1") +thousand-year time horizon
      | .
    .network-stats
      .row
        .six.columns
          h5(style="text-align: center;") Use of Treasury
          img(src='/images/empty.png', data-src='/images/treasury-pie-chart-v1.png', style='width: 80%;margin: 0 auto;display: block;')
        .six.columns
          .token-dist
            h5(style="text-align: center;") Treasury Schedule
              |  (1 Billion $STORE authorized)
            //- p(style='margin-bottom:1em;') Long-term token distribution plan:
            .row
              .three.columns
                #circle1.circle
              .nine.columns
                .subtext Sold in up to six milestone-based token sales.
                .subtext Governance can modify the Treasury Plan/Use.
        
            .row
              .three.columns
                #circle2.circle
              .nine.columns
                .subtext Allocated to the non-profit for incentivizing growth of the $STORE ecosystem, dWorker adoption, team, and more -
                  b  emits in the 100 years.
                //-a.see-schedule.underline(data-featherlight="#dist-3") See Schedule
                
            .row
              .three.columns
                #circle3.circle
              .nine.columns
                .subtext Locked up in a long-term emission schedule giving the non-profit access to genesis block Treasury to grow $STORE adoption -
                  b  emits over 1,000 years
                //-a.see-schedule.underline(data-featherlight="#dist-2") See Schedule
            .row
              .three.columns
                #circle4.circle
              .nine.columns
                .subtext
                  | Founding inflationary block rewards. Pays for up to 2% new inflation per year. Once this fund is used, new $STORE is added to the total authorized.
      
      .row(style="border-top:2px solid #e2e2e2;")
        .six.columns
          p.hc-feature-lead.note(style="text-align: left;")
            b NOTE:
            |  Up to 2% new inflation per year pays for block rewards
          p.note
            i.ion-record
            | Inflationary rewards are pegged to the 1 Billion genesis token supply
          p.note
            i.ion-record
            | Up to 20 Million $STORE is the maximum yearly new token inflation
          p.note
            i.ion-record
            | Inflationary rewards don’t compound; there will be no hyperinflation
          p.note(style="margin-bottom:0px;")
            i.ion-record
            | Storecoin (non-profit) will be endowed with 2.5% of all block rewards


        .six.columns
          .desktop-image
            p.hc-feature-lead.note(style="text-align: left;")
              b About Team Rewards
          .mobile-image(style="border-top:2px solid #e2e2e2; margin-top: 1em;")
            p.hc-feature-lead(style="text-align: left;")
              b About Team Rewards
          p.note
            i.ion-record
            | Executive Director and CTO have
            b  8-year vesting
            |  with 3 month cliffs
          p.note
            i.ion-record
            | All Team has
            b  4 year vesting
            |  with 3 month cliffs
          p.note
            i.ion-record
            | Advisors have
            b  2 year vesting
            |  with 6 month cliffs
          p.note(style="margin-bottom:0px;")
            i.ion-record
            | Incentive partners have
            b  milestone-based vesting
