extends layout

block content
  div#hc-content
    .hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Ooops!
        p.hc-feature-lead Blocks are melting. No page found here.
        p.hc-feature-lead
          a.underline(href="/") Visit Storecoin
          
        .hc-image
          img(src='/images/empty.png', data-src='/images/melting-blocks.png', style="max-width:400px;")


    include email-widget
