extends layout

block content
  div#hc-content
    .hc-feature.over-rel.padding(style="min-height:350px;")
      h2.hc-feature-title(style='margin-top:1em;') Ooops!
      h3.hc-feature-title(style='font-size:1.7em;') Page not found.
        |
        a(href="/") Take me home.


    include email-widget
