#team.hc-feature.over-rel.padding(class=(white) ? '' : 'lite')
  .hc-chunk.hc-team-tex-wrapper
    h3.hc-feature-title Our Team
    p.hc-feature-lead We have been thinking very long-term about the potential for zero fee, programmable payments.
    .members
      .row
        .two.columns
          img.team-member-image.first(src='/images/empty.png', data-src='/images/chris-mccoy.png', alt='Chris McCoy')
        .nine.columns
          h3.team-member-name Chris McCoy
            span.status FULL-TIME
          h4.team-member-title Creator
          p.team-member-desc 15 years experience building internet and blockchain-based technologies. Chairman at Footprint, tools for blockchain ecosystems. Member of Blockchain Intiative at the World Economic Forum's Fourth Industrial Center. Founded the non-profit Data4America. Invented YourSports.
          a.twitter-link(href='https://twitter.com/chrisamccoy', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @chrisamccoy
          //- a(href='http://linkedin.com/in/chrisamccoy', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      hr
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/rag-kidiyoor.png', alt='Rag Kidiyoor')
        .nine.columns
          h3.team-member-name Rag Bhagavatha
            span.status FULL-TIME
          h4.team-member-title Chief Technology Officer
          p.team-member-desc Over two decades of building distributed messaging, social networking, and database technologies. Has been working with Storecoin Creator Chris McCoy since 2011. Previous Cloud Infrastructure Engineer @Apple (2011-2012), Frontend Architecture @Cisco WebEx (2006-2011).

      div.others +14 OTHERS

      div#hc-team-reveal.see-more-reveal
        hr
        .row
          .two.columns
            img.team-member-image(src='/images/empty.png', data-src='/images/jason-varner.png', alt='Jason Varner')
          .nine.columns
            h3.team-member-name Jason Varner
            h4.team-member-title Analyst
            p.team-member-desc 10	years	modeling	economics	for	hedge	funds,	internet	startups,	and	blockchains.
        hr
        .row
          .two.columns
            img.team-member-image(src='/images/empty.png', data-src='/images/jay-pal.jpeg', alt='Jay Pal')
          .nine.columns
            h3.team-member-name Jay Pal
            h4.team-member-title DevOps
            p.team-member-desc
              | 30	years	in	building	distributed	computing	technologies.	Leads
              | DevOps	at	Footprint	-- a	global	product	team	shipping	software	24/7
              | using	continuous	integration	and	continuous	deployments.
            //- a(href='https://www.linkedin.com/in/laitkor', target='_blank')
            //-   i.ion-social-linkedin-outline(style='font-size: 30px;')


      hr.dark
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/ari-paul.png', alt='Pablo Yabo')
        .nine.columns
          h3.team-member-name Ari Paul
          h4.team-member-title Strategic Advisor
          p.team-member-desc CIO at BlockTower Capital, angel investor, former PM for the UChicago endowment.
          a.twitter-link(href='https://twitter.com/AriDavidPaul', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @AriDavidPaul
          //- a(href='https://twitter.com/AriDavidPaul', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/ari-paul-8895a57/', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      hr
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/mark-ramberg.png', alt='Mark Ramberg')
        .nine.columns
          h3.team-member-name Mark Ramberg
          h4.team-member-title Platform Advisor
          p.team-member-desc Led global business for Amazon Web Services’ activity in the digital media industry (11-15), currently a VP at Akamai, cloud expert, distributed computing innovator.
          a.twitter-link(href='https://twitter.com/markramberg', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @markramberg
          //- a(href='https://twitter.com/markramberg', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/markwramberg', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      hr
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/nate-lubin.png', alt='Mark Ramberg')
        .nine.columns
          h3.team-member-name Nate Lubin
          h4.team-member-title Communications Advisor
          p.team-member-desc Former Director of the Office of Digital Strategy @White House (14-16), Director of Digital Marketing for Obama for America (08, 12), Political Science @Harvard
          a.twitter-link(href='https://twitter.com/natelubin', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @natelubin
          //- a(href='https://twitter.com/natelubin', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/nathaniel-lubin-956ba45b/', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      hr
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/noah-ruderman.png', alt='Mark Ramberg')
        .nine.columns
          h3.team-member-name Noah Ruderman
          h4.team-member-title Technology Advisor
          p.team-member-desc Facebook software engineer studying privacy and cryptocurrency architectures with properties that scale.
          a.twitter-link(href='https://twitter.com/devilscompiler', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @devilscompiler
          //- a(href='https://twitter.com/devilscompiler', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/nruderman/', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      hr
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/stephen-mckeon.png', alt='Mark Ramberg')
        .nine.columns
          h3.team-member-name Stephen McKeon
          h4.team-member-title Cryptoeconomics Advisor
          p.team-member-desc Finance professor at University of Oregon studying cryptoassets, security issuance, private equity, and M&A.
          a.twitter-link(href='https://twitter.com/sbmckeon', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @sbmckeon
          //- a(href='https://twitter.com/sbmckeon', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/smckeon', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      //- -------------------------
      hr.dark
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/antone-johnson.png', alt='Antone Johnson')
        .nine.columns
          h3.team-member-name Antone Johnson
          h4.team-member-title General Counsel
          p.team-member-desc 20 years experience as business and technology lawyer, startup advisor, and executive. Antone previously served as VP of global legal affairs at eHarmony and practiced corporate law at Wilson Sonsini Goodrich & Rosati (WSGR).
          a.twitter-link(href='https://twitter.com/antonejohnson', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @antonejohnson
          //- a(href='https://twitter.com/antonejohnson', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/antonejohnson/', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      //- hr
      //- .row
      //-   .two.columns
      //-     img.team-member-image(src='/images/empty.png', data-src='/images/rajiv-patel.png', alt='Rajiv Patel')
      //-   .nine.columns
      //-     h3.team-member-name Rajiv Patel, Partner at Fenwick and West
      //-     h4.team-member-title Strategy Lawyer
      //-     p.team-member-desc Advises cutting-edge companies in all stages of development and execution, with special emphasis on patent strategy and protecting the company’s technology. Chair of the Patent Group at Fenwick and West.
      //-     a.twitter-link(href='https://twitter.com/RajivPatelIS', target='_blank')
      //-       img(src='/images/empty.png', data-src='/images/twitter-icon.png')
      //-       span @RajivPatelIS
      //-     //- a(href='https://twitter.com/RajivPatelIS', target='_blank', style="margin-right:5px;")
      //-     //-   i.ion-social-twitter-outline(style='font-size: 30px;')
      //-     //- a(href='https://www.linkedin.com/in/rajivpatelis', target='_blank')
      //-     //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      hr
      .row
        .two.columns
          img.team-member-image(src='/images/empty.png', data-src='/images/josh-lawler.png', alt='Rajiv Patel')
        .nine.columns
          h3.team-member-name Josh Lawler of Zuber Lawler & Del Duca LLP
          h4.team-member-title Strategy Lawyer
          p.team-member-desc Focuses on novel issues presented by developing technology including Blockchain (distributed ledger), artificial intelligence, robotics, virtual/augmented reality and internet of things.
          a.twitter-link(href='https://twitter.com/JLawlerCal', target='_blank')
            img(src='/images/empty.png', data-src='/images/twitter-icon.png')
            span @JLawlerCal
          //- a(href='https://twitter.com/RajivPatelIS', target='_blank', style="margin-right:5px;")
          //-   i.ion-social-twitter-outline(style='font-size: 30px;')
          //- a(href='https://www.linkedin.com/in/rajivpatelis', target='_blank')
          //-   i.ion-social-linkedin-outline(style='font-size: 30px;')

      div.link-container
        a.link-text.see-more(data-link="#hc-team-reveal", data-margin="0,0", data-scroll="false", data-back="true", data-inner="See More<i class=\"ion-ios-arrow-down\"></i>, See Less<i class=\"ion-ios-arrow-up\"></i>") See More
          i.ion-ios-arrow-down
