#team.hc-feature.over-rel.padding.lite
  .hc-chunk.hc-team-tex-wrapper
    h3.hc-feature-title Our Team
    p.hc-feature-lead We have been thinking very long term about the potential for blockchain-based payments to incentivize new business models and user behaviors inside of applications.
    .members
      .row
        .two.columns
          img.team-member-image.first(src='/images/chris-mccoy.jpg', alt='Chris McCoy')
        .nine.columns
          h3.team-member-name Chris McCoy
          h4.team-member-title Creator
          p.team-member-desc CEO at Footprint, messaging for franchises. 15 years experience building internet technologies. 4 years innovating in the blockchain space. Pioneered hierarchy and blockchain-based payments while at YourSports, a social network for sports history. Member of the Blockchain Initiative at the World Economic Forum.
          a(href='http://linkedin.com/in/chrisamccoy', target='_blank')
            i.ion-social-linkedin-outline(style='font-size: 30px;')
              
      hr
      .row
        .two.columns
          img.team-member-image(src='/images/rag-kidiyoor.png', alt='Rag Kidiyoor')
        .nine.columns
          h3.team-member-name Rag Kidiyoor
          h4.team-member-title Chief Technology Officer
          p.team-member-desc 30-years building distributed messaging, social networking, and database technologies. Has been working with Storecoin Creator Chris McCoy since 2011. Previous Cloud Infrastructure Engineer @Apple (2011-2012), Frontend Architecture @Cisco WebEx (2006-2011).
      
      //- div#hc-team-reveal.see-more-reveal
      hr
      .row
        .two.columns
          img.team-member-image(src='/images/jason-varner.png', alt='Jason Varner')
        .nine.columns
          h3.team-member-name Jason Varner
          h4.team-member-title Analyst
          p.team-member-desc 10	years	modeling	economics	for	hedge	funds,	internet	startups,	and	blockchains.
      hr
      .row
        .two.columns
          img.team-member-image(src='/images/jay-pal.jpeg', alt='Jay Pal')
        .nine.columns
          h3.team-member-name Jay Pal
          h4.team-member-title DevOps
          p.team-member-desc
            | 30	years	in	building	distributed	computing	technologies.	Leads
            | DevOps	at	Footprint	-- a	global	product	team	shipping	software	24/7
            | using	continuous	integration	and	continuous	deployments.
          a(href='https://www.linkedin.com/in/laitkor', target='_blank')
            i.ion-social-linkedin-outline(style='font-size: 30px;')
      
    hr(style="border-top:3px solid rgb(68, 97, 52);")
    .row
      .two.columns
        img.team-member-image(src='/images/ari-paul.png', alt='Pablo Yabo')
      .nine.columns
        h3.team-member-name Ari Paul
        h4.team-member-title Strategic Advisor
        p.team-member-desc Ari is the Co-Founder of BlockTower Capital, an angel Investor, the former PM for Uchicago endowment.
        a(href='https://twitter.com/AriDavidPaul', target='_blank', style="margin-right:5px;")
          i.ion-social-twitter-outline(style='font-size: 30px;')
        a(href='https://www.linkedin.com/in/ari-paul-8895a57/', target='_blank')
          i.ion-social-linkedin-outline(style='font-size: 30px;')
            
    hr
    .row
      .two.columns
        img.team-member-image(src='/images/mark-ramberg.png', alt='Mark Ramberg')
      .nine.columns
        h3.team-member-name Mark Ramberg
        h4.team-member-title Advisor, Platform and Wallet SDK
        p.team-member-desc Led global business for Amazon Web Services’ activity in the digital media industry (11-15), currently a VP at Akamai, cloud expert, distributed computing innovator.
        a(href='https://www.linkedin.com/in/markwramberg', target='_blank')
          i.ion-social-linkedin-outline(style='font-size: 30px;')
            
    hr
    .row
      .two.columns
        img.team-member-image(src='/images/nate-lubin.png', alt='Mark Ramberg')
      .nine.columns
        h3.team-member-name Nate Lubin
        h4.team-member-title Advisor, Communications and Marketing
        p.team-member-desc Former Director of the Office of Digital Strategy @White House (14-16), Director of Digital Marketing for Obama for America (08, 12), Political Science @Harvard
        a(href='https://www.linkedin.com/in/nathaniel-lubin-956ba45b/', target='_blank')
          i.ion-social-linkedin-outline(style='font-size: 30px;')

      //- div.link-container
      //-   a.link-text.see-more(data-link="#hc-team-reveal", data-margin="0,0", data-scroll="false", data-back="true", data-inner="See More<i class=\"ion-ios-arrow-down\"></i>, See Less<i class=\"ion-ios-arrow-up\"></i>") See More
      //-     i.ion-ios-arrow-down
