#our-latest.hc-feature.over-rel.padding.lite.left-align
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title Our Latest
    ul(style='list-style:disc;')
      li
        b Our invite-only
        | , $1 Million Second Token Sale is 2.6x oversubscribed. We received 245 applications, $2.61 Million was committed, and 108 others were referred to future sales. To accommodate all interested buyers, applicants are being offered a modified allocation in order to stay consistent with our $1 Million aim -
        a(href='https://twitter.com/StorecoinTeam/status/948466693776457728', target='_blank') Read Here.
      li
        b Storecoin
        | , releases test 1 of 7 results for load testing of its Dynamic Proof-of-Stake consensus algorithm -
        a(href='https://medium.com/@storecoin/load-testing-storecoins-dynamic-proof-of-stake-consensus-algorithm-test-1-of-7-a4b31faf3c63?', target='_blank') Read Here.
      li
        b Chris McCoy
        | , Storecoin's Creator, will be speaking publicly for the first time about Storecoin at the Crypto Finance Conference in Switzerland, January 17-19 -
        a(href='https://twitter.com/CryptoFinanceCo/status/934110412794155008', target='_blank') Read Here.
      li
        b Chris McCoy
        |  will give a presentation about crypto economics on Jan. 24 at the Crypto Finance Conference in LA. - 
        a(href='https://medium.com/@storecoin/storecoin-creator-scheduled-to-speak-at-la-crypto-funding-summit-9df048831892', target='_blank') Read here.
      li
        b Ari David Paul
        | , the CIO of BlockTower Capital, joins as a Strategic Advisor
      li
        b Mark Ramberg
        | , formerly the GM of Amazon AWS Media & Entertainment, joins as our Platform and API advisor
      li
        b Nate Lubin
        | , formerly the Digital Director in the President Obama White House, joins as our Marketing and Communications advisor
    ul#hc-blog-feeds.see-more-reveal(style='list-style:disc;margin-top: 0.5em;')
      li
        b Rajiv Patel
        | of Fenwick and West joins to help Storecoin file patents for DyPoS -
        a(href='https://medium.com/@storecoin/storecoin-hires-rajiv-patel-of-fenwick-west-to-file-blockchain-patents-cf75b7172018', target='_blank') Read More
      li
        b TechCrunch
        | publishes Chris McCoy's thoughts on the future of tokenization -- or Securitization 2.0 -
        a(href='https://techcrunch.com/2017/08/20/yesterdays-plastics-are-todays-crypto-tokens/', target='_blank') Read More
    .link-container
      a.link-text.see-more(data-link='#hc-blog-feeds', data-margin='0,0', data-scroll='false', data-back='true', data-inner='See More<i class="ion-ios-arrow-down"></i>, See Less<i class="ion-ios-arrow-up"></i>')
        | See More
        i.ion-ios-arrow-down
