#team.hc-feature.over-rel.padding
  .hc-chunk.hc-team-tex-wrapper
    h3.hc-feature-title Our Team
    p.hc-feature-lead
      | We have been thinking very long term about the potential for
      | blockchain-based payments to introduce new business models and
      | behaviors inside hierarchy-based organizations. 
    .members
      .row
        .three.columns
          img.team-member-image.first(src='images/chris-mccoy.jpg', alt='Chris McCoy')
        .nine.columns
          h3.team-member-name Chris McCoy
          h4.team-member-title Creator
          p.team-member-desc
            | CEO at Footprint, messaging for franchises. 15 years
            | experience building internet technologies. 4 years innovating in
            | the blockchain space. Pioneered hierarchy and blockchain-based
            | payments while at YourSports, a social network for sports
            | history.
          a(href='http://linkedin.com/in/chrisamccoy', target='_blank')
            i.ion-social-linkedin-outline(style='font-size: 30px;')
      hr
      .row
        .twelve.columns
          .three.columns
            img.team-member-image(src='images/pablo-yabo.png', alt='Pablo Yabo')
          .nine.columns
            h3.team-member-name Pablo Yabo
            h4.team-member-title Chief	Blockchain	Architect
            p.team-member-desc
              | 20 years experience in the computer security field in 1997. 4
              | years developing private and public blockchain technologies.
              | Helped build Jaxx and Rootstock	(RSK).
            a(href='https://www.linkedin.com/in/pabloyabo/', target='_blank')
              i.ion-social-linkedin-outline(style='font-size: 30px;')
      hr
      .row
        .twelve.columns
          .three.columns
            img.team-member-image(src='images/rag-kidiyoor.png', alt='Rag Kidiyoor')
          .nine.columns
            h3.team-member-name Rag Kidiyoor
            h4.team-member-title Lead	Database	Architect
            p.team-member-desc
              | 30-years	building	distributed	messaging,	social
              | networking,	and	database	technologies.	Has
              | been	working	with	Chris	McCoy	since	2011.
      
      hr
      .row
        .twelve.columns
          .three.columns
            img.team-member-image(src='images/jason-varner.png', alt='Jason Varner')
          .nine.columns
            h3.team-member-name Jason Varner
            h4.team-member-title Analyst
            p.team-member-desc 10	years	modeling	economics	for	hedge	funds,	internet	startups,	and	blockchains.
      hr
      .row
        .three.columns
          img.team-member-image(src='images/jay-pal.jpeg', alt='Jay Pal')
        .nine.columns
          h3.team-member-name Jay Pal
          h4.team-member-title DevOps
          p.team-member-desc
            | 30	years	in	building	distributed	computing	technologies.	Leads
            | DevOps	at	Footprint	-- a	global	product	team	shipping	software	24/7
            | using	continuous	integration	and	continuous	deployments.
          a(href='https://www.linkedin.com/in/laitkor', target='_blank')
            i.ion-social-linkedin-outline(style='font-size: 30px;')
