#partners.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title Our Partners
    #hc-partners-slider.logo-slider
      .slide
        a(href="https://aws.amazon.com/activate/", target="_blank")
          img(src='/images/empty.png', data-src='/images/AWS-Activate.png')
          p $100,000 in Amazon AWS credits
      .slide
        a(href="https://www.dlapiper.com/en/asiapacific/", target="_blank")
          img(src='/images/empty.png', data-src='/images/dla.png', style="width: 40%;")
          p Blockchain Strategy Lawyers
      .slide
        a(href="https://www.fenwick.com/pages/default.aspx", target="_blank")
          img(src='/images/empty.png', data-src='/images/fenwick-west-logo.png', style='width:60%;')
          p Blockchain Patent Lawyers
      .slide
        a(href="http://www.zuberlaw.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/zuber.png')
          p Corporate Lawyers
      .slide
        a(href="https://www.coinfabrik.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/logo-coinfabrik.png', style='width:80%;')
          p Blockchain Development Partners
      .slide
        img(src='/images/empty.png', data-src='/images/clinton-polley.png', style='width: auto; height: 110px;')
        p PoW Test Network
