#partners.hc-feature.over-rel.padding
  .hc-chunk
    h2.hc-feature-title Our Partners
    #hc-partners-slider.logo-slider
      .slide
        a(href="https://aws.amazon.com/activate/", target="_blank")
          img(src='/images/empty.png', data-src='/images/AWS-Activate.png')
          p $100,000 in Amazon AWS credits
      .slide
        a(href="http://footprint.vc", target="_blank")
          img(src='/images/empty.png', data-src='/images/fp-ventures-logo.png', style="width: 70%;")
          p Footprint.vc
      .slide
        a(href="https://www.fenwick.com/pages/default.aspx", target="_blank")
          img(src='/images/empty.png', data-src='/images/fenwick-west-logo.png', style='width:60%;')
          p Blockchain Patent Lawyers
      .slide
        a(href="http://www.zuberlaw.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/zuber.png')
          p Corporate Lawyers
      .slide
        a(href="https://www.circle.com", target="_blank")
          img(src='/images/empty.png', data-src='/images/logo-circle.png', style='width:50%;')
          p OTC Partners
      .slide
        a(href="https://cumberlandmining.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/logo-cumberland.png', style='width: 70%;')
          p OTC Partners
