#people-saying.hc-feature.over-rel.padding.lite
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.inverted(style="margin-left: auto; margin-right: auto; max-width: 600px;") What Others are Saying about Storecoin
    div.tweets
      div.tweet
        blockquote.twitter-tweet(data-lang='en')
          p(lang='en', dir='ltr')
            | Personally think Carbon, Storecoin, Origin Protocol, Dharma Protocol, and Mainframe are all interesting combinations of real tech, impressive founders and serious market opportunities.
          | — Pomp 🌪 (@APompliano) 
          a(href='https://twitter.com/APompliano/status/964348506554150912?ref_src=twsrc%5Etfw') February 16, 2018
      
      div.tweet
        blockquote.twitter-tweet
          p(lang='en', dir='ltr')
            | Digital constitutions are tricky. This is exactly why the US has judicial system - to interpret the constitution. All of this makes me increasingly bullish on long term prospects for
            a(href='https://twitter.com/storecoin?ref_src=twsrc%5Etfw') @storecoin
            |  - modelling governance after US checks and balances
            a(href='https://t.co/Z0ecNXAXy1') pic.twitter.com/Z0ecNXAXy1
          | — Kyle Samani (@KyleSamani)
          a(href='https://twitter.com/KyleSamani/status/943238707347443712?ref_src=twsrc%5Etfw') December 19, 2017

      div.tweet
        blockquote.twitter-tweet
          p(lang='en', dir='ltr')
            | My review of
            a(href='https://twitter.com/StorecoinTeam?ref_src=twsrc%5Etfw') @StorecoinTeam
            |  Token Sale! A strong contender for the coming wave of Bitcoin 3.0 protocols!
            a(href='https://t.co/i4FlWANVUA') https://t.co/i4FlWANVUA
          | — Tom Howard (@The_Tom_Howard)
          a(href='https://twitter.com/The_Tom_Howard/status/948062805034393600?ref_src=twsrc%5Etfw') January 2, 2018

      div.tweet
        blockquote.twitter-tweet
          p(lang='en', dir='ltr')
            | "There is a coming wave of
            a(href='https://twitter.com/hashtag/Bitcoin?src=hash&ref_src=twsrc%5Etfw') #Bitcoin
            |  3.0 projects."
            br
            br
            | Read the first review of Storecoin, an invite-only
            a(href='https://twitter.com/hashtag/ICO?src=hash&ref_src=twsrc%5Etfw') #ICO
            |  /
            a(href='https://twitter.com/hashtag/cryptocurrency?src=hash&ref_src=twsrc%5Etfw') #cryptocurrency
            |  protocol:
            a(href='https://t.co/Dxq3Go65qi') https://t.co/Dxq3Go65qi
            a(href='https://twitter.com/hashtag/crypto?src=hash&ref_src=twsrc%5Etfw') #crypto
            a(href='https://twitter.com/hashtag/blockchain?src=hash&ref_src=twsrc%5Etfw') #blockchain
            a(href='https://twitter.com/search?q=%24BTC&src=ctag&ref_src=twsrc%5Etfw') $BTC
            a(href='https://twitter.com/search?q=%24ETH&src=ctag&ref_src=twsrc%5Etfw') $ETH
            a(href='https://t.co/gacn682QHV') pic.twitter.com/gacn682QHV
          | — Token Report (@tokenreport)
          a(href='https://twitter.com/tokenreport/status/947936615053365251?ref_src=twsrc%5Etfw') January 1, 2018

      div.tweet
        iframe(width='100%', height='282', data-src='https://www.youtube.com/embed/l68uPJNPoYc', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='', style="max-width:500px;")

      div.tweet
        blockquote.twitter-tweet
          p(lang='en', dir='ltr')
            | Good review of
            a(href='https://twitter.com/StorecoinTeam?ref_src=twsrc%5Etfw') @StoreCoinTeam
            |  ICO from
            a(href='https://twitter.com/chrisamccoy?ref_src=twsrc%5Etfw') @chrisamccoy
            |  et al. Zero fee solution looks super interesting. Governance model is ambitious -- onchain + offchain
            a(href='https://t.co/EejCAVnsq0') https://t.co/EejCAVnsq0
          | — Dan Fries (@_danfries)
          a(href='https://twitter.com/_danfries/status/946777112840736770?ref_src=twsrc%5Etfw') December 29, 2017
