extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Token Sale FAQ

    .hc-feature.over-rel.padding(style="padding:0px;")
      .hc-chunk
        div.blog-subscribe(style="margin-top:3.5em;")
          div To view the full-page Google Forms version,
            = ' '
            a(href="https://goo.gl/forms/7qInYuKYg3sl2u9y1", target="_blank") click here
            | .
            
        iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSem3e0msywn0ZQyCU5ZW8zcmovLbTiH5sqXOR-6SqSK0ishDg/viewform?embedded=true' width="100%" style="height:1350px;", frameBorder="0")
      
    include email-widget
