#project-schedule.hc-feature.lite.over-rel.padding
  h3.hc-feature-title.break Storecoin Project Schedule
  p.hc-feature-lead(style='max-width: 1140px;')
    | Storecoin is an ambitious and long-range technology initiative currently in deep R&D.
    
  p.hc-feature-lead(style='max-width: 1140px;')
    | We'll issue mini Token Sales as key Technology and Adoption milestones are achieved.
  
  p.hc-feature-lead(style='max-width: 1140px;')
    | We’re committed to 
    b Doing The Right Thing 
    | as we invent, introduce, and govern Storecoin.
    
  p.hc-feature-lead(style='max-width: 1140px;') Storecoin is taking a responsible, +thousand-year long term approach to building a secure and scalable public blockchain protocol.
    
  .container
    .timeline
      .center-line
      .year
        .name 2017
        .items
          .item.left
            .date
              span May
            .full-date May
            .box
              h2.title
                span.bullet 1
                | Storecoin	R&D	begins
              .content
                ul
                  li
                    i.ion-checkmark
                    |  Blockchain	Architect	added
                  li
                    i.ion-checkmark
                    |  Early engineering team added
                  li
                    i.ion-checkmark
                    |  R&D begins
                  li
                    i.ion-checkmark
                    |  Green Paper is started
                  li
                    i.ion-checkmark
                    |  Amazon	funds	Storecoin	R&D	with	AWS	credits

          .inverted.item.right
            .date
              span August 2017
            .full-date August 2017
            .box
              h2.title
                span.bullet 2
                | First Token Sale (7% sale)
              .content
                ul
                  li
                    i.ion-checkmark
                    |  Viable testing network set-up
                  li
                    i.ion-checkmark
                    |  Storecoin Green Paper is released
                  li 
                    i.ion-checkmark
                    |  Scalability testing begins
                  li
                    i.ion-checkmark
                    |  Security testing begins
                  li
                    i.ion-checkmark
                    |  Storecoin governance and Token Sales are aligned with the SEC’s July guidance
                  
          .item.left
            .date
              span December 2017
            .full-date December 2017
            .box
              h2.title
                span.bullet 3
                | Second Token Sale (3% sale)
              .content
                ul
                  li
                    i.ion-checkmark
                    |  Orange Paper released
                  li 
                    i.ion-android-time
                    |  VP Security Engineering added full-time
                  //- li 
                  //-   i.ion-android-time
                  //-   |  VP Consensus Engineering added full-time
                  //- li 
                  //-   i.ion-android-time
                  //-   |  VP Governance Engineering added full-time
                  li 
                    i.ion-android-time
                    |  Economics Paper released
                  li 
                    i.ion-android-time
                    |  Governance and Security Paper released
                  li 
                    i.ion-android-time
                    |  Scaling Paper released
                  li 
                    i.ion-android-time
                    |  Storecoin Alliance Network launched
                  li 
                    i.ion-android-time
                    |  Scalability testing moves to phase 2
                  li 
                    i.ion-android-time
                    |  Security testing moves to phase 2
      .year
        .name 2018
        .items
          .item.right
            .date
              span Q1
            .full-date 2018+
            .box
              h2.title
                span.bullet 4
                | Third Token Sale (4% sale)
              .content
                ul
                  li 
                    i.ion-record
                    |  v1 Storecoin Whitepaper released
                  li 
                    i.ion-record
                    |  Storecoin Proof of Concept #1 released
                  li 
                    i.ion-record
                    |  Storecoin v0.1 Developer API released
                  li 
                    i.ion-record
                    |  Storecoin Roadmap Announced
                  li 
                    i.ion-record
                    |  Open Source Development begins
                    
      .year
        .name 2019
        .items
          .item.left
            .date
              span Q1
            .full-date 2019+
            .box
              h2.title
                span.bullet 5
                | Fourth Token Sale (5% sale)
              .content
                ul
                  li 
                    i.ion-record
                    |  Storecoin Token gets issued to the wallet of all Token Buyers
                  li 
                    i.ion-record
                    |  Public Network v0.1 launches
                  li 
                    i.ion-record
                    |  Storecoin Wallet SDK launches
                  li 
                    i.ion-record
                    |  Storecoin Alliance launches initial apps on top of Wallet SDK
