extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      #research.hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h3.hc-feature-title(style="text-align:left;") Research
          div.researches
            div.item
              p.title
                b Blockfin
              p.desc A Public Overview
              div.row
                div.thumbnail
                  img(src='/images/empty.png', data-src="/images/blockfin-thumb-3.png")
                div.links
                  div.link 
                    a.underline(href="https://www.dropbox.com/s/bufva304y5mtuc3/BlockFin - Public Summary.pdf?dl=0", target="_blank") Download
                  div.link
                    a.underline(href="http://storeco.in/blockfin", target="_blank") View Online
            div.item
              p.title
                b Blockfin
              p.desc Technical Whitepaper
              div.row
                div.thumbnail
                  img(src='/images/empty.png', data-src="/images/blockfin-thumb.png")
                div.links
                  div.link 
                    a.underline(href="", target="_blank") Request Access
            div.item
              p.title
                b Blockfin
              p.desc Technical Presentation
              div.row
                div.thumbnail
                  img(src='/images/empty.png', data-src="/images/blockfin-thumb-2.png")
                div.links
                  div.link 
                    a.underline(href="", target="_blank") Request Access
            div.item
              p.title
                b March 2018 Load Test Results
              p.desc Storecoin Achieves +10,000 Transactions-Per-Second with Burst Traffic and 21 Validator Nodes using Tendermint
              div.row
                div.thumbnail
                  img(src='/images/empty.png', data-src="/images/blog/blog-load-testing-5-to-7.png")
                div.links
                  div.link 
                    a.underline(href="https://www.dropbox.com/s/vbf708pxnrp7bnh/Storecoin Achieves +10,000 Transactions-Per-Second with Burst Traffic and 21 Validator Nodes.pdf?dl=0", target="_blank") Download
                  div.link
                    a.underline(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") View Online
            div.item
              p.title
                b Basil
              p.desc An open-source proposal for improving the throughput of Tendermint
                span(style="font-size: 8px; vertical-align: super;") TM
              div.row
                div.thumbnail
                  img(src='/images/empty.png', data-src="/images/blog/blog-load-testing-5-to-7.png")
                div.links
                  div.link 
                    a.underline(href="https://www.dropbox.com/s/vbf708pxnrp7bnh/Storecoin Achieves +10,000 Transactions-Per-Second with Burst Traffic and 21 Validator Nodes.pdf?dl=0", target="_blank") Download
                  div.link
                    a.underline(href="https://github.com/StorecoinProject/Basil/blob/master/README.md", target="_blank") View Online
            div.item
              p.title
                b Pomelo Paper
              p.desc The pre-whitepaper overview of the Storecoin project
              div.row
                div.thumbnail
                  img(src='/images/empty.png', data-src="/images/research-thumb-1.png")
                div.links
                  div.link 
                    a.underline(href="", target="_blank") Download
                  div.link
                    a.underline(href="http://storeco.in/", target="_blank") View Online
