extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') STORECOIN ROADMAP
    
    #hc-roadmap.hc-feature.lite.over-rel.padding
      .hc-chunk.hc-roadmap-text-wrapper
        .hc-roadmap-phases
          h1 PHASES
          p 0/9 COMPLETED
        hr
        .row
          #card-1.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-2.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-3.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
        .row
          #card-4.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-5.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-6.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
        .row
          #card-7.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-8.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-9.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
        .row
          #card-10.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-11.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-12.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
        .row
          #card-13.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-14.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-15.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
        .row
          #card-16.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden
          #card-17.four.columns.task-card.truncate
            .card-head
              h5
              hr
              .progress.row
                .six.columns.comp-percent
                .six.columns.num-tasks
            .card-circle-progress
            .card-desc
              h6 DESCRIPTION
              p
            hr
            .progress-bars
              .bar-head
                h6
                  i.ion-chevron-down
                  | TASKS
                p
              .bars.hidden

      
    include email-widget
