#six-engines.hc-feature.over-rel.padding.inverted
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.inverted The Six Engines of DyPoS
    
    p.hc-feature-lead Dynamic Proof of Stake is made up of six interdependent engines.

    p.hc-feature-lead Each engine is based on similar dynamic supply and demand principles as Uber Surge Pricing. Prices for all six engines are driven by real-time threat levels in the 
      a.underline.open-modal.orange-color(data-modal="#dypos-modal", data-goto="0") 
        b Storecoin Security System.

    p.hc-feature-lead Governance in DyPoS is inspired by the checks and balances of the U.S. Constitution. Govnodes – a new type of Worker – ensures that Governance is decentralized.
    
    div.click-message
      div.message-container
        span Click a Card to Learn More
      
    div.desktop-image      
      div.engines
        div.engine
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-transactions-v2.png")
            div.title Dynamic (free) Transactions
          .back
            h5 Dynamic (free) Transactions
            p To secure transactions, a small security bond is required with each transaction that is returned to the sender, with interest, once the transaction is determined by dGuards to not be spam or an attack.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal", data-goto="4") Learn More
        div.engine.right
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-validation-v3.png")
            div.title Dynamic Validation
          .back
            h5 Dynamic Validation
            p An unlimited number of Validators can participate in Consensus. No single Validator ever has greater than 5% odds of winning the Block Reward. Every Validator has a chance at winning each new block. Decentralization is maximized. Each Validator has an eAgent that functions within a Master Node network.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal", data-goto="6") Learn More
      div.engines
        div.engine
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-rewards-v2.png")
            div.title Dynamic Block Rewards
          .back
            h5 Dynamic Block Rewards
            p Capped, yearly token inflation of 5% is used to pay Block Rewards to four types of blockchain Workers: Validators, eAgents, dGuards, and Govnodes. Their rewards are dynamic and based upon Security Threat Levels and real-time supply and demand. Storecoin takes 1% of inflation to endow blockchain security, engineering, governance, and operations.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal", data-goto="8") Learn More
        div.engine.right
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-security-v2.png")
            div.title Dynamic dSecurity
          .back
            h5 Dynamic dSecurity
            p The Storecoin Threat Level System determines real-time prices for DyPoS. dGuards study transactions and Validator activity and report potential spam or attacks to Storecoin, Inc. dGuards earn +50% of the stake or the bond of the found bad actors. The rest is burnt.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal", data-goto="0") Learn More
      div.engines
        div.engine
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-scaling-v2.png")
            div.title Scaling with eAgents
          .back
            h5 Scaling with eAgents
            p To scale blockchain transactions by making validation instant – without expensive and unnecessary network hops – Storecoin is introducing the concept of an encrypted Agent – or an eAgent. It's similar to Power of Attorney but with Merkle hashes. eAgents are Master Nodes on Storecoin.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal", data-goto="10") Learn More
        div.engine
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png")
            div.title Governance with Checks and Balances
          .back
            h5 Governance with Checks and Balances
            p Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc. will have executive power. All communication and voting data that enables Governance are hosted by decentralized Govnodes.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal", data-goto="12") Learn More
    div.mobile-image
      div.engines
        div.engine.open-modal(data-modal="#dypos-modal", data-goto="4")
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-transactions-v2.png")
            div.title Dynamic (free) Transactions
          .back
            h5 Dynamic (free) Transactions
            p To secure transactions, a small security bond is required with each transaction that is returned to the sender, with interest, once the transaction is determined by dGuards to not be spam or an attack.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal") Learn More
        div.engine.right.open-modal(data-modal="#dypos-modal", data-goto="6")
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-validation-v3.png")
            div.title Dynamic Validation
          .back
            h5 Dynamic Validation
            p An unlimited number of Validators can participate in Consensus. No single Validator ever has greater than 5% odds of winning the Block Reward. Every Validator has a chance at winning each new block. Decentralization is maximized. Each Validator has an eAgent that functions within a Master Node network.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal") Learn More
      div.engines
        div.engine.open-modal(data-modal="#dypos-modal", data-goto="8")
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-rewards-v2.png")
            div.title Dynamic Block Rewards
          .back
            h5 Dynamic Block Rewards
            p Capped, yearly token inflation of 5% is used to pay Block Rewards to four types of blockchain Workers: Validators, eAgents, dGuards, and Govnodes. Their rewards are dynamic and based upon Security Threat Levels and real-time supply and demand. Storecoin takes 1% of inflation to endow blockchain security, engineering, governance, and operations.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal") Learn More
        div.engine.right.open-modal(data-modal="#dypos-modal", data-goto="0")
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-security-v2.png")
            div.title Dynamic dSecurity
          .back
            h5 Dynamic dSecurity
            p The Storecoin Threat Level System determines real-time prices for DyPoS. dGuards study transactions and Validator activity and report potential spam or attacks to Storecoin, Inc. dGuards earn +50% of the stake or the bond of the found bad actors. The rest is burnt.
            a.engine-learn-more Learn More
      div.engines
        div.engine.open-modal(data-modal="#dypos-modal", data-goto="10")
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-scaling-v2.png")
            div.title Scaling with eAgents
          .back
            h5 Scaling with eAgents
            p To scale blockchain transactions by making validation instant – without expensive and unnecessary network hops – Storecoin is introducing the concept of an encrypted Agent – or an eAgent. It's similar to Power of Attorney but with Merkle hashes. eAgents are Master Nodes on Storecoin.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal") Learn More
        div.engine.open-modal(data-modal="#dypos-modal", data-goto="12")
          .front
            img(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png")
            div.title Governance with Checks and Balances
          .back
            h5 Governance with Checks and Balances
            p Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc. will have executive power. All communication and voting data that enables Governance are hosted by decentralized Govnodes.
            a.engine-learn-more.open-modal(data-modal="#dypos-modal") Learn More

  div.engine-modals            
    div#dypos-modal.engine-modal.ui.modal
      i.ion-android-close
      .engine-slider
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-security-v2.png", style="width:100%; max-width:150px;")
              h3.hc-feature-title Dynamic dSecurity 
              p.hc-feature-lead The Storecoin Threat Level System determines real-time prices for DyPoS. dGuards study transactions and Validator activity and report potential spam or attacks to Storecoin, Inc. dGuards earn +50% of the stake or the bond of the found bad actors. The rest is burnt.

        .slide
          .security-system-lite.hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/red-caution.png", align="top") 
                | The Storecoin Threat Level System 
              p.hc-feature-lead p.hc-feature-lead The Storecoin Threat Level System powers real-time market prices for the Six Engines of DyPoS. The System threat level algorithmically updates as transaction volumes rise and fall. As threat levels rise, the cost of spam and attacks rise too.
              div.hazard-boxes
                div.box.red
                  h3 Severe
                  p Severe risk of an attack or an spam
                div.box.skin
                  h3 High
                  p High risk of an attack or an spam
                div.box.yellow
                  h3 Elevated
                  p Significant risk of an attack or an spam
                div.box.blue
                  h3 Guarded
                  p General risk of an attack or an spam
                div.box.green
                  h3 Low
                  p Low risk of an attack or an spam
                  
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-security-mini.png", align="top")
                span How dGuards Secure the Blockchain
              p.hc-feature-lead dGuards are the decentralized security network on Storecoin that secures the blockchain by finding bad actors across the validator pool, the Wallet SDK network, and in transactions. dGuards run full nodes to study transactions and validator behavior. They're rewarded with +50% of the burned stake from bad validators or +50% of the security bond from bad senders.
              .hc-image
                img(src='/images/empty.png', data-src="/images/how-dynamic-sec-works-v4.png")
                  
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-security-mini.png", align="top")
                span How Storecoin Addresses the Double Spend Problem
              p.hc-feature-lead Storecoin’s Dynamic Proof of Stake protocol solves the double spend problem by implementing harsh penalties for getting caught, thus making it unprofitable for the bad actor to engage in such activity.
              .hc-image
                img(src='/images/empty.png', data-src="/images/double-spend-problem.png")
                  
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-transactions-v2.png", style="width:100%; max-width:150px;")
              h3.hc-feature-title Dynamic (free) Transactions
              p.hc-feature-lead To secure transactions, a small security bond is required with each transaction that is returned to the sender, with interest, once the transaction is determined by dGuards to not be spam or an attack.

        .slide          
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-transactions-v2.png", align="top")
                span How Free Transactions are Secured With Bonds
              p.hc-feature-lead To prevent Storecoin from a DDoS attack or from the blockchain being flooded with spammy transactions, Storecoin adds a refundable – with interest! – security bond to each transaction.
              .hc-image
                img(src='/images/empty.png', data-src="/images/how-dynamic-transaction-works-v4.png")
                   
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-validation-v3.png", style="width:100%; max-width:150px;")
              h3.hc-feature-title Dynamic Validation
              p.hc-feature-lead An unlimited number of Validators can participate in Consensus. No single Validator ever has greater than 5% odds of winning the Block Reward. Every Validator has a chance at winning each new block. Decentralization is maximized. Each Validator has an eAgent that functions within a Master Node network.

        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-validation-v3.png", align="top")
                span The Block Proposer is Chosen 
              p.hc-feature-lead A new block proposer is chosen through Dynamic Validation – a patent pending algorithm that optimizes for consensus decentralization. It combines relative token stake, dynamic weighting, and a lottery to give every validator a chance at being selected block proposer.
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-validation-flow.png") 
                
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-rewards-v2.png", style="width:100%; max-width:150px;")
              h3.hc-feature-title Dynamic Block Rewards
              p.hc-feature-lead Capped, yearly token inflation of 5% is used to pay Block Rewards to four types of blockchain Workers: Validators, eAgents, dGuards, and Govnodes. Their rewards are dynamic and based upon Security Threat Levels and real-time supply and demand. Storecoin takes 1% of inflation to endow blockchain security, engineering, governance, and operations.
              
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-rewards-v2.png", align="top")
                span How Free Transactions are Financed
              p.hc-feature-lead Transactions are free for users because they are paid for with capped, yearly token inflation of 5%. 2.5% is paid to eAgents, 1.5% to validators, and 1% endows Storecoin to secure, build, and operate the blockchain.
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-reward-flow-v5.png") 
                
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-scaling-v2.png", style="width:100%; max-width:150px;")
              h3.hc-feature-title Scaling with eAgents
              p.hc-feature-lead To scale blockchain transactions by making validation instant – without expensive and unnecessary network hops – Storecoin is introducing the concept of an encrypted Agent – or an eAgent. It's similar to Power of Attorney but with Merkle hashes. eAgents are Master Nodes on Storecoin.

        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-scaling-v2.png", align="top")
                span How Instant Blockchian Scaling Happens 
              p.hc-feature-lead To scale blockchain transactions by making validation instant – without expensive and unnecessary network hops – Storecoin is introducing the concept of an "eAgent". It's similar to Power of Attorney giving one entity the authority to executive private transactions on another entity's behalf. This is called Dynamic Scaling.
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-scaling-flow.png") 
                
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              .hc-image
                img(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png", style="width:100%; max-width:150px;")
              h3.hc-feature-title Governance with Checks and Balances
              p.hc-feature-lead Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power. For the first 4 years, Storecoin, Inc. will have executive power. All communication and voting data that enables Governance are hosted by decentralized Govnodes.
              

        .slide
          .hc-feature.over-rel.padding.hc-engine-governance
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png", align="top") 
                | The Four Branches of Storecoin Governance
              p.hc-feature-lead Storecoin Governance is inspired by the United States Constitution where checks and balances ensure that: a) Security Matters Most and b) No Centralization of Power.
              .hc-image
                img(src='/images/empty.png', data-src="/images/gov-branches-v4.png")
                  
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png", align="top") 
                | How Governance is Hired 
              p.hc-feature-lead For the first 4 years, Storecoin, Inc. will have executive power over the blockchain. Then, our security-first Governance will guide all Changes to leadership, to features, and to Governance itself.
              .hc-image
                img(src='/images/empty.png', data-src="/images/gov-hired-v4.png")
                  
        .slide
          #checks-balances-work.hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png", align="top") 
                | How Checks and Balances Work
              p.hc-feature-lead 
                | How protocol changes, security fixes, and Governance amendments are made.
              div.sub-text.italics.color-red (The Charter)
              .hc-image
                img(src='/images/empty.png', data-src="/images/checks-balances-work-v8.png")
                  
        .slide
          .hc-feature.over-rel.padding
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-governance-v2.png", align="top") 
                | How Every Storecoin Token Owner Can Create Change 
              div.sub-text.italics.color-red (Democracy)
              .hc-image
                img(src='/images/empty.png', data-src="/images/token-owner-v5.png")
                  
        .slide
          .hc-feature.over-rel.padding.inverted.orange.left-align
            .hc-chunk.hc-customize-text-wrapper
              h3.hc-feature-title.title-icon
                img.icon(src='/images/empty.png', data-src="/images/dynamic-governance-mini-inverted.png", align="top") 
                | Why Governance Matters 
              p.hc-feature-lead Governance takes a system that has been vetted for hundreds of years – the U.S. Constitution – but removes the politics and replaces it with technology.
              p.hc-feature-lead
                | With Governance, Storecoin will:
              ul(style='list-style:disc; margin-left: 1em;')
                li Operate with yearly income that funds blockchain security, engineering, governance, and OpEx
                li Make changes only if they can be secured
                li Mitigate spam, attacks, and fraud throughout the entire blockchain ecosystem
                li Prevent malicious activity such as a hard fork
                li Maximize decentralization in Consensus
                li Ensure that Governance is decentralized
                li Give every token holder a voice
                li Allow application developers to deliver crypto-powered free transactions for users, forever
