div#social-nav
  a.item(href="http://t.me/storecoin", target="_blank")
    img(src="/images/telegram-logo.png", style="width: 30px;")
  a.item(href="http://facebook.com/storecointeam", target="_blank")
    i.ion-social-facebook
  a.item(href="http://twitter.com/storecoin", target="_blank")
    i.ion-social-twitter
  a.item(href="http://instagram.com/storecointeam", target="_blank")
    i.ion-social-instagram
  a.item(href="http://github.com/storecoinproject", target="_blank")
    i.ion-social-github
  a.item(href=URL('/subscribe'), target="_blank")
    i.ion-email
