#storecoin-vs-blockchains.hc-feature.over-rel.padding.inverted.storeco-vs-blchains
  .hc-chunk.hc-intro-text-wrapper
    h3.hc-feature-title Storecoin vs. Other Public Blockchains
    p.hc-feature-lead What it would cost to buy 1 one-hundredth of a percent of all tokens minted in the first 10 years for major public blockchains.
    .hc-image
      img(src="/images/comparison-chart.png", style="width:100%; max-width: 700px;")
    .link-container
      a.link-text.see-more(data-link='.zcash-text', data-margin="0,0", data-scroll="false", data-back="true", data-inner="See More<i class=\"ion-ios-arrow-down\"></i>, See Less<i class=\"ion-ios-arrow-up\"></i>")
        | See More
        i.ion-ios-arrow-down
    p.zcash-text.hc-feature-lead.hint-text.see-more-reveal(style="margin-bottom:0px;") The Zcash price of $250 is a snapshot of the price as of Nov 9th, 2017. The "Filecoin (first hour)" price of $2.25 factors in a 15% discount off of $2.65 (the price during the first hour of the sale) as a result of the 2-year unlocking option. The Tezos price of $0.39 is the effective price paid on the first day of the main sale, taking into account the 20% bonus and an average Bitcoin price of $2,350 on July 1. The EOS price of $1.90 is based on the pre-launch trading price on November 22, 2017. EOS was assumed to have 5% annual inflation starting at 1 billion tokens.
