#storecoin-roadmap.hc-feature.over-rel.lite.padding
  .hc-chunk.hc-customize-text-wrapper
    div.header
      h3.hc-feature-title Storecoin
        img(src='/images/empty.png', data-src="/images/storecoin-logo.png")
      p.hc-feature-lead 
        b +8-YEAR ROADMAP
      p.caption.footer-text *subject to change
      
    div.roadmap-years
      img(src='/images/empty.png', data-src="/images/roadmap-years-v2.png")
    
    div.row  
      div.roadmap-lists
        div.list
          div.head
            b Storecoin Launch
            img(src='/images/empty.png', data-src="/images/ico-rocket.png")
          ul
            li High-throughput consensus, up to 5,000+ transactions per second
            li Up to 220 validators; 22 launches the protoco
            li It is permissionless to perform work for the protocol but KYC/AML data is required for all types of decentralized workers; this enables future global KYC/AML compliance
            li
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png", style="margin-left:0px;")
              | achieves censorship resistance because of the growing number of decentralized workers securing the protocol; rewards for workers grow as the number of workers grows; rewards are paid through token inflation capped at 2%/year
            li The Storecoin Ecosystem Fund launches
            li Key patents are secured to protect against malicious hard forks outside of Governance
            li A secure engineering and CI/CD process is built to protect private keys from theft by any and all project contributors
            
        div.list
          div.head
            img(src='/images/empty.png', data-src="/images/storecoin-logo.png", style="margin-left: 0px; margin-right: 0.3em;")
            b Wallet Released
            img(src='/images/empty.png', data-src="/images/ico-key.png")
          ul
            li Wallet distributes private keys
            li Private keys distributed to owners
        
        div.column-head 
          b ZERO-FEE, P2P PAYMENTS

      div.roadmap-lists
        div.list
          div.head
            b Storecoin Growth
            img(src='/images/empty.png', data-src="/images/ico-chart-up.png")
          ul
            li Up to 20,000 validator node participation
            li 50,000+ transactions per second
            li Once a threshold of 220 validators are reached, Decentralized Security Guard nodes (dGuards) are added to find bad actors throughout the protocol
            li Masternodes/eAgents are introduced for better throughput once +300 Validators are reached (Level 2 scaling)
            li The Storecoin Security Fund begins accruing block rewards
            li Communication and Voting for Governance is hosted by decentralized Govnode workers making
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png")
              |  Governance censorship resistant
            li U.S. Money Transmitter Licenses achieved
            li 
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png", style="margin-left:0px;")
              |  moved to a non-profit foundation
            
        div.list
          div.head
            b Store-of-Value Achieved
            img(src='/images/empty.png', data-src="/images/ico-lock-orange.png", style="width:17px;")
          ul
            li 51% of the STORE circulating supply is staked by decentralized workers (dWorkers
            li 49% of the circulating supply is available for zero-fee, p2p payments

        div.list
          div.head
            b Developer API
            img(src='/images/empty.png', data-src="/images/ico-api.png")
          ul
            li Wallet APIs for a programmable p2p currency
            li Built for mobile and web app developers
            li 
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png", style="margin-left:0px;")
              |  Wallet is like Stripe but for STORE tokens
        
        div.column-head 
          b $STORE PAYMENTS MATURE
          
      div.roadmap-lists
        div.list
          div.head
            img(src='/images/empty.png', data-src="/images/storecoin-logo.png", style="margin-left: 0px; margin-right: 0.3em;")
            b APIs Mature
          ul
            li Stripe-like Wallet APIs enable third party app developers to build on top of the Storecoin blockchain using STORE tokens in their apps
            li The Storecoin Ecosystem Fund accelerates adoption of Wallet
            li Developers stake tokens to use Wallet; this helps prevent DDOS attacks
            
        div.list
          div.head
            b In-App Incentives
            img(src='/images/empty.png', data-src="/images/ico-wallet.png")
          ul
            li Powers in-app, incentivized API calls with
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png")
            li Developers register their app and choose APIs
            li Users earn
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png") 
              | by taking incentivized API calls
            li cApps are the first design space for
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png")
                
        div.list
          div.head
            b In-App Payments
            img(src='/images/empty.png', data-src="/images/ico-bag.png")
          ul
            li Powers in-app, fee-less payments with
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png")
                
        div.list
          div.head
            b Smart Contracts
            img(src='/images/empty.png', data-src="/images/ico-contract.png", style="width: 19px;")
          ul
            li Native protocol support for smart contracts
            li Smart contract client libraries in different languages
            li Smart contracts pave the way for
              img(src='/images/empty.png', data-src="/images/storecoin-logo.png")
              | to move into the cash register
        
        div.list
          div.head
            b High-throughput Transactions
            img(src='/images/empty.png', data-src="/images/ico-blockchain.png")
          ul
            li 250,000+ transactions per second
            
        div.list
          div.head
            b Global Consensus
            img(src='/images/empty.png', data-src="/images/ico-globe.png")
          ul
            li 222,000+ Validator nodes
        
        div.column-head 
          b STORE-AS-A-PLATFORM 
            
      div.roadmap-lists 
        div.list
          div.head
            b Ready for Cash Registers
            img(src='/images/empty.png', data-src="/images/ico-cash-reg.png")
          ul
             li Using smart contracts, Storecoin can solve for Chargebacks
             li Merchants wanting to accept zero-fee payments would stake a small percentage of inventory to insure against potential chargebacks
             li Decentralized Service Agents – sAgents – review and reach consensus on all Chargeback cases. A smart contract then executes         
               
        div.list
          div.head
            b Payment Fraud Supported
            img(src='/images/empty.png', data-src="/images/ico-shield.png")
          ul
             li Users stake tokens to file fraud tickets
             li sAgents review fraud tickets from customers
             li If approved, the fraud is reviewed by the non-profit (the non-profit makes a final determination on early fraud cases)
             li Fraud refunds are paid for by the Storecoin Security Fund and/or by equally using the stake of all dWorkers
             li If payment fraud grows, dWorkers and the non-profit are both equally incentivized to fix fraud through Governance
             li Governance will likely reach consensus on new features and monetary policy to reduce future fraud
              
        div.list
          div.head
            b Global KYC/AML Compliance
            img(src='/images/empty.png', data-src="/images/ico-law.png")
          ul
            li KYC and AML checks are compliant with the laws and national security demands of 190+ countries; this logic is hard coded into all decentralized worker nodes
            li If the laws of country X prevent transactions from being processed by decentralized nodes in country Y, the Storecoin protocol will support this natively, on chain
            li A long-term, security-first approach to building globally compliant infrastructure for zero-fee, p2p payments will give Storecoin developers the best opportunity to be embedded into banking and financial infrastructure around the globe.
        
        div.column-head 
          b $STORE AS GLOBAL CURRENCY
