#comparison-table.hc-feature.over-rel.padding.inverted
  .hc-chunk.hc-customize-text-wrapper
    h2.hc-feature-title(style="margin-left: auto; margin-right: auto; max-width: 940px;") Storecoin is aiming to become the best blockchain protocol for permanently free, fast, and scalable payments
    div.table-container
      table
        thead
          tr
            th
            th Speed
              br
              span (per transaction)
            th Cost
              br
              span (per transaction fees)
            th Scalibility
              br
              span (transactions per second)
        tbody
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/logo.png") 
                span Storecoin
              span.note *Estimates are from live R&D results.
                br
                |  Read our last published results 
                a(style="color:#e97844;", href="https://medium.com/@storecoin/load-testing-storecoins-dynamic-proof-of-stake-consensus-algorithm-test-1-of-7-a4b31faf3c63", target="_blank") here.
            td 2.27 secs
            td Free
            td(title="<ul><li>5,000 TPS (Validator-only mode)</li><li>100,000+ TPS (with eAgent Master Nodes)</li></ul>")
              div.hide-overflow 5,000 TPS (Validator-only mode)
                br
                | 100,000+ TPS (with eAgent Master Nodes)
              div.orange-color.see-more See More
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/bitcoin-logo.png") 
                span Bitcoin
            td 45 mins
            td $4.12
            td 3-4 TPS
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/eth-light-logo.png") 
                span Ethereum
            td 4.49 mins
            td $0.33
            td 16 TPS
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/dash-logo.png") 
                span Dash
            td 15 mins
            td $0.39
            td 12 TPS
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/eos-logo.png") 
                span EOS
              span.note *Claims from whitepaper and blog posts
            td 3 secs
            td(title="The developer must buy and stake tokens to enable free transaction between users.") 
              div.hide-overflow The developer must buy and stake tokens to enable free transaction between users.
              div.orange-color.see-more See More
            td 50,000 TPS
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/tezos-logo.png") 
                span Tezos
              span.note *Claims from whitepaper and blog posts
            td 60 secs
            td Fees, but undetermined
            td No data available
