.hc-feature.over-rel.padding.inverted
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title The Problem
    p.hc-feature-lead When accepting payments from credit cards, debit cards, and ACH, Merchants and Developers pay fees of +2.5% plus $0.30 for every transaction.
    p.hc-feature-lead Merchants and Developers hate these fees.
    hr
    h3.hc-feature-title The Opportunity
    p.hc-feature-lead These transaction fees represent a $21 Trillion global opportunity for a trusted, high-throughput, and censorship resistant cryptocurrency.
    hr
    h3.hc-feature-title Our Solution
    p.hc-feature-lead 
      b Storecoin:
      |  The world’s first-ever zero-fee, programmable cryptocurrency that is decentralized, fast, secure, and supported by an enterprise-grade Governance that can be understood and trusted by the largest organizations in the world.
    hr
    h3.hc-feature-title Why it Matters
    p.hc-feature-lead To get distribution into cash registers, App Stores, and banking infrastructure around the world, Storecoin will cut distribution partners into its block reward.
    p.hc-feature-lead Instead of getting paid by transaction fees, they’ll get paid with STORE tokens.
    hr
    h3.hc-feature-title Why Storecoin Wins
    p.hc-feature-lead(style="margin: 0px;") Making programmable, p2p payments zero-fee while still generating revenue for its banking and financial partners is how Storecoin competes with VISA-like networks and beyond.
      
