#disclaimer.intro-popup(style="display:none; text-align:left; font-size:1em; margin-top: 2em;")
  h4 DISCLAIMER
  p Storecoin's data is based upon internal research materially as described
    a.underline(href="https://storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") here
    |  and
    a.underline(href="http://storeco.in/blockfin", target="_blank") here
    | . Storecoin does not assure that performance of Storecoin in a real-world use case would match performance exhibited in Storecoin’s research. All other data sourced as provided without further analysis or verification by Storecoin. Comparisons between Storecoin and other identified distributed ledger technology may not be based upon uniform testing standards and procedures.
  br
  p Nothing herein is intended to be an offer to sell or solicitation of offer to buy, Storecoin tokens or rights to receive Storecoin tokens in the future. In the event that Storecoin conducts an offering of Storecoin tokens (or rights to receive Storecoin tokens in the future), Storecoin will do so in compliance with all applicable laws which may include the Securities Act of 1933 and the rules and regulations promulgated thereunder, as well as applicable state and foreign law. Any offering for sale to US Persons in a regulated transaction will be pursuant to a registration statement qualified by the Securities and Exchange Commission, or an applicable exemption from the registration requirements.

- var seemMoreList = "<ul><li>10,100 TPS<br><span style='font-size:0.8em;'>in a 21-validator test setup with DyPoS built on Tendermint</span></li> <li>159,700+ TPS<br><span style='font-size:0.8em;'>in a 8-validator test setup with DyPoS build on Tendermint</span></li> <li>5,000 TPS at launch<br><span style='font-size:0.8em;'>unlimited validators w/DyPoS built on Storecoin's BlockFin</span></li> <li>100,000+ projected TPS<br><span style='font-size:0.8em;'>unlimited validators with DyPoS</span></li></ul>"

#comparison-table.hc-feature.over-rel.padding.inverted
  .hc-chunk.hc-customize-text-wrapper
    h2.hc-feature-title(style="margin-left: auto; margin-right: auto; max-width: 940px;") Storecoin aims to become the preferred cryptocurrency for permanently free, fast and scalable payments.
    div.table-container.comparison-1
      table
        thead
          tr
            th
            th Speed
              br
              span (per block)
            th Cost
              br
              span (per transaction fees)
            th Scalibility
              br
              span (transactions per second)
        tbody
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/logo.png")
                div
                  span Storecoin
                  span(style="margin-left: 4px; font-size: 0.65em;")  (STORE)
              span.note.no-wrap *Estimates
                =' '
                a(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") based upon our current R&D
                | .
            td +100 milliseconds
              span.note *Dependent upon the incoming transaction rate and parallelism achieved.
            td Free
              span.note Paid for with up to 2% yearly token inflation. Inflationary rewards grow as the number of decentralized workers grows
            td
              div.hide-overflow 
                //- | 10,100 TPS
                //-span.note
                  a(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") in a 21-validator test setup with DyPoS built on Tendermint
                //-| 159,700+ TPS
                //-span.note
                  a(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") in a 8-validator test setup with DyPoS build on Tendermint
                | 5,000+ TPS at launch
                span.note using 200 validators w/DyPOS built on Storecoin's BlockFin
                | 100,000+ projected TPS
                span.note using Masternodes and
                  b  unlimited
                  |  validators with DyPoS
              div.orange-color.see-more(title=seemMoreList) See More
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/bitcoin-logo.png")
                div
                  span Bitcoin
                  span(style="margin-left: 4px; font-size: 0.65em;")  (BTC)
            td 10 mins
            td $0.40 to $4.00+
            td 3-7 TPS (Scalibility)
              span.note +12000 active Miners
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/eth-light-logo-v2.png")
                div
                  span Ethereum
                  span(style="margin-left: 4px; font-size: 0.65em;")  (ETH)
            td 13-15 secs
            td $0.16 to $0.33+
            td 15-20 TPS
              span.note +21,000 active Miners
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/dash-logo-v2.png")
                div
                  span Dash
                  span(style="margin-left: 4px; font-size: 0.65em;")  (DASH)
            td 2.63 mins
            td $0.39 to $0.58+
            td 48 TPS
              span.note +4,800 active Masternodes
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/eos-logo-v2.png")
                div
                  span EOS
                  span(style="margin-left: 4px; font-size: 0.65em;")  (EOS)
              span.note.no-wrap *Claims from whitepaper and blog posts
            td 0.5 secs
            td Free
              span.note Paid for with 5% yearly token inflation. Developers must buy and stake tokens to enable free transaction (a SaaS model)
            td No data available, 50,000 claimed
              span.note 21 maximum Block Producers
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/ripple-logo-v2.png")
                div
                  span Ripple
                  span(style="margin-left: 4px; font-size: 0.65em;")  (XRP)
            td 2-4 secs
            td 0.00001 XRP
              span.note Equivalent to a fraction of a penny
            td 1,500 TPS
              span.note 70+ Validators
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/cardano-logo-v2.png")
                div
                  span Cardano
                  span(style="margin-left: 4px; font-size: 0.65em;")  (ADA)
              span.note.no-wrap *Claims from whitepaper and blog posts
            td 20 secs
            td ~0.15 ADA
              span.note Equivalent to $0.035 USD
            td 250 TPS
              span.note No data available for decentralization
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/stellar-logo.png")
                div  
                  span Stellar
                  span(style="margin-left: 4px; font-size: 0.65em;")  (XLM)
            td 3-5 secs
            td Fraction of a penny
              span.note Fees go into a pool that is distributed back to the community via inflation spending
            td 1,000 TPS
              span.note 28 active Validators
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/tezos-logo-v2.png")
                div
                  span Tezos
                  span(style="margin-left: 4px; font-size: 0.65em;")  (XTZ)
              span.note.no-wrap *Claims from whitepaper and blog posts
            td 60 secs
            td Fees, but undetermined
            td No data available
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/neo-logo.png")
                div
                  span Neo
                  span(style="margin-left: 4px; font-size: 0.65em;")  (NEO)
            td 15 to 24 secs
            td Free for basic transactions
              span.note Undetermined fees for smart contact-based transactions
            td 1,000 TPS
              span.note 7 hard-coded Validators

    div.caption.footer-text
      p(style="text-align: right;") *Data updated as of March 2018
      p(style="text-align: right;") *View data at
        = ' '
        a.underline(href="http://storeco.in/compare") http://storeco.in/compare

    h2.hc-feature-title(style="margin: 2em auto 1em; max-width: 940px;") How Storecoin compares to traditional, flat-powered payment infastructure
    div.table-container.comparison-2(style="margin-bottom: 0px;")
      table
        thead
          tr
            th Payment System
            th Speed
            th Cost
              br
              span (per transaction fee)
            th Scalibility
              br
              span (transactions per second)
        tbody
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/logo.png")
                div
                  span Storecoin
                  span(style="margin-left: 4px; font-size: 0.65em;")  (STORE)
              span.note.no-wrap *Estimates
                =' '
                a(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") based upon our current R&D
                | .
            td +100 milliseconds
              span.note *Dependent upon the incoming transaction rate and parallelism achieved.
            td Free
              span.note Paid for with up to 2% yearly token inflation. Inflationary rewards grow as the number of decentralized workers grows
            td
              div.hide-overflow 
                //- | 10,100 TPS
                //-span.note
                  a(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") in a 21-validator test setup with DyPoS built on Tendermint
                //-| 159,700+ TPS
                //-span.note
                  a(href="https://news.storeco.in/blog/storecoin-achieves-10,000-transactions-per-second-with-burst-traffic-and-21-validator-modes", target="_blank") in a 8-validator test setup with DyPoS build on Tendermint
                | 5,000+ TPS at launch
                span.note using 200 validators w/DyPOS built on Storecoin's BlockFin
                | 100,000+ projected TPS
                span.note using Masternodes and
                  b  unlimited
                  |  validators with DyPoS
              div.orange-color.see-more(title=seemMoreList) See More
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/visa-logo-v2.png")
                span Visa
            td Swipe Card: < 2 secs
              br
              | Chip Card: < 5 secs
            td $0.10 plus a 1.51% of transaction fee
            td Up to 24,000 TPS
              span.note -5,000 TPS is generally believed for VISA
              span.note 1,600 network endpoints
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/paypal-logo-v2.png")
                span PayPal
            td Less than 2 seconds for PayPal but 3-5 days for banks to process
            td $0.30 plus %2.9, varies for foreign payments
            td 450 TPS
              span.note Centralized servers hosted by PayPal
          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/stripe-logo.png")
                span Stripe
            td Near Instant
            td 2.9% + $0.30 for each successful card charge
            td 20 TPS (rate-limited by Stripe)
              span.note Likely near-instant payments

          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/western-union.png")
                span Western Union
            td A few minutes to a few days
            td 10% for small transactions
               br
               | 1% for larger transactions
            td 30 TPS
              span.note Centralized servers hosted by Western Union 500,000+ locations

          tr
            td
              div.name-icon
                img.icon(src='/images/empty.png', data-src="/images/swift-logo.png")
                span SWIFT
            td 1 to 5 days
            td $15-$35 for Domestic
               br
               | $15-$45 for International
            td 350 TPS
              span.note Provides communication for 10,000,000+ institutions

    div.caption.footer-text
      p(style="text-align: right;") *Data updated as of March 2018
      p(style="text-align: right;") *View data at
        = ' '
        a.underline(href="http://storeco.in/compare") http://storeco.in/compare

    p.footer-text(style="text-align: right; margin-top: 2em;")
      a.underline(data-featherlight="#disclaimer") DISCLAIMER
