#storecoin-in-the-news.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title Storecoin in the News
    div.news-section
      div.head
        img(src='/images/empty.png', data-src="/images/bitcoin-news-logo.png")
        span July 15, 2018
      div.detail
        h5
          b Governance is a Tough Nut to Crack
        p As well-known crypto commenter Nic Carter 
          = ' '
          a mused
          | , "Creating a cryptocurrency corrupts...  creating a billion-dollar cryptocurrency corrupts absolutely." Due to huge economic incentives at stake, getting token-holders to act in the interests of the community, rather than fixating on their own pecuniary gains, is a tall order. 
          = ' '
          a Storecoin
          |  is a zero-fee, high throughput blockchain whose most interesting feature is not a technical one — it's a human one.

        p
          img.logo(src='/images/empty.png', data-src="/images/logo-v1.png")
          | It's creator, Chris McCoy, explains: "For today's public blockchains to move past prototypes and low usage dApps — to where entities trust a decentralized blockchain enough to process $10 million+ of utility -based daily transaction volume — blockchains need an enforceable rules engine that no centralization of power, that key network participants trust, and that is censorship resistant. To shape the future of trade and commerce, blockchains need an enterprise-grade governance [model] that is trusted, enforceable, and reaches finality in a democratic process."

        p Storecoin's governance is inspired by the US constitution, with consensus on change, McCoy explains, "reached by four separate branches that check and balance each other on protocol-level, key people, and monetary policy decisions". Another blockchain that relies on a constitution, EOS, has come in for flak, prompting its founder Dan Larimer to return to the drawing board to draft a new one. MakerDAO, meanwhile, has been conducting 
          = ' '
          a deep research
          |  into a "governance risk framework" that aims to diversify trust in trustless systems.
      
