#token-sale-buyers.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title(style="margin-bottom: 1.5em;") Our Token Partners
    #hc-buyers-slider.logo-slider
      .slide
        a(href="http://blocktower.com", target="_blank")
          img(src='/images/empty.png', data-src='/images/blacktower-logo.png')
      .slide
        a(href="http://arringtonxrpcapital.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/arrington-logo.png')
      .slide
        a(href="https://neural.capital/", target="_blank")
          img(src='/images/empty.png', data-src='/images/neural-logo.png')
      //- .slide
      //-   img(src='/images/blockfolio-logo.png')
      .slide
        a(href="http://fulltilt.capital/", target="_blank")
          img(src='/images/empty.png', data-src='/images/full-tilt-logo.png')
      .slide
        a(href="http://www.victoriacp.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/victoria-capital-logo.png')
      .slide
        a(href="http://palmdrivecap.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/palm-drive-logo.png')
      .slide
        a(href="http://blockrepublic.io", target="_blank")
          img(src='/images/empty.png', data-src='/images/block-republic-logo.png')
      .slide
        a(href="https://twitter.com/MPovolotski", target="_blank")
          img(src='/images/empty.png', data-src='/images/m-povolotski-logo.png')
      .slide
        img(src='/images/empty.png', data-src='/images/clinton-polley.png', style="width:40%;")
