extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      #third-token-sale.blog-news.hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h1.article-title Welcome to the
            span(style="color:#c2c2c2;")  pre-sale
            |  of the Third, Invite-Only Token Sale for Storecoin (STORE)
          
          ul(style="margin-top: 1em;")
            li 
              b Hard Cap:
              |  $1,998,000
            li 
              b Price Per Token:
              |  $0.0999 ($99MM Network Valuation for STORE)
            li
              b Funds Accepted: 
              |  ETH, BTC, USD Wire Transfer
            li 
              b Sale Ends:
              |  Once Hard Cap is reached or June 1st 2018
            li 
              b % of Treasury To Be Sold:
              |  2%
            li 
              b Minimum Investment:
              |  $10,000
            li 
              b Maximum Investment:
              |  $999,000 (equals 1% of Treasury)
            li 
              b KYC and AML-checks-required:
              |  Yes
            li 
              b Accredited Investor checks required:
              |  Dependent upon country
            li 
              b Investors will receive Tokens in their Storecoin Wallets:
              |  Before the start of 2020 or when the protocol launches -- whatever comes first
            li 
              b Results of the First Two Sales:
              |  12% of Treasury Sold for $1.5 Million of public funding
            li 
              b # Wallets in the First Two Sales:
              |  220
            li 
              b # of Storecoin Tokens Authorized:
              |  1 Billion
            li 
              b % Tokens Sold to the public in up to 6 milestone-based sales:
              |  34% 
              br
              span(style="font-size:0.8em; font-weight:light;") (1% to cover cost of all token sales, 33% will be sold to fund Treasury -- over a +thousand-year history)
                
          p Storecoin is a pre-launch public blockchain protocol therefore, for our Third-Invite Only Token Sale, we are treating Storecoin tokens as securities. This $7.5 Million Sale is aimed only at qualified investors in accordance with laws and regulations of each country that has been authorized to participate.
          p Our Third, Invite-Only Token Sale is subject to KYC (Know Your Customer) and AML (Anti-Money Laundering) checks, as well as some limitations on the number and type of investors per country. We will issue the tokens under relevant regulations for each authorized country.
          p Our aim for Storecoin is to achieve 100,000 wallets in the project before public launch. To accomplish, we’ll be inventing ways to incentivize our community to do work on behalf of the protocol in exchange for token Air-Drops (KYC/AML required).
          button.hc-button.orange.padding Get Started

    div.token-widget-container.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        div.go-back
          i.ion-chevron-up
        //- include email-widget-v4
        iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSc-5f6mYF03UunANCakrjyhurCE1v_GP2BEgWAjRjKMJrWBNg/viewform?embedded=true", width="100%", style="height:700px;", frameBorder="0")
