extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') First	Token	Sale	Terms	and	Agreement
    
    #hc-terms.hc-feature.over-rel.padding
      .hc-chunk.hc-terms-text-wrapper
        iframe(src="https://docs.google.com/document/d/1_FYOBvh8OkhWJfApGhYo6viMkVJmMHuPuv7J_NbkjRE/pub?embedded=true" width="100%" style="height:100vh;")

      
    include email-widget
