#token-sale-buyers.hc-feature.over-rel.padding(class=(dark) ? "inverted" : '')
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title Our Token Partners
    #hc-buyers-slider.logo-slider
      .slide
        a(href="http://blocktower.com", target="_blank")
          img(src='/images/empty.png', data-src='/images/blacktower-logo.png')
      .slide
        a(href="https://www.alphabit.fund/", target="_blank")
          img(src='/images/empty.png', data-src='/images/alphabit-logo.png')
      //- slide
        a(href="https://twitter.com/_CryptoIQ", target="_blank")
          img(src='/images/empty.png', data-src='/images/crypto-iq-logo.png')
      .slide
        a(href="https://neural.capital/", target="_blank")
          img(src='/images/empty.png', data-src='/images/neural-logo.png')
      .slide
        a(href="http://arringtonxrpcapital.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/arrington-logo.png')
      .slide
        a(href="http://palmdrivecap.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/palm-drive-logo.png')
      .slide
        a(href="http://fulltilt.capital/", target="_blank")
          img(src='/images/empty.png', data-src='/images/full-tilt-logo.png')
      .slide
        a(href="http://blockrepublic.io", target="_blank")
          img(src='/images/empty.png', data-src='/images/block-republic-logo.png')
      .slide
        a(href="http://www.victoriacp.com/", target="_blank")
          img(src='/images/empty.png', data-src='/images/victoria-capital-logo.png')
      //-.slide
        a(href="https://twitter.com/M_Povolotski", target="_blank")
          img(src='/images/empty.png', data-src='/images/m-povolotski.png', style="width: 57%;")
      //-.slide
        img(src='/images/empty.png', data-src='/images/clinton-polley.png', style="width:40%;")
