extends layout

block content
  div#hc-content
    div(style="margin-top:5em;")
      .third-token-sale.blog-news.hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h1.article-title Welcome to the whitelist of the Third, Invite-Only and Milestone-based Token Sale for Storecoin ($STORE).
          include countdown
          //-p.hc-feature-lead(onclick="opentoken_contribute_click('https://app.opentoken.com/contribute/storecoin/', event);")
            a Join the Whitelist
              
          ul(style="margin-top: 1em;")
            li 
              b Hard Cap:
              = ' '
              span $9,950,000
            li 
              b Soft Cap:
              = ' '
              span $1,975,000  
            li 
              b Price Per STORE Token:
              = ' '
              span $0.199
            li 
              b Market Capitalization:
              = ' '
              span $52 Million
            li
              b Funds Accepted: 
              |  ETH, BTC, USD Wire
            li 
              b Sale Starts:
              = ' '
              span August 27, 2018
            li 
              b Sale Ends:
              = ' '
              span Once the Hard Cap is reached or September 27, 2018
            li 
              b % of Treasury To Be Sold:
              = ' '
              span 5% (50 Million $STORE)
            li 
              b Minimum Investment:
              = ' '
              span $250
            li 
              b Wallet Goal:
              = ' '
              span +1,000
            li 
              b Across # of Countries:
              = ' '
              span 21
            li 
              b KYC and AML-checks-required:
              |  Yes
            li
              b Can my country participate?
              |  Yes. United States purchasers must be “accredited investors” for the purposes of federal securities regulation. Purchasers in other countries are not subject to this restriction, but must comply with applicable laws and regulations of their respective countries of residence (Reg D and Reg S).
            li
              b Does total total cryptocurrency ownership count for being accredited (including ICO tokens still not yet released by the teams)?
              |  Yes
            li
              b Definition of being an accredited investor (for U.S. buyers): 
              a.underline(data-featherlight="#accredited", target="_blank") See here
            li 
              b Investors will receive Tokens in their Storecoin Wallets:
              |  Q3 2019 or Q4 2019
            li 
              b If I buy now, will I be able to buy in future sales:
              |  Yes, you'll have priority
            li 
              b Treasury to be sold in future milestone-based sales:
              |  17% for certain. Up to 21% (using part of the Incentive Pool to kick start the STORE Ecosystem Fund)
            li 
              b How will the next sales be priced:
              |  Auction-based
            li 
              b Amount sold in previous milestone-based sales:
              |  $3.1 Million
            li 
              b of STORE Authorized:
              |  1 Billion
            li 
              b How Treasury is Allocated:
              |  34% for token sales, 20% for long-term 1,000-year Treasury, 46% to incentivize the network over the first 100 years
                
          p Storecoin is a pre-launch public blockchain protocol therefore, for our milestone-based Third Token Sale, we are treating STORE tokens as securities. United States purchasers must be “
            a(data-featherlight="#accredited", target="_blank") accredited investors
            | ” for the purposes of federal securities regulation. Purchasers in other countries are not subject to this restriction, but must comply with applicable laws and regulations of their respective countries of residence. (Reg D and Reg S).

      - var dark = true
      include token-sale-buyers
      
      .hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          .hc-image.info-fullscreen(style="padding:0px;")
            img(src='/images/empty.png', data-src='/images/cost-per-basis-v3.png')
          p.caption(style="margin-bottom:0px;text-align:right;") *View data at 
            a(href="http://storeco.in/onepoint", target="_blank") http://storeco.in/onepoint 
          p.caption(style="text-align:right;") *Storecoin may have up to six, milestone-based token sales
      
      - var tokensale = true
      include people-saying
    
    include our-team-widget
    
    #pomelo-paper.hc-feature.over-rel.padding.pink.banner
      .hc-chunk.hc-customize-text-wrapper
        p.hc-feature-lead(style="margin-top: 0px;") Download the latest pre-whitepaper

        div.row.tokensale-3
          div.item
            i.ion-record
            a.underline(href=URL('/media/Storecoin-Visual-Whitepaper.pdf'), target="_blank") Download the Full Visual Whitepaper
          div.item
            i.ion-record
            a.underline(href=URL('/media/Storecoin-Summary.pdf'), target="_blank") Download the Summary
          div.item
            i.ion-record
            a.underline(href=URL('/milestones'), target="_blank") See All Milestones
            
    div.third-token-sale.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        include countdown
    
    #accredited.intro-popup(style="display:none; text-align:left;")
      p An accredited investor includes:
      ol(style="list-style: lower-alpha; margin-left:1em;")
        li 
          b Any person that:
          ul
            li Earned income that exceeded $200,000 (or $300,000 together with a spouse) in each of the prior two years, and reasonably expects the same for the current year. This may include income from cryptocurrency.
            p(style="text-align:center;")
              b OR
            li Has a net worth over $1 million, either alone or together with a spouse (excluding the value of the person’s primary residence). This may includes ownership of cryptocurrency, including not yet released ICOs and token projects.
        li 
          b Any entity such as banks, partnerships, corporations, nonprofits and trusts who:
          ul
            li Has total assets in excess of $5 million but were not formed to specifically for the purchase of the subject securities. This includes ownership of cryptocurrency.
            p(style="text-align:center;")
              b OR
            li Any entity in which all of the equity owners are accredited investors. This includes ownership of cryptocurrency.
