extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Blog

    div(style="margin-top:5em;")
      .hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h3.hc-feature-title.inverted Storecoin Links
          ul 
            li Token Sale:
              =' '
              a.underline(href="http://storeco.in/#tokensale", target="_blank") http://storeco.in/#tokensale
            
            li Our Vision:
              =' '
              a.underline(href="http://storeco.in/#our-vision", target="_blank") http://storeco.in/#our-vision
              
            li Our Token Partners:
              =' '
              a.underline(href="http://storeco.in/#token-sale-buyers", target="_blank") http://storeco.in/#token-sale-buyers
              
            li What Others are Saying about Storecoin:
              =' '
              a.underline(href="http://storeco.in/#people-saying", target="_blank") http://storeco.in/#people-saying
              
            li Storecoin aims to become the preferred cryptocurrency for permanently free, fast and scalable payments:
              =' '
              a.underline(href="http://storeco.in/#comparison-table", target="_blank") http://storeco.in/#comparison-table
              
            li Our Team:
              =' '
              a.underline(href="http://storeco.in/#team", target="_blank") http://storeco.in/#team
              
            li Our Latest:
              =' '
              a.underline(href="http://storeco.in/#our-latest", target="_blank") http://storeco.in/#our-latest

            li Our Mission:
              =' '
              a.underline(href="http://storeco.in/#our-mission", target="_blank") http://storeco.in/#our-mission
              
            li Storecoin vs Global Transfer Markets:
              =' '
              a.underline(href="http://storeco.in/#storecoin-vs-global-markets", target="_blank") http://storeco.in/#storecoin-vs-global-markets
              
            li The Case for Zero Fee, Programmable Payments:
              =' '
              a.underline(href="http://storeco.in/#zero-fee-case", target="_blank") http://storeco.in/#zero-fee-case
              
            li Major Milestones:
              =' '
              a.underline(href="http://storeco.in/#major-milestones", target="_blank") http://storeco.in/#major-milestones
              
            li Storecoin +8-year Roadmap:
              =' '
              a.underline(href="http://storeco.in/#storecoin-roadmap", target="_blank") http://storeco.in/#storecoin-roadmap
              
            li Long-Term Treasury Plan:
              =' '
              a.underline(href="http://storeco.in/#treasury-plan", target="_blank") http://storeco.in/#treasury-plan
              
            li 1,000 year Storecoin Treasury Schedule:
              =' '
              a.underline(href="http://storeco.in/#treasury-schedule", target="_blank") http://storeco.in/#treasury-schedule
              
            li This is Our Pomelo Paper:
              =' '
              a.underline(href="http://storeco.in/#pomelo-paper", target="_blank") http://storeco.in/#pomelo-paper
              
            li Our Vision for Zero-Fee, Crypto-Powered Apps (cApps):
              =' '
              a.underline(href="http://storeco.in/#our-vision-zero-fee", target="_blank") http://storeco.in/#our-vision-zero-fee
              
            li dApps vs. cApps:
              =' '
              a.underline(href="http://storeco.in/#dapps-vs-capps", target="_blank") http://storeco.in/#dapps-vs-capps
              
            li The Market Case for Zero-Fee, Crypto-Powered Apps:
              =' '
              a.underline(href="http://storeco.in/#zero-fee-market-case", target="_blank") http://storeco.in/#zero-fee-market-case
              
            li What apps benefit from Storecoin?:
              =' '
              a.underline(href="http://storeco.in/#apps-benefit", target="_blank") http://storeco.in/#apps-benefit
              
            li It starts with BlockFin, our consensus algorithm:
              =' '
              a.underline(href="http://storeco.in/#blockfin", target="_blank") http://storeco.in/#blockfin
              
            li Why Fork Tolerance Matters:
              =' '
              a.underline(href="http://storeco.in/#why-fork-tolerance-matters", target="_blank") http://storeco.in/#why-fork-tolerance-matters
              
            li The 5 Principles of BlockFin:
              =' '
              a.underline(href="http://storeco.in/#blockfin-principles", target="_blank") http://storeco.in/#blockfin-principles
              
            li Life of a Storecoin Transaction with BlockFin:
              =' '
              a.underline(href="http://storeco.in/#transaction-blockfin", target="_blank") http://storeco.in/#transaction-blockfin
              
            li The Four Decentralized Workers of DyPoS:
              =' '
              a.underline(href="http://storeco.in/#woker-types", target="_blank") http://storeco.in/#woker-types
              
            li The Six Engines Powering DyPoS:
              =' '
              a.underline(href="http://storeco.in/#six-engines", target="_blank") http://storeco.in/#six-engines
              
            li Where Storecoin and our DyPoS algorithm fit in:
              =' '
              a.underline(href="http://storeco.in/#dypos-algorithm", target="_blank") http://storeco.in/#dypos-algorithm
              
            li How Zero-Fee Transactions are Financed:
              =' '
              a.underline(href="http://storeco.in/#free-transactions", target="_blank") http://storeco.in/#free-transactions
              
            li Staking incentivizes for decentralization and on-chain security:
              =' '
              a.underline(href="http://storeco.in/#staking-incentives", target="_blank") http://storeco.in/#staking-incentives
              
            li How Dynamic Block Rewards are Allocated:
              =' '
              a.underline(href="http://storeco.in/#rewards-allocated", target="_blank") http://storeco.in/#rewards-allocated
              
            li How Dynamic Inflation Works:
              =' '
              a.underline(href="http://storeco.in/#dynamic-inflation", target="_blank") http://storeco.in/#dynamic-inflation
              
            li How Dynamic Inflation Works:
              =' '
              a.underline(href="http://storeco.in/#dynamic-inflation", target="_blank") http://storeco.in/#dynamic-inflation
              
            li Interest payments incentivize for blockchain performance:
              =' '
              a.underline(href="http://storeco.in/#payments-incentives", target="_blank") http://storeco.in/#payments-incentives
              
            li On-chain security and decentralization create value:
              =' '
              a.underline(href="http://storeco.in/#on-chain-security", target="_blank") http://storeco.in/#on-chain-security
              
            li The Network Effects of Dynamic Proof of Stake:
              =' '
              a.underline(href="http://storeco.in/#network-effects", target="_blank") http://storeco.in/#network-effects
              
            li The Storecoin Threat Level System:
              =' '
              a.underline(href="http://storeco.in/#security-system", target="_blank") http://storeco.in/#security-system
              
            li How Dynamic Security Works(with dGuards):
              =' '
              a.underline(href="http://storeco.in/#dGuard-secure", target="_blank") http://storeco.in/#dGuard-secure
              
            li How Zero Fee Transactions are Secured With Bonds:
              =' '
              a.underline(href="http://storeco.in/#transactions-secure", target="_blank") http://storeco.in/#transactions-secure
              
            li Governance helped trade and commerce shape the world:
              =' '
              a.underline(href="http://storeco.in/#governance-helped", target="_blank") http://storeco.in/#governance-helped
              
            li Blockchains Need Enterprise Grade Governance:
              =' '
              a.underline(href="http://storeco.in/#trusted-governance", target="_blank") http://storeco.in/#trusted-governance
              
            li The 10 Principles of Storecoin’s Governance:
              =' '
              a.underline(href="http://storeco.in/#governance-principles", target="_blank") http://storeco.in/#governance-principles
              
            li How Storecoin’s Governance compares:
              =' '
              a.underline(href="http://storeco.in/#governance-compares", target="_blank") http://storeco.in/#governance-compares
              
            li The Four Branches of Storecoin Governance:
              =' '
              a.underline(href="http://storeco.in/#governance-branches", target="_blank") http://storeco.in/#governance-branches
              
            li How Governance is Hired(and fired):
              =' '
              a.underline(href="http://storeco.in/#governance-hired", target="_blank") http://storeco.in/#governance-hired
              
            li How Every Storecoin Token Owner Can Create Change:
              =' '
              a.underline(href="http://storeco.in/#token-owner", target="_blank") http://storeco.in/#token-owner
              
            li How Governance Would Look – if not censorship resistant:
              =' '
              a.underline(href="http://storeco.in/#governance-look", target="_blank") http://storeco.in/#governance-look
              
            li How a Censorship Resistant Storecoin Governance Works:
              =' '
              a.underline(href="http://storeco.in/#censorship-resistent", target="_blank") http://storeco.in/#censorship-resistent
              
            li How trust in STORE grows STORE into new environments:
              =' '
              a.underline(href="http://storeco.in/#trust-in-stores", target="_blank") http://storeco.in/#trust-in-stores
              
            li The Network Effects of Storecoin and Trust:
              =' '
              a.underline(href="http://storeco.in/#network-effects-trust", target="_blank") http://storeco.in/#network-effects-trust
              
            li Our Wallet-based Distribution Strategy:
              =' '
              a.underline(href="http://storeco.in/#distribution-strategy", target="_blank") http://storeco.in/#distribution-strategy
              
            li How the Storecoin Wallet Works:
              =' '
              a.underline(href="http://storeco.in/#how-wallet-works", target="_blank") http://storeco.in/#how-wallet-works
              
            li How Storecoin Scales Globally:
              =' '
              a.underline(href="http://storeco.in/#storecoin-scales", target="_blank") http://storeco.in/#storecoin-scales
              
            li How global KYC/AML compliance grows adoption:
              =' '
              a.underline(href="http://storeco.in/#global-compliance", target="_blank") http://storeco.in/#global-compliance
              
            li The Storecoin Developer Ecosystem:
              =' '
              a.underline(href="http://storeco.in/#storecoin-ecosystem", target="_blank") http://storeco.in/#storecoin-ecosystem
              
            li The Storecoin Ecosystem Fund:
              =' '
              a.underline(href="http://storeco.in/#ecosystem-fund", target="_blank") http://storeco.in/#ecosystem-fund
              
            li Our Partners:
              =' '
              a.underline(href="http://storeco.in/#partners", target="_blank") http://storeco.in/#partners
              
            li Storecoin Project Schedule:
              =' '
              a.underline(href="http://storeco.in/#project-schedule", target="_blank") http://storeco.in/#project-schedule
              
            li Help grow the Storecoin Community, Earn a (Pomelo) Tee:
              =' '
              a.underline(href="http://storeco.in/#help-grow", target="_blank") http://storeco.in/#help-grow
              
            li Engage with us on Social:
              =' '
              a.underline(href="http://storeco.in/#engage-with-us", target="_blank") http://storeco.in/#engage-with-us
              
            li Subcribe to Engineering Notes:
              =' '
              a.underline(href="http://storeco.in/#dev-notes", target="_blank") http://storeco.in/#dev-notes
              
            li Build your app on top of Storecoin:
              =' '
              a.underline(href="http://storeco.in/#build-app", target="_blank") http://storeco.in/#build-app
              
            li Contribute Code to the Storecoin Project:
              =' '
              a.underline(href="http://storeco.in/#contribute-code", target="_blank") http://storeco.in/#contribute-code
              
            li Peer Review upcoming Research:
              =' '
              a.underline(href="http://storeco.in/#research-paper", target="_blank") http://storeco.in/#research-paper
              
            li Help Validate the future Storecoin Blockchain:
              =' '
              a.underline(href="http://storeco.in/#validate", target="_blank") http://storeco.in/#validate
              
            li Become a dGuard to keep Storecoin secure:
              =' '
              a.underline(href="http://storeco.in/#security-guard", target="_blank") http://storeco.in/#security-guard
              
            li Host eAgent Masternodes to scale Storecoin:
              =' '
              a.underline(href="http://storeco.in/#host-eagent", target="_blank") http://storeco.in/#host-eagent
              
            li Run a Govnode on your phone to host Governance:
              =' '
              a.underline(href="http://storeco.in/#run-govnode", target="_blank") http://storeco.in/#run-govnode
              
            li Run a Messagenode to host the blockchain:
              =' '
              a.underline(href="http://storeco.in/#run-messagenode", target="_blank") http://storeco.in/#run-messagenode
          
              
    include email-widget
