extends layout

block content
  div#hc-content
    //- #hc-intro.hc-feature.over-rel.padding
    //-   .hc-chunk.hc-intro-text-wrapper
    //-     h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Blog

    div(style="margin-top:5em;")
      .hc-feature.over-rel.padding
        .hc-chunk.hc-intro-text-wrapper
          h3.hc-feature-title.inverted Storecoin Links
          ul 
            li
              a(href="http://storeco.in/#tokensale", target="_blank") http://storeco.in/#tokensale
            li
              a(href="http://storeco.in/#comparison-table", target="_blank") http://storeco.in/#comparison-table
            li
              a(href="http://storeco.in/#our-mission", target="_blank") http://storeco.in/#our-mission
            li
              a(href="http://storeco.in/#token-sale-buyers", target="_blank") http://storeco.in/#token-sale-buyers
            li
              a(href="http://storeco.in/#people-saying", target="_blank") http://storeco.in/#people-saying
            li
              a(href="http://storeco.in/#distribution-plan", target="_blank") http://storeco.in/#distribution-plan
            li
              a(href="http://storeco.in/#our-latest", target="_blank") http://storeco.in/#our-latest
            li
              a(href="http://storeco.in/#orange-paper", target="_blank") http://storeco.in/#orange-paper
            li
              a(href="http://storeco.in/#our-vision", target="_blank") http://storeco.in/#our-vision
            li
              a(href="http://storeco.in/#team", target="_blank") http://storeco.in/#team
            li
              a(href="http://storeco.in/#business-case", target="_blank") http://storeco.in/#business-case
            li
              a(href="http://storeco.in/#market-case", target="_blank") http://storeco.in/#market-case
            li
              a(href="http://storeco.in/#storecoin-fits-in", target="_blank") http://storeco.in/#storecoin-fits-in
            li
              a(href="http://storeco.in/#app-types", target="_blank") http://storeco.in/#app-types
            li
              a(href="http://storeco.in/#big-market", target="_blank") http://storeco.in/#big-market
            li
              a(href="http://storeco.in/#about-dypos", target="_blank") http://storeco.in/#about-dypos
            li
              a(href="http://storeco.in/#six-engines", target="_blank") http://storeco.in/#six-engines
            li
              a(href="http://storeco.in/#worket-types", target="_blank") http://storeco.in/#worket-types
            li
              a(href="http://storeco.in/#dypos-algorithm", target="_blank") http://storeco.in/#dypos-algorithm
            li
              a(href="http://storeco.in/#free-transactions", target="_blank") http://storeco.in/#free-transactions
            li
              a(href="http://storeco.in/#rewards-allocated", target="_blank") http://storeco.in/#rewards-allocated
            li
              a(href="http://storeco.in/#secure-storecoin", target="_blank") http://storeco.in/#secure-storecoin
            li
              a(href="http://storeco.in/#security-system", target="_blank") http://storeco.in/#security-system
            li
              a(href="http://storeco.in/#dGuard-secure", target="_blank") http://storeco.in/#dGuard-secure
            li
              a(href="http://storeco.in/#transactions-secure", target="_blank") http://storeco.in/#transactions-secure
            li
              a(href="http://storeco.in/#checks-balances", target="_blank") http://storeco.in/#checks-balances
            li
              a(href="http://storeco.in/#governance-branches", target="_blank") http://storeco.in/#governance-branches
            li
              a(href="http://storeco.in/#governance-hired", target="_blank") http://storeco.in/#governance-hired
            li
              a(href="http://storeco.in/#checks-balances-work", target="_blank") http://storeco.in/#checks-balances-work
            li
              a(href="http://storeco.in/#token-owner", target="_blank") http://storeco.in/#token-owner
            li
              a(href="http://storeco.in/#governance-matters", target="_blank") http://storeco.in/#governance-matters
            li
              a(href="http://storeco.in/#public-blockchain-works", target="_blank") http://storeco.in/#public-blockchain-works
            li
              a(href="http://storeco.in/#payments", target="_blank") http://storeco.in/#payments
            li
              a(href="http://storeco.in/#storecoin-adoption", target="_blank") http://storeco.in/#storecoin-adoption
            li
              a(href="http://storeco.in/#network-effects", target="_blank") http://storeco.in/#network-effects
            li
              a(href="http://storeco.in/#dev-eco", target="_blank") http://storeco.in/#dev-eco
            li
              a(href="http://storeco.in/#partners", target="_blank") http://storeco.in/#partners
            li
              a(href="http://storeco.in/#distribution-strategy", target="_blank") http://storeco.in/#distribution-strategy
            li
              a(href="http://storeco.in/#how-wallet-works", target="_blank") http://storeco.in/#how-wallet-works
            li
              a(href="http://storeco.in/#storecoin-grows", target="_blank") http://storeco.in/#storecoin-grows
            li
              a(href="http://storeco.in/#get-involve", target="_blank") http://storeco.in/#get-involve
            li
              a(href="http://storeco.in/#project-schedule", target="_blank") http://storeco.in/#project-schedule
            li
              a(href="http://storeco.in/#validate", target="_blank") http://storeco.in/#validate
            li
              a(href="http://storeco.in/#security-guard", target="_blank") http://storeco.in/#security-guard
            li
              a(href="http://storeco.in/#host-eagent", target="_blank") http://storeco.in/#host-eagent
            li
              a(href="http://storeco.in/#run-govnode", target="_blank") http://storeco.in/#run-govnode
              
    include email-widget
