extends layout

block content
  div#hc-content
    .hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        //- h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Storecoin Whitepaper
        p.hc-feature-lead Our team is running extensive security tests and network load tests -- then mapping them to the underlying economics of Storecoin. Once finished, we'll release v0.1 of our cryptoeconomics first. Then we'll release the Storecoin technology whitepaper. 

    //- .hc-feature.over-rel.padding
    //-   .hc-chunk
    //-     p.hc-feature-lead Our team is running extensive security tests and network load tests -- then mapping them to the underlying economics of Storecoin. Once finished, we'll release v0.1 of our cryptoeconomics first. Then we'll release v0.1 of the Storecoin technology whitepaper.
    //-     p.hc-feature-lead In the meantime, here is an early look at our proposed Table of Contents:
    //-     ul
    //-       li Storecoin’s Vision
    //-       li Decade+ Funding Plan
    //-       li Blockchain Architecture
    //-       li All Nodes Obtain Same Result
    //-       li Inflation (Supply Schedule/Setting Prices/Time Series)
    //-       li Incentivize Content Creation
    //-       li Payouts for Work Done
    //-       li Assessing the Ledger (Consensus)
    //-       li Can Hold Assets Without Intermediary/Decentralized File Storage
    //-       li Smart Token Initiation & Customization
    //-       li Crowdsale Objectives
    //-       li Allocation & Supply Determining Value
    //-       li Supply Curve Modeling
    //-       li Currency
    //-       li Mining
    //-       li Parent and Child Hierarchy
    //-       li Mining Centralization
    //-       li Botnet Resistant
    //-       li Mining Pool Resistant
    //-       li Eliminating Transaction Fees
    //-       li Accounts
    //-       li Performance and Scalability
    //-       li Impact of Token Creation Rate
    //-       li Support for Millions of Users
    //-       li Free Usage
    //-       li Easy Upgrades and Bug Recovery
    //-       li Low Latency
    //-       li Sequential Performance
    //-       li Parallel Performance
    //-       li Proof of Stake Protocol
    //-       li Messages & Handlers/Messages & Contracts
    //-       li Named Permission Levels
    //-       li Named Message Handler Groups
    //-       li Permission Mapping
    //-       li Evaluating Permissions
    //-       li Default Permission Groups
    //-       li Parallel Evaluation of Permissions
    //-       li Enforced Delays for Large Payments
    //-       li Recovery from Stolen Keys
    //-       li Minimizing Communication Latency
    //-       li Read-Only Message Handlers
    //-       li Token Model and Resource Usage
    //-       li Separating Transaction Costs From Token Value
    //-       li Freezing Accounts
    //-       li Constitution
    //-       li Governance Structure
    //-       li Upgrading the Protocol & Constitution
    //-       li Schema Defined Messages
    //-       li Schema Defined Database
    //-       li Separating Authentication from Application
    //-       li Virtual Machine Independent Architecture
    //-       li Storecoin Virtual Machine (SVM)
    //-       li Inter Blockchain Communication
    //-       li Merkle Trees
    //-       li Latency of Interchain Communication
    //-       li Identity & Reputation Systems
    //-       li Smart Contracts
    //-       li Settlement Layer
    //-       li Storecoin Economy and Prospective Use Cases
    //-       li Centralized Off-Chain Ledger
    //-       li State Transition Function
    //-       li Turing-Complete Code
    //-       li Replicated State Machine
    //-       li Byzantine Fault Tolerance
    //-       li Process Calculus
    //-       li Byzantine Validators
    //-       li Atomic Broadcast
    //-       li Tolerate Byzantine Failures
    //-       li P2P Networking
    //-       li Consensus Gossip
    //-       li Mempool
    //-       li Consensus Engine to Application State Communication
    //-       li Separating Agreement and Consensus
    //-       li Microservice Architecture
    //-       li Validator Set Changes
    //-       li Easy Software Upgrades
    //-       li Binary Serialization
    //-       li HTTP API’s
    //-       li Multiple Concurrent Reactors
    //-       li Storecoin Posts
    //-       li SC10 Points Standard
    //-       li Notes and Further Reading
    //-       li Conclusion
      
    include email-widget
