extends layout

block content
  div#hc-content
    #hc-intro.hc-feature.over-rel.padding
      .hc-chunk.hc-intro-text-wrapper
        h2.hc-intro-large-lead(style='font-weight: bold; font-size: 2.7em; margin: 2em auto;') Our White Paper

    .hc-feature.over-rel.padding
      .hc-chunk
        h2.hc-feature-title Our	Whitepaper	will	be	released	alongside	our	Second	ICO.
        h2.hc-feature-title To	help	fund	the	completion	of	our	Whitepaper,	consider	participating	in	our	
          a(href="/firstico", target="_blank") First	ICO.
      
    include email-widget
