#why-fork-tolerance-matters.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title Why Fork Tolerance Matters
    p.hc-feature-lead In the late 1860’s, gasoline was a waste product thrown into rivers and fields by the oil refineries. It was John Rockefeller’s Standard Oil that invented a way to refine the waste and turn it into gasoline. This invention gave rise to the automobile industry and beyond.
    .hc-image
      img(src="/images/standard-oil.png", style="max-width: 450px;")
    p.hc-feature-lead Today, public blockchains have their own waste: chain forks. Since the longest chain wins in consensus, chain forks become wasted compute (and electricity). This results in lower transaction throughput.
    p.hc-feature-lead Storecoin’s BlockFin consensus engine turns this “waste” into near-instant block production.
    p.hc-feature-lead How? BlockFin moves away from the “winning node creates the new block” paradigm to a new paradigm where all nodes assemble transactions into pre-created empty blocks while validating them in three, asynchronous stages. There are no chain forks in BlockFin because there is no “add-one-block-at-a-time” construct. New blocks are produced in a pipeline.
    p.hc-feature-lead Storecoin calls this invention “fork-tolerant”.
    .hc-image
      img(src="/images/fork-tolerance.png", style="max-width: 800px;")
    p.hc-feature-lead Fork-tolerance is how Storecoin achieves high-throughput with true decentralization.
