#worker-types.hc-feature.over-rel.padding.info-fullscreen
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title Four Types of On-Chain, Decentralized Workers
    p.hc-feature-lead Storecoin Workers earn storecoin tokens for running decentralized nodes and completing work to validate, scale, and secure the blockchain. Also, to host Governance so it remains decentralized – in perpetuity. 
    .desktop-image
      .hc-image
        img(src='/images/empty.png', data-src="/images/worker-types-horizontal-v1.png") 

    .mobile-image
      div.click-message
        div.message-container
          i.ion-arrow-expand 
          span Click to expand
          
      .hc-image
        img(src='/images/empty.png', data-src="/images/worker-types-mobile-v2.png") 
