#worker-types.hc-feature.over-rel.padding.lite
  .hc-chunk.hc-customize-text-wrapper
    div.info-fullscreen
      h3.hc-feature-title The Five Decentralized Workers of DyPoS
      p.hc-feature-lead Decentralized Workers (dWorkers) earn Storecoin tokens as block rewards or interest for running various types of Storecoin nodes on their computers and/or phones to scale, secure, host, and govern the blockchain.
      .desktop-image
        .hc-image
          img(src='/images/empty.png', data-src="/images/dypos-workers-horiz-v4.png" style="max-width: 850px;")
          
        p.note 
          img(src='/images/empty.png', data-src="/images/worker-headset.png")
          | NOTE: The sAgent will launch alongside smart contracts in 2021+

      .mobile-image
        div.click-message
          div.message-container
            i.ion-arrow-expand
            span Click to expand

        .hc-image
          img(src='/images/empty.png', data-src="/images/dypos-workers-vert-v4.png")
          

#worker-types-timeline.hc-feature.over-rel.padding
  .hc-chunk.hc-customize-text-wrapper(style="max-width: 850px;")
    div.row
      div.text Expected to
        br
        | come online
      div.item
        span Q3-Q4 2019
      div.item
        span Q3-Q4 2019
      div.item
        span Once a throughput threshold for 300 Validators is reached
      div.item
        span Once a security threshold for 220 Validators is reached
      div.item
        span By 5/17/2021, four years after Storecoin was formed
