#zero-fee-storecoin.hc-feature.over-rel.padding.inverted
  .hc-chunk.hc-customize-text-wrapper
    h3.hc-feature-title.icon(style="max-width:800px; margin-left:auto; margin-right:auto;") 
      img(src="/images/empty.png", data-src="/images/icon-darkbg.png")
      span.orange Storecoin:
      |  A zero-fee, programmable cryptocurrency with a Governance of checks and balances.
    
    div.list

      div.item
        span.bullet
          i.ion-checkmark
        span 
          b Zero-Fee Payments Infrastructure – 
          |  A new Dynamic Proof of Stake-based public blockchain (not a dApp or DAG)
          
      div.item
        span.bullet
          i.ion-checkmark
        span 
          b Fast – 
          |  +5,000 transactions per second (TPS) at launch
          
      div.item
        span.bullet
          i.ion-checkmark    
        span
          b Adaptive – 
          |  Parallel and pipelined block production enables increasingly faster throughput (scalability)
          
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Decentralized – 
          |  On a path to unlimited nodes validating p2p transactions
          
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Censorship Resistant – 
          |  On a path to defeating sovereign-grade attacks
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Secure – 
          |  Byzantine Fault Tolerance up to 1/3 malicious nodes with continuous on-chain monitoring for bad actors
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Centralization is Prevented  – 
          |  Nodes are limited to earning 5% of the block reward no matter their stake size
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b A Medium-of-Exchange – 
          |  49% can be available for zero-fee payments, giving utility
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Inflation Pays Fees – 
          |  Up to 2% added yearly to the genesis token supply incentivizes consensus, security, more
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Leaderless – 
          |  All nodes participating in decentralized work are rewarded for their contributions – on every block
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Governance – 
          |  A checks-and-balances Governance to change features, leadership, and monetary policy
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b No Plutocracy! – 
          |  In Governance, it’s one node equals only one vote
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Apps not dApps – 
          |  First use case will be zero-fee $STORE payments and incentivized APIs inside of web and mobile apps (WebC)      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Then, Cash Registers – 
          |  On a long-term path to bringing zero-fee $STORE payments into retail cash registers
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Global Distribution – 
          |  Banks and processors will be paid in $STORE block rewards instead of transaction fees
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Community –
          |  Already in 56 countries and rapidly expanding – global meet-ups are next
      
      div.item
        span.bullet
          i.ion-checkmark
        span
          b Ecosystem Fund –
          |  Will grow the security, adoption, and liquidity of $STORE – all around the world
