<hr>
<h2>Storecoin Software</h2>
<h1>Software</h1>
<p>Pre-built software and services you can run on your own infrastructure, provided by Storecoin.org.</p>
<h2><a href="../Storecoin-core/learn/admin.html">Storecoin Core</a></h2>
<p>Storecoin Core is the backbone of the Storecoin network and does the hard work of validating and agreeing on the status of every transaction with other instances of Core through the Storecoin Consensus Protocol (SCP).</p>
<h2><a href="https://github.com/Storecoin/go/tree/master/services/horizon">Horizon</a></h2>
<p>Horizon is the client-facing API server for the Storecoin ecosystem. It acts as the interface between Storecoin Core and applications that want to access the Storecoin network. If you are running Storecoin Core, you will probably also want to run Horizon.</p>
<h2><a href="https://github.com/Storecoin/go/tree/master/services/federation">Federation Server</a></h2>
<p>A standalone Federation protocol server designed to be dropped in to your existing infrastructure. It can be configured to pull the data it needs out of your existing SQL database.</p>
<table>
<thead>
<tr>
<th>Platform</th>
<th>Latest Release</th>
</tr>
</thead>
<tbody>
<tr>
<td>Mac OSX 64-bit (amd64)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/federation-v0.2.0/federation-v0.2.0-darwin-amd64.tar.gz">federation-darwin-amd64</a></td>
</tr>
<tr>
<td>Linux 64-bit (amd64)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/federation-v0.2.0/federation-v0.2.0-linux-amd64.tar.gz">federation-linux-amd64</a></td>
</tr>
<tr>
<td>Linux 32-bit (arm)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/federation-v0.2.0/federation-v0.2.0-linux-arm.tar.gz">federation-arm-amd64</a></td>
</tr>
<tr>
<td>Windows 64-bit (amd64)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/federation-v0.2.0/federation-v0.2.0-windows-amd64.zip">federation-windows-amd64.exe</a></td>
</tr>
</tbody>
</table>
<h2><a href="https://github.com/Storecoin/bridge-server">Bridge Server</a></h2>
<p>Storecoin’s Bridge server provides a simple interface for the Storecoin network. It is meant to simplify compliance operations and other more complicated integrations. Because it stores and manages keys and account information, access to it should be well protected. Unlike Horizon, it should never be exposed to the public internet.</p>
<h2><a href="https://github.com/Storecoin/go/tree/master/tools/Storecoin-archivist">Archivist</a></h2>
<p>This is a small tool, written in Go, for working with Storecoin-core history archives directly. It is a standalone tool that does not require Storecoin-core, or any other programs.</p>
<table>
<thead>
<tr>
<th>Platform</th>
<th>Latest Release</th>
</tr>
</thead>
<tbody>
<tr>
<td>Mac OSX 64-bit (amd64)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/Storecoin-archivist-v0.1.0/Storecoin-archivist-v0.1.0-darwin-amd64.tar.gz">Storecoin-archivist-darwin-amd64</a></td>
</tr>
<tr>
<td>Linux 64-bit (amd64)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/Storecoin-archivist-v0.1.0/Storecoin-archivist-v0.1.0-linux-amd64.tar.gz">Storecoin-archivist-linux-amd64</a></td>
</tr>
<tr>
<td>Linux 32-bit (arm)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/Storecoin-archivist-v0.1.0/Storecoin-archivist-v0.1.0-linux-arm.tar.gz">Storecoin-archivist-linux-arm</a></td>
</tr>
<tr>
<td>Windows 64-bit (amd64)</td>
<td><a href="https://github.com/Storecoin/go/releases/download/Storecoin-archivist-v0.1.0/Storecoin-archivist-v0.1.0-windows-amd64.zip">Storecoin-archivist-windows-amd64.exe</a></td>
</tr>
</tbody>
</table>
